Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

add some test
  .github/workflows/ScenarioTest.yaml
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/cmake/add_cpp_mock_scenario_test.cmake
  mock/cpp_mock_scenarios/src/collision/CMakeLists.txt
  mock/cpp_mock_scenarios/src/crosswalk/CMakeLists.txt
  mock/cpp_mock_scenarios/src/follow_front_entity/CMakeLists.txt
Due: unittests-cpp_mock_scenarios

enable count number of failure/error/tests in junit
  .github/workflows/ScenarioTest.yaml
  common/simple_junit/include/simple_junit/junit5.hpp
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
  mock/cpp_mock_scenarios/src/follow_lane/CMakeLists.txt
  mock/cpp_mock_scenarios/src/lane_change/CMakeLists.txt
  mock/cpp_mock_scenarios/src/measurement/CMakeLists.txt
  mock/cpp_mock_scenarios/src/merge/CMakeLists.txt
Due: unittests-cpp_mock_scenarios

modify flag
  .github/workflows/Build.yaml
  .github/workflows/ScenarioTest.yaml
  codecov.yml
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/src/metrics/CMakeLists.txt
Due: unittests-cpp_mock_scenarios

update workflow
  .github/workflows/Build.yaml
  .github/workflows/ScenarioTest.yaml
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/src/metrics/CMakeLists.txt
  mock/cpp_mock_scenarios/src/move_backward/CMakeLists.txt
  mock/cpp_mock_scenarios/src/pedestrian/CMakeLists.txt
  mock/cpp_mock_scenarios/src/traffic_light/CMakeLists.txt
Due: unittests-cpp_mock_scenarios

add traffic_simulation_demo
  mock/cpp_mock_scenarios/CMakeLists.txt
Due: unittests-cpp_mock_scenarios

add WITH_INTEGRATION_TEST command
  mock/cpp_mock_scenarios/cmake/add_cpp_mock_scenario_test.cmake
Due: unittests-cpp_mock_scenarios

pass argument in workflow
  .github/workflows/Build.yaml
Due: none

update release note
  docs/ReleaseNotes.md
Due: none

fix test cases
  common/simple_junit/test/expected/attributes.junit.xml
  common/simple_junit/test/expected/complex.junit.xml
  common/simple_junit/test/expected/error.junit.xml
  common/simple_junit/test/expected/failure.junit.xml
  common/simple_junit/test/expected/pass.junit.xml
  common/simple_junit/test/expected/testsuites_name.junit.xml
  common/simple_junit/test/src/test.cpp
Due: none

add exec depend
  mock/cpp_mock_scenarios/package.xml
Due: unittests-cpp_mock_scenarios

ZMQ api for traffic lights
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/simple_sensor_simulator.hpp
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/simulation_interface/include/simulation_interface/constants.hpp
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/simulation_interface/include/simulation_interface/zmq_multi_server.hpp
  simulation/simulation_interface/package.xml
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/simulation_interface/src/conversions.cpp
  simulation/simulation_interface/src/zmq_multi_server.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager.cpp
Due: cpp_mock_test

Traffic lights wip
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager.cpp
Due: cpp_mock_test

Clang formatting and conversions test for traffic light
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/simulation_interface/src/conversions.cpp
  simulation/simulation_interface/test/test_conversions.cpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager.cpp
Due: cpp_mock_test

add scenario_test_runner to the exec_depend
  mock/cpp_mock_scenarios/package.xml
Due: unittests-cpp_mock_scenarios

remove cargo_delivery map
  mock/cpp_mock_scenarios/src/metrics/collision.cpp
Due: unittests-cpp_mock_scenarios

remove unused function
  mock/cpp_mock_scenarios/CMakeLists.txt
Due: unittests-cpp_mock_scenarios

change to comment out
  mock/cpp_mock_scenarios/CMakeLists.txt
Due: unittests-cpp_mock_scenarios

add timeout parameter
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/cpp_scenario_node.hpp
  mock/cpp_mock_scenarios/launch/mock_test.launch.py
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
Due: unittests-cpp_mock_scenarios

add test cases
  mock/cpp_mock_scenarios/CMakeLists.txt
Due: unittests-cpp_mock_scenarios

pass double variable
  mock/cpp_mock_scenarios/cmake/add_cpp_mock_scenario_test.cmake
  mock/cpp_mock_scenarios/src/collision/CMakeLists.txt
  mock/cpp_mock_scenarios/src/crosswalk/CMakeLists.txt
  mock/cpp_mock_scenarios/src/follow_front_entity/CMakeLists.txt
  mock/cpp_mock_scenarios/src/follow_lane/CMakeLists.txt
  mock/cpp_mock_scenarios/src/lane_change/CMakeLists.txt
  mock/cpp_mock_scenarios/src/measurement/CMakeLists.txt
  mock/cpp_mock_scenarios/src/merge/CMakeLists.txt
  mock/cpp_mock_scenarios/src/metrics/CMakeLists.txt
  mock/cpp_mock_scenarios/src/move_backward/CMakeLists.txt
  mock/cpp_mock_scenarios/src/pedestrian/CMakeLists.txt
  mock/cpp_mock_scenarios/src/traffic_light/CMakeLists.txt
Due: unittests-cpp_mock_scenarios

remove scenario test
  .github/workflows/ScenarioTest.yaml
  scenarios/t4v2_scenarios/CMakeLists.txt
  scenarios/t4v2_scenarios/cmake/add_t4v2_scenario_test.cmake
  scenarios/t4v2_scenarios/t4v2_scenarios-extras.cmake
Due: none

Move class `AbsoluteTargetSpeed` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/absolute_target_lane.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/absolute_target_speed.hpp
  openscenario/openscenario_interpreter/src/syntax/absolute_target_speed.cpp
Due: unittests-openscenario_interpreter

Move class `AccelerationCondition` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/acceleration_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/acceleration_condition.cpp
Due: unittests-openscenario_interpreter

Move class `AcquirePositionAction` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/acquire_position_action.hpp
  openscenario/openscenario_interpreter/src/syntax/acquire_position_action.cpp
Due: unittests-openscenario_interpreter

Move class `Act` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/act.hpp
  openscenario/openscenario_interpreter/src/syntax/act.cpp
Due: unittests-openscenario_interpreter

Move class `Action` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/action.hpp
  openscenario/openscenario_interpreter/src/syntax/action.cpp
Due: unittests-openscenario_interpreter

Move class `AddEntityAction` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/add_entity_action.hpp
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
Due: unittests-openscenario_interpreter

Move class `Arrow` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/arrow.hpp
  openscenario/openscenario_interpreter/src/syntax/arrow.cpp
Due: unittests-openscenario_interpreter

Move class `AssignControllerAction` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/assign_controller_action.hpp
  openscenario/openscenario_interpreter/src/syntax/assign_controller_action.cpp
Due: unittests-openscenario_interpreter

Move class `AssignRouteAction` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/assign_route_action.hpp
  openscenario/openscenario_interpreter/src/syntax/assign_route_action.cpp
Due: unittests-openscenario_interpreter

use std namespace
  common/simple_junit/include/simple_junit/junit5.hpp
Due: none

Move class `Axle` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/axle.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/axles.hpp
  openscenario/openscenario_interpreter/src/syntax/axle.cpp
  openscenario/openscenario_interpreter/src/syntax/axles.cpp
Due: unittests-openscenario_interpreter

Move class `Axles` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/axle.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/axles.hpp
  openscenario/openscenario_interpreter/src/syntax/axles.cpp
  openscenario/openscenario_interpreter/src/syntax/vehicle.cpp
Due: unittests-openscenario_interpreter

Move class `Boolean` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/boolean.hpp
  openscenario/openscenario_interpreter/src/syntax/boolean.cpp
Due: unittests-openscenario_interpreter

Move class `BoundingBox` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/bounding_box.hpp
  openscenario/openscenario_interpreter/src/syntax/bounding_box.cpp
  openscenario/openscenario_interpreter/src/syntax/pedestrian.cpp
  openscenario/openscenario_interpreter/src/syntax/vehicle.cpp
Due: unittests-openscenario_interpreter

Move class `Center` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/by_entity_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/by_type.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/center.hpp
  openscenario/openscenario_interpreter/src/syntax/center.cpp
Due: unittests-openscenario_interpreter

Move class `CollisionCondition` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/collision_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/collision_condition.cpp
Due: unittests-openscenario_interpreter

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
