Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

fix(traffic_simulator, simple_sensor_simulator): fix after merge, apply sonar recommendations
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/test/src/vehicle_simulation/test_ego_entity_simulation.cpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/traffic_rules.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
Due: cpp_mock_test

Merge remote-tracking branch 'origin/ref/RJD-1387-hdmap-utils-to-lanelet-wrapper-distance' into ref/RJD-1387-hdmap-utils-to-lanelet-wrapper-distance-step-2
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/test/src/vehicle_simulation/test_ego_entity_simulation.cpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/traffic_rules.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
Due: cpp_mock_test

simplify auto_sink logic
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/cpp_scenario_node.hpp
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
  mock/cpp_mock_scenarios/src/traffic_sink/auto_sink_vehicle.cpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/configuration.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_controller.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_sink.hpp
  simulation/traffic_simulator/src/traffic/traffic_controller.cpp
  simulation/traffic_simulator/src/traffic/traffic_sink.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

sink pedestrian test fix
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
Due: unittests-cpp_mock_scenarios

[RJD-1370] Fix 3D Lanelet Matching Issue in cpp_mock_scenario
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_source.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

fix(traffic_simulator): fix lanelet_wrapper::pose::alternativeLaneletPoses
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
Due: cpp_mock_test

fix:　disable default argument value for include_oppsite_direction in HdMapUtils::getLeftLaneletIds/getRightLaneletIds
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Update document `OpenSCENARIOSupport.md`
  docs/developer_guide/OpenSCENARIOSupport.md
Due: none

Merge remote-tracking branch 'origin/ref/RJD-1387-hdmap-utils-to-lanelet-wrapper-distance' into ref/RJD-1387-hdmap-utils-to-lanelet-wrapper-distance-step-2
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
Due: cpp_mock_test

Fixed bugs and added comments.
  common/math/geometry/src/spline/catmull_rom_spline.cpp
Due: none

code style
  mock/cpp_mock_scenarios/src/traffic_sink/auto_sink_vehicle.cpp
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_controller.hpp
  simulation/traffic_simulator/src/traffic/traffic_controller.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

Remove comment
  common/math/geometry/include/geometry/quaternion/get_angle_difference.hpp
Due: none

code style
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_sink.hpp
  simulation/traffic_simulator/src/traffic/traffic_sink.cpp
Due: cpp_mock_test

remove unnecessary funcs
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_module_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_sink.hpp
  simulation/traffic_simulator/src/traffic/traffic_sink.cpp
Due: cpp_mock_test

remove unnecessary include directives
  simulation/traffic_simulator/include/traffic_simulator/api/configuration.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/traffic/traffic_controller.cpp
Due: cpp_mock_test

fix(traffic_simulator): adapt lanelet-wapper::pose to changes in hdmap_utils
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/pose.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
Due: cpp_mock_test

Refactor code to improve readability based on SonarQube findings
  common/math/geometry/include/geometry/plane.hpp
  common/math/geometry/src/plane.cpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

ref(traffic_simulator): improve hdmaputils::countLaneChanges
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

ref(traffic_simulator): apply hdmaputils changes to lanelet_loader
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_loader.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_loader.cpp
Due: cpp_mock_test

ref(traffic_simulator, simple_sensor_simulator): refactor altitude checks
  .github/workflows/custom_spell.json
  common/math/geometry/include/geometry/plane.hpp
  common/math/geometry/include/geometry/quaternion/get_angle_difference.hpp
  common/math/geometry/src/plane.cpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

fix(traffic_simulator): revert clang changes
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
Due: cpp_mock_test

fix(simple_sensor_simulator): fix after detection_sensor refactor
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

fix(simple_senor_simulator): fix after Szymon discussion
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

fix(traffic_simulator): fix route::countLaneChanges
  simulation/traffic_simulator/src/lanelet_wrapper/lane_change.cpp
Due: cpp_mock_test

Remove unused function and update comment
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

RJD-1489 Changed calculating distance to front entity to boundingBoxRelativeLaneletPose longitudinal distance
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
Due: cpp_mock_test

fix(traffic_simulator): remove hdmap_utils src tests
  simulation/traffic_simulator/test/CMakeLists.txt
Due: cpp_mock_test

fix(simple_sensor_simulator): Fix if condition by adding negation to ensure proper logic
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

Cleanup `FieldOperatorApplication::spinSome`
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Remove parameter `random_offset` from scenario `sample.yaml`
  test_runner/scenario_test_runner/scenario/sample.yaml
Due: none

Remove virtual function `sendSIGINT`
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/field_operator_application.cpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

Remove member function `isStopRequested` and `stopRequest`
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/transition_assertion.hpp
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Update `~FieldOperatorApplication()` to be non-virtual
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/field_operator_application.cpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

Remove macro `CONCEALER_ISOLATE_STANDARD_OUTPUT`
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/launch.hpp
Due: unittests-concealer

Update all members of `FieldOperatorApplicationFor<...>` to be public
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
Due: unittests-concealer

Move `getAutowareState` into `FieldOperatorApplication`
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer
