Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Remove done todo
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/weather.hpp
Due: unittests-openscenario_interpreter

Use if initialization on validate * Add missing range refs
  openscenario/openscenario_interpreter/src/syntax/dome_image.cpp
  openscenario/openscenario_interpreter/src/syntax/fog.cpp
  openscenario/openscenario_interpreter/src/syntax/precipitation.cpp
  openscenario/openscenario_interpreter/src/syntax/road_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/sun.cpp
  openscenario/openscenario_interpreter/src/syntax/weather.cpp
  openscenario/openscenario_interpreter/src/syntax/wind.cpp
Due: unittests-openscenario_interpreter

Use GITHUB_OUTPUT instead of ::set-output
  .github/workflows/Build.yaml
Due: none

Revert "Add optional support for readAttribute"
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/attribute.hpp
Due: unittests-openscenario_interpreter

Revert "Add optional support for readElement"
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/element.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/type_traits/is_optional.hpp
Due: unittests-openscenario_interpreter

Use default constructor instead of optional with warnings
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/attribute.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/environment.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/weather.hpp
  openscenario/openscenario_interpreter/src/syntax/environment.cpp
  openscenario/openscenario_interpreter/src/syntax/weather.cpp
Due: unittests-openscenario_interpreter

Revert unexpected formatting change
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/attribute.hpp
Due: unittests-openscenario_interpreter

Fix code styles
  openscenario/openscenario_interpreter/src/syntax/fractional_cloud_cover.cpp
  openscenario/openscenario_interpreter/src/syntax/precipitation_type.cpp
  openscenario/openscenario_interpreter/src/syntax/wetness.cpp
Due: unittests-openscenario_interpreter

fix typo
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
Due: cpp_mock_test

Add sample scenario of Environment
  test_runner/scenario_test_runner/scenario/Environment.yaml
Due: none

Fix scenario typo
  test_runner/scenario_test_runner/scenario/Environment.yaml
Due: none

Fix example scenario * Add required field * Fix range
  test_runner/scenario_test_runner/scenario/Environment.yaml
Due: none

Fix optional types default
  openscenario/openscenario_interpreter/src/syntax/precipitation.cpp
  openscenario/openscenario_interpreter/src/syntax/sun.cpp
Due: unittests-openscenario_interpreter

Update ReleaseNotes
  docs/ReleaseNotes.md
Due: none

Revert "feat(traffic_sim): add setJerkLimit"
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Lipsticks
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
Due: cpp_mock_test, unittests-openscenario_interpreter

Update AssignControllerAction to read property `detectedObjectPublishingDelay`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

fix(traffic_sim): fix bad_optional_access - missing bulbs positions
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
Due: cpp_mock_test

ref(traffic_sim): apply ament_clang_format
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
Due: cpp_mock_test

localization and vehicle state topics published on dedicated therad
  external/concealer/include/concealer/autoware.hpp
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware.cpp
  external/concealer/src/autoware_universe.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-concealer

clang format
  external/concealer/include/concealer/autoware.hpp
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/autoware_universe_user.hpp
  external/concealer/src/autoware.cpp
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

accel, twist and pose threading fix
  external/concealer/CMakeLists.txt
  external/concealer/include/concealer/autoware.hpp
  external/concealer/src/autoware.cpp
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

atomic initialization fix
  external/concealer/src/autoware.cpp
Due: unittests-concealer

passing canonicalized value into plugin
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/pedestrian_action_node.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/vehicle_action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/pedestrian/pedestrian_action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/walk_straight_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/move_backward_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_traffic_light_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/yield_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/vehicle_action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Fix feature order in ReleaseNotes.md
  docs/ReleaseNotes.md
Due: none

fix getting next lanelet algorithum
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/lanelet_pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

fix canonicalize logic
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

change port data type
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/pedestrian/walk_straight_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/move_backward_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_traffic_light_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/yield_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

change other entity status type
  docs/developer_guide/BehaviorPlugin.md
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

add comments
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

fix typo
  .github/workflows/custom_spell.json
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

style, compactness fixes
  external/concealer/include/concealer/autoware.hpp
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/autoware_universe_user.hpp
  external/concealer/include/concealer/autoware_user.hpp
  external/concealer/include/concealer/utility/subscriber_wrapper.hpp
  external/concealer/src/autoware.cpp
  external/concealer/src/autoware_universe.cpp
  external/concealer/src/autoware_universe_user.cpp
  external/concealer/src/autoware_user.cpp
  external/concealer/src/task_queue.cpp
Due: unittests-concealer

removed question about is_stop_requested
  external/concealer/include/concealer/autoware_universe.hpp
Due: unittests-concealer

applied review comment
  external/concealer/include/concealer/utility/publisher_wrapper.hpp
Due: unittests-concealer

externaly set status
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

using external status setting
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

get twist and pose without EES in EE
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

missing rethrow
  simulation/traffic_simulator/src/entity/ego_entity_simulation.cpp
Due: cpp_mock_test
