Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

refactor(interpreter): delete unused inheritance
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_value_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/value_set_distribution.hpp
Due: unittests-openscenario_interpreter

fix typo
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
Due: cpp_mock_test

Update `SpeedProfileAction` debug informations
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_profile_action.hpp
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
  test_runner/scenario_test_runner/scenario/LongitudinalAction.SpeedProfileAction.yaml
Due: unittests-openscenario_interpreter

Add implentation commnes
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_builder.cpp
Due: cpp_mock_test

Fix typo
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_builder.cpp
Due: cpp_mock_test

Format
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_builder.cpp
Due: cpp_mock_test

refactor(interpreter): rename StochasticDistributionClass into StochasticDistributionSampler
  openscenario/openscenario_interpreter/include/openscenario_interpreter/random/stochastic_distribution_sampler.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/histogram.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/normal_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/poisson_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/probability_distribution_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/uniform_distribution.hpp
Due: unittests-openscenario_interpreter

add to and from pose to candidates
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

feat(interpreter): implement evaluate functions for stochastic distribution classes
  openscenario/openscenario_interpreter/include/openscenario_interpreter/random/stochastic_distribution_sampler.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/histogram.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/normal_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/poisson_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/stochastic.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/uniform_distribution.hpp
  openscenario/openscenario_interpreter/src/syntax/histogram.cpp
  openscenario/openscenario_interpreter/src/syntax/normal_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/poisson_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
  openscenario/openscenario_interpreter/src/syntax/stochastic.cpp
  openscenario/openscenario_interpreter/src/syntax/uniform_distribution.cpp
Due: unittests-openscenario_interpreter

chore(concealer): remove unused had_map_route msg
  external/concealer/include/concealer/autoware_universe.hpp
Due: unittests-concealer

chore(interpreter): fix compile error
  openscenario/openscenario_interpreter/src/syntax/histogram.cpp
  openscenario/openscenario_interpreter/src/syntax/normal_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/poisson_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/uniform_distribution.cpp
Due: unittests-openscenario_interpreter

refactor(preprocessor): initialize members in initializer list
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor.cpp
Due: none

refactor(interpreter): delete unused member in UserDefinedDistribution
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/user_defined_distribution.hpp
Due: unittests-openscenario_interpreter

feat(interpreter): implement ProbabilityDistributionSet::evaluate()
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/probability_distribution_set.hpp
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
Due: unittests-openscenario_interpreter

chore(interpreter): fix implementation of ProbabilityDistributionSet::evaluate()
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/probability_distribution_set.hpp
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
Due: unittests-openscenario_interpreter

refactor(interpreter): use explicit keyword for struct constructor
  openscenario/openscenario_interpreter/include/openscenario_interpreter/random/stochastic_distribution_sampler.hpp
Due: unittests-openscenario_interpreter

add clamp lanlet pose step while getting longitudinal distance
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

refactor(interpreter): make name for instance of StochasticDistributionSampler like a function
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/histogram.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/normal_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/poisson_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/probability_distribution_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/uniform_distribution.hpp
  openscenario/openscenario_interpreter/src/syntax/histogram.cpp
  openscenario/openscenario_interpreter/src/syntax/normal_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/poisson_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
  openscenario/openscenario_interpreter/src/syntax/uniform_distribution.cpp
Due: unittests-openscenario_interpreter

refactor(interpreter): delete unnecessary this keyword
  openscenario/openscenario_interpreter/src/syntax/histogram.cpp
  openscenario/openscenario_interpreter/src/syntax/normal_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/poisson_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/uniform_distribution.cpp
Due: unittests-openscenario_interpreter

refactor(interpreter): make a name of member variable that is used as a function, like a function
  openscenario/openscenario_interpreter/include/openscenario_interpreter/random/stochastic_distribution_sampler.hpp
Due: unittests-openscenario_interpreter

refactor(preprocessor): avoid using `using` keyword
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor.cpp
Due: none

Revert "refactor(interpreter): delete unnecessary this keyword"
  openscenario/openscenario_interpreter/src/syntax/histogram.cpp
  openscenario/openscenario_interpreter/src/syntax/normal_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/poisson_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/uniform_distribution.cpp
Due: unittests-openscenario_interpreter

enable check lanelet pose while requesting acquire position
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/test/src/test_hdmap_utils.cpp
Due: cpp_mock_test

Revert "refactor(preprocessor): avoid using `using` keyword"
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor.cpp
Due: none

refactor(interpreter): rename variable
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/histogram.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/normal_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/poisson_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/probability_distribution_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/uniform_distribution.hpp
  openscenario/openscenario_interpreter/src/syntax/histogram.cpp
  openscenario/openscenario_interpreter/src/syntax/normal_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/poisson_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
  openscenario/openscenario_interpreter/src/syntax/uniform_distribution.cpp
Due: unittests-openscenario_interpreter

chore(interpreter): fix compile error
  openscenario/openscenario_interpreter/src/syntax/user_defined_distribution.cpp
Due: unittests-openscenario_interpreter

check lanelet pose while requesting assing route
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

Revert "Revert "refactor(interpreter): delete unnecessary this keyword""
  openscenario/openscenario_interpreter/src/syntax/histogram.cpp
  openscenario/openscenario_interpreter/src/syntax/normal_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/poisson_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/uniform_distribution.cpp
Due: unittests-openscenario_interpreter

Revert "Revert "refactor(preprocessor): avoid using `using` keyword""
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor.cpp
Due: none

fix get longitudinal distance logic
  mock/cpp_mock_scenarios/src/measurement/get_longitudinal_distance.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

fix compile error
  mock/cpp_mock_scenarios/src/measurement/get_longitudinal_distance.cpp
Due: unittests-cpp_mock_scenarios

Remove debug printings from `SpeedProfileAction`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_profile_action.hpp
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Cleanup member function `SpeedProfileAction::run`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
Due: unittests-openscenario_interpreter

Remove deprecated static member function `ActionApplication::getBehaviorParameter`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

Update ReleaseNotes
  docs/ReleaseNotes.md
Due: none

refactor(interpreter): rename template name
  openscenario/openscenario_interpreter/include/openscenario_interpreter/random/stochastic_distribution_sampler.hpp
Due: unittests-openscenario_interpreter

refactor(interpreter): avoid copy and use perfect forwarding
  openscenario/openscenario_interpreter/include/openscenario_interpreter/random/stochastic_distribution_sampler.hpp
Due: unittests-openscenario_interpreter

fix logic
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

chore(interpreter): apply clang-format
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
  openscenario/openscenario_interpreter/src/syntax/user_defined_distribution.cpp
Due: unittests-openscenario_interpreter

fix clamp logic
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
