Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Review changes
  common/math/geometry/include/geometry/spline/catmull_rom_spline.hpp
  common/math/geometry/include/geometry/spline/catmull_rom_spline_interface.hpp
  common/math/geometry/include/geometry/spline/catmull_rom_subspline.hpp
  common/math/geometry/src/spline/catmull_rom_spline.cpp
  common/math/geometry/src/spline/catmull_rom_subspline.cpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

Cleanup and add const to data members
  external/concealer/include/concealer/publisher.hpp
  external/concealer/src/publisher.cpp
Due: unittests-concealer

Make it possible to use publisher in const member functions
  external/concealer/include/concealer/publisher.hpp
Due: unittests-concealer

refactor: clean up std::cout lines
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor.cpp
Due: none

Ref(CppMockScenario) Remove loop that waits for EGO to be engaged
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
Due: unittests-cpp_mock_scenarios

refactor: organize file flow
  openscenario/openscenario_preprocessor/include/openscenario_preprocessor/openscenario_preprocessor.hpp
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor.cpp
Due: none

fix: add workaround to avoid build CI fail due to tinyxml2
  simulation/traffic_simulator/CMakeLists.txt
Due: cpp_mock_test

fix: move workaround
  simulation/traffic_simulator/CMakeLists.txt
  test_runner/random_test_runner/CMakeLists.txt
Due: cpp_mock_test

fix: add missing comma
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor.cpp
Due: none

chore: reduce debug messages from scenario_test_runner
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

refactor: clean up remains of scenario workflow
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

Adapt simple_sensor_simulator::ImuSensor to use concealer::Publisher
  external/concealer/include/concealer/publisher.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/sensor_simulation.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/imu/imu_sensor.cpp
Due: cpp_mock_test, unittests-concealer

Implement legacy noise override switching
  external/concealer/include/concealer/publisher.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/imu/imu_sensor.cpp
Due: cpp_mock_test, unittests-concealer

apply format
  mock/cpp_mock_scenarios/src/spawn/spawn_in_map_frame.cpp
Due: unittests-cpp_mock_scenarios

Added pedestrian_behavior_mode to allow selection between legacy and standard modes.
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/pedestrian.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/syntax/pedestrian.cpp
  simulation/traffic_simulator_msgs/msg/PedestrianParameters.msg
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: cpp_mock_test, unittests-openscenario_interpreter

Added Pedestrian Awareness feature.
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/follow_lane_action.hpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
Due: cpp_mock_test

Fixed a bug where the isBlind parameter could not be read.
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
Due: unittests-openscenario_interpreter

add if for skipping ARM integration/unit test
  .github/workflows/BuildAndRun.yaml
Due: none

modify if section
  .github/workflows/BuildAndRun.yaml
Due: none

Improved the propagation method of the compatibility option.
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/syntax/pedestrian.cpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/follow_lane_action.hpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
  simulation/traffic_simulator_msgs/msg/PedestrianParameters.msg
Due: cpp_mock_test, unittests-openscenario_interpreter

Remove Unuse Header
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/follow_lane_action.hpp
Due: cpp_mock_test

Fix sonor cloud issues
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
Due: cpp_mock_test

Fix format
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
Due: cpp_mock_test

Fixed a bug caused by incorrect conditional branching
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

Review changes
  common/math/geometry/src/spline/catmull_rom_spline.cpp
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

Add logging of failed scenarios for better error tracking
  .github/workflows/workflow.sh
Due: none

Add agnocast repo
  dependency_humble.repos
Due: none

add dependencies package to simulation_interface
  simulation/simulation_interface/CMakeLists.txt
Due: cpp_mock_test

Implement agnocast_wrapper package
  common/agnocast_wrapper/CMakeLists.txt
  common/agnocast_wrapper/include/agnocast_wrapper/agnocast_wrapper.hpp
  common/agnocast_wrapper/package.xml
Due: none

Modify LidarSensor to publish using Agnocast on topic "/perception/obstacle_segmentation/pointcloud"
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/lidar_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/sensor_simulation.hpp
  simulation/simple_sensor_simulator/package.xml
Due: cpp_mock_test

Adjust LidarSensor tests to use agnocast_wrapper as well
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_lidar_sensor.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_lidar_sensor.hpp
Due: cpp_mock_test

Added environment variable to change building with or without Agnocast
  common/agnocast_wrapper/CMakeLists.txt
  common/agnocast_wrapper/cmake/agnocast_wrapper_setup_target.cmake
  simulation/simple_sensor_simulator/CMakeLists.txt
Due: cpp_mock_test

Change Agnocast URL to https
  dependency_humble.repos
Due: none

First prototype of using agnocast_wrapper in concealer::Publisher
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/publisher.hpp
  external/concealer/package.xml
Due: unittests-concealer

Add copyright to cmake function
  common/agnocast_wrapper/cmake/agnocast_wrapper_setup_target.cmake
Due: none
