Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Canonicalize lanelet pose in cpp_mock_scenarios
  mock/cpp_mock_scenarios/src/behavior_plugin/load_do_nothing_plugin.cpp
Due: unittests-cpp_mock_scenarios

Fix formating in follow_polyline_trajectory_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

Add missing comment from master
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

introduced configured updater as an intermediate class
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/configurable_rate_updater.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/conventional_traffic_light_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/v2i_traffic_light_manager.hpp
  simulation/traffic_simulator/src/traffic_lights/configurable_rate_updater.cpp
Due: cpp_mock_test

renamed traffic light manager base
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/configurable_rate_updater.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager_base.cpp
Due: cpp_mock_test

traffic light test (to be reverted)
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
Due: unittests-cpp_mock_scenarios

renamed traffic manager base filename
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/configurable_rate_updater.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager_base.cpp
Due: cpp_mock_test

moved timer and publishing related fields to time class
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/configurable_rate_updater.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager.hpp
  simulation/traffic_simulator/src/traffic_lights/configurable_rate_updater.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager_base.cpp
Due: cpp_mock_test

renamed traffic light manager src file
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager.cpp
Due: cpp_mock_test

traffic light manager passed to publishers
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/configurable_rate_updater.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/conventional_traffic_light_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/v2i_traffic_light_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/traffic_lights/configurable_rate_updater.cpp
  simulation/traffic_simulator/src/traffic_lights/v2i_traffic_light_manager.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light_manager.cpp
Due: cpp_mock_test

traffic ligth marker publisher added
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/conventional_traffic_light_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_marker_publisher.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/v2i_traffic_light_manager.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_marker_publisher.cpp
Due: cpp_mock_test

traffic marker publisher class filled
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/configurable_rate_updater.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/conventional_traffic_light_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_marker_publisher.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/v2i_traffic_light_manager.hpp
  simulation/traffic_simulator/src/traffic_lights/configurable_rate_updater.cpp
  simulation/traffic_simulator/src/traffic_lights/conventional_traffic_light_manager.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_marker_publisher.cpp
  simulation/traffic_simulator/src/traffic_lights/v2i_traffic_light_manager.cpp
Due: cpp_mock_test

conventional traffic lights manager no longer used
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/conventional_traffic_light_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/traffic_lights/conventional_traffic_light_manager.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light_manager.cpp
Due: cpp_mock_test

v2i manager renamed to publisher
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/v2i_traffic_light_publisher.hpp
  simulation/traffic_simulator/src/traffic_lights/v2i_traffic_light_publisher.cpp
Due: cpp_mock_test

decoupled marker publishing from v2i publishing
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_marker_publisher.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/v2i_traffic_light_publisher.hpp
  simulation/traffic_simulator/src/traffic_lights/v2i_traffic_light_publisher.cpp
Due: cpp_mock_test

topic configurable from v2i publishers constructor
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/v2i_traffic_light_publisher.hpp
  simulation/traffic_simulator/src/traffic_lights/v2i_traffic_light_publisher.cpp
Due: cpp_mock_test

traffic lights cleanup
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/configurable_rate_updater.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_marker_publisher.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_marker_publisher.cpp
Due: cpp_mock_test

clang format
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/sensor_simulation.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/traffic_lights/traffic_lights_detector.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/simple_sensor_simulator.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/sensor_simulation.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/traffic_lights/traffic_lights_detector.cpp
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/simulation_interface/src/conversions.cpp
  simulation/simulation_interface/test/test_conversions.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/configurable_rate_updater.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_marker_publisher.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/v2i_traffic_light_publisher.hpp
  simulation/traffic_simulator/include/traffic_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/traffic_lights/configurable_rate_updater.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_marker_publisher.cpp
  simulation/traffic_simulator/src/traffic_lights/v2i_traffic_light_publisher.cpp
  simulation/traffic_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test, unittests-concealer, unittests-openscenario_interpreter

Use `set` instead of `list` to deduplicate entity
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entities.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/selected_entities.hpp
  openscenario/openscenario_interpreter/src/syntax/entities.cpp
  openscenario/openscenario_interpreter/src/syntax/selected_entities.cpp
Due: unittests-openscenario_interpreter

Update not to use temporal
  openscenario/openscenario_interpreter/src/syntax/acceleration_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/reach_position_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/stand_still_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/time_headway_condition.cpp
Due: unittests-openscenario_interpreter

Update to fill `results` with NaN by default
  openscenario/openscenario_interpreter/src/syntax/acceleration_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/reach_position_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/stand_still_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/time_headway_condition.cpp
Due: unittests-openscenario_interpreter

Add missing condition
  openscenario/openscenario_interpreter/src/syntax/time_headway_condition.cpp
Due: unittests-openscenario_interpreter

Format
  openscenario/openscenario_interpreter/src/syntax/acceleration_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/reach_position_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/stand_still_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/time_headway_condition.cpp
Due: unittests-openscenario_interpreter

add description about detectionSensorRange
  docs/developer_guide/ConfiguringPerceptionTopics.md
Due: none

Update docs/developer_guide/ConfiguringPerceptionTopics.md
  docs/developer_guide/ConfiguringPerceptionTopics.md
Due: none

Increase ReachPositionCondition tolerance distance
  test_runner/scenario_test_runner/scenario/RoutingAction.FollowTrajectoryAction-straight.yaml
Due: none

setting publshing rate for marker as well
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

disabled newer traffic lights shapes
  simulation/simulation_interface/src/conversions.cpp
  simulation/simulation_interface/test/test_conversions.cpp
Due: cpp_mock_test

moved vehicle simulation to simple sensor simulator
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/simple_sensor_simulator.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_vel.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_ideal_steer_acc.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_ideal_steer_acc_geared.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_ideal_steer_vel.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_interface.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_vel.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_ideal_steer_acc.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_ideal_steer_acc_geared.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_ideal_steer_vel.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_interface.cpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

reset rviz configuration
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
Due: cpp_mock_test

code cleanup
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/simple_sensor_simulator.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/traffic_lights/traffic_lights_detector.cpp
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_marker_publisher.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

setting rate for v2i marker
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager.cpp
Due: cpp_mock_test

unified scneario test runner launch (added a way to not to launch simple_sensor simulator
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
  test_runner/scenario_test_runner/launch/scenario_test_runner_awsim.launch.py
Due: none

missing tests
  simulation/simulation_interface/test/expect_equal_macros.hpp
  simulation/simulation_interface/test/test_conversions.cpp
Due: cpp_mock_test

typo fix, unnecessary test removed
  simulation/simulation_interface/test/expect_equal_macros.hpp
  simulation/simulation_interface/test/test_conversions.cpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

typo fix
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager.cpp
Due: cpp_mock_test

refactor(traffic_light): use TrafficLightBase
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager_base.hpp
Due: cpp_mock_test

chore(traffic_light): add perception messages for traffic light
  simulation/traffic_simulator/package.xml
Due: cpp_mock_test

add gnupolot files
  .github/workflows/Documentation.yaml
  common/math/geometry/test/plot/.gitignore
  common/math/geometry/test/plot/getIntersection2DSValue_collision_point_0_0_0/data.dat
  common/math/geometry/test/plot/getIntersection2DSValue_collision_point_0_0_0/plot.gp
  common/math/geometry/test/test_line_segment.cpp
  docs/package/About.md
  docs/package/geometry/.gitignore
  docs/package/geometry/Doxyfile
  docs/package/geometry/build.sh
  docs/package/geometry/config.json
Due: none

add document about sensor simulation
  docs/developer_guide/SimpleSensorSimulator.md
  docs/developer_guide/ZeroMQ.md
Due: none

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
