Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

fix compile errors
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
Due: cpp_mock_test

remove member
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

Update brief summary to be simpler
  docs/ReleaseNotes.md
Due: none

Update brief summary to be more simpler
  docs/ReleaseNotes.md
Due: none

Remove unknown word from ReleaseNotes
  docs/ReleaseNotes.md
Due: none

Revert some changes for `scenario_test_runner.py`
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

Revert "Revert some changes for `scenario_test_runner.py`"
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

add const
  mock/cpp_mock_scenarios/src/follow_front_entity/decelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/metrics/reaction_time.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/misc_object_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/monitor/crosswalk_distance_policy.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/monitor/linear_acceleration_value_policy.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/monitor/linear_jerk_subscription_value_policy.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/monitor/linear_jerk_value_policy.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/monitor/linear_velocity_value_policy.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/monitor/momentary_stop_monitor.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/monitor/out_of_range_monitor.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/monitor/reaction_time_monitor.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/monitor/stop_line_ditance_policy.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/monitor/crosswalk_distance_policy.cpp
  simulation/traffic_simulator/src/entity/monitor/linear_acceleration_value_policy.cpp
  simulation/traffic_simulator/src/entity/monitor/linear_jerk_subscription_value_policy.cpp
  simulation/traffic_simulator/src/entity/monitor/linear_jerk_value_policy.cpp
  simulation/traffic_simulator/src/entity/monitor/linear_velocity_value_policy.cpp
  simulation/traffic_simulator/src/entity/monitor/reaction_time_monitor.cpp
  simulation/traffic_simulator/src/entity/monitor/stop_line_distance_policy.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

Move member function `recognizeWithProbability` into `DetectionSensor::update`
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

Update the probability range to be [0, 1) from [0, 100)
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

Update `applyAssignControllerAction` to set `probability_of_lost` to detection sensor
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

Lipsticks
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

Update to accept all condition edges
  openscenario/openscenario_interpreter/src/syntax/condition_edge.cpp
Due: unittests-openscenario_interpreter

Add time-based testing scenaio for condtion edge
  test_runner/scenario_test_runner/scenario/condition.yaml
Due: none

Update ReleaseNotes
  docs/ReleaseNotes.md
Due: none

Use adapi as default
  external/concealer/CMakeLists.txt
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/package.xml
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

Use adapi as default
  external/concealer/include/concealer/autoware.hpp
  external/concealer/include/concealer/minimum_risk_maneuver_merger.hpp
  external/concealer/src/minimum_risk_maneuver_merger.cpp
Due: unittests-concealer

doc: update Communication.md
  docs/developer_guide/Communication.md
Due: none

refactor(concealer): divide callback function
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

unified subscriber intefrace
  external/concealer/include/concealer/utility/subscriber_wrapper.hpp
Due: unittests-concealer

Lipsticks
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_type.hpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_type.cpp
Due: unittests-openscenario_interpreter

Add new struct `RoutingAlgorithm`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/routing_algorithm.hpp
  openscenario/openscenario_interpreter/src/syntax/routing_algorithm.cpp
Due: unittests-openscenario_interpreter

Update `DistanceCondition` to read attribute `RoutingAlgorithm`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
Due: unittests-openscenario_interpreter

Update `RelativeDistanceCondition` to read attribute `routingAlgorithm`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

thread safe subscriber wrapper
  external/concealer/include/concealer/autoware_universe_user.hpp
  external/concealer/include/concealer/utility/subscriber_wrapper.hpp
Due: unittests-concealer

ref(traffic_sim): remove metrics except out_of_range
  docs/developer_guide/Metrics.md
  docs/developer_guide/uml/whole_architecture.pu
  mkdocs.yml
  mock/cpp_mock_scenarios/src/metrics/momentary_stop.cpp
  mock/cpp_mock_scenarios/src/metrics/out_of_range.cpp
  mock/cpp_mock_scenarios/src/metrics/reaction_time.cpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/api/configuration.hpp
  simulation/traffic_simulator/include/traffic_simulator/metrics/metrics.hpp
  simulation/traffic_simulator/include/traffic_simulator/metrics/momentary_stop_metric.hpp
  simulation/traffic_simulator/include/traffic_simulator/metrics/reaction_time_metric.hpp
  simulation/traffic_simulator/src/metrics/momentary_stop_metric.cpp
  simulation/traffic_simulator/src/metrics/reaction_time_metric.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

clang format
  external/concealer/include/concealer/autoware.hpp
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/autoware_universe_user.hpp
  external/concealer/include/concealer/utility/subscriber_wrapper.hpp
Due: unittests-concealer

removed friendliness between Autoware and ContinuouosTransformBroadcaster
  external/concealer/include/concealer/autoware.hpp
Due: unittests-concealer

brought setndSIGINT back to protected
  external/concealer/include/concealer/autoware_universe_user.hpp
Due: unittests-concealer

formatting fix
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware.cpp
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

SubscriberWrapper implementation unification
  external/concealer/include/concealer/autoware_universe_user.hpp
  external/concealer/include/concealer/utility/subscriber_wrapper.hpp
Due: unittests-concealer

ref(traffic_simulator): remove out_of_range metric
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/scenario_object.cpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/metrics/metric_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/metrics/metrics.hpp
  simulation/traffic_simulator/include/traffic_simulator/metrics/metrics_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/metrics/out_of_range_metric.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/metrics/metric_base.cpp
  simulation/traffic_simulator/src/metrics/metrics_manager.cpp
  simulation/traffic_simulator/src/metrics/out_of_range_metric.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

ref(traffic_sim): append out_of_range to job_list_
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/job/job.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator_msgs/msg/DynamicConstraints.msg
Due: cpp_mock_test

Add `RoutingAlgorithm::value_type` to template parameter of `distance`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
Due: unittests-openscenario_interpreter

Add `RoutingAlgorithm::value_type` to template parameter of distance
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

ref(traffic_sim): out_of_range only for npc vehicles, add tolerance
  docs/developer_guide/uml/whole_architecture.pu
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/configuration.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator_msgs/msg/DynamicConstraints.msg
  simulation/traffic_simulator_msgs/msg/Performance.msg
Due: cpp_mock_test, unittests-openscenario_interpreter

fix build errors & linter errors
  dependency_humble.repos
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

Add `model3d` attribute to entity object
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/misc_object.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/pedestrian.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/vehicle.hpp
  openscenario/openscenario_interpreter/src/syntax/misc_object.cpp
  openscenario/openscenario_interpreter/src/syntax/pedestrian.cpp
  openscenario/openscenario_interpreter/src/syntax/vehicle.cpp
Due: unittests-openscenario_interpreter

Update `RelativeHeadingCondition` to work even if only one argument is given
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/syntax/user_defined_value_condition.cpp
Due: unittests-openscenario_interpreter

Update sample scenario to use one-argument version of `RelativeHeadingCondition`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  test_runner/scenario_test_runner/scenario/sample.yaml
Due: unittests-openscenario_interpreter
