Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Remove member function `AutowareUniverse:getRouteLanelets`
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test, unittests-concealer

Update `concealer` to use `autoware_internal_msgs` if it exists
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/package.xml
Due: unittests-concealer

Cleanup
  external/concealer/include/concealer/field_operator_application.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-concealer

ref(traffic_simulator> Refactor code according to the lastest master branch changes
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

reref(behavior_tree_plugin) Update commment
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

ref(traffic_simulator): Refactor comments
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

ref(traffic_simulator): Refactor comments
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

feat(simple_sensor_simulator): use vel state for acc state calculation
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_vel.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_vel.cpp
Due: cpp_mock_test

ref(traffic_simulator): Refactor comments
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

feat: publish execution time from interpreter
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

feat: record execution time with ScopedElapsedTimeRecorder class
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

feat: implement ScopedElapsedTimeRecorder class
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/scoped_elapsed_time_recorder.hpp
Due: unittests-openscenario_interpreter

Update `package.xml` to specify `autoware_internal_planning_msgs`
  external/concealer/package.xml
Due: unittests-concealer

Support message type `autoware_internal_planning_msgs::msg::PathWithLaneId`
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/package.xml
Due: unittests-concealer

fix: correct time unit conversion
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

fix: add activate and deactivate process for time publisher in interpreter
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

feat: add execution_time_test.yaml
  test_runner/scenario_test_runner/scenario/execution_time_test.yaml
Due: none

refactor: use anchor and aliases in execution_time_test.yaml
  test_runner/scenario_test_runner/scenario/execution_time_test.yaml
Due: none

chore: update threshold for update time in execution_time_test.yaml
  test_runner/scenario_test_runner/scenario/execution_time_test.yaml
Due: none

feat: add execution_time_test.yaml into test scenario line-up
  test_runner/scenario_test_runner/config/workflow.txt
Due: none

fix: correct initialization order
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

refactor: simplify ScopedElapsedTimeRecorder class
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/scoped_elapsed_time_recorder.hpp
Due: unittests-openscenario_interpreter

remove double canonicalization
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

fix(traffic_simulator) Fix an issue with follow trajectory action
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
Due: cpp_mock_test

Update `Subscriber` to handle multiple message types with priorities
  external/concealer/CMakeLists.txt
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/convert.hpp
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/path_with_lane_id.hpp
  external/concealer/include/concealer/subscriber.hpp
  external/concealer/src/path_with_lane_id.cpp
Due: unittests-concealer

SonarCloud issues changes
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

SonarCloud issues changes part 2
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

Remove not needed comment
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

Port calculating ego pitch angle from lanelets
  dependency_humble.repos
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/package.xml
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

Revert "Port calculating ego pitch angle from lanelets"
  dependency_humble.repos
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/package.xml
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

Port calculating ego pitch angle from lanelets
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/package.xml
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

fix(traffic_simulator): Fix an issue with lanelet transition
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
Due: cpp_mock_test

Sort before std::unique, so that all duplicates are removed correctly
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
Due: cpp_mock_test

Return const ref to a vector from `CenterPointsCache::centerPoints` and `CenterPointsCache::getCenterPoints`
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_wrapper.hpp
Due: cpp_mock_test

Fix typo
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/distance.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/distance.cpp
Due: cpp_mock_test

Revert "[REMOVE BEFORE MERGE] Add debug for XML error"
  .github/workflows/BuildAndRun.yaml
Due: none

Revert "Test for floating point issue"
  .github/workflows/BuildAndRun.yaml
Due: none
