Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Fix getFollowingLanelets returns wrong result
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

Enhanced the variable validation
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

enable upload lcov result
  .github/workflows/BuildAndRun.yaml
Due: none

update workflow
  .github/workflows/BuildAndRun.yaml
Due: none

Fix spelling
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/traffic_lights/traffic_lights_publisher.hpp
Due: cpp_mock_test

Fix review comments
  simulation/traffic_simulator/test/src/behavior/test_longitudinal_speed_planner.cpp
Due: cpp_mock_test

fixed the code error.
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

Register StandStillDuration to job list
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/misc_object_entity.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/test/src/entity/test_misc_object_entity.cpp
Due: cpp_mock_test

Revert assert error
  openscenario/openscenario_interpreter/src/syntax/relative_clearance_condition.cpp
Due: unittests-openscenario_interpreter

Move BoostJSON source into individual file
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/utility/boostjson.cpp
Due: unittests-openscenario_interpreter

Add serialization time measurement
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

Fix build error due to include directory
  openscenario/openscenario_interpreter/CMakeLists.txt
Due: unittests-openscenario_interpreter

Add some caching, formatting optimization
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/simulation_time_condition.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/syntax/action.cpp
  openscenario/openscenario_interpreter/src/syntax/condition.cpp
  openscenario/openscenario_interpreter/src/syntax/simulation_time_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/trigger.cpp
Due: unittests-openscenario_interpreter

Revised the method for obtaining time.
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

fix format
  simulation/traffic_simulator/src/entity/misc_object_entity.cpp
Due: cpp_mock_test

refactor: use char const * instead of std::string
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
Due: unittests-concealer

Fix github comments
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Change iterators to const
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Change candidate_lanelet_ids to candidate_route
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

refactor: use std::string in FieldOperatorApplicationFor<AutowareUniverse>::autoware_state
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
Due: unittests-concealer

feat: throw an exception when giving "EMERGENCY" to currentState in UserDefinedValueCondition
  openscenario/openscenario_interpreter/src/syntax/user_defined_value_condition.cpp
Due: unittests-openscenario_interpreter

getLongitudinalDistance refactor
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

Changed imlementation to not use iterators
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Fix behaviour when starting lanelet is not included
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

CI update
  .github/workflows/PostCheckList.yaml
Due: none

fix
  .github/workflows/Release.yaml
Due: none

remove usage of 20 digit precision in the failing scenario
  test_runner/scenario_test_runner/scenario/ByEntityCondition.EntityCondition.DistanceCondition.Shortest.yaml
Due: none

hoge
  .github/workflows/Release.yaml
Due: none

update
  .github/workflows/Release.yaml
Due: none

update documentation
  docs/developer_guide/DistanceCalculation.md
Due: none

itemize in documentation
  docs/developer_guide/DistanceCalculation.md
Due: none

spell check
  docs/developer_guide/DistanceCalculation.md
Due: none

newline
  docs/developer_guide/DistanceCalculation.md
Due: none
