Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

fix typo of action
  simulation/simulation_interface/proto/openscenario_msgs.proto
Due: cpp_mock_test

change to count_up
  test_runner/scenario_test_runner/test/scenario/all-in-one.yaml
Due: none

fix typo of range
  mock/cpp_mock_scenarios/src/metrics/out_of_range.cpp
Due: unittests-cpp_mock_scenarios

fix typo of Simplify
  docs/ReleaseNotes.md
Due: none

update Release Note
  docs/design/Metrics.md
Due: none

fix typo of definicion
  simulation/simulation_interface/proto/std_msgs.proto
Due: cpp_mock_test

fix typo of REVERSE
  mock/cpp_mock_scenarios/launch/mock_test.launch.py
Due: unittests-cpp_mock_scenarios

fix some typo
  docs/design/AutowareAPI.md
  docs/design/uml/sequence.pu
Due: none

fix typo of metrics.md
  docs/design/Metrics.md
Due: none

fix typo of definition
  simulation/simulation_interface/proto/std_msgs.proto
Due: cpp_mock_test

change aori to rage
  openscenario/openscenario_interpreter/example/lane_change.xosc
Due: unittests-openscenario_interpreter

fix typo of definition
  external/lanelet2_extension_psim/include/lanelet2_extension_psim/regulatory_elements/autoware_traffic_light.hpp
  simulation/simulation_interface/proto/autoware_vehicle_msgs.proto
Due: cpp_mock_test, unittests-lanelet2_extension_psim

fix typo of SCENARIO
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/condition_edge.hpp
  openscenario/openscenario_interpreter/package.xml
Due: unittests-openscenario_interpreter

gix some typo
  simulation/simulation_interface/include/simulation_interface/zmq_client.hpp
  simulation/traffic_simulator/test/catalog/VehicleCatalog.xosc
Due: cpp_mock_test

fix typo of split
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
Due: unittests-openscenario_interpreter

fix typo
  mock/cpp_mock_scenarios/rviz/mock_test.rviz
  openscenario/openscenario_interpreter/config/default.rviz
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  simulation/simple_sensor_simulator/config/scenario_simulator.rviz
  test_runner/scenario_test_runner/config/scenario_simulator_v2.rviz
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

fix typo in rviz
  mock/cpp_mock_scenarios/rviz/mock_test.rviz
  openscenario/openscenario_interpreter/config/default.rviz
  simulation/simple_sensor_simulator/config/scenario_simulator.rviz
  test_runner/scenario_test_runner/config/scenario_simulator_v2.rviz
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

fix typo
  openscenario/openscenario_interpreter/test/example.xosc
Due: unittests-openscenario_interpreter

change target branch
  .github/workflows/SpellCheck.yaml
  .github/workflows/SpellCheckAll.yaml
Due: none

change to count-up
  test_runner/scenario_test_runner/test/scenario/all-in-one.yaml
Due: none

modify dockerfile
  Dockerfile
Due: none

change max-parallel value
  .github/workflows/Build.yaml
Due: none

add test case for constructing action status
  simulation/traffic_simulator/test/src/expect_eq_macros.hpp
  simulation/traffic_simulator/test/src/helper/test_helper.cpp
Due: cpp_mock_test

add test case for lidar sensor
  simulation/traffic_simulator/test/src/expect_eq_macros.hpp
  simulation/traffic_simulator/test/src/helper/test_helper.cpp
Due: cpp_mock_test

modify line
  simulation/traffic_simulator/test/src/helper/test_helper.cpp
Due: cpp_mock_test

add lanechange_right
  mock/cpp_mock_scenarios/src/lane_change/CMakeLists.txt
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right.cpp
Due: unittests-cpp_mock_scenarios

fix test scenario
  mock/cpp_mock_scenarios/src/lane_change/CMakeLists.txt
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right.cpp
Due: unittests-cpp_mock_scenarios

use direction
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right.cpp
Due: unittests-cpp_mock_scenarios

add lane change scenarios to the workflow
  .github/workflows/ScenarioTest.yaml
  mock/cpp_mock_scenarios/src/lane_change/CMakeLists.txt
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left_with_id.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right_with_id.cpp
Due: unittests-cpp_mock_scenarios

Update syntax `TeleportAction` to use function `overload`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/scenario_object.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/teleport_action.hpp
Due: unittests-openscenario_interpreter

Cleanup syntax `TeleportAction`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/teleport_action.hpp
Due: unittests-openscenario_interpreter

add LCOV_EXEL line
  .github/workflows/ScenarioTest.yaml
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left_with_id.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right_with_id.cpp
  mock/cpp_mock_scenarios/src/pedestrian/CMakeLists.txt
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
Due: unittests-cpp_mock_scenarios

Cleanup syntax `EntityAction`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/add_entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/delete_entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/teleport_action.hpp
Due: unittests-openscenario_interpreter

enable visualize position
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
  openscenario/openscenario_visualization/src/openscenario_visualization_component.cpp
Due: unittests-cpp_mock_scenarios

modify visualiza position
  openscenario/openscenario_visualization/src/openscenario_visualization_component.cpp
Due: none

enable get lanelet pose while walk straight action
  simulation/traffic_simulator/src/behavior/pedestrian/pedestrian_action_node.cpp
Due: cpp_mock_test

apply reformat
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

split function
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

update lane assing logic for pedestrian
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
  openscenario/openscenario_msgs/msg/EntityStatus.msg
  simulation/traffic_simulator/src/behavior/pedestrian/pedestrian_action_node.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_msgs

add walk_straight scenario to the test case
  .github/workflows/ScenarioTest.yaml
Due: none

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
