Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Fix regex in openscenario_interpreter::Double
  openscenario/openscenario_interpreter/src/syntax/double.cpp
Due: unittests-openscenario_interpreter

Update uv.lock
  uv.lock
Due: none

chore(sonarqube): add ignore rules for sonarqube issues
  sonar-project.properties
Due: none

Ignore sonarqube and multicriteria cspell errors
  sonar-project.properties
Due: none

chore(ci): skip SonarQube scan for dependabot pull-requests
  .github/workflows/BuildAndRun.yaml
Due: none

Rollback meaningless velocity status parameters movement
  test_runner/scenario_test_runner/config/parameters.yaml
Due: none

Fix test_main.py
  openscenario/openscenario_preprocessor/test/test_main.py
Due: none

Fix test_main.py errors
  openscenario/openscenario_preprocessor/test/test_main.py
  openscenario/openscenario_utility/openscenario_utility/conversion.py
Due: unittests-openscenario_utility

Fix dependabot.yml to use uv
  .github/dependabot.yml
Due: none

Disable multi-level lanelet filter in detection sensor
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

fix(random_test_runner): remove workaround, fixed in https://github.com/ros2/tinyxml2_vendor/pull/23
  test_runner/random_test_runner/CMakeLists.txt
Due: none

Use "maximal munch" technique in MacroExpander
  openscenario/openscenario_utility/openscenario_utility/conversion.py
Due: unittests-openscenario_utility

Merge pull request #1693 from tier4/fix/RJD-1921-fix-steering-when-autoware-is-overwritten
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

Merge pull request #1682 from tier4/fix/RJD-1918-fix-task-queue-service-is-ready-check
  external/concealer/include/concealer/service.hpp
  external/concealer/include/concealer/task_queue.hpp
  external/concealer/src/task_queue.cpp
Due: unittests-concealer

Support unknown in TrafficLight::Color
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light.cpp
Due: cpp_mock_test

Support unknown in TrafficLight::Shape
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal_common.cpp
Due: cpp_mock_test

Support unknown of traffic light in simulation_interface::toMsg
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/simulation_interface/test/test_conversions.cpp
Due: cpp_mock_test

Add tests for unknown in TrafficLight::Color
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal_common.cpp
Due: cpp_mock_test

Throw an exception when 'unknown' is contained in ground-truth traffic light states
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state.cpp
Due: unittests-openscenario_interpreter

Update autoware documentation link in HACKING.md
  HACKING.md
Due: none

Remove sonar-project.properties as a trigger of BuildAndRun.yaml
  .github/workflows/BuildAndRun.yaml
Due: none

Fix: Remove sonar-project.properties as a trigger of BuildAndRun.yaml
  .github/workflows/BuildAndRun.yaml
Due: none

Remove sonar-project.properties as a trigger of Docker.yaml
  .github/workflows/Docker.yaml
Due: none

Add comment explaining the altitiude range is an approximation
  common/math/geometry/src/spline/catmull_rom_spline.cpp
Due: none

Fix subspline altitude range
  common/math/geometry/include/geometry/spline/catmull_rom_spline.hpp
  common/math/geometry/src/spline/catmull_rom_subspline.cpp
Due: none

Refactor follow_trajectory - replace trajectory iteration with sliding window model and structured state handlers
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_waypoint_controller.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Simplify distance calculations and improve code clarity
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
