Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Test: [RJD-937] to Implement Unit tests on simple_sensor_simulator - Added missed header file
  simulation/simple_sensor_simulator/test/src/sensor_simulation/primitives/test_primitive.hpp
Due: cpp_mock_test

Use typed tests in traffic lights
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light_manager.cpp
Due: cpp_mock_test

Bump version of simple_cross_map from version 2.1.7 to version 2.2.0
  map/simple_cross_map/package.xml
Due: none

chore: Update requestSynchronize function signature to include target_speed parameter
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

chore: Update requestSynchronize function to fix border distance calculation
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

chore: Update requestSynchronize function to fix border distance calculation
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

fix(traffic_simulator): fix helper_functions for tests and misc object tests
  simulation/traffic_simulator/test/src/entity/test_misc_object_entity.cpp
  simulation/traffic_simulator/test/src/helper_functions.hpp
Due: cpp_mock_test

Update requestSynchronize function and added new test scenario.
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/src/synchronized_action/CMakeLists.txt
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action_with_speed.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

fix bug
  mock/cpp_mock_scenarios/CMakeLists.txt
Due: unittests-cpp_mock_scenarios

Remove data member `DistanceCondition::consider_z`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
Due: unittests-openscenario_interpreter

Add `const Position &` to the argument of `DistanceCondition::distance`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
Due: unittests-openscenario_interpreter

chore: Update requestSynchronize function parameter name for clarity
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
Due: cpp_mock_test

fix(traffic_simulator): remove unnecessary misc_object tests
  simulation/traffic_simulator/test/src/entity/test_misc_object_entity.cpp
Due: cpp_mock_test

Simplify traffic lights tests
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light_manager.cpp
Due: cpp_mock_test

Resolve problems with resources not released
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights_publisher.hpp
Due: cpp_mock_test

Update member function `CoordinateSystem::distance` to be static member
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
Due: unittests-openscenario_interpreter

Rename traffic lights test file
  simulation/traffic_simulator/test/src/traffic_lights/CMakeLists.txt
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights.cpp
Due: cpp_mock_test

Add explicit destructors for traffic lights
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights_base.hpp
Due: cpp_mock_test

Rename internal traffic lights tests
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights.cpp
Due: cpp_mock_test

Rename internal traffic lights tests file
  simulation/traffic_simulator/test/src/traffic_lights/CMakeLists.txt
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal.cpp
Due: cpp_mock_test

chore: format miss
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

Customize API::getGoalPoses for goal modifications.
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/package.xml
  external/concealer/src/autoware_universe.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-concealer

Fix typos and format
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-concealer

fix format
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

feat(cpp_mock, traffic_simulator): change getEntity, use getEntityOrNullptr
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/accelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/decelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_lane/follow_with_offset.cpp
  mock/cpp_mock_scenarios/src/measurement/get_distance_in_lane_coordinate_distance.cpp
  mock/cpp_mock_scenarios/src/measurement/get_distance_to_lane_bound.cpp
  mock/cpp_mock_scenarios/src/move_backward/move_backward.cpp
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_continuous_false.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_relative.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_step.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_limit.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_linear.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_relative.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_delay.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_high_rate.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_large.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_mixed.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_multiple.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_outside_lane.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_pedestrian.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_vehicle.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  test_runner/random_test_runner/include/random_test_runner/test_executor.hpp
  test_runner/random_test_runner/test/test_test_executor.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

feat(entity_base, traffic_simulator, cpp_mock): move isInLanelet to EntityBase, remove forwarding
  mock/cpp_mock_scenarios/src/follow_lane/acquire_position_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/assign_route_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/cancel_request.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left_with_id.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_longitudinal_distance.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right_with_id.cpp
  mock/cpp_mock_scenarios/src/merge/merge_left.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

feat(entity_base, traffic_simulator): move reachPosition as isInPosition to EntityBase, remove forwarding
  docs/developer_guide/TrafficSimulator.md
  mock/cpp_mock_scenarios/src/follow_lane/cancel_request.cpp
  mock/cpp_mock_scenarios/src/follow_trajectory/follow_polyline_trajectory_with_do_nothing_plugin.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

feat(entity_base, traffic_simulator): rename laneMatchingSucceed to isInLanelet, remove forwarding
  mock/cpp_mock_scenarios/src/measurement/get_distance_in_lane_coordinate_distance.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_large.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_outside_lane.cpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/move_backward_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_traffic_light_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/yield_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

Add TrafficLights tests + clean up other tests and verify frequency
  simulation/traffic_simulator/test/src/traffic_lights/CMakeLists.txt
  simulation/traffic_simulator/test/src/traffic_lights/helper.hpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal.cpp
Due: cpp_mock_test

refactor: delete unused dependencies for tarffic_simulator
  simulation/traffic_simulator/package.xml
Due: cpp_mock_test

chore(concealer): use ADAPI to change Autoware control
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

Rename `(Relative)?DistanceCondition::distance` to `evaluate`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/time_to_collision_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_condition.cpp
Due: unittests-openscenario_interpreter

Remove exception throwing when starting a timer again in configurable rate updater
  simulation/traffic_simulator/src/traffic_lights/configurable_rate_updater.cpp
Due: cpp_mock_test

feat(entity_base, traffic_simulator): move isStopping to EntityBase, develop templated is() in EntityBase and use it, rename isEgoSpawned to isAnyEgoSpawned, refactor
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  test_runner/random_test_runner/include/random_test_runner/metrics/almost_standstill_metric.hpp
  test_runner/random_test_runner/include/random_test_runner/test_executor.hpp
  test_runner/random_test_runner/test/test_test_executor.cpp
Due: cpp_mock_test

feat(entity_base, traffic_simulator, simulator_core): remove forwarding setBehaviorParameter and setVelocityLimit
  mock/cpp_mock_scenarios/src/collision/crashing_npc.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_limit.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

feat(entity_manager, behavior_tree, cpp_mock): remove getCurrentAction forwarding, set "waiting" as init action state in behavior_tree
  mock/cpp_mock_scenarios/src/behavior_plugin/load_do_nothing_plugin.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear_lateral_velocity.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear_time.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_time.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/transition_events/transition_event.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

feat(entity_manager, simulator_core): remove activateOutOfRangeJob forwarding
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test, unittests-openscenario_interpreter
