Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

fix(action_node): add debug_marker OutputPort
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
Due: cpp_mock_test

fix(ego_entity_simulation, sim_model_interface): add overwrite position in Oz axis
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_interface.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared.cpp
Due: cpp_mock_test

conversions cleanup
  simulation/simulation_interface/test/src/test_conversions.cpp
Due: cpp_mock_test

traffic_light status shape color tests
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light.cpp
Due: cpp_mock_test

chore: apply linter
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

apply yamasaki-san's patch
  openscenario/openscenario_preprocessor/CMakeLists.txt
  openscenario/openscenario_preprocessor/include/openscenario_preprocessor/openscenario_preprocessor.hpp
  openscenario/openscenario_preprocessor/package.xml
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor.cpp
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor_node.cpp
  openscenario/openscenario_utility/package.xml
  openscenario/openscenario_validator/.gitignore
  openscenario/openscenario_validator/CMakeLists.txt
  openscenario/openscenario_validator/configure/OpenSCENARIO-1.2.xsd
  openscenario/openscenario_validator/configure/schema.cpp
  openscenario/openscenario_validator/include/openscenario_validator/schema.hpp
  openscenario/openscenario_validator/include/openscenario_validator/validator.hpp
  openscenario/openscenario_validator/package.xml
  openscenario/openscenario_validator/src/validator.cpp
Due: unittests-openscenario_utility

traffic light bulb tests
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light.cpp
Due: cpp_mock_test

Exclude LiDAR occluded object from OccupancyGrid in simple_sensor_simulator
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/occupancy_grid_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_sensor.cpp
Due: cpp_mock_test

Fix spell
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/occupancy_grid_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_sensor.cpp
Due: cpp_mock_test

apply yamasaki-san's second patch
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor.cpp
  openscenario/openscenario_validator/include/openscenario_validator/validator.hpp
Due: none

add follow trajectory action in do_nothing_plugin
  common/math/geometry/include/geometry/linear_algebra.hpp
  common/math/geometry/src/linear_algebra.cpp
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/src/follow_trajectory/CMakeLists.txt
  mock/cpp_mock_scenarios/src/follow_trajectory/follow_polyline_trajectory_with_do_nothing_plugin.cpp
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

fix: add dropped scenario to workflow.txt
  test_runner/scenario_test_runner/config/workflow.txt
Due: none

chore(cspell): add "xerces" to dictionary
  .github/workflows/custom_spell.json
Due: none

chore(cspell): update ignorePaths in custom_spell.json
  .github/workflows/custom_spell.json
Due: none

vertex, toPoints
  simulation/simple_sensor_simulator/test/src/sensor_simulation/primitives/test_vertex.cpp
  simulation/traffic_simulator/test/CMakeLists.txt
  simulation/traffic_simulator/test/src/data_type/CMakeLists.txt
  simulation/traffic_simulator/test/src/data_type/test_speed_change.cpp
Due: cpp_mock_test

Add TrafficSource scenarios
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/src/traffic_source/CMakeLists.txt
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_delay.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_mixed.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_multiple.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_outside_lane.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_pedestrian.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_vehicle.cpp
Due: unittests-cpp_mock_scenarios

behavior getRequestString
  simulation/traffic_simulator/test/src/behavior/CMakeLists.txt
  simulation/traffic_simulator/test/src/behavior/test_behavior.cpp
Due: cpp_mock_test

Add disable option to SpawnPoseValidator
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_source.hpp
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

Fix compile error
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

Correct redundant areas removal algorithm
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

job and job_list unit tests
  simulation/traffic_simulator/include/traffic_simulator/job/job.hpp
  simulation/traffic_simulator/test/CMakeLists.txt
  simulation/traffic_simulator/test/src/job/CMakeLists.txt
  simulation/traffic_simulator/test/src/job/test_job.cpp
  simulation/traffic_simulator/test/src/job/test_job_list.cpp
Due: cpp_mock_test

make linter happy
  simulation/traffic_simulator/test/src/job/test_job.cpp
  simulation/traffic_simulator/test/src/job/test_job_list.cpp
Due: cpp_mock_test

Add high rate test
  mock/cpp_mock_scenarios/src/traffic_source/CMakeLists.txt
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_high_rate.cpp
Due: unittests-cpp_mock_scenarios

Change algorithm to less greedy
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_source.hpp
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

chore: update openscenario_validator version
  openscenario/openscenario_validator/package.xml
Due: none

feat: update OpenSCENARIO version for openscenario_validator
  openscenario/openscenario_validator/CMakeLists.txt
  openscenario/openscenario_validator/configure/OpenSCENARIO-1.3.xsd
  openscenario/openscenario_validator/configure/schema.cpp
  openscenario/openscenario_validator/include/openscenario_validator/validator.hpp
  openscenario/openscenario_validator/package.xml
Due: none

apply linter
  openscenario/openscenario_validator/package.xml
Due: none

chore: rollback openscenario_preprocessor to latest master
  openscenario/openscenario_preprocessor/CMakeLists.txt
  openscenario/openscenario_preprocessor/include/openscenario_preprocessor/openscenario_preprocessor.hpp
  openscenario/openscenario_preprocessor/package.xml
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor.cpp
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor_node.cpp
  openscenario/openscenario_utility/package.xml
Due: unittests-openscenario_utility

refactor: simplify CMakeLists.txt in openscenario_validator
  openscenario/openscenario_validator/CMakeLists.txt
  openscenario/openscenario_validator/package.xml
Due: none

feat: add executable binary for openscenario_validator
  openscenario/openscenario_validator/src/validator_command.cpp
Due: none

job accessor tests
  simulation/traffic_simulator/test/src/job/test_job.cpp
Due: cpp_mock_test

chore: follow package version
  openscenario/openscenario_validator/package.xml
Due: none

entity_base dummy class with a couple of tests
  simulation/traffic_simulator/test/src/entity/CMakeLists.txt
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

EntityBase onUpdate. onPostUpdate tests
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

Fix polygon search
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

Add debugging function
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_source.hpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
