Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Add scenario_parameters to scenario_test_runner launch
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

fix(spell_check): append oneof word
  .github/workflows/custom_spell.json
Due: none

ref(cpp_mock_scenarios): remove metrics
  mock/cpp_mock_scenarios/src/metrics/CMakeLists.txt
Due: unittests-cpp_mock_scenarios

fix(traffic_light): fix getTrafficLightBulbPosition
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

ref(traffic_sim): apply ament_clang_format
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

ego entity simulation class
  external/concealer/include/concealer/autoware_universe_user.hpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity_simulation.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity_simulation.cpp
Due: cpp_mock_test, unittests-concealer

made it work
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/ego_entity_simulation.cpp
Due: cpp_mock_test

fields from within ego entity simulation
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity_simulation.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

requestSpeedChange used from EgoEntitySimulation
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

getCurrentPose used from ego_entity_simulation
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

fix compile error
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

fix route planning logic
  simulation/traffic_simulator/src/behavior/route_planner.cpp
Due: cpp_mock_test

feat(traffic_sim): add out_of_range as job actvated in AddEntityAction functor
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/job/job.hpp
  simulation/traffic_simulator/include/traffic_simulator/job/job_list.hpp
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/job/job_list.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

fix(traffic_sim): adjust pedestrian, vehicle entity to std::optional
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

Fix code styles
  openscenario/openscenario_interpreter/src/syntax/dome_image.cpp
  openscenario/openscenario_interpreter/src/syntax/environment.cpp
  openscenario/openscenario_interpreter/src/syntax/environment_action.cpp
  openscenario/openscenario_interpreter/src/syntax/fog.cpp
  openscenario/openscenario_interpreter/src/syntax/sun.cpp
  openscenario/openscenario_interpreter/src/syntax/time_of_day.cpp
  openscenario/openscenario_interpreter/src/syntax/weather.cpp
  openscenario/openscenario_interpreter/src/syntax/wind.cpp
Due: unittests-openscenario_interpreter

Add Wetness attribute syntax
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/wetness.hpp
  openscenario/openscenario_interpreter/src/syntax/wetness.cpp
Due: unittests-openscenario_interpreter

Add RoadCondition tag syntax
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/road_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/road_condition.cpp
Due: unittests-openscenario_interpreter

Add missing member to Environment
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/environment.hpp
  openscenario/openscenario_interpreter/src/syntax/environment.cpp
Due: unittests-openscenario_interpreter

Use boost::optional for indicate element is empty
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/environment.hpp
  openscenario/openscenario_interpreter/src/syntax/environment.cpp
Due: unittests-openscenario_interpreter

Add optional support for readElement
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/element.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/type_traits/is_optional.hpp
Due: unittests-openscenario_interpreter

Use optional by readElement on Environment
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/environment.hpp
  openscenario/openscenario_interpreter/src/syntax/environment.cpp
Due: unittests-openscenario_interpreter

Add optional support for readAttribute with implicit constructor call
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/attribute.hpp
Due: unittests-openscenario_interpreter

Use optional on Weather
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/weather.hpp
  openscenario/openscenario_interpreter/src/syntax/weather.cpp
Due: unittests-openscenario_interpreter

Add range checker on Environment related element
  openscenario/openscenario_interpreter/src/syntax/dome_image.cpp
  openscenario/openscenario_interpreter/src/syntax/fog.cpp
  openscenario/openscenario_interpreter/src/syntax/precipitation.cpp
  openscenario/openscenario_interpreter/src/syntax/road_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/sun.cpp
  openscenario/openscenario_interpreter/src/syntax/weather.cpp
  openscenario/openscenario_interpreter/src/syntax/wind.cpp
Due: unittests-openscenario_interpreter

Fix code style
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/attribute.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/type_traits/is_optional.hpp
  openscenario/openscenario_interpreter/src/syntax/fog.cpp
  openscenario/openscenario_interpreter/src/syntax/road_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/sun.cpp
  openscenario/openscenario_interpreter/src/syntax/weather.cpp
  openscenario/openscenario_interpreter/src/syntax/wind.cpp
Due: unittests-openscenario_interpreter

Fix misuse constant
  openscenario/openscenario_interpreter/src/syntax/dome_image.cpp
Due: unittests-openscenario_interpreter

Simplify code
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

use alias
  openscenario/openscenario_interpreter/src/syntax/acquire_position_action.cpp
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/assign_route_action.cpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/teleport_action.cpp
Due: unittests-openscenario_interpreter

simplify code
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

setAutowareState from ego entity simulation
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity_simulation.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/ego_entity_simulation.cpp
Due: cpp_mock_test

using getCurrentAccel from ego entity simulation
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

getCurrentTwist used from ego_entity_simulation
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

removed spin at the end of an update, moved spin after entity base update
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

rename functions
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

update some functions
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

simplifu code
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

remove unused code
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

part of onUpdate moved to ego entity simulation
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/ego_entity_simulation.cpp
Due: cpp_mock_test

simplify reachPosition
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
