Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

use base class
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/src/pedestrian/behavior_tree.cpp
  simulation/behavior_tree_plugin/src/vehicle/behavior_tree.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
Due: cpp_mock_test

add BehaviorTreePlugin class
  simulation/behavior_tree_plugin/CMakeLists.txt
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/behavior_tree_plugin.hpp
  simulation/behavior_tree_plugin/src/behavior_tree_plugin.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
Due: cpp_mock_test

use base class in pedestrian
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/behavior_tree_plugin.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/src/behavior_tree_plugin.cpp
  simulation/behavior_tree_plugin/src/pedestrian/behavior_tree.cpp
Due: cpp_mock_test

Update syntax `AssignControllerAction` to be optional
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/assign_controller_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/controller_action.hpp
  openscenario/openscenario_interpreter/src/syntax/assign_controller_action.cpp
  openscenario/openscenario_interpreter/src/syntax/controller_action.cpp
  openscenario/openscenario_interpreter/src/syntax/override_controller_value_action.cpp
  test_runner/scenario_test_runner/test/scenario/Property.maxSpeed.yaml
Due: unittests-openscenario_interpreter

Update syntax `ObjectController` to support `assign` member function
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/object_controller.hpp
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/object_controller.cpp
  test_runner/scenario_test_runner/test/scenario/Property.maxSpeed.yaml
Due: unittests-openscenario_interpreter

Fix Autoware's default upper bound speed to double max from zero
  docs/ReleaseNotes.md
  external/concealer/include/concealer/autoware.hpp
  openscenario/openscenario_interpreter/src/syntax/controller.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  test_runner/scenario_test_runner/test/scenario/Property.maxSpeed.yaml
  test_runner/scenario_test_runner/test/scenario/autoware-simple.yaml
Due: cpp_mock_test, unittests-concealer, unittests-openscenario_interpreter

remove const
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/behavior_tree_plugin.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
Due: cpp_mock_test

define getters and setters
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/behavior_tree_plugin.hpp
  simulation/behavior_tree_plugin/src/behavior_tree_plugin.cpp
Due: cpp_mock_test

enable pass compile errors
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/behavior_tree_plugin.hpp
  simulation/behavior_tree_plugin/src/behavior_tree_plugin.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
Due: cpp_mock_test

change base class of vehicle
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/src/vehicle/behavior_tree.cpp
Due: cpp_mock_test

update config directory
  simulation/behavior_tree_plugin/CMakeLists.txt
  simulation/behavior_tree_plugin/config/pedestrian_entity_behavior.xml
  simulation/behavior_tree_plugin/config/vehicle_entity_behavior.xml
  simulation/behavior_tree_plugin/src/pedestrian/behavior_tree.cpp
  simulation/behavior_tree_plugin/src/vehicle/behavior_tree.cpp
  simulation/traffic_simulator/CMakeLists.txt
Due: cpp_mock_test

enable load plugin
  simulation/behavior_tree_plugin/CMakeLists.txt
  simulation/behavior_tree_plugin/plugins.xml
  simulation/behavior_tree_plugin/src/pedestrian/behavior_tree.cpp
  simulation/behavior_tree_plugin/src/vehicle/behavior_tree.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

fix plugin macro
  mock/cpp_mock_scenarios/launch/mock_test.launch.py
  simulation/behavior_tree_plugin/CMakeLists.txt
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

change base class
  simulation/behavior_tree_plugin/CMakeLists.txt
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/behavior_tree_plugin.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/src/behavior_tree_plugin.cpp
  simulation/behavior_tree_plugin/src/pedestrian/behavior_tree.cpp
  simulation/behavior_tree_plugin/src/vehicle/behavior_tree.cpp
Due: cpp_mock_test

add debug lines
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

enable pass compile
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/plugins.xml
  simulation/behavior_tree_plugin/src/pedestrian/behavior_tree.cpp
  simulation/behavior_tree_plugin/src/vehicle/behavior_tree.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

remove constructor and add configure function
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/src/pedestrian/behavior_tree.cpp
  simulation/behavior_tree_plugin/src/vehicle/behavior_tree.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

remove ament_cmake_auto
  simulation/behavior_tree_plugin/CMakeLists.txt
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/package.xml
  simulation/behavior_tree_plugin/src/pedestrian/behavior_tree.cpp
  simulation/behavior_tree_plugin/src/vehicle/behavior_tree.cpp
Due: cpp_mock_test

enable load plugin
  simulation/behavior_tree_plugin/CMakeLists.txt
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/src/pedestrian/behavior_tree.cpp
  simulation/behavior_tree_plugin/src/vehicle/behavior_tree.cpp
Due: cpp_mock_test

update Release note
  docs/ReleaseNotes.md
Due: none

update buildtest
  .github/workflows/Build.yaml
Due: none

modify build test
  .github/workflows/Build.yaml
Due: none

add cleanup function
  common/simple_junit/test/src/test.cpp
Due: none

add #include <boost/filesystem.hpp> line
  common/simple_junit/test/src/test.cpp
Due: none

Update changelog
  common/scenario_simulator_exception/CHANGELOG.rst
  common/simple_junit/CHANGELOG.rst
  external/concealer/CHANGELOG.rst
  external/lanelet2_extension_psim/CHANGELOG.rst
  map/kashiwanoha_map/CHANGELOG.rst
  mock/cpp_mock_scenarios/CHANGELOG.rst
  openscenario/openscenario_interpreter/CHANGELOG.rst
  openscenario/openscenario_interpreter_msgs/CHANGELOG.rst
  openscenario/openscenario_msgs/CHANGELOG.rst
  openscenario/openscenario_utility/CHANGELOG.rst
  openscenario/openscenario_visualization/CHANGELOG.rst
  scenario_simulator_v2/CHANGELOG.rst
  simulation/simple_sensor_simulator/CHANGELOG.rst
  simulation/simulation_interface/CHANGELOG.rst
  simulation/traffic_simulator/CHANGELOG.rst
  test_runner/scenario_test_runner/CHANGELOG.rst
Due: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

0.5.4
  common/scenario_simulator_exception/CHANGELOG.rst
  common/scenario_simulator_exception/package.xml
  common/simple_junit/CHANGELOG.rst
  common/simple_junit/package.xml
  external/concealer/CHANGELOG.rst
  external/concealer/package.xml
  external/lanelet2_extension_psim/CHANGELOG.rst
  external/lanelet2_extension_psim/package.xml
  map/kashiwanoha_map/CHANGELOG.rst
  map/kashiwanoha_map/package.xml
  mock/cpp_mock_scenarios/CHANGELOG.rst
  mock/cpp_mock_scenarios/package.xml
  openscenario/openscenario_interpreter/CHANGELOG.rst
  openscenario/openscenario_interpreter/package.xml
  openscenario/openscenario_interpreter_msgs/CHANGELOG.rst
  openscenario/openscenario_interpreter_msgs/package.xml
  openscenario/openscenario_msgs/CHANGELOG.rst
  openscenario/openscenario_msgs/package.xml
  openscenario/openscenario_utility/CHANGELOG.rst
  openscenario/openscenario_utility/package.xml
  openscenario/openscenario_visualization/CHANGELOG.rst
  openscenario/openscenario_visualization/package.xml
  scenario_simulator_v2/CHANGELOG.rst
  scenario_simulator_v2/package.xml
  simulation/simple_sensor_simulator/CHANGELOG.rst
  simulation/simple_sensor_simulator/package.xml
  simulation/simulation_interface/CHANGELOG.rst
  simulation/simulation_interface/package.xml
  simulation/traffic_simulator/CHANGELOG.rst
  simulation/traffic_simulator/package.xml
  test_runner/scenario_test_runner/CHANGELOG.rst
  test_runner/scenario_test_runner/package.xml
Due: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Update `ReachPositionCondition` to not to use `API::reachPosition`
  openscenario/openscenario_interpreter/src/syntax/reach_position_condition.cpp
Due: unittests-openscenario_interpreter

Cleanup
  docs/ReleaseNotes.md
  openscenario/openscenario_interpreter/src/syntax/reach_position_condition.cpp
Due: unittests-openscenario_interpreter

fix rviz path and package dependency
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
  simulation/traffic_simulator/include/traffic_simulator/api/configuration.hpp
Due: cpp_mock_test

update release note for 0.5.5 release
  docs/ReleaseNotes.md
Due: none

remove debug commands
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

add debug output in mock node
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
  simulation/behavior_tree_plugin/src/vehicle/behavior_tree.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

remove debug lines
  simulation/behavior_tree_plugin/src/vehicle/behavior_tree.cpp
Due: cpp_mock_test

enable pass variable
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
Due: cpp_mock_test

add onDespawn function
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

use destructor
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

0.5.5
  common/scenario_simulator_exception/CHANGELOG.rst
  common/scenario_simulator_exception/package.xml
  common/simple_junit/CHANGELOG.rst
  common/simple_junit/package.xml
  external/concealer/CHANGELOG.rst
  external/concealer/package.xml
  external/lanelet2_extension_psim/CHANGELOG.rst
  external/lanelet2_extension_psim/package.xml
  map/kashiwanoha_map/CHANGELOG.rst
  map/kashiwanoha_map/package.xml
  mock/cpp_mock_scenarios/CHANGELOG.rst
  mock/cpp_mock_scenarios/package.xml
  openscenario/openscenario_interpreter/CHANGELOG.rst
  openscenario/openscenario_interpreter/package.xml
  openscenario/openscenario_interpreter_msgs/CHANGELOG.rst
  openscenario/openscenario_interpreter_msgs/package.xml
  openscenario/openscenario_msgs/CHANGELOG.rst
  openscenario/openscenario_msgs/package.xml
  openscenario/openscenario_utility/CHANGELOG.rst
  openscenario/openscenario_utility/package.xml
  openscenario/openscenario_visualization/CHANGELOG.rst
  openscenario/openscenario_visualization/package.xml
  scenario_simulator_v2/CHANGELOG.rst
  scenario_simulator_v2/package.xml
  simulation/simple_sensor_simulator/CHANGELOG.rst
  simulation/simple_sensor_simulator/package.xml
  simulation/simulation_interface/CHANGELOG.rst
  simulation/simulation_interface/package.xml
  simulation/traffic_simulator/CHANGELOG.rst
  simulation/traffic_simulator/package.xml
  test_runner/scenario_test_runner/CHANGELOG.rst
  test_runner/scenario_test_runner/package.xml
Due: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility
