Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Fix runtime errors
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/init.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/init_actions.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/syntax/init.cpp
  openscenario/openscenario_interpreter/src/syntax/init_actions.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
Due: unittests-openscenario_interpreter

Apply linter
  openscenario/openscenario_interpreter/src/syntax/controller_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Allow failure spell checks and make typo
  .github/workflows/SpellCheck.yaml
  .github/workflows/SpellCheckAll.yaml
  docs/user_guide/lanelet2_matching/README.md
Due: none

Fix indent in workflow file
  .github/workflows/SpellCheckAll.yaml
Due: none

purge CatalogInstance
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/catalog_reference.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/controller.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/maneuver.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/misc_object.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_assignment.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_assignments.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/pedestrian.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/route.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/vehicle.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
  openscenario/openscenario_interpreter/src/syntax/catalog_reference.cpp
  openscenario/openscenario_interpreter/src/syntax/controller.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver.cpp
  openscenario/openscenario_interpreter/src/syntax/misc_object.cpp
  openscenario/openscenario_interpreter/src/syntax/pedestrian.cpp
  openscenario/openscenario_interpreter/src/syntax/route.cpp
  openscenario/openscenario_interpreter/src/syntax/vehicle.cpp
Due: unittests-openscenario_interpreter

add parameter_assignments.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_assignments.cpp
Due: unittests-openscenario_interpreter

Lipsticks
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

ci: fix workflow
  .github/workflows/Build.yaml
  .github/workflows/BuildIsolate.yaml
Due: none

add const
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

add getRelativePose between LaneletPose and entity name
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

update Release Note
  docs/etc/ReleaseNotes.md
Due: none

Add new struct `SimulatorCore::NonStandardOperation`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/lane_change_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/user_defined_value_condition.hpp
Due: unittests-openscenario_interpreter

Update changelog
  common/scenario_simulator_exception/CHANGELOG.rst
  common/simple_junit/CHANGELOG.rst
  external/concealer/CHANGELOG.rst
  external/lanelet2_extension_psim/CHANGELOG.rst
  external/lanelet2_matching/CHANGELOG.rst
  map/kashiwanoha_map/CHANGELOG.rst
  mock/cpp_mock_scenarios/CHANGELOG.rst
  openscenario/openscenario_interpreter/CHANGELOG.rst
  openscenario/openscenario_interpreter_example/CHANGELOG.rst
  openscenario/openscenario_interpreter_msgs/CHANGELOG.rst
  openscenario/openscenario_msgs/CHANGELOG.rst
  openscenario/openscenario_utility/CHANGELOG.rst
  openscenario/openscenario_visualization/CHANGELOG.rst
  openscenario/user_defined_value_condition_example/CHANGELOG.rst
  scenario_simulator_v2/CHANGELOG.rst
  simulation/behavior_tree_plugin/CHANGELOG.rst
  simulation/simple_sensor_simulator/CHANGELOG.rst
  simulation/simulation_interface/CHANGELOG.rst
  simulation/traffic_simulator/CHANGELOG.rst
  simulation/traffic_simulator_msgs/CHANGELOG.rst
  test_runner/random_test_runner/CHANGELOG.rst
  test_runner/scenario_test_runner/CHANGELOG.rst
Due: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Remove member function `ScenarioObject::activateSensors`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/controller.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/scenario_object.hpp
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/scenario_object.cpp
Due: unittests-openscenario_interpreter

add boost to the depends of concealer and interpreter
  external/concealer/package.xml
  openscenario/openscenario_interpreter/package.xml
Due: unittests-concealer, unittests-openscenario_interpreter

add boost to the depends
  openscenario/openscenario_interpreter_example/package.xml
Due: unittests-openscenario_interpreter

Add new function `activatePerformanceAssertion` as `NonStandardOperation`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/add_entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/scenario_object.hpp
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/scenario_object.cpp
Due: unittests-openscenario_interpreter

use boost
  common/simple_junit/package.xml
  simulation/simulation_interface/package.xml
Due: cpp_mock_test

add boost to the depends
  openscenario/user_defined_value_condition_example/package.xml
Due: none

Divide by instantaneous on load
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/init_actions.hpp
  openscenario/openscenario_interpreter/src/syntax/init_actions.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
Due: unittests-openscenario_interpreter

Refine implementation
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/private.hpp
  openscenario/openscenario_interpreter/src/syntax/init_actions.cpp
  openscenario/openscenario_interpreter/src/syntax/private.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
Due: unittests-openscenario_interpreter

enable compile in humble and galactic
  common/geometry_math/CMakeLists.txt
  common/geometry_math/package.xml
Due: none

Cleanup geometry type conversions
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/lane_position.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_world_position.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/world_position.hpp
  openscenario/openscenario_interpreter/src/syntax/lane_position.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_world_position.cpp
  openscenario/openscenario_interpreter/src/syntax/world_position.cpp
Due: unittests-openscenario_interpreter

move directory
  common/geometry_math/CMakeLists.txt
  common/geometry_math/include/geometry_math/polygon/polygon.hpp
  common/geometry_math/src/polygon/polygon.cpp
  common/geometry_math/test/test_polygon.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/primitives/primitive.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/primitives/primitive.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

move line segment class to the polygon directory
  common/geometry_math/CMakeLists.txt
  common/geometry_math/include/geometry_math/polygon/line_segment.hpp
  common/geometry_math/src/polygon/line_segment.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid_cell.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid_cell.cpp
Due: cpp_mock_test

add intersection directory
  common/geometry_math/CMakeLists.txt
  common/geometry_math/include/geometry_math/polygon/line_segment.hpp
  common/geometry_math/include/intersection/collision.hpp
  common/geometry_math/include/intersection/intersection.hpp
  common/geometry_math/src/intersection/collision.cpp
  common/geometry_math/src/intersection/intersection.cpp
  common/geometry_math/test/test_collision.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

move to geometry math
  common/geometry_math/include/geometry_math/intersection/collision.hpp
  common/geometry_math/include/geometry_math/intersection/intersection.hpp
  common/geometry_math/include/intersection/intersection.hpp
  common/geometry_math/src/intersection/intersection.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid_cell.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid_cell.cpp
Due: cpp_mock_test

Fix `activatePerformanceAssertion` to check if `Controller` specified
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
Due: unittests-openscenario_interpreter

add contains to the collision directory
  common/geometry_math/include/geometry_math/intersection/collision.hpp
  common/geometry_math/src/intersection/collision.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid_cell.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid_cell.cpp
Due: cpp_mock_test

Move `getTrafficRelationReferees` into `NonStandardOperation`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state_action.hpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state_action.cpp
Due: unittests-openscenario_interpreter

Move `getLongitudinalDistance` into `SimulatorCore::GeneralCommand`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

Move `getBoundingBoxDistance` into `SimulatorCore::ConditionEvaluation`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

Rename struct `GeneralCommand` to `CoordinateSystemConversion`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/lane_position.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/reach_position_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_world_position.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/world_position.hpp
Due: unittests-openscenario_interpreter

Update `SimulatorCore::core` to be private
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
