Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Remove cast operator `ObjectController::operator DriverModel`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/controller.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/object_controller.hpp
  openscenario/openscenario_interpreter/src/syntax/controller.cpp
  openscenario/openscenario_interpreter/src/syntax/object_controller.cpp
Due: unittests-openscenario_interpreter

Remove cast operator `Controller::operator DriverModel`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/controller.hpp
  openscenario/openscenario_interpreter/src/syntax/controller.cpp
Due: unittests-openscenario_interpreter

increase initialize duration
  .github/workflows/ScenarioTest.yaml
Due: none

Update `initialize_duration` to `50` from `30` (for Autoware.Universe)
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

Update `Controller::assign` to use `API::getDriverModel`
  openscenario/openscenario_interpreter/src/syntax/controller.cpp
Due: unittests-openscenario_interpreter

Remove member function `Controller::defaultDriverModel`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/controller.hpp
  openscenario/openscenario_interpreter/src/syntax/controller.cpp
Due: unittests-openscenario_interpreter

Fix url for git clone
  docs/tutorials/BuildInstructions.md
Due: none

multiple lane traffic light stopline search fix
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Fix `waitForAutowareStateToBe*` to call thunk at least one time.
  external/concealer/include/concealer/transition_assertion.hpp
  test_runner/scenario_test_runner/test/scenario/autoware-simple.yaml
Due: unittests-concealer

add OSC expression evaluator
  openscenario/openscenario_interpreter/CMakeLists.txt
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/attribute.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/evaluate.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_type.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/rule.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/variant.hpp
  openscenario/openscenario_interpreter/src/evaluate.cpp
  openscenario/openscenario_interpreter/src/syntax/rule.cpp
Due: unittests-openscenario_interpreter

fix all-in-one scenario to verify the evaluation of the expression
  test_runner/scenario_test_runner/test/scenario/all-in-one.yaml
Due: none

remove debug messages
  openscenario/openscenario_interpreter/src/evaluate.cpp
Due: unittests-openscenario_interpreter

ament_clang_format
  openscenario/openscenario_interpreter/src/evaluate.cpp
Due: unittests-openscenario_interpreter

Fix `TransitionAssertion` to stop if class `Autoware` down
  external/concealer/include/concealer/autoware.hpp
  external/concealer/include/concealer/transition_assertion.hpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: unittests-concealer, unittests-openscenario_interpreter

Fix `waitForAutowareStateToBe*` to receive std::chrono::seconds
  external/concealer/include/concealer/transition_assertion.hpp
Due: unittests-concealer

fix variant
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/variant.hpp
  openscenario/openscenario_interpreter/src/evaluate.cpp
  openscenario/openscenario_interpreter/src/syntax/catalog_reference.cpp
Due: unittests-openscenario_interpreter

add copyright
  openscenario/openscenario_interpreter/src/evaluate.cpp
Due: unittests-openscenario_interpreter

add getDriverModel function in egoEntity class
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

enable pass colcon test
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

update Release Note
  docs/ReleaseNotes.md
Due: none

Update changelog
  common/scenario_simulator_exception/CHANGELOG.rst
  common/simple_junit/CHANGELOG.rst
  external/concealer/CHANGELOG.rst
  external/lanelet2_extension_psim/CHANGELOG.rst
  external/lanelet2_matching/CHANGELOG.rst
  map/kashiwanoha_map/CHANGELOG.rst
  mock/cpp_mock_scenarios/CHANGELOG.rst
  openscenario/openscenario_interpreter/CHANGELOG.rst
  openscenario/openscenario_interpreter_msgs/CHANGELOG.rst
  openscenario/openscenario_msgs/CHANGELOG.rst
  openscenario/openscenario_utility/CHANGELOG.rst
  openscenario/openscenario_visualization/CHANGELOG.rst
  openscenario/user_defined_value_condition_example/CHANGELOG.rst
  scenario_simulator_v2/CHANGELOG.rst
  simulation/behavior_tree_plugin/CHANGELOG.rst
  simulation/simple_sensor_simulator/CHANGELOG.rst
  simulation/simulation_interface/CHANGELOG.rst
  simulation/traffic_simulator/CHANGELOG.rst
  simulation/traffic_simulator_msgs/CHANGELOG.rst
  test_runner/random_test_runner/CHANGELOG.rst
  test_runner/scenario_test_runner/CHANGELOG.rst
Due: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

rename function
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

Update `AutowareUniverse` to use message types `tier4_*_msgs`
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/package.xml
Due: unittests-concealer

Lipsticks
  external/concealer/include/concealer/autoware_architecture_proposal.hpp
Due: unittests-concealer

rename function
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

add kashiwanoha_map to the depends
  test_runner/scenario_test_runner/package.xml
Due: none

Update AAP message type version to `tier4/universe` from `use-autoware-auto-msgs`
  dependency_foxy.repos
  dependency_galactic.repos
Due: none

Add `AAP_msgs:tier4/universe` to dependency (for Autoware.Universe)
  dependency_foxy.repos
  dependency_galactic.repos
Due: none

add behavior_tree_plugin to the exec_depend
  test_runner/scenario_test_runner/package.xml
Due: none

Add `autoware_control_msgs` to dependency of `simulation_interface`
  simulation/simulation_interface/package.xml
Due: cpp_mock_test

Fix duplicated directory names of `dependency_*.repos`
  dependency_foxy.repos
  dependency_galactic.repos
Due: none

add requestSpeedChange API
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator_msgs/CMakeLists.txt
  simulation/traffic_simulator_msgs/msg/RequestSpeedChangeParameter.msg
Due: cpp_mock_test

add test case
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/src/speed_planning/CMakeLists.txt
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change.cpp
Due: unittests-cpp_mock_scenarios

modify test case
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

add data type
  simulation/traffic_simulator/include/traffic_simulator/data_type/data_types.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

change EntityBase::setDriverModel to the pure virtual function
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/misc_object_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/misc_object_entity.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
Due: cpp_mock_test

Fix `Controller::assign` to not to overwrite parameter `see_around`
  openscenario/openscenario_interpreter/src/syntax/controller.cpp
Due: unittests-openscenario_interpreter

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
