Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Rename `FollowPolylineTrajectoryParameter` to `PolylineTrajectory`
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

Rename `trajectory_parameter` to `polyline_trajectory`
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.hpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/traffic_simulator/src/data_type/follow_trajectory.cpp
Due: cpp_mock_test

Fix: init also entity_status_ map
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
Due: cpp_mock_test

update release note
  docs/ReleaseNotes.md
Due: none

update release notes
  docs/ReleaseNotes.md
Due: none

Update changelog
  common/math/arithmetic/CHANGELOG.rst
  common/math/geometry/CHANGELOG.rst
  common/scenario_simulator_exception/CHANGELOG.rst
  common/simple_junit/CHANGELOG.rst
  common/status_monitor/CHANGELOG.rst
  external/concealer/CHANGELOG.rst
  external/lanelet2_matching/CHANGELOG.rst
  map/kashiwanoha_map/CHANGELOG.rst
  mock/cpp_mock_scenarios/CHANGELOG.rst
  openscenario/openscenario_experimental_catalog/CHANGELOG.rst
  openscenario/openscenario_interpreter/CHANGELOG.rst
  openscenario/openscenario_interpreter_example/CHANGELOG.rst
  openscenario/openscenario_interpreter_msgs/CHANGELOG.rst
  openscenario/openscenario_preprocessor/CHANGELOG.rst
  openscenario/openscenario_preprocessor_msgs/CHANGELOG.rst
  openscenario/openscenario_utility/CHANGELOG.rst
  openscenario/openscenario_visualization/CHANGELOG.rst
  scenario_simulator_v2/CHANGELOG.rst
  simulation/behavior_tree_plugin/CHANGELOG.rst
  simulation/do_nothing_plugin/CHANGELOG.rst
  simulation/simple_sensor_simulator/CHANGELOG.rst
  simulation/simulation_interface/CHANGELOG.rst
  simulation/traffic_simulator/CHANGELOG.rst
  simulation/traffic_simulator_msgs/CHANGELOG.rst
  test_runner/random_test_runner/CHANGELOG.rst
  test_runner/scenario_test_runner/CHANGELOG.rst
Due: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-openscenario_interpreter, unittests-openscenario_utility

Revert "Merge pull request #1023 from tier4/feat/pointcloud_delay"
  docs/developer_guide/ConfiguringPerceptionTopics.md
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/lidar_sensor.hpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/helper/helper.cpp
  test_runner/scenario_test_runner/scenario/Property.pointcloudPublishingDelay.yaml
Due: cpp_mock_test, unittests-openscenario_interpreter

Implement /api/operation_mode/change_to_autonomous to engage
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

WIP: get and sets for vehicle status
  external/concealer/include/concealer/autoware.hpp
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/autoware.cpp
  external/concealer/src/autoware_universe.cpp
  external/concealer/src/field_operator_application.cpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test, unittests-concealer

Regression: fix autoware state naming
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

Update /autoware/state to /api/iv_msgs/autoware/state OLD AD API
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/package.xml
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

WIP: add ADAPI support in service with validation
  external/concealer/include/concealer/utility/service_with_validation.hpp
Due: unittests-concealer

Implement /api/routing/set_route_points AD API
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

Revert "WIP: add ADAPI support in service with validation"
  external/concealer/include/concealer/utility/service_with_validation.hpp
Due: unittests-concealer

Regression: stop overriding mrm state and behavior
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

Update getTrajectory topic type
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/package.xml
Due: unittests-concealer

Regression: revert change operation mode to engage due to engage request after stopping
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

Revert "WIP: get and sets for vehicle status"
  external/concealer/include/concealer/autoware.hpp
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/autoware.cpp
  external/concealer/src/autoware_universe.cpp
  external/concealer/src/field_operator_application.cpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test, unittests-concealer

Implement /api/localization/initialize service for position initialization
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

Implement /api/external/get/emergency topic from tier4 external api
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

feat(simulation_interface): attachTrafficLightDetectorEmulatorRequest/Response
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

fix(traffic_simulator): fix V2ITrafficLightPublisher
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/v2i_traffic_light_publisher.hpp
Due: cpp_mock_test

Revert "Revert "Merge pull request #1023 from tier4/feat/pointcloud_delay""
  docs/developer_guide/ConfiguringPerceptionTopics.md
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/lidar_sensor.hpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/helper/helper.cpp
  test_runner/scenario_test_runner/scenario/Property.pointcloudPublishingDelay.yaml
Due: cpp_mock_test, unittests-openscenario_interpreter

add poetry
  .github/workflows/Documentation.yaml
  poetry.lock
  pyproject.toml
Due: none

specify markdown package version
  .github/workflows/Documentation.yaml
  poetry.lock
  pyproject.toml
Due: none

update paths
  .github/workflows/BuildAndRun.yaml
Due: none

update custom spell.json
  .github/workflows/custom_spell.json
Due: none

update pyproject.toml
  pyproject.toml
Due: none

update pyproject.toml
  docs/__init__.py
  pyproject.toml
Due: none

udpate linelint
  .linelint.yml
Due: none

Move file `data_type/follow_trajectory.[ch]pp` into directory `behavior`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/follow_trajectory_action.hpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

feat(simlation_interface): add call function for AttachTrafficLightDetectorEmulatorRequest
  simulation/simulation_interface/include/simulation_interface/zmq_multi_client.hpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/simulation_interface/src/zmq_multi_client.cpp
Due: cpp_mock_test

fix(traffic_simulator): use new message in V2ITrafficLightPublisher
  simulation/traffic_simulator/src/traffic_lights/v2i_traffic_light_publisher.cpp
Due: cpp_mock_test

Update openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
Due: unittests-openscenario_interpreter

chore(traffic_simulator): reformat
  simulation/simulation_interface/src/zmq_multi_client.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/v2i_traffic_light_publisher.hpp
  simulation/traffic_simulator/src/traffic_lights/v2i_traffic_light_publisher.cpp
Due: cpp_mock_test

Update y in test scenario
  test_runner/scenario_test_runner/scenario/spawn_relative_object_position.yaml
Due: none

fix some errors
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/route_planner.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/misc_object_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/behavior/route_planner.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/misc_object_entity.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

fix compile errors in traffic_simulator package
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

fix compile errors in behavior tree plugin package
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
