Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

add destructor
  common/math/geometry/include/geometry/spline/catmull_rom_spline.hpp
  common/math/geometry/include/geometry/spline/catmull_rom_spline_interface.hpp
Due: none

add destructor
  common/math/geometry/include/geometry/spline/catmull_rom_subspline.hpp
Due: none

Define each variable
  common/math/geometry/include/geometry/quaternion/quaternion_to_euler.hpp
  common/math/geometry/include/geometry/spline/hermite_curve.hpp
Due: none

Refactor to reduce nesting by using a lambda for distance calculation
  common/math/geometry/include/geometry/vector3/operator.hpp
  common/math/geometry/src/bounding_box.cpp
Due: none

Define each variable
  common/math/geometry/src/bounding_box.cpp
Due: none

remove const
  common/math/geometry/include/geometry/bounding_box.hpp
  common/math/geometry/src/bounding_box.cpp
Due: none

add const
  common/math/geometry/include/geometry/bounding_box.hpp
  common/math/geometry/src/bounding_box.cpp
Due: none

add const &
  common/math/geometry/include/geometry/intersection/collision.hpp
  common/math/geometry/src/intersection/collision.cpp
  common/math/geometry/src/intersection/intersection.cpp
Due: none

Refactor: improve loop nest
  common/math/geometry/src/intersection/intersection.cpp
Due: none

docs: add comment about archtecture_type purposes
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

extend for default lanelet matching distance for NPCs
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

add virtual to the VehicleActionNode::getBlackBoardValues() and use try_emplace
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/pedestrian_action_node.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/vehicle_action_node.hpp
Due: cpp_mock_test

refactor port
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/follow_lane_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/pedestrian_action_node.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/walk_straight_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_lane_sequence/follow_front_entity_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_lane_sequence/follow_lane_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_lane_sequence/move_backward_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_lane_sequence/stop_at_stop_line_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_lane_sequence/stop_at_traffic_light_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_lane_sequence/yield_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/lane_change_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/vehicle_action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

add override
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/follow_lane_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/walk_straight_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_lane_sequence/follow_lane_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_lane_sequence/move_backward_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/lane_change_action.hpp
Due: cpp_mock_test

add virtual to the ActionNode::getBlackBoardValues
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
Due: cpp_mock_test

add override
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/pedestrian_action_node.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/vehicle_action_node.hpp
Due: cpp_mock_test

Update BuildAndRun.yaml
  .github/workflows/BuildAndRun.yaml
Due: none

fix problem about https://sonarcloud.io/project/issues?open=AZINWTGyjvEq9OQMnL_U&id=tier4_scenario_simulator_v2
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

fix warnings about https://sonarcloud.io/project/issues?open=AZJwAY5JlcZ2d3dSAT63&id=tier4_scenario_simulator_v2
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
Due: cpp_mock_test

fix problems about https://sonarcloud.io/project/issues?open=AZINWTDsjvEq9OQMnL7a&id=tier4_scenario_simulator_v2
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
Due: cpp_mock_test

fix problem about https://sonarcloud.io/project/issues?open=AZJwAY5JlcZ2d3dSAT64&id=tier4_scenario_simulator_v2
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
Due: cpp_mock_test

remove warnings about misc object entity
  simulation/traffic_simulator/include/traffic_simulator/entity/misc_object_entity.hpp
Due: cpp_mock_test

add comment
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

reset matching distance for spawning
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

add comment
  common/math/geometry/src/spline/hermite_curve.cpp
Due: none

adding const to objects.
  common/math/geometry/include/geometry/bounding_box.hpp
  common/math/geometry/src/bounding_box.cpp
Due: none

“Rename ‘target_speed_’ to avoid shadowing ‘EntityBase’ field.”
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
Due: cpp_mock_test

update RequestSpeedChangeRelativeScenario
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_relative.cpp
Due: unittests-cpp_mock_scenarios

use 1.5 for default lanelet matching distance for vehicle NPCs
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

reset EntityBase::getDefaultMatchingDistanceForLaneletPoseCalculation
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

ref(traffic_simulator): simple traffic_light_publisher refactor
  simulation/traffic_simulator/src/traffic_lights/traffic_light_publisher.cpp
Due: cpp_mock_test

fix(traffic_simulator): fix traffic_lights tests
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_publisher.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_publisher.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal.cpp
Due: cpp_mock_test

fix sonor cloud issue
  common/math/geometry/include/geometry/quaternion/quaternion_to_euler.hpp
  common/math/geometry/include/geometry/spline/catmull_rom_spline_interface.hpp
  common/math/geometry/include/geometry/spline/catmull_rom_subspline.hpp
  common/math/geometry/include/geometry/spline/hermite_curve.hpp
  common/math/geometry/include/geometry/vector3/operator.hpp
  common/math/geometry/src/bounding_box.cpp
  common/math/geometry/src/intersection/intersection.cpp
Due: none

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
