Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

debug for setuptools
  .github/workflows/Documentation.yaml
Due: none

Update Documentation.yaml
  .github/workflows/Documentation.yaml
Due: none

Update poetry.lock
  poetry.lock
Due: none

Rename traffic light classes to match filenames
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_publisher.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_publisher.cpp
Due: cpp_mock_test

Revert "Remove traffic lights tests"
  simulation/traffic_simulator/test/src/expect_eq_macros.hpp
  simulation/traffic_simulator/test/src/traffic_lights/CMakeLists.txt
  simulation/traffic_simulator/test/src/traffic_lights/helper.hpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal.cpp
Due: cpp_mock_test

ref(behavior_tree): use CanonicalizedEntityStatus as shared_ptr inside BT and use ::set
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/behavior_tree_plugin/src/pedestrian/pedestrian_action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/walk_straight_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/move_backward_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_traffic_light_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/yield_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/vehicle_action_node.cpp
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
  simulation/do_nothing_plugin/src/plugin.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/misc_object_entity.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

Fix random_test_runner
  test_runner/random_test_runner/include/random_test_runner/metrics/almost_standstill_metric.hpp
  test_runner/random_test_runner/include/random_test_runner/test_executor.hpp
  test_runner/random_test_runner/test/test_test_executor.cpp
Due: none

doc(scenario_test_runnrer): fix spell and link
  .github/workflows/custom_spell.json
  docs/user_guide/scenario_test_runner/RealtimeFactor.md
Due: none

doc(simulator_test_runner): add EOF to RealtimeFactor
  docs/user_guide/scenario_test_runner/RealtimeFactor.md
Due: none

feat(params): set use_sim_time default as True
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: cpp_mock_test

doc(scenario_test_runner): adapt doc to changes in use_sim_time
  docs/user_guide/scenario_test_runner/RealtimeFactor.md
Due: none

doc(scenario_test_runner): add EOF to RealtimeFactor
  docs/user_guide/scenario_test_runner/RealtimeFactor.md
Due: none

feat: Enhance IMU sensor configuration and initialization
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/imu/imu_sensor.cpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
Due: cpp_mock_test, unittests-openscenario_interpreter

docs: Update the communication document for this IMU topic
  docs/developer_guide/Communication.md
Due: none

chore: Update Longitudinal_control.md with additional details for requestSpeedChange API
  docs/developer_guide/Longitudinal_control.md
  docs/developer_guide/images/Longitudinal_control/requestSpeedChange.png
Due: none

doc: update OpenSCENARIOSupport.md for RelativeClearanceCondition
  docs/developer_guide/OpenSCENARIOSupport.md
Due: none

refactor: format comment-outs
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_clearance_condition.hpp
Due: unittests-openscenario_interpreter

chore: Update Longitudinal_control.md with additional details for requestSpeedChange API
  docs/developer_guide/Longitudinal_control.md
Due: none

chore: Update Longitudinal_control.md with additional details for requestSpeedChange API
  docs/developer_guide/Longitudinal_control.md
  docs/developer_guide/images/Longitudinal_control/requestSpeedChange.png
  docs/developer_guide/images/Longitudinal_control/synchronizedAction.png
Due: none

style: apply clang-format
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
Due: cpp_mock_test

Adjust mock scenarios to new API
  mock/cpp_mock_scenarios/src/spawn/spawn_in_map_frame.cpp
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action.cpp
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action_with_speed.cpp
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
Due: unittests-cpp_mock_scenarios

feat: improve description output of RelativeClearanceCondition
  openscenario/openscenario_interpreter/src/syntax/relative_clearance_condition.cpp
Due: unittests-openscenario_interpreter

feat(traffic_controller, api): add rviz marker for TrafficSink
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_controller.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_module_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_sink.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/traffic/traffic_controller.cpp
  simulation/traffic_simulator/src/traffic/traffic_sink.cpp
Due: cpp_mock_test

ref(simulator_core): refresh class division, tidy up
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/add_entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/follow_trajectory_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/lane_change_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/reach_position_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_world_position.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/user_defined_value_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/waypoint.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

ref(openscenario_interpeter): simplify distance_condition, reach_position_condition
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/reach_position_condition.cpp
Due: unittests-openscenario_interpreter

ref(entity_status): move getLaneletRelativeYaw definition to cpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
Due: cpp_mock_test

Update test scenario `ByValueCondition.UserDefinedValueCondition.yaml`
  test_runner/scenario_test_runner/scenario/ByValueCondition.UserDefinedValueCondition.yaml
Due: none

Fix compile error
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
Due: cpp_mock_test

Fix test_executor test
  test_runner/random_test_runner/test/test_test_executor.cpp
Due: none

Update MagicSubscription to share resources between instances
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/user_defined_value_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/user_defined_value_condition.cpp
Due: unittests-openscenario_interpreter

ref(traffic_controller): rename make->appendDebugMarker
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_module_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_sink.hpp
  simulation/traffic_simulator/src/traffic/traffic_controller.cpp
  simulation/traffic_simulator/src/traffic/traffic_sink.cpp
Due: cpp_mock_test

add a proper structure to the test files
  common/math/geometry/test/CMakeLists.txt
  common/math/geometry/test/src/expect_eq_macros.hpp
  common/math/geometry/test/src/intersection/CMakeLists.txt
  common/math/geometry/test/src/intersection/test_collision.cpp
  common/math/geometry/test/src/intersection/test_intersection.cpp
  common/math/geometry/test/src/polygon/CMakeLists.txt
  common/math/geometry/test/src/polygon/test_line_segment.cpp
  common/math/geometry/test/src/polygon/test_polygon.cpp
  common/math/geometry/test/src/quaternion/CMakeLists.txt
  common/math/geometry/test/src/quaternion/test_quaternion.cpp
  common/math/geometry/test/src/solver/CMakeLists.txt
  common/math/geometry/test/src/solver/test_polynomial_solver.cpp
  common/math/geometry/test/src/spline/CMakeLists.txt
  common/math/geometry/test/src/spline/test_catmull_rom_spline.cpp
  common/math/geometry/test/src/spline/test_catmull_rom_subspline.cpp
  common/math/geometry/test/src/spline/test_hermite_curve.cpp
  common/math/geometry/test/src/test_bounding_box.cpp
  common/math/geometry/test/src/test_distance.cpp
  common/math/geometry/test/src/test_transform.cpp
  common/math/geometry/test/src/test_utils.hpp
  common/math/geometry/test/src/vector3/CMakeLists.txt
  common/math/geometry/test/src/vector3/test_truncate_custom.cpp
  common/math/geometry/test/src/vector3/test_truncate_msg.cpp
  common/math/geometry/test/src/vector3/test_vector3.cpp
Due: none

ref(simulator_core, api): little global improve
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/reach_position_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_object_position.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
  simulation/traffic_simulator/test/src/helper_functions.hpp
Due: cpp_mock_test, unittests-openscenario_interpreter

getPose, getPoint refactor
  common/math/geometry/test/src/polygon/test_line_segment.cpp
Due: none

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
