Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Update: add parallel download and processing
  test_runner/scenario_test_runner/scenario_test_runner/report/download_reports.py
  test_runner/scenario_test_runner/scenario_test_runner/report/index_generator.py
Due: none

Update: separate report generation from scenario_simutlator_v2
  test_runner/scenario_test_runner/CMakeLists.txt
  test_runner/scenario_test_runner/package.xml
  test_runner/scenario_test_runner/scenario_test_runner/report/__init__.py
  test_runner/scenario_test_runner/scenario_test_runner/report/alpine_js.py
  test_runner/scenario_test_runner/scenario_test_runner/report/d3_js.py
  test_runner/scenario_test_runner/scenario_test_runner/report/download_reports.py
  test_runner/scenario_test_runner/scenario_test_runner/report/extract.py
  test_runner/scenario_test_runner/scenario_test_runner/report/index_generator.py
  test_runner/scenario_test_runner/scenario_test_runner/report/report_generator.py
  test_runner/scenario_test_runner/scenario_test_runner/report/rosbag_reader.py
  test_runner/scenario_test_runner/scenario_test_runner/report/templates/index_template.html
  test_runner/scenario_test_runner/scenario_test_runner/report/templates/report_template.html
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

Update: update call to `simulation_report`
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

Add serial simulation execution using different diffsuion planner models
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
  test_runner/scenario_test_runner/package.xml
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

feat(simple_sensor_simulator): add RK4 and heading rate coefficient to diffusion planner model
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_for_diffusion_planner.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_for_diffusion_planner.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/vehicle_model_c_wrapper.cpp
Due: cpp_mock_test

refactor(simple_sensor_simulator): remove PhysX-based vehicle models and vendor package
  docs/developer_guide/RolloutTestRunner.md
  external/physx_vendor/.gitignore
  external/physx_vendor/CMakeLists.txt
  external/physx_vendor/README.md
  external/physx_vendor/package.xml
  external/physx_vendor/physx_vendor-extras.cmake
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_taiga_dyn.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_taiga_x.hpp
  simulation/simple_sensor_simulator/package.xml
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_taiga_dyn.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_taiga_x.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/vehicle_model_c_wrapper.cpp
  test_runner/rollout_test_runner/README.md
Due: cpp_mock_test

Update output directory structure
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

Update `laneChangeTrajectory` to return `CanonicalizedLaneletPose`
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lane_change.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/route.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/lane_change.cpp
  simulation/traffic_simulator/src/utils/route.cpp
Due: cpp_mock_test

Update `LaneChangeAction` to handle distance constraints that exceed the length of the Lanelet
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
Due: cpp_mock_test

Cleanup `LaneChangeAction::doAction`
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
Due: cpp_mock_test

fix(simulator): support rosbag2 API changes for Humble and Jazzy
  simulation/simple_sensor_simulator/src/sensor_simulation/perception_reproducer_sensor/perception_reproducer_sensor.cpp
  simulation/traffic_simulator/src/replay/ego_bag_replayer.cpp
  test_runner/rollout_test_runner/src/bag_topic_republisher.cpp
  test_runner/rollout_test_runner/src/ego_replay_source.cpp
Due: cpp_mock_test

ci(workflow): add temporary/diffusion_planner_godot to push trigger
  .github/workflows/BuildAndRunJazzy.yaml
Due: none

Split `laneChangeTrajectory` into `v1::` and `v2::` for backward compatibility
  openscenario/openscenario_interpreter/src/syntax/acquire_position_action.cpp
  openscenario/openscenario_interpreter/src/syntax/assign_route_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lane_change.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/route.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/lane_change.cpp
  simulation/traffic_simulator/src/utils/route.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Fix `LaneChangeAction::doAction` to set the second part of the `laneChangeTrajectory` return value at the end
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/lane_change_action.hpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
Due: cpp_mock_test

Cleanup
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/lane_change_action.hpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
Due: cpp_mock_test

Cleanup free function `v2::laneChangeTrajectory`
  simulation/traffic_simulator/src/lanelet_wrapper/lane_change.cpp
Due: cpp_mock_test

fix(traffic_lights): Guard prediction fields for upstream autoware_perception_msgs compatibility
  simulation/simple_sensor_simulator/src/sensor_simulation/perception_reproducer_sensor/traffic_light_bag_stream.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_publisher.cpp
Due: cpp_mock_test

refactor(simple_sensor_simulator): move vehicle models to new simple_vehicle_models package
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_perfect_trajectory_tracker.hpp
  simulation/simple_sensor_simulator/package.xml
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_perfect_trajectory_follower.cpp
  simulation/simple_sensor_simulator/test/src/vehicle_simulation/test_diffusion_planner_vehicle_model.cpp
  simulation/simple_vehicle_models/CMakeLists.txt
  simulation/simple_vehicle_models/include/simple_vehicle_models/sim_model.hpp
  simulation/simple_vehicle_models/include/simple_vehicle_models/sim_model_delay_steer_acc.hpp
  simulation/simple_vehicle_models/include/simple_vehicle_models/sim_model_delay_steer_acc_geared.hpp
  simulation/simple_vehicle_models/include/simple_vehicle_models/sim_model_delay_steer_acc_geared_for_diffusion_planner.hpp
  simulation/simple_vehicle_models/include/simple_vehicle_models/sim_model_delay_steer_acc_geared_wo_fall_guard.hpp
  simulation/simple_vehicle_models/include/simple_vehicle_models/sim_model_delay_steer_map_acc_geared.hpp
  simulation/simple_vehicle_models/include/simple_vehicle_models/sim_model_delay_steer_vel.hpp
  simulation/simple_vehicle_models/include/simple_vehicle_models/sim_model_external.hpp
  simulation/simple_vehicle_models/include/simple_vehicle_models/sim_model_ideal_steer_acc.hpp
  simulation/simple_vehicle_models/include/simple_vehicle_models/sim_model_ideal_steer_acc_geared.hpp
  simulation/simple_vehicle_models/include/simple_vehicle_models/sim_model_ideal_steer_vel.hpp
  simulation/simple_vehicle_models/include/simple_vehicle_models/sim_model_interface.hpp
  simulation/simple_vehicle_models/include/simple_vehicle_models/sim_model_perfect_trajectory_tracker.hpp
  simulation/simple_vehicle_models/package.xml
  simulation/simple_vehicle_models/src/sim_model_delay_steer_acc.cpp
  simulation/simple_vehicle_models/src/sim_model_delay_steer_acc_geared.cpp
  simulation/simple_vehicle_models/src/sim_model_delay_steer_acc_geared_for_diffusion_planner.cpp
  simulation/simple_vehicle_models/src/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
  simulation/simple_vehicle_models/src/sim_model_delay_steer_map_acc_geared.cpp
  simulation/simple_vehicle_models/src/sim_model_delay_steer_vel.cpp
  simulation/simple_vehicle_models/src/sim_model_ideal_steer_acc.cpp
  simulation/simple_vehicle_models/src/sim_model_ideal_steer_acc_geared.cpp
  simulation/simple_vehicle_models/src/sim_model_ideal_steer_vel.cpp
  simulation/simple_vehicle_models/src/sim_model_interface.cpp
  simulation/simple_vehicle_models/src/sim_model_perfect_trajectory_tracker.cpp
  simulation/simple_vehicle_models/src/vehicle_model_c_wrapper.cpp
  simulation/simple_vehicle_models/test/test_sim_model_perfect_trajectory_tracker.cpp
Due: cpp_mock_test

feat(traffic_simulator): Add headless EgoEntity for in-process trajectory tracking
  simulation/simple_sensor_simulator/test/src/vehicle_simulation/CMakeLists.txt
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/api/configuration.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/package.xml
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/ego_entity_headless.cpp
  simulation/traffic_simulator/src/tools/headless_ego_drive_check.cpp
Due: cpp_mock_test

apply format
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/perception_reproducer_sensor/perception_reproducer_sensor.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_vehicle_models/include/simple_vehicle_models/sim_model_delay_steer_acc_geared_for_diffusion_planner.hpp
  simulation/simple_vehicle_models/include/simple_vehicle_models/sim_model_delay_steer_acc_geared_wo_fall_guard.hpp
  simulation/simple_vehicle_models/src/sim_model_delay_steer_acc_geared_for_diffusion_planner.cpp
  simulation/simple_vehicle_models/src/vehicle_model_c_wrapper.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/behavior/follow_waypoint_controller.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/ego_entity_headless.cpp
  simulation/traffic_simulator/src/replay/ego_bag_replayer.cpp
  simulation/traffic_simulator/src/simulation_clock/simulation_clock.cpp
  simulation/traffic_simulator/src/tools/headless_ego_drive_check.cpp
Due: cpp_mock_test

feat(openscenario_interpreter): Enable headless in-process step-by-step evaluation
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

feat(openscenario_interpreter): Add headless interpreter lifecycle drive check
  openscenario/openscenario_interpreter/CMakeLists.txt
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/src/headless_interpreter_drive_check.cpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

feat(openscenario_python): Introduce Python API for headless interpreter
  openscenario/openscenario_interpreter/CMakeLists.txt
  openscenario/openscenario_interpreter/include/openscenario_interpreter/headless_bridge.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/headless_bridge.cpp
  openscenario/openscenario_python/CMakeLists.txt
  openscenario/openscenario_python/package.xml
  openscenario/openscenario_python/src/openscenario_python.cpp
  openscenario/openscenario_python/test/headless_smoke_test.py
Due: unittests-openscenario_interpreter

fix(openscenario_interpreter): Read 'headless' parameter from node interface to avoid unnecessary sleep
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

feat: add facade for `simulation_report_orchestrator`
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
  test_runner/scenario_test_runner/package.xml
Due: none

Separate drive and brake dynamics into 8D model
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
Due: cpp_mock_test

Use default simulator parameters as fallback
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

Parameterize vel_epsilon to remove hardcoded damping gain and prevent zero-speed chattering
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
Due: cpp_mock_test

remove unneccessary arguments
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

rename functions
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

rename package
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
  test_runner/scenario_test_runner/package.xml
Due: none

change package name
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
  test_runner/scenario_test_runner/package.xml
Due: none

feat(ego_entity): use alternative
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

feat(openscenario_python): expose the resolved lanelet2 map path
  openscenario/openscenario_interpreter/include/openscenario_interpreter/headless_bridge.hpp
  openscenario/openscenario_interpreter/src/headless_bridge.cpp
  openscenario/openscenario_python/src/openscenario_python.cpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_wrapper.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_map.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_wrapper.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Apply steering deadband to input command
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
Due: cpp_mock_test
