Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

fix(heartbeat):
  openscenario/openscenario_interpreter/src/openscenario_interpreter_heartbeat_checker_node.cpp
Due: unittests-openscenario_interpreter

fix loop
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_relative.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

fix relative logic
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_relative.cpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/speed_change.hpp
  simulation/traffic_simulator/src/data_type/speed_change.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

fix(heartbeat): fix deadlock
  openscenario/openscenario_interpreter/include/openscenario_interpreter/heartbeat_server.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter_node.cpp
Due: unittests-openscenario_interpreter

refactor(heartbeat): fix enum class to snake_case
  openscenario/openscenario_interpreter/src/openscenario_interpreter_heartbeat_checker_node.cpp
Due: unittests-openscenario_interpreter

refactor(ci): use autoware-github-actions in SpellChackAll.yaml
  .github/workflows/SpellCheck.yaml
  .github/workflows/SpellCheckAll.yaml
Due: none

chore(spell-check): ignore CHANGELOG.rst
  .github/workflows/custom_spell.json
Due: none

chore(spell-check): add some words to ignore list
  .github/workflows/custom_spell.json
Due: none

chore(spell-check): ignore OpenSCENARIO xsd file
  .github/workflows/custom_spell.json
Due: none

fix(typo): begining => beginning
  test_runner/random_test_runner/src/lanelet_utils.cpp
Due: none

fix(typo): paramters => parameters
  test_runner/random_test_runner/include/random_test_runner/file_interactions/yaml_test_params_saver.hpp
Due: none

fix(typo): cansel => cancel
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

fix(typo): threashold => threshold
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

chore(spell-check): fix cspell error
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_sensor.cpp
Due: cpp_mock_test

chore(spell-check): fix cspell error
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
Due: cpp_mock_test

fix(typo): implemtation => implementation
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/occupancy_grid_sensor.hpp
Due: cpp_mock_test

fix(typo): cooridnate => coordinate
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
Due: cpp_mock_test

fix(typo): fullfill => fulfill
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
Due: cpp_mock_test

fix(typo): refenrece => reference
  openscenario/openscenario_interpreter/src/syntax/catalog_reference.cpp
Due: unittests-openscenario_interpreter

fix(typo): defintiion => definition
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
Due: unittests-openscenario_interpreter

chore(spell-check): ignore drawio file
  .github/workflows/custom_spell.json
Due: none

chore(spell-check): ignore kisak infile
  Dockerfile
Due: none

chore(spell-check): ignore error from "euclidian"
  .github/workflows/custom_spell.json
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_type.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_type.cpp
Due: unittests-openscenario_interpreter

fix(ci):
  .github/workflows/SpellCheck.yaml
  .github/workflows/SpellCheckAll.yaml
Due: none

doc(spell-check): give reasons for ignoring misspellings in comment
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_type.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_type.cpp
Due: unittests-openscenario_interpreter

fix typos
  simulation/traffic_simulator/include/traffic_simulator/behavior/longitudinal_speed_planning.hpp
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
Due: cpp_mock_test

fix typo
  docs/ReleaseNotes.md
Due: none

fix speed planning logic
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_relative.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

refactor(heartbeat): move client node & change name
  common/ros_ping_with_service/CMakeLists.txt
  common/ros_ping_with_service/package.xml
  common/ros_ping_with_service/src/single_ping_node.cpp
Due: none

chore: fix compile errors
  common/ros_ping_with_service/package.xml
  common/ros_ping_with_service/src/single_ping_node.cpp
  openscenario/openscenario_interpreter/CMakeLists.txt
  openscenario/openscenario_interpreter/include/openscenario_interpreter/ros_ping_service.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

refactor(ping): change name
  common/ros_ping_with_service/CMakeLists.txt
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
Due: unittests-openscenario_interpreter

refactor(ping): parameterize some magic numbers
  common/ros_ping_with_service/src/single_ping_node.cpp
Due: none

doc(ping): add README.md
  common/ros_ping_with_service/README.md
Due: none

doc(ping): delete empty line
  common/ros_ping_with_service/README.md
Due: none

refactor(interpreter): move distribution.hpp into `random` directory
  openscenario/openscenario_interpreter/include/openscenario_interpreter/random/distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/histogram.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/normal_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/poisson_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/probability_distribution_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/uniform_distribution.hpp
Due: unittests-openscenario_interpreter

refactor(ping): Rename enum class `Return` to `ReturnCOde`
  common/ros_ping_with_service/src/single_ping_node.cpp
Due: none

refactor(ping): add `const` keyword
  openscenario/openscenario_interpreter/include/openscenario_interpreter/ros_ping_service.hpp
Due: unittests-openscenario_interpreter

refactor(ping): move service class to `common` directory
  common/ros_ping_with_service/include/ros_ping_service.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/package.xml
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

refactor(ping): rename package from `ros_ping_with_service` to `ros_ping`
  common/ros_ping/CMakeLists.txt
  common/ros_ping/README.md
  common/ros_ping/include/service.hpp
  common/ros_ping/package.xml
  common/ros_ping/src/single_ping_node.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
Due: unittests-openscenario_interpreter

refactor(ping): rename executable name
  common/ros_ping/src/ping.cpp
Due: none

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
