Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

update perception noise, delet unnessary noise_config.
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/helper/helper.cpp
Due: cpp_mock_test, unittests-concealer

ref(pose utils, pedestrian_action_node): rename estimateCanonicalizedLaneletPose to pedestrian::transformToCanonicalizedLaneletPose
  simulation/behavior_tree_plugin/src/pedestrian/pedestrian_action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

Declare parameters before getting values
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

Revert changes adding parameter checking
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/node_parameter_handler.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

tuning parameters for perception noise simulation.
  external/concealer/src/autoware_universe.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test, unittests-concealer

Update helper.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
Due: cpp_mock_test

Update helper.cpp
  simulation/traffic_simulator/src/helper/helper.cpp
Due: cpp_mock_test

ref(lanelet_map_core, distance): last code refactor
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/distance.hpp
  simulation/traffic_simulator/src/lanelet_map_core/distance.cpp
Due: cpp_mock_test

ref(lanelet_map_core, traffic_lights): last code refactor
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/traffic_lights.hpp
  simulation/traffic_simulator/src/lanelet_map_core/traffic_lights.cpp
  simulation/traffic_simulator/src/utils/traffic_lights.cpp
Due: cpp_mock_test

ref(lanelet_map_core, lane_change): last code refactor
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/lane_change.hpp
  simulation/traffic_simulator/src/lanelet_map_core/lane_change.cpp
Due: cpp_mock_test

ref(lanelet_map_core, core): last code refactor - keep old api
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/lanelet_map_core.hpp
  simulation/traffic_simulator/src/lanelet_map_core/lanelet_map_core.cpp
Due: cpp_mock_test

ref(lanelet_map_core, lanelet_map): last code refactor
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/lanelet_map.hpp
  simulation/traffic_simulator/src/lanelet_map_core/lanelet_map.cpp
  simulation/traffic_simulator/src/utils/lanelet_map.cpp
Due: cpp_mock_test

ref(lanelet_map_core, pose): last code refactor
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/pose.hpp
  simulation/traffic_simulator/src/lanelet_map_core/pose.cpp
Due: cpp_mock_test

ref(lanelet_map_core, route): last code refactor
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/route.hpp
  simulation/traffic_simulator/src/lanelet_map_core/route.cpp
Due: cpp_mock_test

fix(lanelet_map_core): fix vector size reserve
  simulation/traffic_simulator/src/lanelet_map_core/pose.cpp
  simulation/traffic_simulator/src/lanelet_map_core/route.cpp
Due: cpp_mock_test

ref(utils, lanelet_map_core): apply clang reformat
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/lanelet_map_core/pose.cpp
Due: cpp_mock_test

ref(lanelet_map_core, lanelet_wrapper): rename lanelet_map_core to lanelet_wrapper
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lane_change.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_map.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_wrapper.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/route.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/traffic_lights.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_map.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/route.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/traffic_lights.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/distance.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lane_change.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_wrapper.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/route.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/traffic_lights.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
  simulation/traffic_simulator/src/utils/lanelet_map.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
  simulation/traffic_simulator/src/utils/route.cpp
  simulation/traffic_simulator/src/utils/traffic_lights.cpp
  simulation/traffic_simulator/test/CMakeLists.txt
  test_runner/random_test_runner/src/lanelet_utils.cpp
Due: cpp_mock_test

ref(lanelet_wrapper,distance): fix unused variable
  simulation/traffic_simulator/src/lanelet_wrapper/distance.cpp
Due: cpp_mock_test

fix(RelativeDistanceCondition): Fixed a bug where RelativeDistance showed negative values
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

internal review corrections
  simulation/traffic_simulator/test/src/entity/test_misc_object_entity.cpp
Due: cpp_mock_test

add copy of helper_functions, apply review requests
  simulation/traffic_simulator/test/CMakeLists.txt
  simulation/traffic_simulator/test/src/behavior/test_route_planner.cpp
  simulation/traffic_simulator/test/src/helper_functions.hpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light.cpp
Due: cpp_mock_test

add newlines
  simulation/traffic_simulator/test/src/behavior/CMakeLists.txt
  simulation/traffic_simulator/test/src/helper_functions.hpp
Due: cpp_mock_test

remove unecessary assignment
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light.cpp
Due: cpp_mock_test

fix typo
  simulation/traffic_simulator/test/src/simulation_clock/test_simulation_clock.cpp
Due: cpp_mock_test

resolve conflict
  simulation/traffic_simulator/test/src/helper_functions.hpp
Due: cpp_mock_test

fix(lanelet_pose): fix after merge - remove quaternion::
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
Due: cpp_mock_test

feat(pose utils): apply requested changes
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/lanelet_pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
  simulation/traffic_simulator/src/helper/helper.cpp
  test_runner/random_test_runner/src/random_test_runner.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

Revert "Optimize `EntityManager::broadcastEntityTransform` to Execute Only Once"
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Revert "fix(RelativeDistanceCondition): Fixed a bug where RelativeDistance showed negative values"
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

feat(openscenario_interpreter): add RelativeLaneRange
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_lane_range.hpp
  openscenario/openscenario_interpreter/src/syntax/relative_lane_range.cpp
Due: unittests-openscenario_interpreter

feat(openscenario_interpreter): add RelativeClearanceCondition(empty implementation)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_clearance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/relative_clearance_condition.cpp
Due: unittests-openscenario_interpreter

test: [RJD-937] to Implement Unit tests on simple_sensor_simulator - Added CMakeLists.txt
  simulation/simple_sensor_simulator/test/CMakeLists.txt
Due: cpp_mock_test

test: [RJD-937] to Implement Unit tests on simple_sensor_simulator - Added unit tests to GridTraversal
  simulation/simple_sensor_simulator/test/src/occupancy_grid/test_grid_traversal.cpp
  simulation/simple_sensor_simulator/test/src/occupancy_grid/test_grid_traversal.hpp
Due: cpp_mock_test

test: [RJD-937] to Implement Unit tests on simple_sensor_simulator - Added unit tests to Box and Vertex classes - Added unit tests to Raycaster class - Added set of macros used in unit tests
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/lidar/test_raycaster.cpp
  simulation/simple_sensor_simulator/test/src/lidar/test_raycaster.hpp
  simulation/simple_sensor_simulator/test/src/primitives/test_box.cpp
  simulation/simple_sensor_simulator/test/src/primitives/test_vertex.cpp
  simulation/simple_sensor_simulator/test/src/utils/expect_eq_macros.hpp
Due: cpp_mock_test
