Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

add Grid class
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
Due: cpp_mock_test

Fix typo
  docs/ReleaseNotes.md
Due: none

add getMin and Max function
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/intersection.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/primitives/primitive.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/intersection.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_sensor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/primitives/box.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/primitives/primitive.cpp
Due: cpp_mock_test

add add primitive line
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_generator.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_sensor.cpp
Due: cpp_mock_test

fix reorder warnings
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/occupancy_grid_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/sensor_simulation.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_generator.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_sensor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/sensor_simulation.cpp
  simulation/simulation_interface/include/simulation_interface/zmq_multi_server.hpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
Due: cpp_mock_test

fix compile errors
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/occupancy_grid_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_sensor.cpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
Due: cpp_mock_test

update ego_pose_north_up logic
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_sensor.cpp
Due: cpp_mock_test

add generate step
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_sensor.cpp
Due: cpp_mock_test

Move variable `connection` into new struct `SimulatorCore`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/procedure.cpp
Due: unittests-openscenario_interpreter

use const &
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/primitives/box.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/primitives/primitive.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/primitives/box.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/primitives/primitive.cpp
Due: cpp_mock_test

add transform function
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/primitives/primitive.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/primitives/primitive.cpp
Due: cpp_mock_test

add index infomation to the cell class
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/occupancy_grid_generator.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/primitives/primitive.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_generator.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/primitives/primitive.cpp
Due: cpp_mock_test

generate occupancy grid data
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/occupancy_grid_generator.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_generator.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_sensor.cpp
Due: cpp_mock_test

Move free function `addMetric` into struct `SimulatorCore::GeneralCommands`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/double.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/scenario_object.hpp
  openscenario/openscenario_interpreter/src/procedure.cpp
  openscenario/openscenario_interpreter/src/syntax/double.cpp
  openscenario/openscenario_interpreter/src/syntax/scenario_object.cpp
Due: unittests-openscenario_interpreter

Move free function `getEntityStatus` into struct `SimulatorCore::ConditionEvaluation`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/acceleration_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/scenario_object.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/acceleration_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_action.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_condition.cpp
Due: unittests-openscenario_interpreter

Move free function `toLanePosition` into struct `SimulatorCore::GeneralCommand`
  .github/workflows/Documentation.yaml
  openscenario/openscenario_interpreter/include/openscenario_interpreter/object.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/world_position.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/type_traits/requires.hpp
  openscenario/openscenario_interpreter/src/syntax/world_position.cpp
Due: unittests-openscenario_interpreter

WIP : Debug
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/element.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/trigger.hpp
  openscenario/openscenario_interpreter/src/syntax/condition_group.cpp
  openscenario/openscenario_interpreter/src/syntax/event.cpp
  openscenario/openscenario_interpreter/src/syntax/trigger.cpp
Due: unittests-openscenario_interpreter

Move some free functions into struct `SimulatorCore`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/acquire_position_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/add_entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/collision_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/stand_still_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/time_headway_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/stand_still_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/time_headway_condition.cpp
Due: unittests-openscenario_interpreter

fix problems in server
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/src/syntax/scenario_object.cpp
  simulation/simulation_interface/src/zmq_multi_client.cpp
  simulation/simulation_interface/src/zmq_multi_server.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

fix compile errors
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/occupancy_grid_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/sensor_simulation.hpp
Due: cpp_mock_test

call attachOccupancyGridSensor function in server
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
Due: cpp_mock_test

Update .gitignore
  .gitignore
Due: none

Update actions support status in OpenSCENARIOSupport.md
  docs/design/OpenSCENARIOSupport.md
Due: none

Update conditions support status in OpenSCENARIOSupport.md
  docs/design/OpenSCENARIOSupport.md
Due: none

Format OpenSCENARIOSupport.md
  docs/design/OpenSCENARIOSupport.md
Due: none

Add "last update date" to bottom of pages
  .github/workflows/Documentation.yaml
  mkdocs.yml
Due: none

Fix typos, grammar errors, and wrong notations
  docs/ReleaseNotes.md
  docs/design/About.md
  docs/design/AutowareAPI.md
  docs/design/BehaviorPlugin.md
  docs/design/NPCBehavior.md
  docs/design/SimpleSensorSimulator.md
  docs/design/SystemArchitecture.md
  docs/design/TierIVScenarioFormatVersion2.md
  docs/tutorials/RunWithAutowareUniverse.md
  docs/tutorials/SimpleDemo.md
  docs/user_guide/scenario_editor/CreateSimpleScenario.md
  docs/user_guide/scenario_editor/RelativePosition.md
  docs/user_guide/scenario_test_runner/HowToWriteWorkflowFile.md
  docs/user_guide/scenario_test_runner/ScenarioTestRunner.md
Due: none

Add traffic sim missing depend
  simulation/traffic_simulator/CMakeLists.txt
Due: cpp_mock_test

Fix links or write TODOs
  docs/README.md
  docs/design/BehaviorPlugin.md
  docs/design/Metrics.md
  docs/design/SimpleSensorSimulator.md
  docs/design/SimulationResultFormat.md
  docs/design/TrafficSimulator.md
  docs/design/ZeroMQ.md
  docs/etc/ContactUs.md
  docs/etc/HowToContribute.md
  docs/package/simple_sensor_simulator/config.json
Due: none

Fix old "Tier IV" annotation
  docs/design/About.md
  docs/design/BehaviorPlugin.md
  docs/design/TierIVScenarioFormatVersion2.md
Due: none

Update Documentation.yaml
  .github/workflows/Documentation.yaml
Due: none

scenario_test_runner raises RuntimeError when openscenario_interpreter doesn't respond to a request
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
  test_runner/scenario_test_runner/scenario_test_runner/lifecycle_controller.py
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

Add missing actions to OpenSCENARIOSupport.md
  docs/design/OpenSCENARIOSupport.md
Due: none

Add documentation link checking github actions
  .github/workflows/DocumentationLinkCheck.yaml
Due: none

Change action trigger of DocumentationLinkCheck
  .github/workflows/DocumentationLinkCheck.yaml
Due: none

Fix StoryboardElementStateCondition registration to perform on `Storyboard` startTransition
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard_element_state_condition.cpp
Due: unittests-openscenario_interpreter

Fix broken links
  docs/README.md
  docs/ReleaseNotes.md
  docs/design/BehaviorPlugin.md
  docs/design/Metrics.md
  docs/design/SimulationResultFormat.md
  docs/design/TrafficSimulator.md
  docs/design/ZeroMQ.md
  docs/etc/HowToContribute.md
  docs/package/About.md
  external/lanelet2_extension_psim/docs/lanelet2_format_extension.md
Due: unittests-lanelet2_extension_psim

Fix old "TierIV" annotation
  .textlintrc
  docs/user_guide/scenario_editor/CreateSimpleScenario.md
  docs/user_guide/scenario_editor/EditExistingScenario.md
  docs/user_guide/scenario_test_runner/ScenarioTestRunner.md
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state_action.hpp
  simulation/traffic_simulator/include/traffic_simulator/math/catmull_rom_spline.hpp
  simulation/traffic_simulator/include/traffic_simulator/math/catmull_rom_spline_interface.hpp
  simulation/traffic_simulator/include/traffic_simulator/math/catmull_rom_subspline.hpp
  simulation/traffic_simulator/include/traffic_simulator/math/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/metrics/metric_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/metrics/metrics_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_controller.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_module_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_sink.hpp
  simulation/traffic_simulator/src/math/catmull_rom_spline.cpp
  simulation/traffic_simulator/src/math/catmull_rom_subspline.cpp
  simulation/traffic_simulator/src/math/distance.cpp
  simulation/traffic_simulator/src/metrics/metric_base.cpp
  simulation/traffic_simulator/src/metrics/metrics_manager.cpp
  simulation/traffic_simulator/src/traffic/traffic_controller.cpp
  simulation/traffic_simulator/src/traffic/traffic_sink.cpp
  test_runner/scenario_test_runner/README.md
Due: cpp_mock_test, unittests-openscenario_interpreter

Fix broken links
  docs/ReleaseNotes.md
Due: none

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
