Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

change include order
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

define member function as template
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

add on_exit flag to the simulator
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

update proto
  docs/ReleaseNotes.md
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/helper/helper.cpp
Due: cpp_mock_test

remove omit
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

chore(launch): add on_exit flag to interpreter
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

chore(interpreter): update error messages
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

update release note
  docs/ReleaseNotes.md
Due: none

Update changelog
  common/math/geometry/CHANGELOG.rst
  common/scenario_simulator_exception/CHANGELOG.rst
  common/simple_junit/CHANGELOG.rst
  common/topic_status_checker/CHANGELOG.rst
  external/concealer/CHANGELOG.rst
  external/lanelet2_matching/CHANGELOG.rst
  map/kashiwanoha_map/CHANGELOG.rst
  mock/cpp_mock_scenarios/CHANGELOG.rst
  openscenario/openscenario_interpreter/CHANGELOG.rst
  openscenario/openscenario_interpreter_example/CHANGELOG.rst
  openscenario/openscenario_interpreter_msgs/CHANGELOG.rst
  openscenario/openscenario_msgs/CHANGELOG.rst
  openscenario/openscenario_preprocessor/CHANGELOG.rst
  openscenario/openscenario_preprocessor_msgs/CHANGELOG.rst
  openscenario/openscenario_utility/CHANGELOG.rst
  openscenario/openscenario_visualization/CHANGELOG.rst
  openscenario/user_defined_value_condition_example/CHANGELOG.rst
  scenario_simulator_v2/CHANGELOG.rst
  simulation/behavior_tree_plugin/CHANGELOG.rst
  simulation/simple_sensor_simulator/CHANGELOG.rst
  simulation/simulation_interface/CHANGELOG.rst
  simulation/traffic_simulator/CHANGELOG.rst
  simulation/traffic_simulator_msgs/CHANGELOG.rst
  test_runner/random_test_runner/CHANGELOG.rst
  test_runner/scenario_test_runner/CHANGELOG.rst
Due: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Update `FollowPolylineTrajectoryAction` to respect dynamic_constraints
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.hpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

update Release Note
  docs/ReleaseNotes.md
Due: none

fix release note
  docs/ReleaseNotes.md
Due: none

fix version
  docs/ReleaseNotes.md
Due: none

Lipsticks
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.hpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

Lipsticks
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

Add word `libunwind` to `custom_spell.json`
  .github/workflows/custom_spell.json
Due: none

remove unused requestSpeedChange call
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

fix indent
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

add description for hard coded parameter
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

add comment
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

remove unused exception
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

add comment for hard coded parameter
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
Due: cpp_mock_test

use std::clamp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/yield_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
  simulation/traffic_simulator/src/color_utils/color_utils.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

use std::clamp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/yield_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
Due: cpp_mock_test

simplify LongitudinalSpeedPlanner::isAccelerating and LongitudinalSpeedPlanner::isDecelerating function
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
Due: cpp_mock_test

set default value as zero
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
  simulation/traffic_simulator/src/entity/misc_object_entity.cpp
Due: cpp_mock_test

simplify function
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
Due: cpp_mock_test

add getLeft/RightLaneIds function to the HdMapUtils class
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Update test scenario `RoutingAction.FollowTrajectoryAction` to Autoware independent
  test_runner/scenario_test_runner/scenario/RoutingAction.FollowTrajectoryAction.yaml
Due: none

chore(topic_status_checker): update timeout
  common/topic_status_checker/README.md
  common/topic_status_checker/src/topic_status_checker.cpp
Due: none

chore(topic_status_checker): update discovery time
  common/topic_status_checker/README.md
  common/topic_status_checker/src/topic_status_checker.cpp
Due: none

Revert "remove unused requestSpeedChange call"
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

fix setLinearAcceleration
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

fix isDecelerating/isAccelerating function
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
Due: cpp_mock_test

chore(topic_status_checker): enable debug output
  common/topic_status_checker/src/topic_status_checker.cpp
Due: none

add getLaneletPoses function
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

fix typo
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
Due: cpp_mock_test

fix!(topic_status_checker): revert #912
  common/topic_status_checker/CHANGELOG.rst
  common/topic_status_checker/CMakeLists.txt
  common/topic_status_checker/README.md
  common/topic_status_checker/package.xml
  common/topic_status_checker/src/topic_status_checker.cpp
  docs/ReleaseNotes.md
Due: none
