Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Activate bulb position inference
  simulation/traffic_simulator/src/traffic_lights/traffic_light.cpp
Due: cpp_mock_test

Add Eigen error workaround notice
  .github/workflows/BuildAndRun.yaml
Due: none

Refactor constant
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
Due: cpp_mock_test

Add comment why include_opposite_direction was changed
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

Try to fix link check
  .github/workflows/DocumentationLinkCheck.yaml
Due: none

Add support for render bulbs without state
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light.cpp
Due: cpp_mock_test

Reduce max-concurrency
  .github/workflows/DocumentationLinkCheck.yaml
Due: none

Force at most one parameter node for each process and guarantee unique name of this node by adding pid to the name
  common/get_parameter/include/get_parameter/get_parameter.hpp
Due: none

fix: add missing MiscObjectBehavior when calling spawn api
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test, unittests-openscenario_interpreter

chore: add allow_goal_modification parameter of ego entity only if allowGoalModification parameter is defined in Controller.Properties
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/properties.hpp
Due: unittests-openscenario_interpreter

chore: override allow_goal_modification in EgoEntity::requestAssignRoute only if Controller.Properties.Property.allowGoalModification is defined
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

feat: resolve AcquirePositionAction.allow_goal_modification parameter and pass to ego entity
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/syntax/acquire_position_action.cpp
Due: unittests-openscenario_interpreter

chore: apply linting
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
Due: unittests-openscenario_interpreter

reduce max-concurrency in link check
  .github/workflows/DocumentationLinkCheck.yaml
Due: none

do link check only if markdown file is changed
  .github/workflows/DocumentationLinkCheck.yaml
Due: none

test change for md file
  README.md
Due: none

rollback README.md
  README.md
Due: none

Add test scenario for allow_goal_modification
  test_runner/scenario_test_runner/scenario/RoutingAction.AcquirePositionAction-allow_goal_modification.yaml
Due: none

fix: sync V2I traffic light in TrafficSignalState::evaluate
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state.cpp
Due: unittests-openscenario_interpreter

RJD-1769 Throw exception when custom ceneterline used
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Throw exception when custom centerline is present to detect scenarios with custom centerline
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_loader.cpp
Due: cpp_mock_test

Rename Properties::exists to contains
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/properties.hpp
Due: unittests-openscenario_interpreter

fix: add workaround to avoid build CI fail due to tinyxml2
  simulation/traffic_simulator/CMakeLists.txt
Due: cpp_mock_test

fix: move workaround
  simulation/traffic_simulator/CMakeLists.txt
  test_runner/random_test_runner/CMakeLists.txt
Due: cpp_mock_test

refactor: convert enum members to lower_snake_case format
  simulation/traffic_simulator/include/traffic_simulator/data_type/behavior.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/lane_change.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/routing_graph_type.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/speed_change.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/include/traffic_simulator/job/job.hpp
  simulation/traffic_simulator/src/data_type/routing_graph_type.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_wrapper.cpp
Due: cpp_mock_test

fix: update missed enum references to lower_snake_case
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/routing_configuration.hpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/helper/helper.cpp
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
  simulation/traffic_simulator/test/src/helper/test_helper.cpp
Due: cpp_mock_test

fix: update remaining enum references to lower_snake_case
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear_lateral_velocity.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear_time.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_longitudinal_distance.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_time.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_continuous_false.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_relative.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_step.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_limit.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_linear.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_relative.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/dynamics_dimension.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/dynamics_shape.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_target_value_type.hpp
  openscenario/openscenario_interpreter/src/syntax/relative_target_lane.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
  simulation/traffic_simulator/test/src/entity/test_misc_object_entity.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

fix: update enum references in pedestrian and crosswalk scenarios
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
Due: unittests-cpp_mock_scenarios

Rename name arguments to entity_name as is in other functions
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

add logger and comments
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

fix compile error
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

fix push tag position
  .github/workflows/Docker.yaml
Due: none

update tests for multiple traffic light
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal_common.cpp
Due: cpp_mock_test

Update scenario_test_runner.launch.py
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

Add traffic_simulator::RouteOptions struct
  simulation/traffic_simulator/include/traffic_simulator/data_type/route_options.hpp
Due: cpp_mock_test

Add EgoEntity::requestAcquirePosition/requestAssignRoute with RouteOptions
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
