Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

add xmlschema to traffic_simulator
  Dockerfile.traffic_simulator
Due: none

bake
  Dockerfile
  Dockerfile.traffic_simulator
  docker-bake.hcl
Due: none

use bake?
  .github/workflows/Docker.yaml
Due: none

fix target name
  docker-bake.hcl
Due: none

remove traffic_simulator
  .github/workflows/Docker.yaml
Due: none

rename stage
  Dockerfile
  Dockerfile.traffic_simulator
Due: none

Push both development and desktop
  .github/workflows/Docker.yaml
Due: none

update version
  .github/workflows/Docker.yaml
Due: none

Fix Docker workflow to include image suffix
  .github/workflows/Docker.yaml
Due: none

chore: delete traffic_simulator images
  .github/workflows/Docker.yaml
Due: none

chore: delete Dockerfile.traffic_simulator
  Dockerfile.traffic_simulator
Due: none

chore: delete traffic_simulator images from docker-bake.hcl
  docker-bake.hcl
Due: none

Add default_vehicle_description package
  test_runner/default_vehicle_description/CMakeLists.txt
  test_runner/default_vehicle_description/config/simulator_model.param.yaml
  test_runner/default_vehicle_description/config/vehicle_info.param.yaml
  test_runner/default_vehicle_description/package.xml
Due: none

Use default_vehicle_description parameters instead of C++ hard-coded parameters
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
  test_runner/scenario_test_runner/package.xml
Due: cpp_mock_test

Add runtime stage to Docker CI workflow
  .github/workflows/Docker.yaml
Due: none

Fix EgoEntitySimulation test
  simulation/simple_sensor_simulator/package.xml
  simulation/simple_sensor_simulator/test/src/vehicle_simulation/test_ego_entity_simulation.cpp
Due: cpp_mock_test

fix(random_test_runner): remove workaround, fixed in https://github.com/ros2/tinyxml2_vendor/pull/23
  test_runner/random_test_runner/CMakeLists.txt
Due: none

Teleport ego entity on stuck for debug
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

Limit stuck jump only just after scenario start
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

Stop using stand still duration for stuck detection
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

Change stuck_timeout 10s -> 7s
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

refactor: Extract CSVLoader class to independent files
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/csv_loader.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_map_acc_geared.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/csv_loader.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_map_acc_geared.cpp
Due: cpp_mock_test

feat: Copy SimModelActuationCmd model from awf/autoware_universe
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/mechanical_controller.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_actuation_cmd.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/mechanical_controller.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_actuation_cmd.cpp
Due: cpp_mock_test

Add actuation command interface to concealer
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/package.xml
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

Integrate actuation command models
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_interface.hpp
  simulation/simple_sensor_simulator/package.xml
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

Add enable_stuck_jump flag to EgoEntity
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

Add stuck jump parameters to scenario_test_runner.launch.py
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

Add nagative acceleration warning
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

feat: [PR 0-1] OSI 3.8.0 ビルド依存の追加
  simulation/osi_interface/CMakeLists.txt
  simulation/osi_interface/package.xml
Due: cpp_mock_test

feat: [PR 0-2] EntityIdRegistry 実装
  simulation/osi_interface/CMakeLists.txt
  simulation/osi_interface/include/osi_interface/entity_id_registry.hpp
  simulation/osi_interface/src/entity_id_registry.cpp
  simulation/osi_interface/test/test_entity_id_registry.cpp
Due: cpp_mock_test

feat: [PR 0-3] Quaternion↔Orientation3d 変換ユーティリティ
  simulation/osi_interface/CMakeLists.txt
  simulation/osi_interface/include/osi_interface/orientation_conversion.hpp
  simulation/osi_interface/src/orientation_conversion.cpp
  simulation/osi_interface/test/test_orientation_conversion.cpp
Due: cpp_mock_test

feat: [PR 0-4] OSI型変換（EntityStatus↔MovingObject/StationaryObject）
  simulation/osi_interface/CMakeLists.txt
  simulation/osi_interface/include/osi_interface/osi_entity_conversions.hpp
  simulation/osi_interface/src/osi_entity_conversions.cpp
  simulation/osi_interface/test/test_osi_entity_conversions.cpp
Due: cpp_mock_test
