Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Fix spellcheck action
  .github/workflows/SpellCheck.yaml
  .github/workflows/SpellCheckAll.yaml
Due: none

Fix spellcheck action
  .github/workflows/SpellCheck.yaml
  .github/workflows/SpellCheckAll.yaml
  .github/workflows/custom_spell.json
Due: none

Merge HowToContribute.md into CONTRIBUTING.md
  CONTRIBUTING.md
  docs/README.md
  docs/developer_guide/CONTRIBUTING.md
  docs/developer_guide/HowToContribute.md
  mkdocs.yml
Due: none

update Release Note
  docs/etc/ReleaseNotes.md
Due: none

apply reformat
  common/geometry_math/src/linear_algebra.cpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/lane_change_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/vehicle_action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/cache.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/traffic/traffic_sink.cpp
  simulation/traffic_simulator/test/src/math/test_bounding_box.cpp
  simulation/traffic_simulator/test/src/math/test_catmull_rom_spline.cpp
  simulation/traffic_simulator/test/src/math/test_collision.cpp
  simulation/traffic_simulator/test/src/math/test_distance.cpp
  simulation/traffic_simulator/test/src/math/test_polynomial_solver.cpp
Due: cpp_mock_test

change namespace
  common/geometry_math/CMakeLists.txt
  docs/developer_guide/BehaviorPlugin.md
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/lane_change_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/vehicle_action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_traffic_light_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/yield_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/traffic/traffic_sink.cpp
  simulation/traffic_simulator/test/CMakeLists.txt
  simulation/traffic_simulator/test/src/math/CMakeLists.txt
  simulation/traffic_simulator/test/src/math/test_bounding_box.cpp
  simulation/traffic_simulator/test/src/math/test_catmull_rom_spline.cpp
  simulation/traffic_simulator/test/src/math/test_collision.cpp
  simulation/traffic_simulator/test/src/math/test_distance.cpp
  simulation/traffic_simulator/test/src/math/test_hermite_curve.cpp
  simulation/traffic_simulator/test/src/math/test_linear_algebra.cpp
  simulation/traffic_simulator/test/src/math/test_polynomial_solver.cpp
  test_runner/random_test_runner/src/lanelet_utils.cpp
Due: cpp_mock_test

enable pass compile in traffic simulator
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

split directory
  common/geometry_math/CMakeLists.txt
  common/geometry_math/include/geometry_math/spline/catmull_rom_spline.hpp
  common/geometry_math/include/geometry_math/spline/catmull_rom_spline_interface.hpp
  common/geometry_math/include/geometry_math/spline/catmull_rom_subspline.hpp
  common/geometry_math/include/geometry_math/spline/hermite_curve.hpp
  common/geometry_math/src/spline/catmull_rom_spline.cpp
  common/geometry_math/src/spline/catmull_rom_subspline.cpp
  common/geometry_math/src/spline/hermite_curve.cpp
  openscenario/openscenario_visualization/src/openscenario_visualization_component.cpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/lane_change_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/vehicle_action_node.hpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/cache.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

standard to 17
  simulation/simple_sensor_simulator/CMakeLists.txt
Due: cpp_mock_test

inline auto
  common/scenario_simulator_exception/include/scenario_simulator_exception/concatenate.hpp
Due: none

traffic simulator pluginlib dependency
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/package.xml
Due: cpp_mock_test

fixed const-non-reference warror
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

is console lambda inline
  openscenario/openscenario_interpreter/include/openscenario_interpreter/console/is_console.hpp
Due: unittests-openscenario_interpreter

split directory
  common/geometry_math/CMakeLists.txt
  common/geometry_math/include/geometry_math/solver/polynomial_solver.hpp
  common/geometry_math/include/geometry_math/spline/hermite_curve.hpp
  common/geometry_math/src/solver/polynomial_solver.cpp
Due: none

fix(concealer): modify build error in humble
  external/concealer/include/concealer/continuous_transform_broadcaster.hpp
  external/concealer/include/concealer/dirty_hack.hpp
Due: unittests-concealer

more build fixes
  openscenario/openscenario_interpreter/include/openscenario_interpreter/console/escape_sequence.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/print.hpp
  openscenario/openscenario_visualization/CMakeLists.txt
  openscenario/openscenario_visualization/package.xml
Due: unittests-openscenario_interpreter

fix(cpp_mock_scenarios): modify build error in both galactic and humble
  mock/cpp_mock_scenarios/CMakeLists.txt
Due: unittests-cpp_mock_scenarios

add compile definition for tf2 geometry msgs
  external/concealer/CMakeLists.txt
Due: unittests-concealer

use c++17 for scenario simulator exception
  common/scenario_simulator_exception/CMakeLists.txt
Due: none

fix(traffic_simulator): modify build error in humble
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/math/transform.cpp
  simulation/traffic_simulator/src/metrics/out_of_range_metric.cpp
Due: cpp_mock_test

fix(openscenario_visualization): modify build error in humble
  openscenario/openscenario_visualization/include/openscenario_visualization/context_panel_plugin.hpp
  openscenario/openscenario_visualization/include/openscenario_visualization/openscenario_visualization_component.hpp
  openscenario/openscenario_visualization/src/context_panel_plugin.cpp
  openscenario/openscenario_visualization/src/openscenario_visualization_component.cpp
Due: none

fix(lanelet2_extension_psim): modify build error in humble
  external/lanelet2_extension_psim/CMakeLists.txt
  external/lanelet2_extension_psim/lib/query.cpp
  external/lanelet2_extension_psim/package.xml
Due: unittests-lanelet2_extension_psim

fix(openscenario_interpreter): modify build error in both galactic and humble
  openscenario/openscenario_interpreter/CMakeLists.txt
Due: unittests-openscenario_interpreter

fix(behavior_tree_plugin): modify build error in both galactic and humble
  simulation/behavior_tree_plugin/CMakeLists.txt
Due: cpp_mock_test

fix(random_test_runner): modify build error in both galactic and humble
  test_runner/random_test_runner/CMakeLists.txt
Due: none

apply clang format
  openscenario/openscenario_visualization/src/context_panel_plugin.cpp
Due: none

docs: update Releace Notes
  docs/etc/ReleaseNotes.md
Due: none

fix concealer subscription macro
  external/concealer/include/concealer/dirty_hack.hpp
Due: unittests-concealer

use std::transform
  common/geometry_math/include/geometry_math/transform.hpp
  common/geometry_math/src/transform.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/primitives/primitive.hpp
  simulation/simple_sensor_simulator/package.xml
  simulation/simple_sensor_simulator/src/sensor_simulation/primitives/primitive.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

add filterByAxis function
  common/geometry_math/include/geometry_math/polygon.hpp
  common/geometry_math/src/polygon.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/primitives/primitive.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/primitives/primitive.cpp
Due: cpp_mock_test

use geometry_math::getMinValue/getMaxValue function
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/primitives/primitive.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/primitives/primitive.cpp
Due: cpp_mock_test

add test cases
  common/geometry_math/CMakeLists.txt
  common/geometry_math/src/polygon.cpp
  common/geometry_math/test/CMakeLists.txt
  common/geometry_math/test/expect_eq_macros.hpp
  common/geometry_math/test/test_bounding_box.cpp
  common/geometry_math/test/test_catmull_rom_spline.cpp
  common/geometry_math/test/test_collision.cpp
  common/geometry_math/test/test_distance.cpp
  common/geometry_math/test/test_hermite_curve.cpp
  common/geometry_math/test/test_linear_algebra.cpp
  common/geometry_math/test/test_polynomial_solver.cpp
Due: none

add test case
  common/geometry_math/test/CMakeLists.txt
  common/geometry_math/test/test_polygon.cpp
Due: none

add test case for polygon
  common/geometry_math/test/test_polygon.cpp
Due: none

Update `AutowareUniverse::request##TYPE` to not to re-request service
  external/concealer/include/concealer/dirty_hack.hpp
Due: unittests-concealer

Update ReleaseNotes
  docs/etc/ReleaseNotes.md
Due: none

ci: add humble distribution
  .github/workflows/Build.yaml
  .github/workflows/BuildIsolate.yaml
  dependency_humble.repos
Due: none

fix dependency
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/package.xml
Due: cpp_mock_test

Fix error message
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
