Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Remove unuse code
  simulation/context_gamma_planner/CMakeLists.txt
  simulation/context_gamma_planner/include/context_gamma_planner/behavior/action_node_base.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/behavior/pedestrian/action_node.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/constraints/constraint_activator_base.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/constraints/constraint_base.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/constraints/pedestrian/constraint_activator.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/constraints/road_edge_constraint.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/constraints/stop_line_constraint.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/constraints/traffic_light_constraint.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/pedestrian_plugin.hpp
  simulation/context_gamma_planner/src/behavior/pedestrian/action_node.cpp
  simulation/context_gamma_planner/src/behavior/pedestrian/follow_lane_action.cpp
  simulation/context_gamma_planner/src/behavior/pedestrian/follow_polyline_trajectory_action.cpp
  simulation/context_gamma_planner/src/constraints/constraint_activator_base.cpp
  simulation/context_gamma_planner/src/constraints/constraint_base.cpp
  simulation/context_gamma_planner/src/constraints/pedestrian/constraint_activator.cpp
  simulation/context_gamma_planner/src/constraints/road_edge_constraint.cpp
  simulation/context_gamma_planner/src/constraints/stop_line_constraint.cpp
  simulation/context_gamma_planner/src/constraints/traffic_light_constraint.cpp
  simulation/context_gamma_planner/src/pedestrian_plugin.cpp
  simulation/context_gamma_planner/src/planner/follow_polyline_trajectory_planner_base.cpp
  simulation/context_gamma_planner/src/planner/goal_planner_base.cpp
Due: cpp_mock_test

Remove unuse code
  simulation/reactive_agent_plugin/CMakeLists.txt
  simulation/reactive_agent_plugin/include/reactive_agent_plugin/plugin.hpp
  simulation/reactive_agent_plugin/package.xml
  simulation/reactive_agent_plugin/plugins.xml
  simulation/reactive_agent_plugin/src/plugin.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
Due: cpp_mock_test

Initialize twist/accel values to zero in DoNothingBehavior when not following trajectory
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

apply reformat
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

Revert changes to enforce CI failure on test errors
  test_runner/random_test_runner/include/random_test_runner/test_executor.hpp
  test_runner/random_test_runner/launch/random_test.launch.py
  test_runner/random_test_runner/test/test_test_executor.cpp
Due: none

revert: Remove rviz node
  test_runner/random_test_runner/launch/random_test.launch.py
Due: none

Add math utilities and solver for context gamma planner
  common/math/geometry/include/geometry/vector3/operator.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/utils/math_utils.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/utils/solver.hpp
  simulation/context_gamma_planner/src/utils/solver.cpp
Due: cpp_mock_test

test: Add rviz node
  test_runner/random_test_runner/launch/random_test.launch.py
Due: none

feat(api): modify traffic_simulator::spawn for fault injection test
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  test_runner/random_test_runner/launch/random_test.launch.py
Due: cpp_mock_test

feat(api): modify startNpcLogic function for fault injection test
  external/zmqpp_vendor/CMakeLists.txt
  external/zmqpp_vendor/package.xml
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

Revert "feat(api): modify traffic_simulator::spawn for fault injection test"
  test_runner/random_test_runner/launch/random_test.launch.py
Due: none

Revert "feat(api): modify startNpcLogic function for fault injection test"
  external/zmqpp_vendor/CMakeLists.txt
  external/zmqpp_vendor/package.xml
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

change startNpcLogic function
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  test_runner/random_test_runner/launch/random_test.launch.py
Due: cpp_mock_test

revert spawnEntity
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

Add collider and ORCA utilities for context gamma planner
  common/math/geometry/include/geometry/vector3/operator.hpp
  mock/cpp_mock_scenarios/src/crosswalk/CMakeLists.txt
  mock/cpp_mock_scenarios/src/crosswalk/parked_at_crosswalk.cpp
  simulation/context_gamma_planner/CMakeLists.txt
  simulation/context_gamma_planner/include/context_gamma_planner/pedestrian_plugin.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/utils/collider.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/utils/math_utils.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/utils/orca.hpp
  simulation/context_gamma_planner/src/pedestrian_plugin.cpp
  simulation/context_gamma_planner/src/utils/collider.cpp
  simulation/context_gamma_planner/src/utils/orca.cpp
  simulation/context_gamma_planner/src/utils/solver.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

Adjustable clock
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/simulation_clock/simulation_clock.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/simulation_clock/simulation_clock.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: cpp_mock_test

fix: change unknown case to default
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
Due: cpp_mock_test

fix distance inaccuracies
  simulation/traffic_simulator/src/behavior/follow_trajectory/polyline_trajectory_positioner.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

Clear lanelet poses in CanonicalizedEntityStatus constructor to prevent stale data
  simulation/traffic_simulator/src/data_type/entity_status.cpp
Due: cpp_mock_test

Simplify isInLanelet method to directly check for non-empty canonicalized lanelet poses
  simulation/traffic_simulator/src/data_type/entity_status.cpp
Due: cpp_mock_test

fix bool conversion issue
  openscenario/openscenario_utility/openscenario_utility/conversion.py
Due: unittests-openscenario_utility

init commit from Yoshimoto-san's patch
  simulation/traffic_simulator/include/traffic_simulator/api/configuration.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_loader.hpp
  simulation/traffic_simulator/package.xml
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_loader.cpp
Due: cpp_mock_test

address build time errors for traffic simulator
  simulation/traffic_simulator/CMakeLists.txt
Due: cpp_mock_test

Remove collider utility and update references in context gamma planner
  simulation/context_gamma_planner/CMakeLists.txt
  simulation/context_gamma_planner/include/context_gamma_planner/pedestrian_plugin.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/utils/collider.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/utils/orca.hpp
  simulation/context_gamma_planner/src/pedestrian_plugin.cpp
  simulation/context_gamma_planner/src/utils/collider.cpp
  simulation/context_gamma_planner/src/utils/orca.cpp
Due: cpp_mock_test

Add ellipse_radius function to calculate ellipse radius based on bounding box and angles
  simulation/context_gamma_planner/include/context_gamma_planner/utils/orca.hpp
  simulation/context_gamma_planner/src/utils/orca.cpp
Due: cpp_mock_test

Update velocity optimization to use planning speed in PedestrianPlugin
  simulation/context_gamma_planner/src/pedestrian_plugin.cpp
Due: cpp_mock_test

Modifies the Dockerfiles for more efficient build processes and smaller final container sizes. Work and testing was assisted by AI using Gemini Pro 2.5
  .dockerignore
  Dockerfile
  Dockerfile.arm64
  Dockerfile.traffic_simulator
Due: none

enable github workflow build of the amd64 container image
  .github/workflows/Docker.yaml
Due: none

transverse mercator support with projection parameters location assumption
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/api/configuration.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_loader.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_loader.cpp
Due: cpp_mock_test

error handling, small cleanup
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_loader.cpp
Due: cpp_mock_test

headers cleanup
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

update orientation availability based on lee-san suggetion
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

Fix header guard typos in follow_polyline_trajectory_action and follow_polyline_trajectory_planner_base headers
  simulation/context_gamma_planner/include/context_gamma_planner/behavior/pedestrian/follow_polyline_trajectory_action.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/planner/follow_polyline_trajectory_planner_base.hpp
Due: cpp_mock_test

Fix header guards and ensure proper formatting in multiple header and source files
  simulation/context_gamma_planner/include/context_gamma_planner/behavior/action_node_base.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/pedestrian_plugin.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/planner/goal_planner_base.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/planner/pedestrian/follow_lane_planner.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/utils/math_utils.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/utils/orca.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/utils/solver.hpp
  simulation/context_gamma_planner/src/utils/orca.cpp
  simulation/context_gamma_planner/src/utils/solver.cpp
Due: cpp_mock_test

Ignore entities marked with __CONTEXT_GAMMA_IGNORE__ in PedestrianPlugin update method
  simulation/context_gamma_planner/src/pedestrian_plugin.cpp
Due: cpp_mock_test

Update parked_at_crosswalk scenario to adjust timing and entity naming for context handling
  mock/cpp_mock_scenarios/src/crosswalk/parked_at_crosswalk.cpp
Due: unittests-cpp_mock_scenarios

make FROM paths in Dockerfiles unambiguous to address local multiarch build failures from cache errors
  Dockerfile
  Dockerfile.arm64
  Dockerfile.traffic_simulator
Due: none
