Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Clean cache code - move cache classes member variables to the end of class declaration
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_wrapper.hpp
Due: cpp_mock_test

Refactor lanelet_wrapper cache classes: make top level public member functions acquire resources and make non-public member functions NOT thread safe
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_wrapper.hpp
Due: cpp_mock_test

Add support for multiplicative errors as well as additive errors
  external/concealer/include/concealer/publisher.hpp
  external/concealer/src/publisher.cpp
  test_runner/scenario_test_runner/config/parameters.yaml
Due: unittests-concealer

Cleanup
  external/concealer/include/concealer/publisher.hpp
  external/concealer/src/publisher.cpp
Due: unittests-concealer

apply ament_clang_format version 16
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
Due: cpp_mock_test

Change sign of slope acceleration and check canonicalization status in acceleration calculation
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
Due: cpp_mock_test

Remove noexcept
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
Due: cpp_mock_test

Adjust comments to use "/// @note" convention
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_wrapper.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
Due: cpp_mock_test

Remove unnecessary comments
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_loader.cpp
Due: cpp_mock_test

Revert "remove function shadowing"
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/src/field_operator_application.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-concealer

Revert "move functions from EgoEntity to FieldOperatorApplication"
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/transition_assertion.hpp
  external/concealer/src/field_operator_application.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  test_runner/random_test_runner/test/test_test_executor.cpp
Due: cpp_mock_test, unittests-concealer

Remove variables used only once
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
Due: unittests-cpp_mock_scenarios

remove recursive calls after merge
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

fix build errors
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/deterministic.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/deterministic_multi_parameter_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distribution_range.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distribution_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_value_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/poisson_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/stochastic_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/value_set_distribution.hpp
Due: unittests-openscenario_interpreter

refactor: store random_engine instead of seed in Scope class
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/syntax/stochastic.cpp
Due: unittests-openscenario_interpreter

chore: use Scope::random_engine in stochastic distribution classes
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/histogram.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/normal_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/poisson_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/probability_distribution_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/uniform_distribution.hpp
  openscenario/openscenario_interpreter/src/syntax/histogram.cpp
  openscenario/openscenario_interpreter/src/syntax/normal_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/poisson_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
  openscenario/openscenario_interpreter/src/syntax/uniform_distribution.cpp
Due: unittests-openscenario_interpreter

chore: format
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_assignment.hpp
  openscenario/openscenario_interpreter/src/syntax/distribution_definition.cpp
  openscenario/openscenario_interpreter/src/syntax/open_scenario_category.cpp
  openscenario/openscenario_validator/include/openscenario_validator/validator.hpp
Due: unittests-openscenario_interpreter

fix: correct name cases to match xsd definition
  openscenario/openscenario_interpreter/src/syntax/histogram_bin.cpp
  openscenario/openscenario_interpreter/src/syntax/normal_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_value_distribution_definition.cpp
  openscenario/openscenario_interpreter/src/syntax/poisson_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/uniform_distribution.cpp
Due: unittests-openscenario_interpreter

refactor: delete Histogram::bin_adaptor
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/histogram.hpp
  openscenario/openscenario_interpreter/src/syntax/histogram.cpp
Due: unittests-openscenario_interpreter

refactor: delete ProbabilityDistributionSet::adaptor
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/probability_distribution_set.hpp
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
Due: unittests-openscenario_interpreter

chore: delete comment-outed code
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/deterministic_multi_parameter_distribution_type.hpp
Due: unittests-openscenario_interpreter

chore: use std::size_t
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
Due: unittests-openscenario_interpreter

refactor: delete helper function for initialization of ProbabilityDistributionSet::elements
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
Due: unittests-openscenario_interpreter

refactor: introduce StochasticParameterDistributionBase class
  openscenario/openscenario_interpreter/include/openscenario_interpreter/parameter_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/histogram.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/normal_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/poisson_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/probability_distribution_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/uniform_distribution.hpp
  openscenario/openscenario_interpreter/src/syntax/histogram.cpp
  openscenario/openscenario_interpreter/src/syntax/normal_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
  openscenario/openscenario_interpreter/src/syntax/uniform_distribution.cpp
Due: unittests-openscenario_interpreter

Revert "Refactor lanelet_wrapper cache classes: make top level public member functions acquire resources and make non-public member functions NOT thread safe"
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_wrapper.hpp
Due: cpp_mock_test

avoid race condition by returning by value
  external/concealer/include/concealer/subscriber_wrapper.hpp
Due: unittests-concealer

Add new algorithm
  common/math/geometry/include/geometry/spline/catmull_rom_spline.hpp
  common/math/geometry/include/geometry/spline/catmull_rom_spline_interface.hpp
  common/math/geometry/include/geometry/spline/catmull_rom_subspline.hpp
  common/math/geometry/src/spline/catmull_rom_subspline.cpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Remove unnecessary conversions
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
Due: cpp_mock_test

Review changes
  common/math/geometry/src/spline/catmull_rom_subspline.cpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Utilize other overloads and add named constexpr parameters
  simulation/traffic_simulator/src/lanelet_wrapper/distance.cpp
Due: cpp_mock_test

Use vector instead of set when many values are inserted and search is performed only once
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

Add ubuntu-22.04-arm to BuildAndRun
  .github/workflows/BuildAndRun.yaml
Due: none

Use build wrapper from env
  .github/workflows/BuildAndRun.yaml
Due: none

Use recommended workflow for SonarQube
  .github/workflows/BuildAndRun.yaml
Due: none

Use separate runner for Docker build
  .github/workflows/Docker.yaml
  Dockerfile.arm64
  docker-bake.hcl
Due: none

Fix sonarqube dir
  .github/workflows/BuildAndRun.yaml
Due: none

Fix test fail due to double precision
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
  simulation/traffic_simulator/test/src/utils/test_distance.cpp
Due: cpp_mock_test
