Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Add new command `length`
  openscenario/map_fragment/package.xml
  openscenario/map_fragment/src/length.cpp
  test_runner/scenario_test_runner/scenario/sample-2.yaml
Due: none

Add new parameter `length_at_least` to command `generate`
  openscenario/map_fragment/src/generate.cpp
  test_runner/scenario_test_runner/scenario/sample-2.yaml
Due: none

Apply review changes
  external/concealer/package.xml
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

Move some functions into header `map_fragment.hpp`
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
  openscenario/map_fragment/src/generate.cpp
Due: none

Update some overloads to free function `makeLanelet`
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
  openscenario/map_fragment/src/generate.cpp
Due: none

feat(behavior_tree): add FollowPolyline action to pedestrian
  simulation/behavior_tree_plugin/config/pedestrian_entity_behavior.xml
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/follow_trajectory_sequence/follow_polyline_trajectory_action.hpp
  simulation/behavior_tree_plugin/src/pedestrian/behavior_tree.cpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
Due: cpp_mock_test

feat(test_runner): add FollowTrajectoryAction for bicycle and pedestrian
  test_runner/scenario_test_runner/config/workflow_example.yaml
  test_runner/scenario_test_runner/scenario/RoutingAction.FollowTrajectoryAction-straight-bicycle.yaml
  test_runner/scenario_test_runner/scenario/RoutingAction.FollowTrajectoryAction-straight-pedestrian.yaml
Due: none

Add experimental command `generate_2` to package `map_fragment`
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
  openscenario/map_fragment/src/generate_2.cpp
Due: none

Add new free function `map_fragment::write`
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
  openscenario/map_fragment/src/generate.cpp
  openscenario/map_fragment/src/generate_2.cpp
Due: none

feat: update scenario for new RTC feature
  test_runner/scenario_test_runner/scenario/CustomCommandAction.RequestToCooperateCommandAction@v1.yaml
Due: none

feat(concealer): import latest ServiceWithValidation class from RobotecAI's work
  external/concealer/include/concealer/utility/service_with_validation.hpp
Due: unittests-concealer

feat(concealer): use task_queue to send RTC service request
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

chore: apply linter
  external/concealer/include/concealer/utility/service_with_validation.hpp
Due: unittests-concealer

Update `makeLanelet` to properly calculate lane direction
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
  openscenario/map_fragment/src/generate.cpp
  openscenario/map_fragment/src/generate_2.cpp
Due: none

Init working version of DistanceCondition freespace
  common/math/geometry/include/geometry/bounding_box.hpp
  common/math/geometry/src/bounding_box.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  test_runner/scenario_test_runner/config/workflow_example.yaml
  test_runner/scenario_test_runner/scenario/ByEntityCondition.EntityCondition.DistanceConditionFreespace.yaml
Due: cpp_mock_test, unittests-openscenario_interpreter

Add new free function `makeCurvature`
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
  openscenario/map_fragment/src/generate_2.cpp
Due: none

Add new free function `map_fragment::makePerpendicularDirection`
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
Due: none

Add experimental function `map_fragment::makeLaneletLeft`
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
  openscenario/map_fragment/src/generate_2.cpp
Due: none

Add experimental function `map_fragment::makeLaneletRight`
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
  openscenario/map_fragment/src/generate_2.cpp
Due: none

Remove second argument from function `makeLanelet(Left|Right)`
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
  openscenario/map_fragment/src/generate_2.cpp
Due: none

feat(concealer): Add support for optional MrmState::PULL_OVER for mrm behavior
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

Fix `makeLineString3d` to handle sign of radius of curvature as expected
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
  openscenario/map_fragment/src/generate_2.cpp
Due: none

Update to use `(left|right)Bound` instead of `(left|right)Bound3d`
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
Due: none

fix(concealer): add history filter for rtc command
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

implement freespace for relative distance condition
  common/math/geometry/include/geometry/bounding_box.hpp
  common/math/geometry/src/bounding_box.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  test_runner/scenario_test_runner/config/workflow_example.yaml
  test_runner/scenario_test_runner/scenario/ByEntityCondition.EntityCondition.RelativeDistanceConditionFreespace.yaml
Due: cpp_mock_test, unittests-openscenario_interpreter

fix spelling
  .github/workflows/custom_spell.json
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Add new parameter `number_of_lanes` to command `generate`
  openscenario/map_fragment/src/generate.cpp
Due: none

Rename command `generate` to `lane`
  openscenario/map_fragment/src/lane.cpp
  test_runner/scenario_test_runner/scenario/sample-2.yaml
Due: none

Add new namespace `default_value` into namespace `map_fragment`
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
  openscenario/map_fragment/src/find.cpp
  openscenario/map_fragment/src/generate_2.cpp
  openscenario/map_fragment/src/lane.cpp
  openscenario/map_fragment/src/length.cpp
Due: none

Remove parameter `length_at_least`
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
  openscenario/map_fragment/src/generate_2.cpp
  openscenario/map_fragment/src/lane.cpp
  test_runner/scenario_test_runner/scenario/sample-2.yaml
Due: none

code refactor
  common/math/geometry/include/geometry/bounding_box.hpp
  common/math/geometry/src/bounding_box.cpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

code refactor
  common/math/geometry/src/bounding_box.cpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  test_runner/scenario_test_runner/scenario/ByEntityCondition.EntityCondition.RelativeDistanceConditionFreespace.yaml
Due: unittests-openscenario_interpreter

Add new command `curve`
  openscenario/map_fragment/src/curve.cpp
  test_runner/scenario_test_runner/scenario/sample-curve.yaml
Due: none

Update HACKING.md
  HACKING.md
Due: none

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
