Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

line lint
  simulation/traffic_simulator/include/traffic_simulator/behavior/validated_entity_status.hpp
  simulation/traffic_simulator/src/behavior/validated_entity_status.cpp
Due: cpp_mock_test

restructure polyline_trajectory namespace
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/behavior/polyline_trajectory_follower/follow_waypoint_controller.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/polyline_trajectory_follower/polyline_trajectory_follower.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/polyline_trajectory_follower/polyline_trajectory_positioner.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/polyline_trajectory_follower/validated_entity_status.hpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/follow_waypoint_controller.cpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/polyline_trajectory_follower.cpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/polyline_trajectory_positioner.cpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/validated_entity_status.cpp
Due: cpp_mock_test

ref(traffic_simulator): improve Configuration, traffic_rules, lanelet_wrapper
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/cpp_scenario_node.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/api/configuration.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/traffic_rules.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_map.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_wrapper.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_map.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/hdmap_utils/traffic_rules.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_wrapper.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
  simulation/traffic_simulator/src/utils/lanelet_map.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
  simulation/traffic_simulator/test/src/traffic_lights/helper.hpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights.cpp
  test_runner/random_test_runner/src/random_test_runner.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

cleaner error throwing
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/follow_trajectory_action.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/polyline_trajectory_follower/polyline_trajectory_positioner.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/polyline_trajectory_follower/validated_entity_status.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/polyline_trajectory_follower.cpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/polyline_trajectory_positioner.cpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/validated_entity_status.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

refer to private untity_status_ field
  simulation/traffic_simulator/include/traffic_simulator/behavior/polyline_trajectory_follower/validated_entity_status.hpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/polyline_trajectory_follower.cpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/polyline_trajectory_positioner.cpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/validated_entity_status.cpp
Due: cpp_mock_test

special memeber function definitions
  simulation/traffic_simulator/include/traffic_simulator/behavior/polyline_trajectory_follower/validated_entity_status.hpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/polyline_trajectory_positioner.cpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/validated_entity_status.cpp
Due: cpp_mock_test

feat(traffic_simulator): separate lanelet_loader, provide const TrafficRulesWithRoutingGraph
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_loader.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_wrapper.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_loader.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_wrapper.cpp
Due: cpp_mock_test

ref(traffic_simulator): apply sonar recommendations to lanelet_wrapper and utils
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_wrapper.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_loader.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/traffic_rules.cpp
Due: cpp_mock_test

Add some test cases for getClosestPoses
  common/math/geometry/test/src/test_bounding_box.cpp
Due: none

Apply clang-format
  common/math/geometry/test/src/test_bounding_box.cpp
Due: none

Fix getClosestPoses with naive algorithm
  common/math/geometry/src/bounding_box.cpp
Due: none

Fix spell mistake
  common/math/geometry/test/src/test_bounding_box.cpp
Due: none

Update class `AutowareUniverse` to not to inherit class `Autoware`
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
Due: cpp_mock_test, unittests-concealer

Unify `getGearCommand` and `getGearCommandImpl`
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

Remove member function `AutowareUniverse::stopAndJoin`
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

Remove abstract class `Autoware`
  external/concealer/CMakeLists.txt
  external/concealer/include/concealer/autoware.hpp
  external/concealer/src/autoware.cpp
Due: unittests-concealer

Update `getGearSign` to support case `GearCommand::NONE`
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

dyn constraints assertions
  simulation/traffic_simulator/include/traffic_simulator/behavior/polyline_trajectory_follower/polyline_trajectory_follower.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/polyline_trajectory_follower/validated_entity_status.hpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/validated_entity_status.cpp
Due: cpp_mock_test

Cleanup class `SubscriberWrapper`
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/include/concealer/subscriber_wrapper.hpp
Due: unittests-concealer

fix:　use lanelet2 functions correctly in HdMapUtils::getLeftLaneletIds/getRightLaneletIds
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

replace true with false for include_opposite_direction option
  mock/cpp_mock_scenarios/src/measurement/get_distance_in_lane_coordinate_distance.cpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

fix: fit test constants to latest algorithm
  simulation/traffic_simulator/test/src/utils/test_distance.cpp
Due: cpp_mock_test

fix: fix pitch angle sign in ego entity simulation test
  simulation/simple_sensor_simulator/test/src/vehicle_simulation/test_ego_entity_simulation.cpp
Due: cpp_mock_test

feat(traffic_simulator): expand lanelet_wrapper: add ::distance and necessary parts of ::route, ::lanelet_map, ::traffic_lights
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_map.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/route.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/traffic_lights.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/distance.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/route.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/traffic_lights.cpp
Due: cpp_mock_test

feat(traffic_simulator, behavior_tree_plugin, openscenario_intepreter): use ::distance from lanelet_wrapper instead of hdmap_utils
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/lanelet_pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/route.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

feat(traffic_simulator): adapt test for lanelet_wrapper
  mock/cpp_mock_scenarios/src/measurement/get_distance_in_lane_coordinate_distance.cpp
  mock/cpp_mock_scenarios/src/measurement/get_distance_to_lane_bound.cpp
  simulation/traffic_simulator/test/src/data_type/test_lanelet_pose.cpp
  simulation/traffic_simulator/test/src/utils/test_distance.cpp
  simulation/traffic_simulator/test/src/utils/test_pose.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

reftraffic_simulator): use lanelet_wrapper in hdmap_utils, remove separated parts, adapt hdmap_utils tests
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

ref(traffic_simulator): little lanelet_wrapper refactor
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_wrapper.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/route.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/traffic_lights.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/distance.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/route.cpp
Due: cpp_mock_test

PolylineTrajectoryPositioner refactor
  simulation/traffic_simulator/include/traffic_simulator/behavior/polyline_trajectory_follower/polyline_trajectory_positioner.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/polyline_trajectory_follower/validated_entity_status.hpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/polyline_trajectory_follower.cpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/polyline_trajectory_positioner.cpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/validated_entity_status.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

spell check
  simulation/traffic_simulator/include/traffic_simulator/behavior/polyline_trajectory_follower/polyline_trajectory_positioner.hpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/follow_waypoint_controller.cpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower/polyline_trajectory_positioner.cpp
Due: cpp_mock_test

feat(traffic_simulator): extend lanelet_wrapper, distance utils and traffic_lights_base for architecture changes
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_loader.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_map.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_lights_base.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

ref(traffic_simulator, behavior_tree_plugin): advanced use lanelet_wrapper in behavior_tree_plugin
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_traffic_light_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/yield_action.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_loader.cpp
  test_runner/random_test_runner/src/lanelet_utils.cpp
Due: cpp_mock_test

ref(traffic_simulator): remove unused methods from hdmap_utils, adapt tests
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

ref(traffic_simulator): apply clang reformat
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_loader.cpp
Due: cpp_mock_test

fix: use pitch-filled map pose in EgoEntitySimulation::calculateAccelerationBySlope test
  simulation/simple_sensor_simulator/test/src/vehicle_simulation/test_ego_entity_simulation.cpp
Due: cpp_mock_test

chore: add test for calculated expected value in EgoEntitySimulation::calculateAccelerationBySlope unit test
  simulation/simple_sensor_simulator/test/src/vehicle_simulation/test_ego_entity_simulation.cpp
Due: cpp_mock_test

refactor: EgoEntitySimulation::calculateAccelerationBySlope unit test
  simulation/simple_sensor_simulator/test/src/vehicle_simulation/test_ego_entity_simulation.cpp
Due: cpp_mock_test

ref(clang): revert undesired changes
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
Due: cpp_mock_test

fix: EgoEntitySimulation::calculateAccelerationBySlope()
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test
