Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

chore(cspell): add my name to the cspell dictionary
  .github/workflows/custom_spell.json
Due: none

Fix `traffic_simulator` distance measurement not working beyond 100m
  simulation/traffic_simulator/include/traffic_simulator/behavior/route_planner.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
Due: cpp_mock_test

Update ReleaseNotes
  docs/ReleaseNotes.md
Due: none

Revert "Delete distribution evaluation implementation"
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distribution_range.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distribution_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/histogram.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_value_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/range.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/user_defined_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/value_set_distribution.hpp
  openscenario/openscenario_interpreter/src/syntax/histogram.cpp
  openscenario/openscenario_interpreter/src/syntax/range.cpp
Due: unittests-openscenario_interpreter

Revert "Delete distribution evaluation implementation"
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/normal_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/poisson_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/probability_distribution_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/uniform_distribution.hpp
  openscenario/openscenario_interpreter/src/syntax/distribution_definition.cpp
  openscenario/openscenario_interpreter/src/syntax/histogram.cpp
  openscenario/openscenario_interpreter/src/syntax/normal_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/poisson_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
  openscenario/openscenario_interpreter/src/syntax/uniform_distribution.cpp
Due: unittests-openscenario_interpreter

doc(interpreter): update comments for stochastic distributions
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/histogram.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/probability_distribution_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/uniform_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/user_defined_distribution.hpp
  openscenario/openscenario_interpreter/src/syntax/uniform_distribution.cpp
Due: unittests-openscenario_interpreter

chore(compile error): fix compile error
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distribution_range.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distribution_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_value_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/user_defined_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/value_set_distribution.hpp
  openscenario/openscenario_interpreter/src/syntax/distribution_range.cpp
  openscenario/openscenario_interpreter/src/syntax/distribution_set.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_value_set.cpp
  openscenario/openscenario_interpreter/src/syntax/user_defined_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/value_set_distribution.cpp
Due: unittests-openscenario_interpreter

Revert "Fix `traffic_simulator` distance measurement not working beyond 100m"
  simulation/traffic_simulator/include/traffic_simulator/behavior/route_planner.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
Due: cpp_mock_test

Remove parameter `max_distance` from `EntityManager::getLongitudinalDistance`
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

fix plan function
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/longitudinal_speed_planning.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/job/job_list.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

Copy dimension info
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

enable run planing jerk
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint.cpp
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

add planning logic for quad acceleration
  simulation/traffic_simulator/include/traffic_simulator/behavior/longitudinal_speed_planning.hpp
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
Due: cpp_mock_test

remove debug line
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_relative.cpp
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

Rename variable
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_builder.cpp
Due: cpp_mock_test

enable consider jerk in world frame npc dynamics model
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

remove boost optional from getLinearJerk function
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/metrics/out_of_range_metric.cpp
  simulation/traffic_simulator/src/metrics/reaction_time_metric.cpp
Due: cpp_mock_test

add AUTO shape
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_relative.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/longitudinal_speed_planning.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/speed_change.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

add NONE option for constraint
  simulation/traffic_simulator/include/traffic_simulator/data_type/speed_change.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

use getCurrentTwist function
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

update Release Note
  docs/ReleaseNotes.md
Due: none

add white line at EOF
  simulation/traffic_simulator_msgs/msg/ActionStatus.msg
Due: cpp_mock_test

feat(interpreter): implement DistributionSet::evaluate
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distribution_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/distribution.hpp
  openscenario/openscenario_interpreter/src/syntax/distribution_set.cpp
Due: unittests-openscenario_interpreter

fix(interpreter): add missing attribute in DistributionRange
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distribution_range.hpp
  openscenario/openscenario_interpreter/src/syntax/distribution_range.cpp
Due: unittests-openscenario_interpreter

feat(interpreter): implement DistributionRange::evaluate
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distribution_range.hpp
  openscenario/openscenario_interpreter/src/syntax/distribution_range.cpp
Due: unittests-openscenario_interpreter

chore(ci): use `autowarefoundation/autoware-github-actions/spell-check`
  .github/workflows/SpellCheck.yaml
Due: none

update message proto
  simulation/simulation_interface/proto/traffic_simulator_msgs.proto
  simulation/simulation_interface/src/conversions.cpp
  simulation/simulation_interface/test/expect_equal_macros.hpp
Due: cpp_mock_test

change default value
  simulation/simulation_interface/test/test_conversions.cpp
Due: cpp_mock_test

fix PERFORMANCE_EQ macro
  simulation/simulation_interface/proto/traffic_simulator_msgs.proto
  simulation/simulation_interface/src/conversions.cpp
  simulation/simulation_interface/test/expect_equal_macros.hpp
Due: cpp_mock_test

Update enumeration `traffic_simulator::behavior::Request`
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/behavior.hpp
  simulation/traffic_simulator/src/data_type/behavior.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

sub module delete
  .gitignore
Due: none

Fix typo
  .textlintrc
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

Add accessors for `Follow*TrajectoryAction` to `BehaviorPluginBase`
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/follow_trajectory.hpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

chore(cspell dict): add engageable to custom dict
  .github/workflows/custom_spell.json
Due: none

chore(.textlintrc): fix typo in .textlintrc
  .textlintrc
Due: none

feat(interpreter): add heartbeat_checker_node
  openscenario/openscenario_interpreter/CMakeLists.txt
  openscenario/openscenario_interpreter/include/openscenario_interpreter/heartbeat_server.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/package.xml
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter_heartbeat_checker_node.cpp
Due: unittests-openscenario_interpreter

Update `FollowPolylineTrajectoryAction` to receive parameter
  openscenario/openscenario_interpreter/src/syntax/follow_trajectory_action.cpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.hpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/follow_trajectory.hpp
Due: cpp_mock_test, unittests-openscenario_interpreter

feature(heartbeat): add timeout to heartbeat_checker_node
  openscenario/openscenario_interpreter/src/openscenario_interpreter_heartbeat_checker_node.cpp
Due: unittests-openscenario_interpreter

fix getCurrentTwist function
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_relative.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios
