Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

fix word choice
  common/math/geometry/include/geometry/solver/polynomial_solver.hpp
Due: none

Update `behavior_plugin` to receive Parameter via `shared_ptr`
  openscenario/openscenario_interpreter/src/syntax/follow_trajectory_action.cpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.hpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/follow_trajectory.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

add note comments for test cases
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

Simplify outermost condition of `FollowPolylineTrajectoryAction::tick`
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

update release note
  docs/ReleaseNotes.md
Due: none

Update changelog
  common/math/geometry/CHANGELOG.rst
  common/scenario_simulator_exception/CHANGELOG.rst
  common/simple_junit/CHANGELOG.rst
  common/status_monitor/CHANGELOG.rst
  external/concealer/CHANGELOG.rst
  external/lanelet2_matching/CHANGELOG.rst
  map/kashiwanoha_map/CHANGELOG.rst
  mock/cpp_mock_scenarios/CHANGELOG.rst
  openscenario/openscenario_experimental_catalog/CHANGELOG.rst
  openscenario/openscenario_interpreter/CHANGELOG.rst
  openscenario/openscenario_interpreter_example/CHANGELOG.rst
  openscenario/openscenario_interpreter_msgs/CHANGELOG.rst
  openscenario/openscenario_preprocessor/CHANGELOG.rst
  openscenario/openscenario_preprocessor_msgs/CHANGELOG.rst
  openscenario/openscenario_utility/CHANGELOG.rst
  openscenario/openscenario_visualization/CHANGELOG.rst
  scenario_simulator_v2/CHANGELOG.rst
  simulation/behavior_tree_plugin/CHANGELOG.rst
  simulation/simple_sensor_simulator/CHANGELOG.rst
  simulation/simulation_interface/CHANGELOG.rst
  simulation/traffic_simulator/CHANGELOG.rst
  simulation/traffic_simulator_msgs/CHANGELOG.rst
  test_runner/random_test_runner/CHANGELOG.rst
  test_runner/scenario_test_runner/CHANGELOG.rst
Due: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-openscenario_interpreter, unittests-openscenario_utility

refactor(traffic_simulator): devide traffic light manager into 2 files
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/conventional_traffic_light_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager_base.hpp
  simulation/traffic_simulator/src/traffic_lights/conventional_traffic_light_manager.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager_base.cpp
Due: cpp_mock_test

feat(traffic_simulator): add V2ITrafficLightManager
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/v2i_traffic_light_manager.hpp
  simulation/traffic_simulator/src/traffic_lights/v2i_traffic_light_manager.cpp
Due: cpp_mock_test

chore: update traffic light manager tests
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light_manager.cpp
Due: cpp_mock_test

Remove unused functions
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entities.hpp
  openscenario/openscenario_interpreter/src/syntax/entities.cpp
Due: unittests-openscenario_interpreter

refactor(traffic_simulator): implement switching of traffic light managers
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light_manager.cpp
Due: cpp_mock_test

feat(traffic_simulator): add empty implementation of V2ITrafficSignalStateAction
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Delete prints that are worthless to the user
  openscenario/openscenario_interpreter/src/syntax/user_defined_value_condition.cpp
Due: unittests-openscenario_interpreter

feat(traffic_simulator): enable to set state in V2ITrafficSignalStateAction
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

replace to stl function
  common/math/geometry/include/geometry/solver/polynomial_solver.hpp
  common/math/geometry/src/solver/polynomial_solver.cpp
Due: none

add comment
  common/math/geometry/src/solver/polynomial_solver.cpp
Due: none

fix test case
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

fix comment
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

modify if
  common/math/geometry/src/solver/polynomial_solver.cpp
Due: none

add description
  common/math/geometry/src/solver/polynomial_solver.cpp
Due: none

use push_back and add comment
  common/math/geometry/src/spline/hermite_curve.cpp
Due: none

use push_back
  common/math/geometry/src/spline/hermite_curve.cpp
Due: none

add description and update dictionary
  .github/workflows/custom_spell.json
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

use auto
  common/math/geometry/include/geometry/solver/polynomial_solver.hpp
  common/math/geometry/src/solver/polynomial_solver.cpp
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

fix compile error
  common/math/geometry/include/geometry/solver/polynomial_solver.hpp
Due: none

refactor(traffic_simulator): rename getTrafficRelation to getTrafficLights
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager_base.hpp
Due: cpp_mock_test

refactor(traffic_simulator): forward getTrafficLights function to each type of traffic lights
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

remove comment
  common/math/geometry/src/solver/polynomial_solver.cpp
Due: none

update comment
  common/math/geometry/src/solver/polynomial_solver.cpp
Due: none

modify comment
  common/math/geometry/src/spline/hermite_curve.cpp
Due: none

add comment
  common/math/geometry/src/spline/hermite_curve.cpp
Due: none

add the
  common/math/geometry/src/spline/hermite_curve.cpp
Due: none

update comment
  common/math/geometry/include/geometry/solver/polynomial_solver.hpp
Due: none

Unify terms (root and solution) that refer to the same object used in variable names and comments
  common/math/geometry/include/geometry/solver/polynomial_solver.hpp
  common/math/geometry/src/solver/polynomial_solver.cpp
Due: none

reduce line
  common/math/geometry/src/solver/polynomial_solver.cpp
Due: none

update comment
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

Lipsticks
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
