Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Delete fixed TODOs
  docs/design/SimulationResultFormat.md
  docs/design/ZeroMQ.md
Due: none

Fix broken links
  docs/tutorials/RunWithDocker.md
  docs/user_guide/scenario_editor/EditExistingScenario.md
  docs/user_guide/scenario_editor/RelativePosition.md
Due: none

rename topic
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/sensor_simulation.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_generator.cpp
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
Due: cpp_mock_test

Update `Storyboard` to call thunks after parsing
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard_element_state_condition.cpp
Due: unittests-openscenario_interpreter

apply reformat
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_generator.cpp
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
Due: cpp_mock_test

Fix broken links
  docs/design/SimpleSensorSimulator.md
  docs/etc/ContactUs.md
  docs/tutorials/RunWithDocker.md
  external/lanelet2_matching/README.md
  openscenario/openscenario_visualization/README.md
  test_runner/random_test_runner/Readme.md
  test_runner/scenario_test_runner/README.md
Due: none

Delete mailto link
  docs/etc/ContactUs.md
Due: none

Change trigger of DocumentationLinkCheck action
  .github/workflows/DocumentationLinkCheck.yaml
Due: none

Delete resolved TODOs
  docs/design/Metrics.md
  docs/design/SimpleSensorSimulator.md
  docs/design/TrafficSimulator.md
Due: none

Arrange with space and new line
  .github/workflows/DocumentationLinkCheck.yaml
  docs/design/BehaviorPlugin.md
Due: none

Remove member function `Controller::assign` and `ObjectController::assign`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/add_entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/assign_controller_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/assign_route_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/controller.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/custom_command_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/delete_entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/lane_change_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/object_controller.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/teleport_action.hpp
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/assign_controller_action.cpp
  openscenario/openscenario_interpreter/src/syntax/controller.cpp
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
  openscenario/openscenario_interpreter/src/syntax/lane_change_action.cpp
  openscenario/openscenario_interpreter/src/syntax/object_controller.cpp
Due: unittests-openscenario_interpreter

fix logic
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_generator.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_sensor.cpp
Due: cpp_mock_test

enable get cell
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
Due: cpp_mock_test

fill with extra cell
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
Due: cpp_mock_test

add autoware->rethrow() in EgoEntity::onUpdate()
  external/concealer/include/concealer/task_queue.hpp
  external/concealer/src/task_queue.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-concealer

Move some free functions into struct `SimulatorCore`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/reach_position_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/simulation_time_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_controller.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/syntax/assign_controller_action.cpp
  openscenario/openscenario_interpreter/src/syntax/lane_change_action.cpp
  openscenario/openscenario_interpreter/src/syntax/scenario_definition.cpp
  openscenario/openscenario_interpreter/src/syntax/simulation_time_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_action.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_controller.cpp
Due: unittests-openscenario_interpreter

throw AutowareError from checkAutowareProcess
  external/concealer/include/concealer/autoware.hpp
  external/concealer/include/concealer/dirty_hack.hpp
  external/concealer/include/concealer/transition_assertion.hpp
  external/concealer/src/autoware.cpp
Due: unittests-concealer

LifycycleNode's timeout is the same as global_timeout
  test_runner/scenario_test_runner/scenario_test_runner/lifecycle_controller.py
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

suppress deprecation warnings
  openscenario/openscenario_utility/setup.py
  test_runner/scenario_test_runner/setup.py
Due: unittests-openscenario_utility

add comments
  openscenario/openscenario_utility/setup.py
  test_runner/scenario_test_runner/setup.py
Due: unittests-openscenario_utility

trivially fix
  openscenario/openscenario_utility/setup.py
  test_runner/scenario_test_runner/setup.py
Due: unittests-openscenario_utility

format
  external/concealer/include/concealer/autoware.hpp
  external/concealer/src/autoware.cpp
Due: unittests-concealer

add transformToWorld function
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
Due: cpp_mock_test

add getCols/Rows function
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
Due: cpp_mock_test

add intersection2D function
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/intersection.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/intersection.cpp
Due: cpp_mock_test

add filterByIntersection function
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
  simulation/simple_sensor_simulator/package.xml
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/primitives/primitive.cpp
Due: cpp_mock_test

enable filter by intersection
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/primitives/primitive.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/primitives/primitive.cpp
Due: cpp_mock_test

Fix `concealer::AutowareUniverse` to publish received `GearCommand` as `GearReport`
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

fix compile error
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
Due: cpp_mock_test

Lipsticks
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

Fix runtime errors & Delete debug codes
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/element.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/trigger.hpp
  openscenario/openscenario_interpreter/src/syntax/condition_group.cpp
  openscenario/openscenario_interpreter/src/syntax/event.cpp
  openscenario/openscenario_interpreter/src/syntax/trigger.cpp
Due: unittests-openscenario_interpreter

add merge function
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
Due: cpp_mock_test

Rename type aliases to match .Universe typenames
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

add filterByIndex function
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
Due: cpp_mock_test

remove debug message
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
Due: cpp_mock_test

add getIntersection2D function
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_generator.cpp
Due: cpp_mock_test

modify constructor
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/occupancy_grid_generator.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_generator.cpp
Due: cpp_mock_test

addgetOutsideLineSegments function
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
Due: cpp_mock_test

add constructor
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
Due: cpp_mock_test

implement raycastToOutside function
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
