Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Update predefined plugin names to use construnst on first use idiom
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

invoke yaml2xosc using python3 command
  openscenario/openscenario_interpreter/src/syntax/catalog_location.cpp
Due: unittests-openscenario_interpreter

fix invoking yaml2xoc
  openscenario/openscenario_interpreter/src/syntax/catalog_location.cpp
Due: unittests-openscenario_interpreter

fix git username
  .github/workflows/Release.yaml
Due: none

Replace flag `is_ego` to string typed plugin name
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Lipsticks
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Lipsticks
  openscenario/openscenario_interpreter/src/syntax/teleport_action.cpp
Due: unittests-openscenario_interpreter

Fix function name to lowerCamelCase from snake_case
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Lipsticks
  openscenario/openscenario_interpreter/include/openscenario_interpreter/pointer.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/catalog.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/catalog_definition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/catalog_location.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/catalog_locations.hpp
  openscenario/openscenario_interpreter/src/syntax/catalog.cpp
  openscenario/openscenario_interpreter/src/syntax/catalog_location.cpp
Due: unittests-openscenario_interpreter

Lipsticks
  openscenario/openscenario_interpreter/include/openscenario_interpreter/functional/fold.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/catalog_reference.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/print.hpp
  openscenario/openscenario_interpreter/src/syntax/catalog_reference.cpp
Due: unittests-openscenario_interpreter

Replace `std::empty(x)` to `x.empty()`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/print.hpp
Due: unittests-openscenario_interpreter

fix logics if the s value unders 0 and overs 1
  simulation/traffic_simulator/include/traffic_simulator/math/catmull_rom_spline.hpp
  simulation/traffic_simulator/include/traffic_simulator/math/hermite_curve.hpp
  simulation/traffic_simulator/src/math/hermite_curve.cpp
Due: cpp_mock_test

modify parameters
  simulation/traffic_simulator/include/traffic_simulator/math/catmull_rom_spline.hpp
  simulation/traffic_simulator/include/traffic_simulator/math/hermite_curve.hpp
  simulation/traffic_simulator/src/math/catmull_rom_spline.cpp
  simulation/traffic_simulator/src/math/hermite_curve.cpp
Due: cpp_mock_test

Revert "modify parameters"
  simulation/traffic_simulator/include/traffic_simulator/math/catmull_rom_spline.hpp
  simulation/traffic_simulator/include/traffic_simulator/math/hermite_curve.hpp
  simulation/traffic_simulator/src/math/catmull_rom_spline.cpp
  simulation/traffic_simulator/src/math/hermite_curve.cpp
Due: cpp_mock_test

Revert "fix logics if the s value unders 0 and overs 1"
  simulation/traffic_simulator/include/traffic_simulator/math/catmull_rom_spline.hpp
  simulation/traffic_simulator/include/traffic_simulator/math/hermite_curve.hpp
  simulation/traffic_simulator/src/math/hermite_curve.cpp
Due: cpp_mock_test

Remove header `utility/indent.hpp`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/type_traits/if_has_stream_output_operator.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/indent.hpp
Due: unittests-openscenario_interpreter

Remove header `utility/pugi_extension.hpp`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/content.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/pugi_extension.hpp
  openscenario/openscenario_interpreter/src/utility/pugi_extension.cpp
Due: unittests-openscenario_interpreter

update ReleaseNOte
  docs/ReleaseNotes.md
Due: none

Remove alias template `IsOptionalElement`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/object.hpp
Due: unittests-openscenario_interpreter

Rename data member `last_checked_values` to `results`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/acceleration_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/acceleration_condition.cpp
Due: unittests-openscenario_interpreter

Rename member function `Scope::localScope` to `Scope::local`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
  openscenario/openscenario_interpreter/src/syntax/acquire_position_action.cpp
  openscenario/openscenario_interpreter/src/syntax/act.cpp
  openscenario/openscenario_interpreter/src/syntax/action.cpp
  openscenario/openscenario_interpreter/src/syntax/assign_route_action.cpp
  openscenario/openscenario_interpreter/src/syntax/by_entity_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/controller.cpp
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
  openscenario/openscenario_interpreter/src/syntax/event.cpp
  openscenario/openscenario_interpreter/src/syntax/lane_change_action.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver_group.cpp
  openscenario/openscenario_interpreter/src/syntax/misc_object.cpp
  openscenario/openscenario_interpreter/src/syntax/open_scenario.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_modify_action.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_set_action.cpp
  openscenario/openscenario_interpreter/src/syntax/pedestrian.cpp
  openscenario/openscenario_interpreter/src/syntax/private.cpp
  openscenario/openscenario_interpreter/src/syntax/route.cpp
  openscenario/openscenario_interpreter/src/syntax/scenario_object.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_action.cpp
  openscenario/openscenario_interpreter/src/syntax/story.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard_element_state_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/teleport_action.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_controller_action.cpp
  openscenario/openscenario_interpreter/src/syntax/vehicle.cpp
Due: unittests-openscenario_interpreter

Remove type alias `XML`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/attribute.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/element.hpp
Due: unittests-openscenario_interpreter

remove torelance check
  simulation/traffic_simulator/src/math/hermite_curve.cpp
Due: cpp_mock_test

use multiple initial value
  simulation/traffic_simulator/include/traffic_simulator/math/catmull_rom_spline.hpp
  simulation/traffic_simulator/include/traffic_simulator/math/hermite_curve.hpp
  simulation/traffic_simulator/src/math/hermite_curve.cpp
Due: cpp_mock_test

fix torelance in test cases
  simulation/traffic_simulator/test/src/math/test_catmull_rom_spline.cpp
  simulation/traffic_simulator/test/src/math/test_hermite_curve.cpp
Due: cpp_mock_test

Lipsticks
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

Update member function `Scope::makeChildScope` to be private
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
  openscenario/openscenario_interpreter/src/syntax/act.cpp
  openscenario/openscenario_interpreter/src/syntax/action.cpp
  openscenario/openscenario_interpreter/src/syntax/catalog_reference.cpp
  openscenario/openscenario_interpreter/src/syntax/controller.cpp
  openscenario/openscenario_interpreter/src/syntax/event.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver_group.cpp
  openscenario/openscenario_interpreter/src/syntax/misc_object.cpp
  openscenario/openscenario_interpreter/src/syntax/pedestrian.cpp
  openscenario/openscenario_interpreter/src/syntax/route.cpp
  openscenario/openscenario_interpreter/src/syntax/scenario_object.cpp
  openscenario/openscenario_interpreter/src/syntax/story.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
  openscenario/openscenario_interpreter/src/syntax/vehicle.cpp
Due: unittests-openscenario_interpreter

Remove member function `Scope::makeChildScope`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

use size_t in Hermite Curve class
  simulation/traffic_simulator/include/traffic_simulator/math/hermite_curve.hpp
  simulation/traffic_simulator/src/math/hermite_curve.cpp
Due: cpp_mock_test

use size_t in catmull rom spline class
  simulation/traffic_simulator/include/traffic_simulator/math/catmull_rom_spline.hpp
  simulation/traffic_simulator/src/math/catmull_rom_spline.cpp
Due: cpp_mock_test

apply reformat
  simulation/traffic_simulator/include/traffic_simulator/math/catmull_rom_spline.hpp
  simulation/traffic_simulator/src/math/hermite_curve.cpp
Due: cpp_mock_test

Remove `Scope`'s private constructor
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

Rename `EnvironmentFrame::scope_name` to `EnvironmentFrame::qualifier`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

Add new type `UnqualifiedIdentifier`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/identifier.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

update Release note for releae 0.5.7
  docs/ReleaseNotes.md
Due: none

Update changelog
  common/scenario_simulator_exception/CHANGELOG.rst
  common/simple_junit/CHANGELOG.rst
  external/concealer/CHANGELOG.rst
  external/lanelet2_extension_psim/CHANGELOG.rst
  map/kashiwanoha_map/CHANGELOG.rst
  mock/cpp_mock_scenarios/CHANGELOG.rst
  openscenario/openscenario_interpreter/CHANGELOG.rst
  openscenario/openscenario_interpreter_msgs/CHANGELOG.rst
  openscenario/openscenario_msgs/CHANGELOG.rst
  openscenario/openscenario_utility/CHANGELOG.rst
  openscenario/openscenario_visualization/CHANGELOG.rst
  openscenario/user_defined_value_condition_example/CHANGELOG.rst
  scenario_simulator_v2/CHANGELOG.rst
  simulation/behavior_tree_plugin/CHANGELOG.rst
  simulation/simple_sensor_simulator/CHANGELOG.rst
  simulation/simulation_interface/CHANGELOG.rst
  simulation/traffic_simulator/CHANGELOG.rst
  simulation/traffic_simulator_msgs/CHANGELOG.rst
  test_runner/scenario_test_runner/CHANGELOG.rst
Due: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

0.5.7
  common/scenario_simulator_exception/CHANGELOG.rst
  common/scenario_simulator_exception/package.xml
  common/simple_junit/CHANGELOG.rst
  common/simple_junit/package.xml
  external/concealer/CHANGELOG.rst
  external/concealer/package.xml
  external/lanelet2_extension_psim/CHANGELOG.rst
  external/lanelet2_extension_psim/package.xml
  map/kashiwanoha_map/CHANGELOG.rst
  map/kashiwanoha_map/package.xml
  mock/cpp_mock_scenarios/CHANGELOG.rst
  mock/cpp_mock_scenarios/package.xml
  openscenario/openscenario_interpreter/CHANGELOG.rst
  openscenario/openscenario_interpreter/package.xml
  openscenario/openscenario_interpreter_msgs/CHANGELOG.rst
  openscenario/openscenario_interpreter_msgs/package.xml
  openscenario/openscenario_msgs/CHANGELOG.rst
  openscenario/openscenario_msgs/package.xml
  openscenario/openscenario_utility/CHANGELOG.rst
  openscenario/openscenario_utility/package.xml
  openscenario/openscenario_visualization/CHANGELOG.rst
  openscenario/openscenario_visualization/package.xml
  openscenario/user_defined_value_condition_example/CHANGELOG.rst
  openscenario/user_defined_value_condition_example/package.xml
  scenario_simulator_v2/CHANGELOG.rst
  scenario_simulator_v2/package.xml
  simulation/behavior_tree_plugin/CHANGELOG.rst
  simulation/behavior_tree_plugin/package.xml
  simulation/simple_sensor_simulator/CHANGELOG.rst
  simulation/simple_sensor_simulator/package.xml
  simulation/simulation_interface/CHANGELOG.rst
  simulation/simulation_interface/package.xml
  simulation/traffic_simulator/CHANGELOG.rst
  simulation/traffic_simulator/package.xml
  simulation/traffic_simulator_msgs/CHANGELOG.rst
  simulation/traffic_simulator_msgs/package.xml
  test_runner/scenario_test_runner/CHANGELOG.rst
  test_runner/scenario_test_runner/package.xml
Due: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Update README.md: assume -> assumes
  openscenario/diagnostic_converter/README.md
Due: none

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
