Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Update `StoryboardElement::run` to not to pure-virtual
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/act.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/event.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/maneuver.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/maneuver_group.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/story.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element.hpp
  openscenario/openscenario_interpreter/src/syntax/act.cpp
  openscenario/openscenario_interpreter/src/syntax/event.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver_group.cpp
  openscenario/openscenario_interpreter/src/syntax/story.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
Due: unittests-openscenario_interpreter

Update `StoryboardElement::stop` to not to pure-virtual
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/act.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/event.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/maneuver.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/maneuver_group.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/story.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element.hpp
  openscenario/openscenario_interpreter/src/syntax/act.cpp
  openscenario/openscenario_interpreter/src/syntax/event.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver_group.cpp
  openscenario/openscenario_interpreter/src/syntax/story.cpp
Due: unittests-openscenario_interpreter

Update syntax `Trigger` to be default constructible
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/act.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/trigger.hpp
  openscenario/openscenario_interpreter/src/syntax/act.cpp
Due: unittests-openscenario_interpreter

configure parameter
  simulation/behavior_tree_plugin/src/pedestrian/pedestrian_action_node.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

remove debug line
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

change hard coded parameter
  simulation/behavior_tree_plugin/src/pedestrian/pedestrian_action_node.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Add new data member `StoryboardElement::stop_trigger`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/act.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/event.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/maneuver.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/maneuver_group.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/story.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/trigger.hpp
  openscenario/openscenario_interpreter/src/syntax/act.cpp
  openscenario/openscenario_interpreter/src/syntax/action.cpp
  openscenario/openscenario_interpreter/src/syntax/event.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver_group.cpp
  openscenario/openscenario_interpreter/src/syntax/story.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
Due: unittests-openscenario_interpreter

Remove member function `Storyboard::stop`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard.hpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
Due: unittests-openscenario_interpreter

review changes: common_spline -> reference_trajectory
  simulation/behavior_tree_plugin/config/vehicle_entity_behavior.xml
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/vehicle_action_node.hpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_traffic_light_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/yield_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/vehicle_action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

remove unused lines
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Add new data member `StoryboardElement::start_trigger`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/object.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/act.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/condition_group.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/event.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/maneuver.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/maneuver_group.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/story.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/trigger.hpp
  openscenario/openscenario_interpreter/src/syntax/act.cpp
  openscenario/openscenario_interpreter/src/syntax/action.cpp
  openscenario/openscenario_interpreter/src/syntax/event.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver_group.cpp
  openscenario/openscenario_interpreter/src/syntax/story.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
  openscenario/openscenario_interpreter/src/syntax/trigger.cpp
Due: unittests-openscenario_interpreter

Remove member function `StoryboardElement::ready`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element.hpp
Due: unittests-openscenario_interpreter

fix typo
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

set z value in getPoint function
  simulation/traffic_simulator/src/math/catmull_rom_spline.cpp
Due: cpp_mock_test

fix invalid command
  docs/tutorials/RunWithDocker.md
Due: none

Remove `lexus_description` from dependency
  test_runner/scenario_test_runner/package.xml
Due: none

Remove `lexus_description` from `dependency_galactic.repos`
  dependency_galactic.repos
Due: none

Cleanup
  simulation/traffic_simulator/package.xml
Due: cpp_mock_test

Remove `lexus_description` from `.gitignore`
  .gitignore
Due: none

Update sample scenario `autoware-simple`
  test_runner/scenario_test_runner/test/scenario/autoware-simple.yaml
Due: none

Update scenario `autoware-simple` to parameterize lane IDs
  test_runner/scenario_test_runner/test/scenario/autoware-simple.yaml
Due: none

Rename scenario `autoware-simple` to `sample`
  test_runner/scenario_test_runner/test/scenario/autoware-simple.yaml
  test_runner/scenario_test_runner/test/scenario/sample.yaml
Due: none

Remove some unused test scenarios
  test_runner/scenario_test_runner/test/scenario/Autoware.Curve.yaml
  test_runner/scenario_test_runner/test/scenario/Autoware.NPCOnTheRoad.yaml
  test_runner/scenario_test_runner/test/scenario/Autoware.Overtake.yaml
  test_runner/scenario_test_runner/test/scenario/AutowareAutoDemo.yaml
  test_runner/scenario_test_runner/test/scenario/simple.xosc
Due: none

Fix scenario `minimal` to work
  test_runner/scenario_test_runner/config/workflow_example.yaml
  test_runner/scenario_test_runner/test/scenario/minimal.yaml
  test_runner/scenario_test_runner/test/scenario/sample.yaml
Due: none

Update `sample` Vehicle parameter to match `sample_vehicle_description`
  test_runner/scenario_test_runner/config/workflow_example.yaml
  test_runner/scenario_test_runner/test/scenario/sample.yaml
Due: none

Move directory `test/scenario` to `scenario`
  test_runner/scenario_test_runner/scenario/ByValueCondition.UserDefinedValueCondition.yaml
  test_runner/scenario_test_runner/scenario/ControllerAction.AssignControllerAction.yaml
  test_runner/scenario_test_runner/scenario/CustomCommandAction.FaultInjectionAction.yaml
  test_runner/scenario_test_runner/scenario/LateralAction.LaneChangeAction.yaml
  test_runner/scenario_test_runner/scenario/LongitudinalAction.SpeedAction.yaml
  test_runner/scenario_test_runner/scenario/Property.isBlind.yaml
  test_runner/scenario_test_runner/scenario/Property.maxSpeed.yaml
  test_runner/scenario_test_runner/scenario/RoutingAction.AcquirePositionAction.yaml
  test_runner/scenario_test_runner/scenario/TrafficSignalControllerAction.yaml
  test_runner/scenario_test_runner/scenario/TrafficSignals.yaml
  test_runner/scenario_test_runner/scenario/all-in-one.yaml
  test_runner/scenario_test_runner/scenario/autoware-simple.yaml
  test_runner/scenario_test_runner/scenario/catalog/controller/all-in-one-controller.yaml
  test_runner/scenario_test_runner/scenario/catalog/maneuver/all-in-one-maneuver.yaml
  test_runner/scenario_test_runner/scenario/catalog/vehicle/all-in-one-vehicle.yaml
  test_runner/scenario_test_runner/scenario/collision.yaml
  test_runner/scenario_test_runner/scenario/distance-condition.yaml
  test_runner/scenario_test_runner/scenario/duplicated-parameter.yaml
  test_runner/scenario_test_runner/scenario/empty.yaml
  test_runner/scenario_test_runner/scenario/failure.yaml
  test_runner/scenario_test_runner/scenario/minimal.yaml
  test_runner/scenario_test_runner/scenario/parameter.yaml
  test_runner/scenario_test_runner/scenario/prefixed-name-reference.yaml
  test_runner/scenario_test_runner/scenario/relative_target_speed.yaml
  test_runner/scenario_test_runner/scenario/sample.yaml
  test_runner/scenario_test_runner/scenario/spawn_relative_world.yaml
  test_runner/scenario_test_runner/scenario/stand-still.yaml
  test_runner/scenario_test_runner/scenario/success.yaml
  test_runner/scenario_test_runner/setup.py
Due: none

Fix some paths `test/scenario` to `scenario`
  test_runner/scenario_test_runner/README.md
  test_runner/scenario_test_runner/config/workflow_example.yaml
  test_runner/scenario_test_runner/scenario/all-in-one.yaml
  test_runner/scenario_test_runner/setup.py
Due: none

udpate ReleaseNote
  docs/ReleaseNotes.md
Due: none

update Release Note
  docs/ReleaseNotes.md
Due: none

Create RunWithAutowareUniverse
  docs/tutorials/RunWithAutowareUniverse
Due: none

Rename RunWithAutowareUniverse to RunWithAutowareUniverse.md
  docs/tutorials/RunWithAutowareUniverse.md
Due: none

Update RunWithAutowareUniverse.md
  docs/tutorials/RunWithAutowareUniverse.md
Due: none

scenario_simulator_v2 without Autoware instruction
  docs/image/RunWithoutAutowareIsEgoNo.png
  docs/image/RunWithoutAutowareIsEgoYes.png
  docs/image/RunWithoutAutowareScenarioRviz.png
  docs/tutorials/RunWithoutAutoware.md
Due: none

enable filter by range
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/sensor_simulation.cpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/helper/helper.cpp
Due: cpp_mock_test

Lipsticks
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/execution_timer.hpp
Due: unittests-openscenario_interpreter

Update `ExecutionTimer::invoke` to receive thunk
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/execution_timer.hpp
Due: unittests-openscenario_interpreter

update release note
  docs/ReleaseNotes.md
Due: none

Add files via upload
  docs/image/awf_universe.png
Due: none

review changes: update design docs
  docs/design/BehaviorPlugin.md
Due: none
