Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

fix description
  .github/workflows/Release.yaml
Due: none

add output
  .github/workflows/Release.yaml
Due: none

remove some description
  .github/workflows/Release.yaml
Due: none

remove cat step
  .github/workflows/Release.yaml
Due: none

remove output step
  .github/workflows/Release.yaml
Due: none

use command output action
  .github/workflows/Release.yaml
Due: none

add white line
  .github/workflows/Release.yaml
Due: none

change action order
  .github/workflows/Release.yaml
Due: none

change link issue action
  .github/workflows/Release.yaml
Due: none

simplify code
  .github/workflows/Release.yaml
Due: none

feat(traffic_simulator): add SimulatorCore API interface to use setV2ITrafficLightExtraInfo
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

feat(openscenario_interpreter): implement TrafficSignalController::restTimeToRed()
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_controller.cpp
Due: unittests-openscenario_interpreter

feat(openscenario_interpreter): use setV2ITrafficLightExtraInfo in TrafficSignalController::evaluate()
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_controller.hpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_controller.cpp
Due: unittests-openscenario_interpreter

refactor(openscenario_interpreter/traffic_simulator)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_controller.hpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_controller.cpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/v2i_traffic_light_info_publisher.hpp
Due: cpp_mock_test, unittests-openscenario_interpreter

refactor(openscenario_interpreter): delete V2ITrafficSignalControllerAction@v1
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

chore(openscenario_interpreter): format
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_controller.hpp
Due: unittests-openscenario_interpreter

refactor(traffic_simulator): use unordered_map for V2ITrafficLightInfoPublisher
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/v2i_traffic_light_info_publisher.hpp
Due: cpp_mock_test

feat(traffic_simulator): publish TrafficLightInfo
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

fix: fix CustomCommandAction.V2ITrafficSignalControllerAction.yaml
  test_runner/scenario_test_runner/scenario/CustomCommandAction.V2ITrafficSignalControllerAction.yaml
Due: none

Fix to avoid redeclaring already declared parameter `initialize_duration`
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/release.md
Due: none

fix pull request template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/Release.yaml
Due: none

remove "please"
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add continue-on-error: true
  .github/workflows/Release.yaml
Due: none

add example
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_samples/example_detail.md
  .github/pull_request_samples/example_simple.md
Due: none

update template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

update release note
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat(ego_entity): update BT, overwrite only FollowTrajectoryAction
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

fix(openscenario_interpreter): read traffic signal state from phases
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_controller.cpp
Due: unittests-openscenario_interpreter

add auto generate release note
  .github/workflows/Release.yaml
Due: none

fix(traffic_simulator): handle infinity value in extra_traffic_signal.min/max_rest_time
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_controller.cpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/v2i_traffic_light_info_publisher.hpp
Due: cpp_mock_test, unittests-openscenario_interpreter

feat: update CustomCommandAction.V2ITrafficSignalControllerAction.yaml
  test_runner/scenario_test_runner/scenario/CustomCommandAction.V2ITrafficSignalControllerAction.yaml
Due: none

refactor: rename scenario
  test_runner/scenario_test_runner/scenario/v2i_rest_time.yaml
Due: none

remove related pull request field
  .github/workflows/Release.yaml
Due: none

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
