Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

add sequence diagram
  docs/developer_guide/SimpleSensorSimulator.md
Due: none

feat(openscenario_interpreter): remove intended_result
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  test_runner/scenario_test_runner/scenario_test_runner/lifecycle_controller.py
Due: unittests-openscenario_interpreter

fix typo
  docs/developer_guide/SimpleSensorSimulator.md
Due: none

feat(test_runner, openscenario_preprocessor): remove expect
  openscenario/openscenario_preprocessor/include/openscenario_preprocessor/openscenario_preprocessor.hpp
  openscenario/openscenario_preprocessor_msgs/srv/Derive.srv
  openscenario/openscenario_preprocessor_msgs/srv/Load.srv
  test_runner/scenario_test_runner/scenario_test_runner/lifecycle_controller.py
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
  test_runner/scenario_test_runner/scenario_test_runner/workflow.py
Due: none

feat(test_runner): remove expect in yamls
  test_runner/scenario_test_runner/config/workflow_example.yaml
  test_runner/scenario_test_runner/scenario_test_runner/resources/workflow_schema.yaml
Due: none

feat(doc): remove expect scenario result
  docs/developer_guide/OpenSCENARIOSupport.md
  docs/user_guide/scenario_test_runner/HowToWriteWorkflowFile.md
Due: none

feat(HDMapUtils): getTrafficLightRelationIDFromWayID
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

chore: reformat
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light.cpp
Due: cpp_mock_test

Support RelativeObjectPosition
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/position.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_object_position.hpp
  openscenario/openscenario_interpreter/src/syntax/acquire_position_action.cpp
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/position.cpp
  openscenario/openscenario_interpreter/src/syntax/reach_position_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_object_position.cpp
  openscenario/openscenario_interpreter/src/syntax/teleport_action.cpp
Due: unittests-openscenario_interpreter

Add test scenario
  test_runner/scenario_test_runner/scenario/spawn_relative_object_position.yaml
Due: none

update OpenSCENARIOSupport.md
  docs/developer_guide/OpenSCENARIOSupport.md
Due: none

added deprecated tf2 messages flag to sss cmakelists
  simulation/simple_sensor_simulator/CMakeLists.txt
Due: cpp_mock_test

do nothing plugin fix
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Update docs/developer_guide/ConfiguringPerceptionTopics.md
  docs/developer_guide/ConfiguringPerceptionTopics.md
Due: none

fix(HDMapUtils): getTrafficLightRelationIDFromWayID
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

galactic build fix
  simulation/simple_sensor_simulator/CMakeLists.txt
Due: cpp_mock_test

update comment
  common/math/geometry/README.md
  common/math/geometry/include/geometry/polygon/line_segment.hpp
  common/math/geometry/include/geometry/spline/hermite_curve.hpp
  common/math/geometry/src/polygon/line_segment.cpp
  common/math/geometry/src/spline/hermite_curve.cpp
  common/math/geometry/test/test_line_segment.cpp
  docs/package/geometry/Doxyfile
Due: none

apply reformat
  common/math/geometry/include/geometry/polygon/line_segment.hpp
  common/math/geometry/src/polygon/line_segment.cpp
Due: none

fix(openscenario_interpreter): counting performed tests
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
Due: unittests-openscenario_interpreter

add comment
  common/math/geometry/test/test_line_segment.cpp
  docs/package/geometry/Doxyfile
Due: none

add comment
  common/math/geometry/test/test_line_segment.cpp
Due: none

add open scenario version
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_object_position.hpp
Due: unittests-openscenario_interpreter

fix(simple_sensor_simulator): provide vehicle parameters
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

renamed V2ITrafficLightManager to V2ITrafficLightPublisher
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/v2i_traffic_light_publisher.hpp
  simulation/traffic_simulator/src/traffic_lights/v2i_traffic_light_publisher.cpp
Due: cpp_mock_test

Update traffic_simulator rviz config
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
Due: cpp_mock_test

Update simulation/traffic_simulator/config/scenario_simulator_v2.rviz
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
Due: cpp_mock_test

chore(traffic_light): fix errors
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager_base.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light.cpp
Due: cpp_mock_test

udpate comment
  common/math/geometry/test/test_line_segment.cpp
Due: none

add comment
  common/math/geometry/README.md
  common/math/geometry/test/test_catmull_rom_spline.cpp
  common/math/geometry/test/test_line_segment.cpp
Due: none

remove plot
  common/math/geometry/test/plot/.gitignore
  common/math/geometry/test/plot/getIntersection2DSValue_collision_point_0_0_0/data.dat
  common/math/geometry/test/plot/getIntersection2DSValue_collision_point_0_0_0/plot.gp
Due: none

fix typo
  common/math/geometry/test/test_catmull_rom_spline.cpp
  common/math/geometry/test/test_line_segment.cpp
Due: none

fix typo
  common/math/geometry/test/test_line_segment.cpp
Due: none

update spell-check dict
  .github/workflows/custom_spell.json
  docs/package/About.md
Due: none

fix(workflow): remove failure.yaml scenarios
  docs/user_guide/scenario_test_runner/HowToWriteWorkflowFile.md
  test_runner/scenario_test_runner/config/workflow_example.yaml
  test_runner/scenario_test_runner/scenario/failure.yaml
Due: none

Assign `this` first to avoid null dereference
  openscenario/openscenario_interpreter/src/syntax/entities.cpp
Due: unittests-openscenario_interpreter

Use `Entities::isAdded`
  openscenario/openscenario_interpreter/src/syntax/teleport_action.cpp
Due: unittests-openscenario_interpreter

Add test scenario for EntitySelection
  test_runner/scenario_test_runner/scenario/EntitySelection/SpeedAction_SpeedCondition.yaml
  test_runner/scenario_test_runner/scenario/EntitySelection/TeleportAction_CollisionCondition.yaml
Due: none

Update openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_object_position.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_object_position.hpp
Due: unittests-openscenario_interpreter

Update openscenario/openscenario_interpreter/src/syntax/relative_object_position.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_object_position.cpp
Due: unittests-openscenario_interpreter
