Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Move altitude_threshold to header and rename to ALTITUDE_THRESHOLD
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/pose.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
Due: cpp_mock_test

Fix: remove trailing underscore from function arguments
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

Remove unused HdMapUtils::getAltitude member function
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Move implementation of HdMapUtils::getConflictingCrosswalkIds to lanelet_wparrer::lanelet_map::conflictingCrosswalkIds
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_map.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
Due: cpp_mock_test

Port the change: ActionNode::getDistanceToTargetEntity -> traffic_simulator::distance::splineDistanceToBoundingBox
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

Move implementation of HdMapUtils::getConflictingLaneIds to lanelet_wrapper::lanelet_map::conflictingLaneIds
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_map.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
Due: cpp_mock_test

Port isAltitudeWithinRange function
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/pose.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
Due: cpp_mock_test

Port ActionNode::getOtherEntitiesCanonicalizedEntityStatuses member function
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

Use traffic_simulator::distance::splineDistanceToBoundingBox instead of ActionNode::getDistanceToTargetEntity
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
Due: cpp_mock_test

Rename isAltitudeMatching -> isAltitudeWithinThreshold
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/pose.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

Port getAltitudeRange function to all spline classes
  common/math/geometry/include/geometry/spline/catmull_rom_spline.hpp
  common/math/geometry/include/geometry/spline/catmull_rom_spline_interface.hpp
  common/math/geometry/include/geometry/spline/catmull_rom_subspline.hpp
  common/math/geometry/src/spline/catmull_rom_spline.cpp
  common/math/geometry/src/spline/catmull_rom_subspline.cpp
Due: none

Stop publish base_link tf when simulate_localization=false
  external/concealer/include/concealer/continuous_transform_broadcaster.hpp
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

add TrafficLightsBase::clearTrafficLightsState/addTrafficLightsState
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights_base.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_lights_base.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal_common.cpp
Due: cpp_mock_test

Add clear/add interface of traffic lights to SimulatorCore::NonStandardOperation
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

Add overwrite flag argument for TrafficSignalState::evaluate to call clear/add functions
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state.hpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state.cpp
Due: unittests-openscenario_interpreter

Fixed a bug in Phase::evaluate where states were missing except for the last state when multiple states existed for the same ID
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/phase.hpp
  openscenario/openscenario_interpreter/src/syntax/phase.cpp
Due: unittests-openscenario_interpreter

Merge pull request #1682 from tier4/fix/RJD-1918-fix-task-queue-service-is-ready-check
  external/concealer/include/concealer/service.hpp
  external/concealer/include/concealer/task_queue.hpp
  external/concealer/src/task_queue.cpp
Due: unittests-concealer

Merge pull request #1693 from tier4/fix/RJD-1921-fix-steering-when-autoware-is-overwritten
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

Handle INF duration in v2i prediction calculation
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_controller.cpp
Due: unittests-openscenario_interpreter

Fix V2I prediction calculation
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_controller.cpp
Due: unittests-openscenario_interpreter

Fix TrafficSignalController::cycleTime
  openscenario/openscenario_interpreter/src/syntax/double.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_controller.cpp
Due: unittests-openscenario_interpreter

Change signal from SIGINT to SIGTERM for process termination in FieldOperatorApplication
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Add record_config_file argument
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: unittests-openscenario_interpreter

feat(traffic_simulator): enable backwards trajectory following to FollowTrajectoryAction by adding follow_backwards parameter with automatic velocity and orientation inversion
  mock/cpp_mock_scenarios/src/follow_trajectory/follow_polyline_trajectory_with_do_nothing_plugin.cpp
  openscenario/openscenario_interpreter/src/syntax/follow_trajectory_action.cpp
  simulation/do_nothing_plugin/src/plugin.cpp
  simulation/simulation_interface/proto/traffic_simulator_msgs.proto
  simulation/simulation_interface/src/conversions.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator_msgs/msg/PolylineTrajectory.msg
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

Delete overwrite argument from TrafficSignalState::evaluate
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state.hpp
  openscenario/openscenario_interpreter/src/syntax/phase.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state.cpp
Due: unittests-openscenario_interpreter

Treat V2I and conventional traffic lights independently and clear states in Phase::evaluate
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/phase.hpp
  openscenario/openscenario_interpreter/src/syntax/phase.cpp
Due: unittests-openscenario_interpreter

Treat `INF` as std::numeric_limits<double>::infinity() in Double
  openscenario/openscenario_interpreter/src/syntax/double.cpp
Due: unittests-openscenario_interpreter

feat(traffic_simulator): add native backward motion support to makeUpdatedStatus
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_waypoint_controller.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
Due: cpp_mock_test

style(traffic_simulator): apply clang reformat
  openscenario/openscenario_interpreter/src/syntax/follow_trajectory_action.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

fix(random_test_runner): remove workaround, fixed in https://github.com/ros2/tinyxml2_vendor/pull/23
  test_runner/random_test_runner/CMakeLists.txt
Due: none

Fix applying orientation noise with quaternion
  external/concealer/src/publisher.cpp
Due: unittests-concealer
