Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

chore: apply linter
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor_command.cpp
Due: none

getStopLinesOnPath() changed from private to public
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
Due: cpp_mock_test

delete space
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
Due: cpp_mock_test

Update the arrival condition to correctly detect early arrivals
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

Lipsticks
  openscenario/openscenario_interpreter/src/syntax/vertex.cpp
Due: unittests-openscenario_interpreter

add const
  common/math/geometry/src/solver/polynomial_solver.cpp
Due: none

entity status zmq update
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/simple_sensor_simulator.hpp
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/simulation_interface/src/conversions.cpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

added hdmaputils to EES
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/traffic_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

use passed state instead of internal state to refill lanelet id
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

moved lanelet filling to TS api
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

using route from EES
  external/concealer/include/concealer/autoware.hpp
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
  simulation/traffic_simulator/include/traffic_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test, unittests-concealer

using hdmap utils from EES
  simulation/traffic_simulator/include/traffic_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

resolve conflict
  .github/workflows/BuildAndRun.yaml
Due: none

use packages-select
  .github/workflows/BuildAndRun.yaml
Due: none

replace terms
  docs/developer_guide/BehaviorPlugin.md
  docs/developer_guide/OpenSCENARIOSupport.md
  docs/developer_guide/TrafficSimulator.md
  docs/image/what_is_scenario_testing_framework.drawio
  docs/package/About.md
  docs/user_guide/QuickStart.md
  docs/user_guide/deprected/SimpleDemo.md
  simulation/behavior_tree_plugin/plugins.xml
  simulation/do_nothing_plugin/plugins.xml
  simulation/simulation_interface/proto/traffic_simulator_msgs.proto
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  test_runner/random_test_runner/include/random_test_runner/data_types.hpp
  test_runner/random_test_runner/include/random_test_runner/file_interactions/junit_xml_reporter.hpp
  test_runner/random_test_runner/include/random_test_runner/test_randomizer.hpp
  test_runner/random_test_runner/src/test_randomizer.cpp
Due: cpp_mock_test

add do_nothing_plugin package
  simulation/do_nothing_plugin/CMakeLists.txt
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
  simulation/do_nothing_plugin/package.xml
  simulation/do_nothing_plugin/plugins.xml
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

fix description
  simulation/do_nothing_plugin/plugins.xml
Due: cpp_mock_test

sort depends
  simulation/do_nothing_plugin/package.xml
Due: cpp_mock_test

add doNothing()
  simulation/do_nothing_plugin/src/plugin.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
Due: cpp_mock_test

add test case for loading do_nothing plugin
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/src/behavior_plugin/CMakeLists.txt
  mock/cpp_mock_scenarios/src/behavior_plugin/load_do_nothing_plugin.cpp
Due: unittests-cpp_mock_scenarios

add description for test case
  mock/cpp_mock_scenarios/src/behavior_plugin/load_do_nothing_plugin.cpp
Due: unittests-cpp_mock_scenarios

update docs
  docs/developer_guide/NPCBehavior.md
Due: none

remove unused white line
  mock/cpp_mock_scenarios/src/behavior_plugin/CMakeLists.txt
Due: unittests-cpp_mock_scenarios

convert json values to string to avoid error
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor_command.cpp
Due: none

Update FaultInjection to prepare Node and Publisher in the parse phase
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

Lipsticks
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

Add `ConfiguringPerceptionTopics` page to documentation
  mkdocs.yml
Due: none

fix cmake lint error
  mock/cpp_mock_scenarios/src/behavior_plugin/CMakeLists.txt
Due: unittests-cpp_mock_scenarios

add source line
  .github/workflows/BuildAndRun.yaml
Due: none

feat(concealer): implement FieldOperatorApplicationFor<AutowareUniverse>::sendCooperateCommands
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

lanelet refill in EES
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

add document
  docs/developer_guide/NPCBehavior.md
Due: none

add @note comment
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
Due: cpp_mock_test

modify comment
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
Due: cpp_mock_test

エンティティの列挙処理の追加
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/selected_entities.hpp
  openscenario/openscenario_interpreter/src/syntax/selected_entities.cpp
Due: unittests-openscenario_interpreter

Add `readNameRef`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/nameref.hpp
Due: unittests-openscenario_interpreter

Format include
  openscenario/openscenario_interpreter/src/syntax/entities.cpp
Due: unittests-openscenario_interpreter

Make `EntityRef` more specific to parsing
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/nameref.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/add_entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/assign_controller_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/delete_entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entities.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_ref.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_world_position.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_profile_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/teleport_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/triggering_entities.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
  openscenario/openscenario_interpreter/src/syntax/actors.cpp
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/assign_controller_action.cpp
  openscenario/openscenario_interpreter/src/syntax/by_entity_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/collision_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/delete_entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/entities.cpp
  openscenario/openscenario_interpreter/src/syntax/entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/private.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_target_lane.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_target_speed.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_world_position.cpp
  openscenario/openscenario_interpreter/src/syntax/selected_entities.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
  openscenario/openscenario_interpreter/src/syntax/teleport_action.cpp
  openscenario/openscenario_interpreter/src/syntax/time_headway_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/triggering_entities.cpp
Due: unittests-openscenario_interpreter

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
