Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

added modifier to awsim sample scenario
  test_runner/scenario_test_runner/scenario/sample_awsim.yaml
Due: none

docs: add HACKING.md
  HACKING.md
Due: none

refactor: apply formatter with clang-format v14
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
Due: cpp_mock_test

docs: add ground_truth/objects topic to Communication.md
  docs/developer_guide/Communication.md
Due: none

apply reformat
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
Due: cpp_mock_test

Update HACKING.md
  HACKING.md
Due: none

fixed map path
  test_runner/scenario_test_runner/scenario/sample_awsim.yaml
Due: none

Add some comments
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Update `shutdownAutoware` to respect the parameter `sigterm_timeout`
  external/concealer/src/field_operator_application.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: unittests-concealer

Cleanup error messages
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Cleanup
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Stanley Algorithm for path following
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/polyline_trajectory_follower.hpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower.cpp
Due: cpp_mock_test

docs: add documentation for detectedObjectGroundTruthPublishingDelay
  docs/developer_guide/ConfiguringPerceptionTopics.md
Due: none

refactor: change property name from isEnableDetectedObjectGroundTruthDelay to detectedObjectGroundTruthPublishingDelay
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/helper/helper.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

feat: add implementation for detectedObjectGroundTruthPublishingDelay
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

chore: apply linter
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

add torelance
  common/math/geometry/src/polygon/line_segment.cpp
Due: none

docs: add Property.detectedObjectGroundTruthPublishingDelay.yaml
  test_runner/scenario_test_runner/scenario/Property.detectedObjectGroundTruthPublishingDelay.yaml
Due: none

refactor: detection_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

fix: make sure generated uuid is valid
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

refactor: detection_sensor.hpp sensor_simulation.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/sensor_simulation.hpp
Due: cpp_mock_test

docs: update ReleaseNotes.md
  docs/ReleaseNotes.md
Due: none

feat(traffic_sim): provide response processing for update of each entity type
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

added MiscObject to awsim_sample scenario
  test_runner/scenario_test_runner/scenario/sample_awsim.yaml
Due: none

fix(traffic_sim): fix nonEgo update - ll2 issue
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

docs: Add ConfiguringPerceptionTopics.md to mkdocs.yml
  mkdocs.yml
Due: none

Added Vehicle model. Code cleaning and dividing TrajectoryFollowers to separate files.
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.hpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/follow_mode_polyline_trajectory_follower.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/polyline_trajectory_follower.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/position_mode_polyline_trajectory_follower.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/vehicle_model.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/polyline_trajectory_follower.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/follow_mode_polyline_trajectory_follower.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/polyline_trajectory_follower.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/position_mode_polyline_trajectory_follower.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/vehicle_model.cpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower.cpp
Due: cpp_mock_test

Rename argument `time` to `current_scenario_time`
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

Update yaw calculation during `FollowTrajectoryAction` for Ego entities
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

Update the Ego entity's FollowTrajectoryAction to take into account the vehicle model type
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

ref(follow_trajectory): improve abstraction (follow modes, vehicle)
  common/math/geometry/include/geometry/vector3/norm.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/follow_trajectory_action.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/follow_mode_polyline_trajectory_follower.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/polyline_trajectory_follower.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/position_mode_polyline_trajectory_follower.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/vehicle_model.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/follow_mode_polyline_trajectory_follower.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/polyline_trajectory_follower.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/position_mode_polyline_trajectory_follower.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/vehicle_model.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

add comment about PR #1074
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
Due: unittests-cpp_mock_scenarios

fix typo
  common/math/geometry/src/polygon/line_segment.cpp
Due: none

Update `update` to use `updateStatus` instead of `setStatus`
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  test_runner/scenario_test_runner/scenario/RoutingAction.FollowTrajectoryAction-autoware.yaml
Due: cpp_mock_test

BehaviorParameters moved to Vehicle model. FrontPosition is now used to compare with target position in follow mode
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/polyline_trajectory_follower.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/vehicle_model.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/follow_mode_polyline_trajectory_follower.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/polyline_trajectory_follower.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/position_mode_polyline_trajectory_follower.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/vehicle_model.cpp
Due: cpp_mock_test

ref(follow_trajectory): remove irrelevant
  simulation/traffic_simulator/src/behavior/follow_trajectory/follow_mode_polyline_trajectory_follower.cpp
Due: cpp_mock_test

ref(follow_trajectory): apply clang reformat
  common/math/geometry/include/geometry/vector3/norm.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/follow_mode_polyline_trajectory_follower.cpp
Due: cpp_mock_test

ref(follow_trajectory): add missing EOF
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/utils.hpp
Due: cpp_mock_test

Codestyle changes
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/follow_mode_polyline_trajectory_follower.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/polyline_trajectory_follower.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/position_mode_polyline_trajectory_follower.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/vehicle_model.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/follow_mode_polyline_trajectory_follower.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/polyline_trajectory_follower.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/position_mode_polyline_trajectory_follower.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/vehicle_model.cpp
Due: cpp_mock_test

updated npc in awsim_sample scenario
  test_runner/scenario_test_runner/scenario/sample_awsim.yaml
Due: none
