Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Return absolute value of distance in distance_along_lanelet in follow_trajectory
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
Due: cpp_mock_test

apply reformat
  common/math/geometry/src/spline/hermite_curve.cpp
Due: none

Fix missing trailing underscores after merge
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

Update simulation/traffic_simulator/src/utils/pose.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

append curve_waypoints instead of straight_waypoints
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
Due: cpp_mock_test

use const &
  common/math/geometry/include/geometry/vector3/operator.hpp
Due: none

check resolution is not zero
  common/math/geometry/src/spline/catmull_rom_spline.cpp
Due: none

Add RouteOption v2
  simulation/traffic_simulator/include/traffic_simulator/data_type/route_option.hpp
Due: cpp_mock_test

Define conversion of RouteOption from v1 to v2
  simulation/traffic_simulator/include/traffic_simulator/data_type/route_option.hpp
Due: cpp_mock_test

Add /api/routing/set_route API to FieldOperatorApplication
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Implement FieldOperatorApplication::setRoutePoints
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Re-implement FieldOperatorApplication::plan with FieldOperatorApplication::setRoutePoints
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Implement FieldOperatorApplication::setRoute
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Adjust name of (traffic_simulator::)RouteOption
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

Change redirect target of requestAssignRoute(lanelet_pose[])
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

Switch by use_lane_level_specification_for_waypoints flag in EgoEntity::requestAssignRoute
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

Collect parameter and use option in AssignRouteAction::start
  openscenario/openscenario_interpreter/src/syntax/assign_route_action.cpp
Due: unittests-openscenario_interpreter

Add sample scenario RoutingAction.AssignRouteAction-use_lane_level_specification_for_waypoint.yaml
  test_runner/scenario_test_runner/scenario/RoutingAction.AssignRouteAction-use_lane_level_specification_for_waypoint.yaml
Due: none

Interpolate and unique lanelet array for set route API
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

Use route and waypoint appropriately (route = waypoints + goal)
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

use setRoutePoints instead of plan in EgoEntity::requestAssignRoute
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

Delete debug message
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

configration => configuration
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

Add covariance matrix validation
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
Due: cpp_mock_test

Reserve protobuf array before append
  simulation/simulation_interface/src/conversions.cpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

reserve proto array before push_back
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_lights_base.cpp
Due: cpp_mock_test

add install py files
  test_runner/scenario_test_runner/CMakeLists.txt
Due: none

remove unuse function
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
Due: cpp_mock_test

Remove lanelet_pose_valid field from EntityStatus.msg
  simulation/traffic_simulator_msgs/msg/EntityStatus.msg
Due: cpp_mock_test

Restore lanelet_pose_valid field in LaneletPose.msg
  simulation/traffic_simulator_msgs/msg/LaneletPose.msg
Due: cpp_mock_test

Set default value for lanelet_pose_valid in LaneletPose.msg to false
  simulation/traffic_simulator_msgs/msg/LaneletPose.msg
Due: cpp_mock_test

Refactor CanonicalizedEntityStatus to support multiple lanelet poses
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
Due: cpp_mock_test

Restore lanelet_pose_valid field in LaneletPose message
  simulation/simulation_interface/proto/traffic_simulator_msgs.proto
Due: cpp_mock_test

Add overloaded constructor to CanonicalizedEntityStatus for optional lanelet pose
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
Due: cpp_mock_test

Add getLaneletPose method to CanonicalizedEntityStatus for improved lanelet pose access
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
Due: cpp_mock_test

Refactor lanelet pose handling in EntityStatus to support multiple lanelet poses
  simulation/simulation_interface/src/conversions.cpp
  simulation/simulation_interface/test/expect_equal_macros.hpp
  simulation/simulation_interface/test/test_conversions.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

Refactor ActionNode to isolate side effects via pure virtual methods
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/follow_lane_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/follow_trajectory_sequence/follow_polyline_trajectory_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/walk_straight_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_lane_sequence/follow_front_entity_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_lane_sequence/follow_lane_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_lane_sequence/move_backward_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_lane_sequence/stop_at_stop_line_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_lane_sequence/stop_at_traffic_light_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_lane_sequence/yield_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/lane_change_action.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/behavior_tree_plugin/src/pedestrian/walk_straight_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/move_backward_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_traffic_light_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/yield_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
Due: cpp_mock_test

Rename FieldOperatorApplication::setRoute/setRoutePoints to plan
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/src/field_operator_application.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-concealer

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
