Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

ref(traffic_simulator, behavior_tree_plugin): revert unnecessary changes
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

fix(traffic_simulator): fix behavior_plugin_base
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
Due: cpp_mock_test

ref(traffic_simulator): move toCanonicalizeLaneletPose to CanonicalizedEntityStatus::set, little tidy up
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

fix(conversions, behavior_plugin_base): add new line at the end
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
Due: cpp_mock_test

add map, stopLine tests
  simulation/traffic_simulator/test/map/crossroads_with_stoplines/lanelet2_map.osm
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

rename symbol
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

refactor: delete in-memory xml schema from openscenario_validator
  openscenario/openscenario_validator/CMakeLists.txt
  openscenario/openscenario_validator/configure/schema.cpp
  openscenario/openscenario_validator/include/openscenario_validator/schema.hpp
  openscenario/openscenario_validator/include/openscenario_validator/validator.hpp
Due: none

update rviz config
  mock/cpp_mock_scenarios/rviz/mock_test.rviz
Due: unittests-cpp_mock_scenarios

refactor: use noNamespaceSchemaLocation for validation in openscenario_validator
  openscenario/openscenario_validator/CMakeLists.txt
  openscenario/openscenario_validator/include/openscenario_validator/validator.hpp
  openscenario/openscenario_validator/package.xml
  openscenario/openscenario_validator/schema/OpenSCENARIO-1.2.xsd
  openscenario/openscenario_validator/schema/OpenSCENARIO-1.3.xsd
Due: none

fix operator*
  common/math/geometry/src/linear_algebra.cpp
Due: none

fix frame_id
  simulation/traffic_simulator/src/visualization/visualization_component.cpp
Due: cpp_mock_test

fix orientation
  simulation/traffic_simulator/src/visualization/visualization_component.cpp
Due: cpp_mock_test

refactor: delete unnecessary diff
  docs/release/ReleaseNotes.md
Due: none

ref(behavior_tree_plugin): rename updated_status variable
  simulation/behavior_tree_plugin/src/pedestrian/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

ref(do_notching_plugin): remove unecessary comment
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

ref(rviz): revert changes ss2 config
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
Due: cpp_mock_test

ref(rviz): add new line at the end - ss2 config
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
Due: cpp_mock_test

ref(rviz): fix last line ss2 config
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
Due: cpp_mock_test

chore: add TIER IV extension `conditionEdge="sticky"`
  openscenario/openscenario_validator/schema/OpenSCENARIO-1.3.xsd
Due: none

refactor:
  openscenario/openscenario_interpreter/src/syntax/log_normal_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/open_scenario_category.cpp
  openscenario/openscenario_preprocessor/package.xml
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor.cpp
Due: unittests-openscenario_interpreter

chore: port ControllerAction.AssignControllerAction.yaml to OpenSCENARIO 1.3
  test_runner/scenario_test_runner/scenario/ControllerAction.AssignControllerAction.yaml
Due: none

fix(traffic_simulator): improve assertions in CanonicalizedEntityStatus::set
  simulation/traffic_simulator/src/data_type/entity_status.cpp
Due: cpp_mock_test

ref(ego_entity_simulation, sim_model_interface): use world_relative_position_z_ to store Oz position
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_interface.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared.cpp
Due: cpp_mock_test

Add new struct `TimeToCollisionCondition`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/time_to_collision_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/entity_condition.cpp
Due: unittests-openscenario_interpreter

Add new struct `TimeToCollisionConditionTarget`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/time_to_collision_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/time_to_collision_condition_target.hpp
Due: unittests-openscenario_interpreter

Add new structs `RelativeSpeedCondition` and `DirectionalDimension`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/directional_dimension.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_speed_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/time_to_collision_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/entity_condition.cpp
Due: unittests-openscenario_interpreter

refactor: clean up CMakeLists.txt in openscenario_preprocessor
  openscenario/openscenario_preprocessor/CMakeLists.txt
Due: none

Add clipTrajectoryFromLaneletIds tests
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

ref(ego_entity_simulation): apply clang reforamt
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

Change HdMapUtils::clipTrajectoryFromLaneletIds test reference values
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

Add static member function `ConditionEvaluation::evaluateRelativeSpeed`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/attribute.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_speed_condition.hpp
Due: unittests-openscenario_interpreter

Add comment about the issue
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

feat(traffic_simulator): init lanelet namespace based on hdmap_utils
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet.hpp
  simulation/traffic_simulator/src/utils/lanelet.cpp
Due: cpp_mock_test

feat(traffic_simulator): use lanelet namespace in distance and pose utils
  simulation/traffic_simulator/src/utils/distance.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

feat(traffic_simulator): use lanelet namespace in entire traffic_simulator
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/behavior/route_planner.cpp
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/traffic/traffic_controller.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_publisher.cpp
Due: cpp_mock_test

feat(behavior_tree): use lanelet namespace in entire behavior_tree
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/move_backward_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/yield_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
Due: cpp_mock_test

Fix style in HdMapUtils tests
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

Add test expect macros with information stream
  simulation/traffic_simulator/test/src/expect_eq_macros.hpp
Due: cpp_mock_test

Use loop in tests with vectors
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
