Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Revert to previous calculateCovariance function and adapt new one to use the same convention
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
Due: cpp_mock_test

Use boost::math::constants
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
Due: cpp_mock_test

Move NormalDistribution specialization for Imu to concealer package
  external/concealer/include/concealer/publisher.hpp
  external/concealer/package.xml
  external/concealer/src/publisher.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/imu/imu_sensor.cpp
Due: cpp_mock_test, unittests-concealer

Cleanup
  simulation/simple_sensor_simulator/src/sensor_simulation/imu/imu_sensor.cpp
Due: cpp_mock_test

Improve IMU NormalDistribution deactivation
  external/concealer/include/concealer/publisher.hpp
  external/concealer/src/publisher.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
Due: cpp_mock_test, unittests-concealer

Revert Publisher::operator() to non-const and Publisher::randomize to non-mutable
  external/concealer/include/concealer/publisher.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
Due: cpp_mock_test, unittests-concealer

change max_detect_length 40m to 10m
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
Due: cpp_mock_test

Add arm64 build test
  .github/workflows/BuildAndRun.yaml
Due: none

Fix `FieldOperatorApplication::plan` to correctly handle state `initializing`
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

chore: update agnocast_wrapper package version manually to pass the CI
  common/agnocast_wrapper/package.xml
Due: none

chore: fill package description
  common/agnocast_wrapper/package.xml
Due: none

RJD-1509 Filter nearest NPCs to calculate distance
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

Review changes
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/pedestrian_action_node.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/vehicle_action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/pedestrian_action_node.cpp
  simulation/behavior_tree_plugin/src/vehicle/vehicle_action_node.cpp
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

feat: add record_option to forward options to ros2 bag record command
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/record.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: unittests-openscenario_interpreter

Resolve cpp_mock_scenarios failures and clang format
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

feature: re-introduce unknown support for traffic light
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
Due: cpp_mock_test

RJD-1769 Force creating centerline for all lanelets
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_loader.cpp
Due: cpp_mock_test

Update simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

fix build error in FieldOperatorApplication::plan
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

resolve allow_goal_modification from Properties and from parameters
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

set allow_goal_modification ros param only if property is set
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/properties.hpp
Due: unittests-openscenario_interpreter

add allow_goal_modification argument to EgoEntity::requestReplanRoute
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

add allow_goal_modification.yaml
  test_runner/scenario_test_runner/scenario/allow_goal_modification.yaml
Due: none

Cleanup
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

Fix spelling after merge changes
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

Add allow_goal_modification argument to FieldOperatorApplication::plan
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/src/field_operator_application.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-concealer

Add allow_goal_modification argument to EgoEntity::requestAcquirePosition / requestAssignRoute
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

Fix parameter comments
  test_runner/scenario_test_runner/config/parameters.yaml
Due: none

fix(random_test_runner) Fix Rviz config path and NPC start condition
  test_runner/random_test_runner/include/random_test_runner/test_executor.hpp
  test_runner/random_test_runner/launch/random_test.launch.py
  test_runner/random_test_runner/test/test_test_executor.cpp
Due: none

Fix (mistakenly deleted) scenario test
  .github/workflows/BuildAndRun.yaml
Due: none

Fix build error (temporary)
  .github/workflows/BuildAndRun.yaml
Due: none

Add bulb position inference feature to HdMapUtils
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Fix missing override
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights.hpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
