Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

fix(concealer): remove unnecessary wait for autoware states
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

fix get lanelet length ID
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

remove deprecated function in humble
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

chore(interpreter): fix include guard
  common/scenario_simulator_exception/include/scenario_simulator_exception/concatenate.hpp
  common/scenario_simulator_exception/include/scenario_simulator_exception/fold.hpp
Due: none

chore(interpreter): fix include path
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distribution_range.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distribution_set.hpp
Due: unittests-openscenario_interpreter

feat(interpreter): add SingleParameterList struct
  openscenario/openscenario_interpreter/include/openscenario_interpreter/random/stochastic_distribution_sampler.hpp
Due: unittests-openscenario_interpreter

refactor(interpreter): initialize randomSeed with 0
  openscenario/openscenario_interpreter/src/syntax/stochastic.cpp
Due: unittests-openscenario_interpreter

refactor(interpreter): use Scope::seed
  openscenario/openscenario_interpreter/include/openscenario_interpreter/random/stochastic_distribution_sampler.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/histogram.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/normal_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/poisson_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/probability_distribution_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/uniform_distribution.hpp
  openscenario/openscenario_interpreter/src/syntax/histogram.cpp
  openscenario/openscenario_interpreter/src/syntax/normal_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/poisson_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
  openscenario/openscenario_interpreter/src/syntax/uniform_distribution.cpp
Due: unittests-openscenario_interpreter

Add naive implentation of `getTraveledDistance`
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

Fix typo
  .github/workflows/ScenarioTest.yaml
  .github/workflows/custom_spell.json
  .textlintrc
Due: none

refactor(interpreter): initialize Scope::seed with loaded value from scenario
  openscenario/openscenario_interpreter/src/syntax/stochastic.cpp
Due: unittests-openscenario_interpreter

refactor(interpreter): use static_cast to clarify what the code is meant
  openscenario/openscenario_interpreter/src/syntax/stochastic.cpp
Due: unittests-openscenario_interpreter

Update FollowPolylineTrajectoryAction to respect time limits, albeit imperfectly
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  test_runner/scenario_test_runner/scenario/RoutingAction.FollowTrajectoryAction.yaml
Due: cpp_mock_test

Lipsticks
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

Add closure `exhausted`, `advance` and `discard`
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

add member variable
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

Update `FollowPolylineTrajectoryAction` to consider `max_deceleration_rate`
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

Add new struct `openscenario_interpreter::LifecycleNode`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

Update `CMakeLists.txt` to not build `libopenscenario_interpreter.so` as component
  openscenario/openscenario_interpreter/CMakeLists.txt
  openscenario/openscenario_interpreter/package.xml
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

delete metric when the entity was despawned
  simulation/traffic_simulator/src/metrics/out_of_range_metric.cpp
Due: cpp_mock_test

apply format
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
Due: cpp_mock_test

remove ScenarioTest
  .github/workflows/ScenarioTest.yaml
  test_runner/scenario_test_runner/test/test_launch.py
Due: none

fix typo
  test_runner/scenario_test_runner/test/test_launch.py
Due: none

modify test
  test_runner/scenario_test_runner/test/test_launch.py
Due: none

apply reformat
  test_runner/scenario_test_runner/test/test_launch.py
Due: none

fix function call
  test_runner/scenario_test_runner/test/test_launch.py
Due: none

add --include-eol-distros
  .github/workflows/ScenarioTest.yaml
Due: none

change options
  .github/workflows/ScenarioTest.yaml
Due: none

add search_count arg in getNearbyLaneletIds func
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

requestAssignRoute support setGoalPoses
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
Due: cpp_mock_test

add vehicle goalposes
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

Fix wrong merge
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/pedestrian_action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/pedestrian_action_node.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
Due: cpp_mock_test

Update custom_spell.json
  .github/workflows/custom_spell.json
Due: none

fix(traffic_simulator): import bug fix from universe #2437
  simulation/traffic_simulator/src/vehicle_model/sim_model_delay_steer_acc_geared.cpp
  simulation/traffic_simulator/src/vehicle_model/sim_model_ideal_steer_acc_geared.cpp
Due: cpp_mock_test

[WIP] Move metrics functionalities to entity_base
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/monitor/crosswalk_momentary_stop_monitor.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/monitor/momentary_stop_monitor.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/monitor/out_of_range_monitor.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/monitor/reaction_time_monitor.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/monitor/stop_line_momentary_stop_monitor.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/monitor/crosswalk_momentary_stop_monitor.cpp
  simulation/traffic_simulator/src/entity/monitor/out_of_range_monitor.cpp
  simulation/traffic_simulator/src/entity/monitor/reaction_time_monitor.cpp
  simulation/traffic_simulator/src/entity/monitor/stop_line_momentary_stop_monitor.cpp
Due: cpp_mock_test

Lipsticks
  openscenario/openscenario_interpreter/CMakeLists.txt
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

Add experimental package `status_monitor`
  common/status_monitor/CMakeLists.txt
  common/status_monitor/include/status_monitor/status_monitor.hpp
  common/status_monitor/package.xml
  common/status_monitor/src/status_monitor.cpp
Due: none

Update `position_noise_distribution` to allocate on the stack instead of the heap
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test
