Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Optimize polygon search
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

Add cpp mock scenario that demonstrates the performance limitations
  mock/cpp_mock_scenarios/src/traffic_source/CMakeLists.txt
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_large.cpp
Due: unittests-cpp_mock_scenarios

Add API comment
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test

Fix scenarios
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_delay.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_high_rate.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_large.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_mixed.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_multiple.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_outside_lane.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_pedestrian.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_vehicle.cpp
Due: unittests-cpp_mock_scenarios

feat(distance): init separate class for distance calc
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/distance_utils.hpp
  simulation/traffic_simulator/src/distance_utils.cpp
Due: cpp_mock_test

feat(traffic_simulator): add getEntity, getHdmapUtils, getName
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/lanelet_pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

Rename unknown variables and functions for spell-check test
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_source.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

feat(distance): use separated getLateral and getLongitudinal distances
  mock/cpp_mock_scenarios/src/measurement/get_distance_in_lane_coordinate_distance.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

entity_base tests; code cleanup
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

entity_base tests
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

feat(distance): use separated getBoundingBox..
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/lanelet_pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/distance_utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/distance_utils.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

feat(pose): use separated getRelativePose, makeNative**, convert and canonicalize, move poses casts definition
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/syntax/lane_position.cpp
  openscenario/openscenario_interpreter/src/syntax/world_position.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/distance_utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/distance_utils.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

chore: delete unnecessary diff
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

Update scenario_test_runner.launch.py
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

refactor: use "exit status" instead of "exit code"
  .github/workflows/workflow.sh
Due: none

refactor: use lower snake case for variable name in sh script
  .github/workflows/workflow.sh
Due: none

refactor: use 2 spaces as indent
  .github/workflows/workflow.sh
Due: none

refactor: replace cmd with command
  .github/workflows/workflow.sh
Due: none

refactor: place "then" in new line
  .github/workflows/workflow.sh
Due: none

feat(distance): use separated getDistanceToBound
  mock/cpp_mock_scenarios/src/measurement/get_distance_to_lane_bound.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

feat(pose): separate pose utils methods
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/cpp_scenario_node.hpp
  mock/cpp_mock_scenarios/src/measurement/get_distance_in_lane_coordinate_distance.cpp
  mock/cpp_mock_scenarios/src/measurement/get_distance_to_lane_bound.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/pose_utils.hpp
  simulation/traffic_simulator/src/pose_utils.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

ref(pose): use separated toMapPose
  mock/cpp_mock_scenarios/src/follow_lane/acquire_position_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/assign_route_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/cancel_request.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

feat(helper): add constructCanonicalizedLaneletPose
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/helper/helper.cpp
Due: cpp_mock_test

simulation clock tests
  simulation/traffic_simulator/test/CMakeLists.txt
  simulation/traffic_simulator/test/src/behavior/CMakeLists.txt
  simulation/traffic_simulator/test/src/behavior/test_route_planner.cpp
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
  simulation/traffic_simulator/test/src/simulation_clock/CMakeLists.txt
  simulation/traffic_simulator/test/src/simulation_clock/test_simulation_clock.cpp
Due: cpp_mock_test

ref(distance) use separated getDistanceToCrosswalk and getDistanceToStopLine
  simulation/traffic_simulator/include/traffic_simulator/distance_utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/distance_utils.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Fix lanelet target pose in synchronized action
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

Add map package for simple cross map
  map/simple_cross_map/CMakeLists.txt
  map/simple_cross_map/map/global_map_center.pcd.yaml
  map/simple_cross_map/map/lanelet2_map.osm
  map/simple_cross_map/map/lanelet2_map_provider.osm.yaml
  map/simple_cross_map/map/map.map_publisher.yaml
  map/simple_cross_map/map/private_road_and_walkway_ele_fix/lanelet2_map.osm
  map/simple_cross_map/package.xml
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action.cpp
Due: unittests-cpp_mock_scenarios

Remove debug logging statements and update function names
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/job/job_list.cpp
Due: cpp_mock_test

Refactor synchronized action onUpdate method
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action.cpp
Due: unittests-cpp_mock_scenarios

added new line at the end of the code
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

Fix distance margin typo and update comments in entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

doc: add sample scenario for LogNormalDistribution
  test_runner/scenario_test_runner/scenario/Stochastic.LogNormalDistribution.xosc
Due: none

Fix LiDAR on top of vehicle instead of bottom of vehicle
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/lidar_sensor.cpp
Due: cpp_mock_test

ref(traffic_simulator): tidy up distance utils, move get2DPolygon to bbox
  common/math/geometry/include/geometry/bounding_box.hpp
  common/math/geometry/src/bounding_box.cpp
  simulation/traffic_simulator/include/traffic_simulator/distance_utils.hpp
  simulation/traffic_simulator/src/distance_utils.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

getRouteLanelets_empty
  simulation/traffic_simulator/test/src/behavior/test_route_planner.cpp
  simulation/traffic_simulator/test/src/simulation_clock/test_simulation_clock.cpp
Due: cpp_mock_test

ref(traffic_simulator): transform DistanceUtils to distance namespace
  mock/cpp_mock_scenarios/src/measurement/get_distance_in_lane_coordinate_distance.cpp
  mock/cpp_mock_scenarios/src/measurement/get_distance_to_lane_bound.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

ref(traffic_simulator): separate pose functions as namespace
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter
