Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Mark constructor explicit
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/external_object_reference.hpp
Due: unittests-openscenario_interpreter

Update `Entities::isAdded` to handle `EntitySelection`
  openscenario/openscenario_interpreter/src/syntax/entities.cpp
Due: unittests-openscenario_interpreter

Format
  openscenario/openscenario_interpreter/src/syntax/entities.cpp
Due: unittests-openscenario_interpreter

Simplify
  openscenario/openscenario_interpreter/src/syntax/lane_change_action.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_action.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
Due: unittests-openscenario_interpreter

Remove redundant iteration
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
Due: unittests-openscenario_interpreter

Move `makeUpdatedStatus` into header `data_type/follow_trajectory.hpp`
  simulation/behavior_tree_plugin/package.xml
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/data_type/follow_trajectory.hpp
  simulation/traffic_simulator/package.xml
  simulation/traffic_simulator/src/data_type/follow_trajectory.cpp
Due: cpp_mock_test

Update `print_to` to print nested sequences
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/print.hpp
Due: unittests-openscenario_interpreter

update comment
  common/math/geometry/src/polygon/line_segment.cpp
Due: none

update comment
  common/math/geometry/test/test_catmull_rom_spline.cpp
Due: none

update comment
  common/math/geometry/src/spline/catmull_rom_spline.cpp
Due: none

simplify code
  common/math/geometry/src/polygon/line_segment.cpp
  common/math/geometry/test/test_line_segment.cpp
Due: none

Update conditions to handle EntitySelection properly
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/acceleration_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/reach_position_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/stand_still_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/time_headway_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/triggering_entities.hpp
  openscenario/openscenario_interpreter/src/syntax/acceleration_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/collision_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/reach_position_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/stand_still_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/time_headway_condition.cpp
Due: unittests-openscenario_interpreter

Refactor
  openscenario/openscenario_interpreter/src/syntax/entity_action.cpp
Due: unittests-openscenario_interpreter

Update to check ExternalObjectReference
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

Fix wrong condition
  openscenario/openscenario_interpreter/src/syntax/teleport_action.cpp
Due: unittests-openscenario_interpreter

care edge case
  common/math/geometry/src/polygon/line_segment.cpp
  common/math/geometry/test/test_line_segment.cpp
Due: none

add description
  common/math/geometry/test/test_line_segment.cpp
Due: none

Refactor
  openscenario/openscenario_interpreter/src/syntax/selected_entities.cpp
Due: unittests-openscenario_interpreter

Fix wrong printing process
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/print.hpp
Due: unittests-openscenario_interpreter

Merge pull request #1005 from tier4/fix/galactic_buildtest
  .github/workflows/Build.yaml
  .github/workflows/BuildAndRun.yaml
  .github/workflows/BuildIsolate.yaml
Due: none

Simplify
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/print.hpp
Due: unittests-openscenario_interpreter

Add lidar sensor delay
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/lidar_sensor.hpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/helper/helper.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Change to use inline variable instead of struct
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/print.hpp
Due: unittests-openscenario_interpreter

feat(simple_sensor_simulator): implement ground truth delay
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Add todo to comment
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test

Change function name from refillEntityStatusWithLaneletData() to fillLaneletPose()
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

Change THROW_SEMANTIC_ERROR to THROW_SIMULATION_ERROR
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

Change assert() to THROW_SIMULATION_ERROR
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

Fix formatting
  simulation/traffic_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

Remove EgoEntity::getCurrentTwist() which implementation is the same as EntityBase::getCurrentTwist()
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

chore: apply clang-format
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/helper/helper.cpp
Due: cpp_mock_test

Add Property.pointcloudPublishingDelay.yaml sample scenario
  test_runner/scenario_test_runner/scenario/Property.pointcloudPublishingDelay.yaml
Due: none

Add docs
  docs/developer_guide/ConfiguringPerceptionTopics.md
Due: none

add const
  common/math/geometry/include/geometry/spline/catmull_rom_spline.hpp
  common/math/geometry/src/spline/catmull_rom_spline.cpp
Due: none

use auto and ->
  common/math/geometry/include/geometry/spline/catmull_rom_spline.hpp
  common/math/geometry/src/spline/catmull_rom_spline.cpp
Due: none

remove unused header
  common/math/geometry/src/polygon/line_segment.cpp
Due: none

use auto ->
  common/math/geometry/include/geometry/polygon/line_segment.hpp
  common/math/geometry/src/polygon/line_segment.cpp
Due: none

use &
  common/math/geometry/include/geometry/polygon/line_segment.hpp
  common/math/geometry/src/polygon/line_segment.cpp
Due: none

use auto and ->
  common/math/geometry/include/geometry/polygon/line_segment.hpp
Due: none
