Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Improve stopline tests readability with additional information on failure
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

Add HdMapUtils::getCenterPoints tests
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

Update package version and refactor reachPosition method
  map/simple_cross_map/package.xml
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

Remove unused function reachPosition
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test

Move entity existence check into `distance` from speceialized `distance`
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

Fix requestLaneChange function formatting
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
Due: cpp_mock_test

Update `RelativeDistanceCondition::distance` to static member function
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

refactor: delete ament_cpp_index dependencies from openscenario_validator as a library
  openscenario/openscenario_validator/CMakeLists.txt
  openscenario/openscenario_validator/include/openscenario_validator/validator.hpp
  openscenario/openscenario_validator/src/validator_command.cpp
Due: none

refactor: setup in-binary schema in openscenario_preprocessor
  openscenario/openscenario_preprocessor/CMakeLists.txt
  openscenario/openscenario_preprocessor/configure/schema.cpp
  openscenario/openscenario_preprocessor/include/openscenario_preprocessor/schema.hpp
Due: none

refactor: use in-binary schema in openscenario_preprocessor
  openscenario/openscenario_preprocessor/CMakeLists.txt
  openscenario/openscenario_preprocessor/include/openscenario_preprocessor/deriver.hpp
  openscenario/openscenario_preprocessor/include/openscenario_preprocessor/openscenario_preprocessor.hpp
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor_command.cpp
  openscenario/openscenario_preprocessor/src/t4v2.cpp
Due: none

remove linear_algebra
  common/math/geometry/include/geometry/linear_algebra.hpp
  common/math/geometry/include/geometry/vector3/inner_product.hpp
  common/math/geometry/include/geometry/vector3/internal_angle.hpp
  common/math/geometry/include/geometry/vector3/is_like_vector3.hpp
  common/math/geometry/include/geometry/vector3/operator.hpp
  common/math/geometry/include/geometry/vector3/vector3.hpp
  common/math/geometry/src/linear_algebra.cpp
  common/math/geometry/src/polygon/line_segment.cpp
  common/math/geometry/src/spline/catmull_rom_spline.cpp
  common/math/geometry/test/CMakeLists.txt
  common/math/geometry/test/test_linear_algebra.cpp
  common/math/geometry/test/vector3/test_vector3.cpp
  simulation/do_nothing_plugin/src/plugin.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  test_runner/random_test_runner/src/lanelet_utils.cpp
Due: cpp_mock_test

remove comment
  common/math/geometry/include/geometry/vector3/operator.hpp
Due: none

Fix requestLaneChange function signatures
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
Due: cpp_mock_test

feat(lanelet namespace): add set map_path in configuration, improve
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/cpp_scenario_node.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/configuration.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet.hpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/utils/lanelet.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

feat(lanelet namespace): separate memory, add and use static functions
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/memory.hpp
  simulation/traffic_simulator/src/utils/lanelet.cpp
  simulation/traffic_simulator/src/utils/lanelet/memory.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

chore: use conditional compilation implementation in the absence of TrafficLightArrayV1
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_publisher.cpp
Due: cpp_mock_test

Unite `GroupedEntity` and `SingleEntity` into `Entity`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entities.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_selection.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/follow_trajectory_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/lane_change_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/private.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_object_position.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_target_lane.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_target_speed.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_world_position.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/selected_entities.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_profile_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/time_headway_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/triggering_entities.hpp
  openscenario/openscenario_interpreter/src/syntax/collision_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/entities.cpp
  openscenario/openscenario_interpreter/src/syntax/entity.cpp
  openscenario/openscenario_interpreter/src/syntax/entity_selection.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
  openscenario/openscenario_interpreter/src/syntax/triggering_entities.cpp
Due: unittests-openscenario_interpreter

Remove implementation-defined types
  openscenario/openscenario_interpreter/src/syntax/entity_selection.cpp
  openscenario/openscenario_interpreter/src/syntax/selected_entities.cpp
Due: unittests-openscenario_interpreter

Trailing return type and minor style changes
  simulation/traffic_simulator/test/src/entity/dummy_entity.hpp
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

chore: revert dependency_humble.repos
  dependency_humble.repos
Due: none

Fix literals
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

Rename
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/selected_entities.hpp
  openscenario/openscenario_interpreter/src/syntax/entity_selection.cpp
  openscenario/openscenario_interpreter/src/syntax/selected_entities.cpp
Due: unittests-openscenario_interpreter

Minor abstraction improvement
  simulation/traffic_simulator/test/src/entity/dummy_entity.hpp
Due: cpp_mock_test

getDistanceToStopLine and getDistanceToTrafficLightStopLine tests
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

Use test fixtures
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

feat(lanelet namespace): add anonymous namespaces, tidy up
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/move_backward_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/yield_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/lane_change.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/other.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/route.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/traffic_lights.hpp
  simulation/traffic_simulator/src/behavior/route_planner.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
  simulation/traffic_simulator/src/utils/lanelet/distance.cpp
  simulation/traffic_simulator/src/utils/lanelet/lane_change.cpp
  simulation/traffic_simulator/src/utils/lanelet/other.cpp
  simulation/traffic_simulator/src/utils/lanelet/pose.cpp
  simulation/traffic_simulator/src/utils/lanelet/route.cpp
  simulation/traffic_simulator/src/utils/lanelet/traffic_lights.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light_manager.cpp
Due: cpp_mock_test

feat(lanelet namespace): remove completely files of hdmap_utils
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/lanelet_pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/cache.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/memory.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/other.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/utils/lanelet/memory.cpp
  simulation/traffic_simulator/src/utils/lanelet/other.cpp
  simulation/traffic_simulator/src/utils/lanelet/route.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
  simulation/traffic_simulator/test/CMakeLists.txt
  simulation/traffic_simulator/test/src/test_hdmap_utils.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light_manager.cpp
  test_runner/random_test_runner/include/random_test_runner/file_interactions/yaml_test_params_saver.hpp
  test_runner/random_test_runner/include/random_test_runner/lanelet_utils.hpp
  test_runner/random_test_runner/src/lanelet_utils.cpp
  test_runner/random_test_runner/test/test_utils.hpp
Due: cpp_mock_test

feat(lanelet namespace): improve activate, add EOF
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/lane_change.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/memory.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/other.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/route.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/traffic_lights.hpp
  simulation/traffic_simulator/src/utils/lanelet/memory.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light_manager.cpp
  test_runner/random_test_runner/include/random_test_runner/file_interactions/yaml_test_params_saver.hpp
  test_runner/random_test_runner/src/lanelet_utils.cpp
Due: cpp_mock_test

feat(lanlet namespace): move cache to memory
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/cache.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/memory.hpp
Due: cpp_mock_test

feat(lanelet namespace): rename Memory to LaneletMap
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/api/configuration.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/cache.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet/lanelet_map.hpp
  simulation/traffic_simulator/src/utils/lanelet/lane_change.cpp
  simulation/traffic_simulator/src/utils/lanelet/lanelet_map.cpp
  simulation/traffic_simulator/src/utils/lanelet/other.cpp
  simulation/traffic_simulator/src/utils/lanelet/pose.cpp
  simulation/traffic_simulator/src/utils/lanelet/route.cpp
  simulation/traffic_simulator/src/utils/lanelet/traffic_lights.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light_manager.cpp
Due: cpp_mock_test

ref(lanelet namespace): add EOF to lanelet_map.cpp
  simulation/traffic_simulator/src/utils/lanelet/lanelet_map.cpp
Due: cpp_mock_test

Update inner_product.hpp
  common/math/geometry/include/geometry/vector3/inner_product.hpp
Due: none

Update internal_angle.hpp
  common/math/geometry/include/geometry/vector3/internal_angle.hpp
Due: none

Update entity_manager.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

refactor: simplify ProbabilityDistributionSet
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/probability_distribution_set.hpp
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
Due: unittests-openscenario_interpreter

apply reformat
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
