Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Add ostream helper for vector<LaneletPose>
  simulation/traffic_simulator/include/traffic_simulator/helper/ostream_helpers.hpp
  simulation/traffic_simulator/src/helper/ostream_helpers.cpp
Due: cpp_mock_test

Refactor constructCanonicalizedLaneletPose for simplify
  simulation/traffic_simulator/src/helper/helper.cpp
Due: cpp_mock_test

Make error message using ostream helper
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

Reduce template xs usage
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
Due: unittests-openscenario_interpreter

docs(communication): rollback architecture_type for traffic_lights msg type
  docs/developer_guide/Communication.md
Due: none

Fix `LegacyAutowareState` to set `initializing` if any module state is `UNKNOWN`
  external/concealer/include/concealer/legacy_autoware_state.hpp
Due: unittests-concealer

Update QoS for some Autoware state related messages to `transient_local`
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

feat(agnocast): allow agnocast_wrapper to be built without agnocastlib, fix changelog
  common/agnocast_wrapper/CHANGELOG.rst
  common/agnocast_wrapper/CMakeLists.txt
  common/agnocast_wrapper/package.xml
  simulation/simple_sensor_simulator/CMakeLists.txt
Due: cpp_mock_test

fix(agnocast_wrapper): set package version
  common/agnocast_wrapper/package.xml
Due: none

fix(agnocast_wrapper): add EOF to changelog
  common/agnocast_wrapper/CHANGELOG.rst
Due: none

fix(simple_sensor_simulator): fix cmakelists
  simulation/simple_sensor_simulator/CMakeLists.txt
Due: cpp_mock_test

feat: add allow_goal_modification argument to FieldOperatorApplication::plan
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

fix build error
  external/concealer/include/concealer/legacy_autoware_state.hpp
Due: unittests-concealer

feat: add EgoEntity::requestAssignRoute with allow_goal_modification option
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

feat: add EgoEntity::requestAcquirePosition with allow_goal_modification option
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

Update `FieldOperatorApplication` to wait for Autoware to transition to target state
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Add debug prints to `concealer`
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Move conditional statements to lambda
  common/math/geometry/src/spline/catmull_rom_spline.cpp
Due: none

Spell check resolve
  common/math/geometry/src/spline/catmull_rom_spline.cpp
Due: none

fix(agnocast_wrapper): fix changelog
  common/agnocast_wrapper/CHANGELOG.rst
Due: none

fix(agnocast_wrapper): fix package.xml
  common/agnocast_wrapper/package.xml
Due: none

Fix after merge
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
Due: cpp_mock_test

Update `waitForAutowareStateToBe` to handle states as ranges
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

feat: delete last argument for no ego entity in applyAcquirePositionAction
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

feat: get and set allow_goal_modification in AcquirePositionAction
  openscenario/openscenario_interpreter/src/syntax/acquire_position_action.cpp
Due: unittests-openscenario_interpreter

Change `concealer`'s default service request resend interval to 3 [sec]
  external/concealer/include/concealer/service.hpp
Due: unittests-concealer

Update pedestrian consideration to factor in distance from ego vehicle
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/follow_lane_action.hpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
Due: cpp_mock_test

Cleanup
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Use std::is_floating_point
  external/concealer/include/concealer/publisher.hpp
Due: unittests-concealer

Remove unnecessary changes - formatting
  external/concealer/src/publisher.cpp
Due: unittests-concealer

evert "Utilize references in Odometry normal distribution"
  external/concealer/src/publisher.cpp
Due: unittests-concealer

Remove const from NormalDistribution members
  external/concealer/include/concealer/publisher.hpp
Due: unittests-concealer

Rename NormalDistributionBase to RandomNumberEngine
  external/concealer/include/concealer/publisher.hpp
  external/concealer/src/publisher.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/imu/imu_sensor.cpp
Due: cpp_mock_test, unittests-concealer
