Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Remove unused static data member `ego_count`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/object_controller.hpp
  openscenario/openscenario_interpreter/src/syntax/object_controller.cpp
Due: unittests-openscenario_interpreter

feat(openscenario_interpreter): add LogNormalDistribution
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/log_normal_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/stochastic_distribution_type.hpp
  openscenario/openscenario_interpreter/src/syntax/log_normal_distribution.cpp
Due: unittests-openscenario_interpreter

fix(openscenario_interpreter): fix wrong initialization for NormalDistribution
  openscenario/openscenario_interpreter/src/syntax/normal_distribution.cpp
Due: unittests-openscenario_interpreter

Update member function `Controller::isAutoware`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/controller.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/object_controller.hpp
  openscenario/openscenario_interpreter/src/syntax/controller.cpp
Due: unittests-openscenario_interpreter

fix(respawn): fix after merge - add updateFrame, adjust isEgo
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

feat(EgoEntity): add setControlledBySimulator
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

ref(respawn): improve current solution
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

remove //headers in STL comment
  mock/cpp_mock_scenarios/src/follow_trajectory/follow_polyline_trajectory_with_do_nothing_plugin.cpp
Due: unittests-cpp_mock_scenarios

apply reformat
  mock/cpp_mock_scenarios/src/follow_trajectory/follow_polyline_trajectory_with_do_nothing_plugin.cpp
Due: unittests-cpp_mock_scenarios

Remove member function template `Controller::of<T>`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/controller.hpp
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/controller.cpp
Due: unittests-openscenario_interpreter

ref(respawn): remove engagable() check
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

add interpolateEntityStatusFromPolylineTrajectory function
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

refactor followPolylineTrajectory function
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

reset request when finished trajectory following
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

Changed DoNothingBehavior::followPolylineTrajectory function to a lambda expression whose scope is inside DoNothingBehavior::update function.
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

Enable TrafficSource spawn rate higher than execute() rate
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

Make more readable
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

Rename API::defineTrafficSource function
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

Enable align entity orientation to lane
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_source.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

use adjacent_find
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

modify error message
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

refactor: delete workflow.Workflow and rename workflow.py to scenario.py
  openscenario/openscenario_utility/openscenario_utility/scenario_validation.py
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
  test_runner/scenario_test_runner/scenario_test_runner/scenario.py
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
  test_runner/scenario_test_runner/scenario_test_runner/workflow.py
Due: unittests-openscenario_utility

Update sample scenarios to specify controller name
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/controller.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/object_controller.hpp
  openscenario/openscenario_interpreter/src/syntax/controller.cpp
  test_runner/scenario_test_runner/scenario/all-in-one.yaml
  test_runner/scenario_test_runner/scenario/catalog/controller/all-in-one-controller.yaml
  test_runner/scenario_test_runner/scenario/sample.yaml
Due: unittests-openscenario_interpreter

fix(entities_update): fix update time in EntityStatus
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

fix reset behavior logic
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

Add require footprint fitting to API
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

refactor functions
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

remove // headers in STL comment
  docs/developer_guide/TrafficSimulator.md
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/cpp_scenario_node.hpp
  mock/cpp_mock_scenarios/src/behavior_plugin/load_do_nothing_plugin.cpp
  mock/cpp_mock_scenarios/src/collision/crashing_npc.cpp
  mock/cpp_mock_scenarios/src/collision/spawn_with_offset.cpp
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/accelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/decelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_lane/acquire_position_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/assign_route_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/cancel_request.cpp
  mock/cpp_mock_scenarios/src/follow_lane/follow_with_offset.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left_with_id.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear_lateral_velocity.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear_time.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_longitudinal_distance.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right_with_id.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_time.cpp
  mock/cpp_mock_scenarios/src/measurement/get_distance_in_lane_coordinate_distance.cpp
  mock/cpp_mock_scenarios/src/measurement/get_distance_to_lane_bound.cpp
  mock/cpp_mock_scenarios/src/merge/merge_left.cpp
  mock/cpp_mock_scenarios/src/metrics/traveled_distance.cpp
  mock/cpp_mock_scenarios/src/move_backward/move_backward.cpp
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_continuous_false.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_relative.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_step.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_limit.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_linear.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_relative.cpp
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
Due: unittests-cpp_mock_scenarios

refactor: remove redundant code according to N4659 (6.1)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/double.hpp
Due: unittests-openscenario_interpreter

refactor: remove redundant code according to N4659 (6.1)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/integer.hpp
Due: unittests-openscenario_interpreter

refactor: remove redundant code according to N4659 (6.1)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/unsigned_short.hpp
Due: unittests-openscenario_interpreter

refactor: stop using explicit keyword to default constructors
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/boolean.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/catalog_locations.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/command.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/condition_edge.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/coordinate_system.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/double.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/dynamics_dimension.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/dynamics_shape.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/fractional_cloud_cover.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/integer.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/misc_object_category.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/override_controller_value_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_assignments.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_declaration.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_type.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/precipitation_type.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/priority.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_type.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/route_strategy.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/rule.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_target_value_type.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element_state.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element_type.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/triggering_entities_rule.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/unsigned_integer.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/unsigned_short.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/wetness.hpp
Due: unittests-openscenario_interpreter

fix: compile error on LogNormalDistribution
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/stochastic_distribution_type.hpp
  openscenario/openscenario_interpreter/src/syntax/log_normal_distribution.cpp
Due: unittests-openscenario_interpreter

fix(toLaneletPose): fix matching_distance in EgoEntity, EgoEntitySimulation and BehaviorTree
  simulation/behavior_tree_plugin/src/pedestrian/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

refactor: stop using explicit keyword to default constructors
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/boolean.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/double.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/integer.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/unsigned_integer.hpp
Due: unittests-openscenario_interpreter

refactor: stop marking as const to members of Orientation
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/orientation.hpp
Due: unittests-openscenario_interpreter

chore: fixed tests for structures that became trivial
  openscenario/openscenario_interpreter/src/syntax/double.cpp
  openscenario/openscenario_interpreter/src/syntax/integer.cpp
  openscenario/openscenario_interpreter/src/syntax/unsigned_integer.cpp
  openscenario/openscenario_interpreter/src/syntax/unsigned_short.cpp
Due: unittests-openscenario_interpreter

chore: make another version of Properties::get to suite new form of basic types of openscenario_interpreter/syntax
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/properties.hpp
Due: unittests-openscenario_interpreter

chore: apply linter
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_assignments.hpp
Due: unittests-openscenario_interpreter
