Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Fix test fail due to double precision 2
  common/math/geometry/test/src/spline/test_catmull_rom_spline.cpp
Due: none

Apply formatter
  common/math/geometry/test/src/spline/test_catmull_rom_spline.cpp
Due: none

Update the position error to apply in the entity's local coordinate
  external/concealer/src/publisher.cpp
  test_runner/scenario_test_runner/config/parameters.yaml
Due: unittests-concealer

Update histogram.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/histogram.hpp
Due: unittests-openscenario_interpreter

Rename the parameter `(x|y|z)` to `local_(x|y|z)`
  external/concealer/include/concealer/publisher.hpp
  external/concealer/src/publisher.cpp
  test_runner/scenario_test_runner/config/parameters.yaml
Due: unittests-concealer

chore: change junit inline namespace to normal namespace
  common/simple_junit/include/simple_junit/junit5.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  test_runner/random_test_runner/include/random_test_runner/file_interactions/junit_xml_reporter.hpp
Due: unittests-openscenario_interpreter

[REMOVE BEFORE MERGE] Add debug for XML error
  .github/workflows/BuildAndRun.yaml
Due: none

Test for floating point issue
  .github/workflows/BuildAndRun.yaml
Due: none

Add reader functions to cache classes to mitigate direct data members access and having to lock the mutex in different places
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_wrapper.hpp
Due: cpp_mock_test

chore: prepare default implementation of StochasticParameterDistributionBase::derive
  openscenario/openscenario_interpreter/include/openscenario_interpreter/parameter_distribution.hpp
Due: unittests-openscenario_interpreter

fix(traffic_simulator): Fix lanelet slope inaccuracies
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

ref(traffic_simulator) Refactor updateEntityPositionForLaneletTransition
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

Move distance calculation method to utils
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

ref(traffic_simulator, geometry): add rotate and direction_to_quaternion to geometry, reformat ValidatedEntityStatus using it
  common/math/geometry/include/geometry/quaternion/direction_to_quaternion.hpp
  common/math/geometry/include/geometry/vector3/rotate.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/validated_entity_status.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/polyline_trajectory_positioner.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/validated_entity_status.cpp
Due: cpp_mock_test

Code improvement: change `emplace_back` to `push_back` where emplacing is not needed
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
Due: cpp_mock_test

Code improvement: add const reference wherever applicable and reserve memory in `std::vector`
  simulation/traffic_simulator/src/lanelet_wrapper/distance.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
Due: cpp_mock_test

Code improvement: avoid unnecessary storage of data and computational overhead in distance to stop line calculation functions
  simulation/traffic_simulator/src/lanelet_wrapper/distance.cpp
Due: cpp_mock_test

Code improvement: add missing check in one overload of function `lanelet_wrapper::distance::distanceToTrafficLightStopLine`
  simulation/traffic_simulator/src/lanelet_wrapper/distance.cpp
Due: cpp_mock_test

Code improvement(lanelet_wrapper::traffic_lights): minor improvements
  simulation/traffic_simulator/src/lanelet_wrapper/traffic_lights.cpp
Due: cpp_mock_test

Code improvement(lanelet_wrapper::traffic_lights): avoid adding the same traffic light multiple times and performing unnecessary checks
  simulation/traffic_simulator/src/lanelet_wrapper/traffic_lights.cpp
Due: cpp_mock_test

Code improvement(lanelet_wrapper::traffic_lights): add const ref to lambda
  simulation/traffic_simulator/src/lanelet_wrapper/traffic_lights.cpp
Due: cpp_mock_test

Update `scenario_test_runner` to check the path given as a parameter
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

Move tranformToRoutableCanonicalizedLaneletPose to pose namespace
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

Review changes
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

ref(traffic_simulator) : refactor/improve PolylineTrajectoryPositioner
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/polyline_trajectory_positioner.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/follow_trajectory.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/polyline_trajectory_positioner.cpp
Due: cpp_mock_test

fix(traffic_simulator) Improve lanelet transition handling for entity position updates
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

ref(traffic_simulator): improve time_to_nerest and updateEntity in PolylineTrajectoryPositioner
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/polyline_trajectory_positioner.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/polyline_trajectory_positioner.cpp
Due: cpp_mock_test

Formatting changes
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

ref(traffic_simulator): separate isNearestWaypointReachable in PolylineTrajectoryPositioner
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/polyline_trajectory_positioner.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/polyline_trajectory_positioner.cpp
Due: cpp_mock_test

Fix spell check errors
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

Remove member function `EntityManager::getRouteLanelets`
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

Update `EgoEntity::setMapPose` to not call `getRouteLanelets`
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

Update `VehicleEntity::onUpdate` to not call `getRouteLanelets`
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

Update `PedestrianEntity::onUpdate` to not call `getRouteLanelets`
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
Due: cpp_mock_test

Update dependency_humble.repos
  dependency_humble.repos
Due: none

Remove virtual function `EntityBase::getRouteLanelets`
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/misc_object_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/test/src/entity/test_misc_object_entity.cpp
Due: cpp_mock_test

remvoe old link
  docs/user_guide/QuickStart.md
Due: none

update bake-action to v6.3.0
  .github/workflows/Docker.yaml
Due: none

Update mock scenarios to not call `EntityBase::getRouteLanelets`
  mock/cpp_mock_scenarios/src/measurement/get_distance_to_lane_bound.cpp
Due: unittests-cpp_mock_scenarios
