Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

fix some warnings
  common/math/geometry/src/intersection/collision.cpp
Due: none

fix warning "There is a intentionality issues on this line, the code is not efficient"
  common/math/geometry/src/spline/catmull_rom_spline.cpp
Due: none

fix(simple_sensor_simulator): fix ego overwrite for DELAY_STEER_ACC_GEARED_WO_FALL_GUARD
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

fix(FieldOperatorApplicationFor): fix interval in engege - to catch a single change
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

fix(traffic_lights): improve the meaning of comments
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/traffic_lights/traffic_lights_detector.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights.hpp
Due: cpp_mock_test

fix(cpp_mock_scenarios): merge changes in random001
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
Due: unittests-cpp_mock_scenarios

fix(concealer): apply clang format
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

ref(simple_sensor_simulator): apply clang reformat
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
Due: cpp_mock_test

fix(openscenario_interpreter, traffic_simulator): fix after merge
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_clearance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/relative_clearance_condition.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/test/src/utils/test_pose.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

ref(cpp_mock_scenarios): ref random001
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
Due: unittests-cpp_mock_scenarios

Add ByObjectType
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/by_object_type.hpp
  openscenario/openscenario_interpreter/src/syntax/by_object_type.cpp
Due: unittests-openscenario_interpreter

Support ByType in CollisionCondition
  openscenario/openscenario_interpreter/src/syntax/collision_condition.cpp
Due: unittests-openscenario_interpreter

Fix attribute name
  openscenario/openscenario_interpreter/src/syntax/by_object_type.cpp
Due: unittests-openscenario_interpreter

ref(behavior_tree,traffic_simulator): improve code by basing on sonarcloud
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  test_runner/random_test_runner/include/random_test_runner/test_executor.hpp
Due: cpp_mock_test

Merge branch 'RJD-1057-remove-functions-forwarded-to-entity-base-middle' into RJD-1057-remove-functions-forwarded-to-entity-base-refactor
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  test_runner/random_test_runner/include/random_test_runner/test_executor.hpp
Due: cpp_mock_test

add constexpr
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

ref(cpp_mock_scenarios): improve overall
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/accelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/decelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_lane/acquire_position_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/assign_route_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/cancel_request.cpp
  mock/cpp_mock_scenarios/src/follow_lane/follow_with_offset.cpp
  mock/cpp_mock_scenarios/src/follow_trajectory/follow_polyline_trajectory_with_do_nothing_plugin.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear.cpp
  mock/cpp_mock_scenarios/src/measurement/get_distance_in_lane_coordinate_distance.cpp
  mock/cpp_mock_scenarios/src/metrics/traveled_distance.cpp
  mock/cpp_mock_scenarios/src/spawn/spawn_in_map_frame.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_continuous_false.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_relative.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_limit.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_relative.cpp
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action.cpp
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action_with_speed.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_delay.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_high_rate.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_mixed.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_multiple.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_pedestrian.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_vehicle.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

ref(cpp_mock_scenarios): improve move_backward
  mock/cpp_mock_scenarios/src/move_backward/move_backward.cpp
Due: unittests-cpp_mock_scenarios

ref(traffic_simulator, simulator_core): improve overall
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Fix copyright notice date
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/traffic_lights/traffic_lights_detector.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/traffic_lights/traffic_lights_publisher.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/imu/imu_sensor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/traffic_lights/traffic_lights_publisher.cpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/configurable_rate_updater.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_marker_publisher.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_publisher.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/node_parameters.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/traffic_lights/configurable_rate_updater.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_marker_publisher.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_publisher.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_lights.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_lights_base.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

ref(traffic_simulator): improve requestLaneChange, getEgoName
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  test_runner/random_test_runner/include/random_test_runner/test_executor.hpp
Due: cpp_mock_test

consider negative longitudinal distance
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

Fix Docker Build for Arm64
  .github/workflows/DockerArm64.yaml
Due: none

ref(traffic_simulator): apply sonarcloud requested changes
  simulation/traffic_simulator/include/traffic_simulator/data_type/lanelet_pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

fix typo.
  .github/workflows/DockerArm64.yaml
Due: none

Support Arm64
  .github/workflows/DockerArm64.yaml
Due: none

Fix collision condition evaluation logic
  openscenario/openscenario_interpreter/src/syntax/collision_condition.cpp
Due: unittests-openscenario_interpreter

Use explicit in traffic lights constructors
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights.hpp
Due: cpp_mock_test

Change traffic_lights_msg to traffic_lights_message
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

Use alternative operators
  simulation/traffic_simulator/src/traffic_lights/configurable_rate_updater.cpp
Due: cpp_mock_test

Change variable names to be different from lambda names
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
Due: cpp_mock_test

Add error message for unsupported ObjectType::external
  openscenario/openscenario_interpreter/src/syntax/by_object_type.cpp
Due: unittests-openscenario_interpreter

early return, update tests
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

remove negative distance, unify logic
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

remove underflow
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

typo
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Fix Arm Docker Build Support
  .github/workflows/Docker.yaml
  Dockerfile.arm64
Due: none
