Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Refactor scenario class name and method name for getting distance to lane bound
  mock/cpp_mock_scenarios/src/measurement/get_distance_in_lane_coordinate_distance.cpp
Due: unittests-cpp_mock_scenarios

Change runtime check to compiletime check
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test

Fix copyright notice date
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/ostream_helpers.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/helper/ostream_helpers.cpp
  simulation/traffic_simulator/src/utils/node_parameters.cpp
Due: cpp_mock_test

Revert trailing whitespace deletion
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
Due: cpp_mock_test

Pass HdMapUtils ptr as the last argument
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

Get double type by value
  simulation/traffic_simulator/src/behavior/follow_trajectory/follow_waypoint_controller.cpp
Due: cpp_mock_test

Revert previous condition
  simulation/traffic_simulator/src/behavior/follow_trajectory/follow_waypoint_controller.cpp
Due: cpp_mock_test

Adjust code to pass HdMapUtils as the last argument
  simulation/traffic_simulator/src/behavior/follow_trajectory/polyline_trajectory_positioner.cpp
Due: cpp_mock_test

Remove "magic values"
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

Change the `distance::distanceAlongLanelet` to not have fallback into euclidean distance
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/polyline_trajectory_positioner.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

Adjust code to pass HdMapUtils as the last argument
  simulation/behavior_tree_plugin/src/pedestrian/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory/follow_trajectory.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/follow_trajectory.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

spellcheck
  simulation/traffic_simulator/src/behavior/follow_trajectory/follow_trajectory.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory/polyline_trajectory_positioner.cpp
Due: cpp_mock_test

add depends
  mock/cpp_mock_scenarios/package.xml
Due: unittests-cpp_mock_scenarios

Use arm runner for BuildAndRun / Docker
  .github/workflows/BuildAndRun.yaml
  .github/workflows/Docker.yaml
  Dockerfile.arm64
  docker-bake.hcl
Due: none

apply reformat
  simulation/context_gamma_planner/context_gamma_planner/include/context_gamma_planner/pedestrian_plugin.hpp
  simulation/context_gamma_planner/context_gamma_planner/include/context_gamma_planner/vehicle_plugin.hpp
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
Due: cpp_mock_test

update package version
  mock/context_gamma_scenarios/package.xml
  simulation/context_gamma_planner/context_gamma_planner/package.xml
  simulation/context_gamma_planner/customized_rvo2/package.xml
  simulation/context_gamma_planner/customized_rvo2_examples/package.xml
Due: cpp_mock_test

update python version
  mock/context_gamma_scenarios/package.xml
  simulation/context_gamma_planner/context_gamma_planner/package.xml
  simulation/context_gamma_planner/customized_rvo2/package.xml
  simulation/context_gamma_planner/customized_rvo2_examples/package.xml
Due: cpp_mock_test

Fix bw-output path
  .github/workflows/BuildAndRun.yaml
Due: none

-fno-fast-math
  .github/workflows/BuildAndRun.yaml
Due: none

Change copyright date to 2015
  rviz_plugins/real_time_factor_control_rviz_plugin/src/real_time_factor_slider.cpp
  rviz_plugins/real_time_factor_control_rviz_plugin/src/real_time_factor_slider.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/follow_trajectory_sequence/follow_polyline_trajectory_action.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_waypoint_controller.hpp
  simulation/traffic_simulator/src/behavior/follow_waypoint_controller.cpp
Due: cpp_mock_test

modify port
  simulation/context_gamma_planner/context_gamma_planner/include/context_gamma_planner/behavior/action_node_base.hpp
Due: cpp_mock_test

Disable optimize
  .github/workflows/BuildAndRun.yaml
Due: none

Update ostream helper
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/data_type/lanelet_pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/ostream_helpers.hpp
  simulation/traffic_simulator/src/helper/helper.cpp
  simulation/traffic_simulator/src/helper/ostream_helpers.cpp
  simulation/traffic_simulator/test/src/helper/test_helper.cpp
Due: cpp_mock_test

Update simulator api
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/misc_object_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/node_parameters.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/utils/node_parameters.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

change API usage
  simulation/context_gamma_planner/context_gamma_planner/src/vehicle_plugin.cpp
Due: cpp_mock_test

chore: simplify failure report
  .github/workflows/BuildAndRun.yaml
  .github/workflows/workflow.sh
Due: none

chore: post failure report only when failure scenarios exist
  .github/workflows/BuildAndRun.yaml
Due: none

Fix non existing Entity issue
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

fix: remove const from overwritten variable in github script
  .github/workflows/BuildAndRun.yaml
Due: none

Revert "chore: change scenario condition for test"
  test_runner/scenario_test_runner/scenario/execution_time_test.yaml
Due: none

Update test `normal_distribution.cpp` to use `ASSERT_DOUBLE_EQ`
  external/concealer/test/normal_distribution.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: unittests-concealer

Remove data member `DetectionSensor<...>::published_detected_entities`
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

set altitude
  simulation/context_gamma_planner/context_gamma_planner/src/pedestrian_plugin.cpp
  simulation/context_gamma_planner/context_gamma_planner/src/vehicle_plugin.cpp
Due: cpp_mock_test

chore: use AS instead of as in Dockerfiles
  Dockerfile
  Dockerfile.arm64
  Dockerfile.traffic_simulator
Due: none
