Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

fix: modify github script
  .github/workflows/BuildAndRun.yaml
Due: none

Remove debug
  .github/workflows/BuildAndRun.yaml
Due: none

Revert
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
Due: cpp_mock_test

test
  .github/workflows/BuildAndRun.yaml
Due: none

test
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
Due: cpp_mock_test

fix typo
  mock/context_gamma_scenarios/src/context_gamma_planner/head_on_pedestrian.cpp
Due: none

add map
  simulation/context_gamma_planner/context_gamma_planner/CMakeLists.txt
  simulation/context_gamma_planner/context_gamma_planner/test/maps/lanelet2_map.osm
Due: cpp_mock_test

bump package version
  simulation/context_gamma_planner/context_gamma_planner/package.xml
  simulation/context_gamma_planner/customized_rvo2/package.xml
  simulation/context_gamma_planner/customized_rvo2_examples/package.xml
Due: cpp_mock_test

modify package version
  mock/context_gamma_scenarios/package.xml
Due: none

fix compile error in stop_at_crosswalk scenario
  mock/context_gamma_scenarios/CMakeLists.txt
  mock/context_gamma_scenarios/include/context_gamma_scenarios/catalogs.hpp
  mock/context_gamma_scenarios/include/context_gamma_scenarios/context_gamma_scenario_node.hpp
  mock/context_gamma_scenarios/package.xml
  mock/context_gamma_scenarios/src/context_gamma_planner/CMakeLists.txt
  mock/context_gamma_scenarios/src/context_gamma_planner/head_on_pedestrian.cpp
  mock/context_gamma_scenarios/src/context_gamma_planner/stop_at_crosswalk.cpp
  mock/context_gamma_scenarios/src/context_gamma_scenario_node.cpp
Due: none

fix compile erro in spawn function
  mock/context_gamma_scenarios/src/context_gamma_planner/CMakeLists.txt
  mock/context_gamma_scenarios/src/context_gamma_planner/spawn.cpp
Due: none

port API
  mock/context_gamma_scenarios/src/context_gamma_planner/CMakeLists.txt
  mock/context_gamma_scenarios/src/context_gamma_planner/adaptive_cruise.cpp
  mock/context_gamma_scenarios/src/context_gamma_planner/follow_trajectory.cpp
  mock/context_gamma_scenarios/src/context_gamma_planner/follow_trajectory_closed.cpp
  mock/context_gamma_scenarios/src/context_gamma_planner/follow_trajectory_dynamic_constraints.cpp
  mock/context_gamma_scenarios/src/context_gamma_planner/head_on_pedestrian.cpp
  mock/context_gamma_scenarios/src/context_gamma_planner/lane_change_lateral.cpp
  mock/context_gamma_scenarios/src/context_gamma_planner/lane_change_longitudinal.cpp
  mock/context_gamma_scenarios/src/context_gamma_planner/lane_change_time.cpp
  mock/context_gamma_scenarios/src/context_gamma_planner/parked_at_crosswalk.cpp
  mock/context_gamma_scenarios/src/context_gamma_planner/pedestrian_follow_lane.cpp
  mock/context_gamma_scenarios/src/context_gamma_planner/reverse_walk_at_road.cpp
  mock/context_gamma_scenarios/src/context_gamma_planner/road_end.cpp
  mock/context_gamma_scenarios/src/context_gamma_planner/stop_line_running.cpp
  mock/context_gamma_scenarios/src/context_gamma_planner/traffic_light_running.cpp
  mock/context_gamma_scenarios/src/traffic_simulation_demo.cpp
  mock/cpp_mock_scenarios/src/measurement/get_distance_in_lane_coordinate_distance.cpp
Due: unittests-cpp_mock_scenarios

port reverse_walk_at_road scenario
  mock/context_gamma_scenarios/src/context_gamma_planner/CMakeLists.txt
  mock/context_gamma_scenarios/src/context_gamma_planner/reverse_walk_at_road.cpp
Due: none

port pedestrian_follow_lane scenario
  mock/context_gamma_scenarios/src/context_gamma_planner/CMakeLists.txt
  mock/context_gamma_scenarios/src/context_gamma_planner/pedestrian_follow_lane.cpp
Due: none

port stop_line_running scenario
  mock/context_gamma_scenarios/src/context_gamma_planner/CMakeLists.txt
  mock/context_gamma_scenarios/src/context_gamma_planner/stop_line_running.cpp
Due: none

port traffic_light_running scenario
  mock/context_gamma_scenarios/src/context_gamma_planner/CMakeLists.txt
  mock/context_gamma_scenarios/src/context_gamma_planner/traffic_light_running.cpp
Due: none

port head_on_pedestrian scenario
  mock/context_gamma_scenarios/src/context_gamma_planner/CMakeLists.txt
  mock/context_gamma_scenarios/src/context_gamma_planner/head_on_pedestrian.cpp
Due: none

port adaptive_cruise scenario
  mock/context_gamma_scenarios/src/context_gamma_planner/CMakeLists.txt
  mock/context_gamma_scenarios/src/context_gamma_planner/adaptive_cruise.cpp
Due: none

port follow_trajectory scenario
  mock/context_gamma_scenarios/src/context_gamma_planner/CMakeLists.txt
  mock/context_gamma_scenarios/src/context_gamma_planner/follow_trajectory.cpp
Due: none

port follow_trajectory_closed scenario
  mock/context_gamma_scenarios/src/context_gamma_planner/CMakeLists.txt
  mock/context_gamma_scenarios/src/context_gamma_planner/follow_trajectory_closed.cpp
Due: none

feat: implement rosbag storage switching
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

feat: add record_storage_id argument to launch
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

port lane_change_time scenario
  mock/context_gamma_scenarios/src/context_gamma_planner/CMakeLists.txt
  mock/context_gamma_scenarios/src/context_gamma_planner/lane_change_time.cpp
Due: none

port lane_change_lateral scenario
  mock/context_gamma_scenarios/src/context_gamma_planner/CMakeLists.txt
  mock/context_gamma_scenarios/src/context_gamma_planner/lane_change_lateral.cpp
Due: none

port lane_change_longitudinal scenario
  mock/context_gamma_scenarios/src/context_gamma_planner/CMakeLists.txt
  mock/context_gamma_scenarios/src/context_gamma_planner/lane_change_longitudinal.cpp
Due: none

port follow_trajectory_dynamic_constraints scenario
  mock/context_gamma_scenarios/src/context_gamma_planner/CMakeLists.txt
  mock/context_gamma_scenarios/src/context_gamma_planner/follow_trajectory_dynamic_constraints.cpp
Due: none

port road_end scenario
  mock/context_gamma_scenarios/src/context_gamma_planner/CMakeLists.txt
  mock/context_gamma_scenarios/src/context_gamma_planner/road_end.cpp
Due: none

fix cmake
  mock/context_gamma_scenarios/src/context_gamma_planner/CMakeLists.txt
Due: none

fix runtime error
  simulation/context_gamma_planner/context_gamma_planner/include/context_gamma_planner/behavior/action_node_base.hpp
Due: cpp_mock_test

feat: use rosbag command default as record_storage_id default value
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: unittests-openscenario_interpreter

Make `SimulatorCore::ActionApplication::applyAddEntityAction` deduce return type is reference
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

Fix spelling
  simulation/traffic_simulator/src/utils/route.cpp
Due: cpp_mock_test

Trailing return type and format code
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
Due: cpp_mock_test

Use trailing return type
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
Due: cpp_mock_test

Adjust `EntityBase::as` to return reference instead of shared_ptr
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

add comment about respawn_ego scenario
  mock/cpp_mock_scenarios/CMakeLists.txt
Due: unittests-cpp_mock_scenarios

fp-contract=off
  .github/workflows/BuildAndRun.yaml
Due: none

Revert coverage
  .github/workflows/BuildAndRun.yaml
Due: none

Add new document `ConfiguringLocalizationTopics.md`
  docs/developer_guide/.pages
  docs/developer_guide/ConfiguringLocalizationTopics.md
Due: none

Fix broken link
  docs/developer_guide/ConfiguringLocalizationTopics.md
Due: none
