Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Avoid unnecessary copy by using a const reference
  simulation/context_gamma_planner/src/pedestrian_plugin.cpp
  simulation/context_gamma_planner/src/planner/goal_planner_base.cpp
Due: cpp_mock_test

remove move
  simulation/context_gamma_planner/src/transition_events/transition_event.cpp
Due: cpp_mock_test

remove unuse code
  simulation/context_gamma_planner/src/pedestrian_plugin.cpp
Due: cpp_mock_test

update version
  simulation/context_gamma_planner/package.xml
Due: cpp_mock_test

Add TrafficSignalState::ParsedTrafficSignalID to support traffic signal type specification in trafficSignalId attribute
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state.hpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state.cpp
Due: unittests-openscenario_interpreter

Implement constructor of TrafficSignalState::ParsedTrafficSignalID
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state.hpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state.cpp
Due: unittests-openscenario_interpreter

Add tests for TrafficSignalState::ParsedTrafficSignalID
  openscenario/openscenario_interpreter/CMakeLists.txt
  openscenario/openscenario_interpreter/test/test_parsed_traffic_signal_id.cpp
Due: unittests-openscenario_interpreter

Add v2i traffic signal state in TrafficSignalControllerAction.yaml
  test_runner/scenario_test_runner/scenario/TrafficSignalControllerAction.yaml
Due: none

Delete unused commented-out code in test_parsed_traffic_signal_id.cpp
  openscenario/openscenario_interpreter/test/test_parsed_traffic_signal_id.cpp
Due: unittests-openscenario_interpreter

Use override specifier
  simulation/context_gamma_planner/include/context_gamma_planner/planner/follow_polyline_trajectory_planner_base.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/planner/pedestrian/follow_lane_planner.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/planner/pedestrian/follow_polyline_trajectory_planner.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/transition_events/logging_event.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/transition_events/reset_request_event.hpp
Due: cpp_mock_test

Explicitly capture required local variables in lambda
  simulation/context_gamma_planner/src/pedestrian_plugin.cpp
Due: cpp_mock_test

Disable sonar cloud action in pull-request from external forks
  .github/workflows/BuildAndRun.yaml
Due: none

Make getBlackBoardValues virtual in ActionNodeBase and add override in subclass
  simulation/context_gamma_planner/include/context_gamma_planner/behavior/action_node_base.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/behavior/pedestrian/action_node.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/behavior/pedestrian/follow_lane_action.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/behavior/pedestrian/follow_polyline_trajectory_action.hpp
Due: cpp_mock_test

Add the "explicit" keyword to this constructor.
  simulation/context_gamma_planner/include/context_gamma_planner/planner/follow_polyline_trajectory_planner_base.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/planner/goal_planner_base.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/planner/pedestrian/follow_lane_planner.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/planner/pedestrian/follow_polyline_trajectory_planner.hpp
  simulation/context_gamma_planner/include/context_gamma_planner/transition_events/transition_event.hpp
Due: cpp_mock_test

feat: add hazard light topics for autoware universe
  docs/developer_guide/Communication.md
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

Add multiple overloads for toLaneletPoses and matchToLanes functions to enhance lanelet pose retrieval
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/pose.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
Due: cpp_mock_test

address build time errors for traffic simulator
  simulation/traffic_simulator/CMakeLists.txt
Due: cpp_mock_test

make FROM paths in Dockerfiles unambiguous to address local multiarch build failures from cache errors
  Dockerfile
  Dockerfile.arm64
  Dockerfile.traffic_simulator
Due: none

Modifies the Dockerfiles for more efficient build processes and smaller final container sizes. Work and testing was assisted by AI using Gemini Pro 2.5
  .dockerignore
  Dockerfile
  Dockerfile.arm64
  Dockerfile.traffic_simulator
Due: none

enable github workflow build of the amd64 container image
  .github/workflows/Docker.yaml
Due: none

change to copy everything except build directory to final containers
  Dockerfile
  Dockerfile.arm64
  Dockerfile.traffic_simulator
Due: none

add missing runtime dependency for ros-humble-geographic-msgs
  Dockerfile
  Dockerfile.arm64
  Dockerfile.traffic_simulator
Due: none

Use pull_request_target for add-pr-comment
  .github/workflows/InterfaceUpdateNotification.yaml
  .github/workflows/PostCheckList.yaml
  .github/workflows/SimModelUpdateNotification.yaml
Due: none

Implement TrafficSignalType struct instead of enum
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state.hpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state.cpp
  openscenario/openscenario_interpreter/test/test_parsed_traffic_signal_id.cpp
Due: unittests-openscenario_interpreter

Rename TrafficSignalState::traffic_signal_type to trafficSignalType
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state.hpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state.cpp
Due: unittests-openscenario_interpreter

Add use_custom_centerline argument and switch behavior
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_loader.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: cpp_mock_test

Delete unused HdMapUtils::overwriteLaneletsCenterline
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
Due: cpp_mock_test

Initialize ROS if necessary in common::getParameterNode
  common/get_parameter/include/get_parameter/get_parameter.hpp
Due: none

debug
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

Revert "delete spin some try"
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

add more debug log
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

delete spin some try
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

Add debug output to getDistanceToFrontEntity and refactor front entity selection logic
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

Add debug messages to status_monitor for detailed investigation
  common/status_monitor/include/status_monitor/status_monitor.hpp
  common/status_monitor/src/status_monitor.cpp
Due: none

Use push trigger for actual release task (Using Merge Queue may break versioning)
  .github/workflows/Release.yaml
Due: none

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
