Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Move base class `TransitionAssertion<T>` to `FieldOperatorApplication`
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
Due: unittests-concealer

Remove member function `receiveEmergencyState`
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

Remove member function `receiveMrmState`
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

Replace this declaration by a structured binding declaration.
  common/math/geometry/src/spline/catmull_rom_spline.cpp
Due: none

Removed unnecessary includes
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

Move data members into base class `FieldOperatorApplication`
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/include/concealer/service_with_validation.hpp
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Remove static member function `evaluateTimeToCollisionCondition`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/time_to_collision_condition.hpp
  test_runner/scenario_test_runner/scenario/ByEntityCondition.EntityCondition.TimeToCollisionCondition.yaml
Due: unittests-openscenario_interpreter

Add new enumeration `Compatibility`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/compatibility.hpp
  openscenario/openscenario_interpreter/src/compatibility.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: unittests-openscenario_interpreter

Add new parameter `speed_condition` to switch compatibility
  common/scenario_simulator_exception/include/scenario_simulator_exception/concatenate.hpp
  openscenario/openscenario_interpreter/CMakeLists.txt
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_condition.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_condition.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: unittests-openscenario_interpreter

Review stylistic changes
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_lane_action.cpp
Due: cpp_mock_test

Comment description change
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

ref(traffic_simulator): rename isEntitySpawned to isEntityExist
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  test_runner/random_test_runner/include/random_test_runner/test_executor.hpp
  test_runner/random_test_runner/test/test_test_executor.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

ref(traffic_simulator): rename isEntitySpawned to isEntityExist
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  test_runner/random_test_runner/include/random_test_runner/test_executor.hpp
  test_runner/random_test_runner/test/test_test_executor.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

Quality gate issues resolves
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

Update `TimeToCollisionCondition` to call `SpeedCondition` in standard compatible mode
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/time_to_collision_condition.hpp
  test_runner/scenario_test_runner/scenario/sample.yaml
Due: unittests-openscenario_interpreter

Update some member functions of `FieldOperatorApplication` to be non-virtual
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/include/concealer/service_with_validation.hpp
  external/concealer/src/field_operator_application.cpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

Update all member function of `FieldOperatorApplication` to be non-virtual
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/field_operator_application.cpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

Remove class template `FieldOperatorApplicationFor<T>`
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-concealer

Add `/localization/pose_estimator/pose_with_covariance` to `Communication.md`
  docs/developer_guide/Communication.md
Due: none

Reformat tables in `Communication.md`
  docs/developer_guide/Communication.md
Due: none

Sort the table lexicographically by topic name
  docs/developer_guide/Communication.md
Due: none

Remove comments in `Communication.md`
  docs/developer_guide/Communication.md
Due: none

Remove function template `toAutowareStateString`
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Remove function template `listup`
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

Move member function implementations into `field_operator_application.cpp`
  external/concealer/CMakeLists.txt
  external/concealer/src/field_operator_application.cpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

Remove header file `autoware_stream.hpp`
  external/concealer/include/concealer/autoware_stream.hpp
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Cleanup class template `SubscriberWrapper`
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/subscriber_wrapper.hpp
Due: unittests-concealer

Add new header file `concealer/member_detector.hpp`
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/has_data_member_allow_goal_modification.hpp
  external/concealer/include/concealer/has_data_member_option.hpp
  external/concealer/include/concealer/member_detector.hpp
  external/concealer/include/concealer/service_with_validation.hpp
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Add using declarations for subscribers and publishers
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/src/autoware_universe.cpp
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Remove member function `FieldOperatorApplication::shutdownAutoware`
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

ref(behavior_tree_plugin): rename default value of current_action_: "waiting" -> "none"
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/transition_events/transition_event.hpp
Due: cpp_mock_test

ref(traffic_simulator): remove redundant traffic_simulator:: ns, add const to some passed arguments
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/lanelet_pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
