Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Fix NormalDistribution_geometry_msgs_msg_PoseWithCovarianceStamped::when_all_parameters_are_given test
  external/concealer/test/normal_distribution.cpp
Due: unittests-concealer

Add NormalDistribution_geometry_msgs_msg_PoseWithCovarianceStamped::multi_axes_check test
  external/concealer/test/normal_distribution.cpp
Due: unittests-concealer

Fix linelint error
  external/concealer/test/normal_distribution.cpp
Due: unittests-concealer

Implement record_config_file parsing part
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

Handle boolean option for record option
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

Add auto --all option adding functionality
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

Notify final command for users
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

Adapt simple_sensor_simulator::ImuSensor to use concealer::Publisher
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/sensor_simulation.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/imu/imu_sensor.cpp
Due: cpp_mock_test

Implement legacy noise override switching
  external/concealer/include/concealer/publisher.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/imu/imu_sensor.cpp
Due: cpp_mock_test, unittests-concealer

Add IMU tests
  simulation/simple_sensor_simulator/test/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/sensor_simulation/imu/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/sensor_simulation/imu/test_imu_sensor.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/imu/test_imu_sensor.hpp
Due: cpp_mock_test

Improve IMU tests
  simulation/simple_sensor_simulator/test/src/sensor_simulation/imu/test_imu_sensor.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/imu/test_imu_sensor.hpp
Due: cpp_mock_test

Add /sensing/imu/imu_data parameters to parameters file
  test_runner/scenario_test_runner/config/parameters.yaml
Due: none

Fix minor issue
  test_runner/scenario_test_runner/config/parameters.yaml
Due: none

Add IMU sensor test descriptions
  simulation/simple_sensor_simulator/test/src/sensor_simulation/imu/test_imu_sensor.cpp
Due: cpp_mock_test

Revert to previous calculateCovariance function and adapt new one to use the same convention
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
Due: cpp_mock_test

Use boost::math::constants
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
Due: cpp_mock_test

Move NormalDistribution specialization for Imu to concealer package
  external/concealer/include/concealer/publisher.hpp
  external/concealer/package.xml
  external/concealer/src/publisher.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/imu/imu_sensor.cpp
Due: cpp_mock_test, unittests-concealer

Cleanup
  simulation/simple_sensor_simulator/src/sensor_simulation/imu/imu_sensor.cpp
Due: cpp_mock_test

Improve IMU NormalDistribution deactivation
  external/concealer/include/concealer/publisher.hpp
  external/concealer/src/publisher.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
Due: cpp_mock_test, unittests-concealer

Revert Publisher::operator() to non-const and Publisher::randomize to non-mutable
  external/concealer/include/concealer/publisher.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
Due: cpp_mock_test, unittests-concealer

Fix parameter comments
  test_runner/scenario_test_runner/config/parameters.yaml
Due: none

Add covariance matrix validation
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
Due: cpp_mock_test

Revert "Add covariance matrix validation"
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
Due: cpp_mock_test

Add default IMU noise in new configuration to be the same as default in legacy configuration
  test_runner/scenario_test_runner/config/parameters.yaml
Due: none

Use hardcoded covariance matrices when new IMU noise configuration is used
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
Due: cpp_mock_test

Add covariance diagonal elements errors for Imu
  external/concealer/include/concealer/publisher.hpp
  external/concealer/src/publisher.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
  test_runner/scenario_test_runner/config/parameters.yaml
Due: cpp_mock_test, unittests-concealer

Set imu data standard_deviation to zero
  test_runner/scenario_test_runner/config/parameters.yaml
Due: none

Add testing scenario
  test_runner/scenario_test_runner/scenario/TrafficSignalsNonEgo.yaml
Due: none

Add replay testing based TrafficSignal test
  test_dependency_humble.repos
  test_runner/scenario_test_runner/CMakeLists.txt
  test_runner/scenario_test_runner/package.xml
  test_runner/scenario_test_runner/test/fixtures/empty.mcap
  test_runner/scenario_test_runner/test/test_traffic_signals.py
Due: none

Add test dependency clone
  .github/workflows/BuildAndRun.yaml
Due: none

Fix linelint
  test_dependency_humble.repos
  test_runner/scenario_test_runner/package.xml
Due: none

Do not treat deprecation as an error
  rviz_plugins/openscenario_visualization/CMakeLists.txt
  simulation/traffic_simulator/CMakeLists.txt
Due: cpp_mock_test

Use Autoware spell check dict
  .github/workflows/SpellCheck.yaml
  .github/workflows/custom_spell.json
Due: none

Add missing words
  .github/workflows/custom_spell.json
Due: none

Add unit tests for openscenario_interpreter::Double
  openscenario/openscenario_interpreter/CMakeLists.txt
  openscenario/openscenario_interpreter/test/test_double.cpp
Due: unittests-openscenario_interpreter

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
