Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

feat: add record_option to forward options to ros2 bag record command
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/record.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: unittests-openscenario_interpreter

Use hardcoded covariance matrices when new IMU noise configuration is used
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
Due: cpp_mock_test

ci: Add random_test_runner tests to CI piepline
  .github/workflows/workflow.sh
  test_runner/random_test_runner/CMakeLists.txt
  test_runner/random_test_runner/package.xml
  test_runner/random_test_runner/script/result_checker.py
Due: none

CI: Move result checker script to scripts directory
  .github/workflows/workflow.sh
  test_runner/random_test_runner/scripts/result_checker.py
Due: none

Ci: Fix issue with python script
  test_runner/random_test_runner/scripts/result_checker.py
Due: none

fix(CppMockScenarios) Added ego_model to load appropriet asset-key when run scenarios with AWSIM
  mock/cpp_mock_scenarios/launch/mock_test.launch.py
Due: unittests-cpp_mock_scenarios

fix(CppMockScenarios) Added map_path parameter to load a path to lanelet2 file when runing a scenario with AWSIM
  mock/cpp_mock_scenarios/launch/mock_test.launch.py
Due: unittests-cpp_mock_scenarios

ci: Make result_checker.py executable
  test_runner/random_test_runner/scripts/result_checker.py
Due: none

Add perception noise config v3 candidate
  test_runner/scenario_test_runner/config/parameters.yaml
Due: none

Fix getCanonicalizedLaneletPose to return an empty optional instead of throwing an error when no poses are available
  simulation/traffic_simulator/src/data_type/entity_status.cpp
Due: cpp_mock_test

Update V2I external traffic signals architecture_type documentation
  docs/developer_guide/Communication.md
Due: none

Fix entity-to-entity distance freespace compatibility issue #1188
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

Apply clang-format to relative_distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

Remove empty line from v2x traffic signals table
  docs/developer_guide/Communication.md
Due: none

Fix
  mock/cpp_mock_scenarios/CMakeLists.txt
  openscenario/openscenario_utility/CMakeLists.txt
  simulation/simulation_interface/CMakeLists.txt
  test_runner/random_test_runner/CMakeLists.txt
  test_runner/scenario_test_runner/CMakeLists.txt
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_utility

Throw exception instead of correcting input
  common/math/geometry/include/geometry/spline/catmull_rom_spline_interface.hpp
Due: none

Fix longitudinal distance hardcoded values in unit tests to match new lane matching method
  simulation/traffic_simulator/test/src/utils/test_distance.cpp
Due: cpp_mock_test

Remove unnecesary distance calculation
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
Due: cpp_mock_test

Implement fix to calculate distance along lanelet using Pythagorean Theorem between lateral and longitudinal distances
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
Due: cpp_mock_test

Add comment about the nearestS function behavior
  common/math/geometry/include/geometry/spline/catmull_rom_spline_interface.hpp
Due: none

Find better S value than just line collision when converting map pose to lanelet pose
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
Due: cpp_mock_test

Move spline nearest S value calculation to `CatmullRomSplineInterface` class
  common/math/geometry/include/geometry/spline/catmull_rom_spline_interface.hpp
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

Add s value range validatiopn before passing it to nearestS
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
Due: cpp_mock_test

Fix exception condition
  common/math/geometry/include/geometry/spline/catmull_rom_spline_interface.hpp
Due: none

Sanitize input - overwrite invalid values
  common/math/geometry/include/geometry/spline/catmull_rom_spline_interface.hpp
Due: none

Move constexpr calculations to the beginning of a function
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
Due: cpp_mock_test

Use auto keyword when applicable
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

Simplify code - move functionality outside of the instantly called lambda
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
Due: cpp_mock_test

Fix return values - return smallest distance and the equivalent s value and not smallest s value with equivalent distance
  common/math/geometry/include/geometry/spline/catmull_rom_spline_interface.hpp
Due: none

if - else
  simulation/traffic_simulator/src/lanelet_wrapper/pose.cpp
Due: cpp_mock_test

Remove unused test_depend
  map/kashiwanoha_map/package.xml
  map/simple_cross_map/package.xml
Due: unittests-kashiwanoha_map

Add missing ament_cmake_auto
  common/scenario_simulator_exception/package.xml
  common/simple_junit/package.xml
  common/status_monitor/package.xml
  mock/cpp_mock_scenarios/package.xml
  openscenario/openscenario_experimental_catalog/package.xml
  openscenario/openscenario_interpreter/package.xml
  openscenario/openscenario_interpreter_example/package.xml
  openscenario/openscenario_interpreter_msgs/package.xml
  openscenario/openscenario_preprocessor_msgs/package.xml
  test_runner/random_test_runner/package.xml
Due: unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

Add or update xml-model
  openscenario/openscenario_interpreter_msgs/package.xml
  openscenario/openscenario_preprocessor_msgs/package.xml
  simulation/simple_sensor_simulator/package.xml
  simulation/traffic_simulator/package.xml
Due: cpp_mock_test, unittests-openscenario_interpreter

Isolate protoc output into project named directory
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/imu/imu_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/lidar_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/occupancy_grid_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/primitives/box.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/sensor_simulation.hpp
  simulation/simple_sensor_simulator/test/src/utils/helper_functions.hpp
  simulation/simulation_interface/CMakeLists.txt
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/simulation_interface/include/simulation_interface/zmq_multi_client.hpp
  simulation/simulation_interface/include/simulation_interface/zmq_multi_server.hpp
  simulation/simulation_interface/test/expect_equal_macros.hpp
  simulation/simulation_interface/test/test_conversions.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights_base.hpp
Due: cpp_mock_test

Use mshick/add-pr-comment to handle PR messages
  .github/workflows/InterfaceUpdateNotification.yaml
  .github/workflows/PostCheckList.yaml
  .github/workflows/SimModelUpdateNotification.yaml
Due: none

Commonize perception noise v2 for future noise v3 in simple_sensor_simulator
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

Add empty noise v3 implementation in simple_sensor_simulator
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test
