Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

expand comments
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

Minor test improvements
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

ref(traffic_simulator): use toLaneletPose() from separated pose collection
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/cpp_scenario_node.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/lanelet_pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/helper/helper.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

ref(traffic_simulator): use toCanonicalizedLaneletPose
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

bring selected functions to the helper file
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
  simulation/traffic_simulator/test/src/entity_helper_functions.hpp
Due: cpp_mock_test

comment fix
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

Add setOtherStatus test
  simulation/traffic_simulator/test/src/entity/dummy_entity.hpp
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

Add setStatus test
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

add tests, unify comments, DELETE BOB
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

Fix style in DummyEntity
  simulation/traffic_simulator/test/src/entity/dummy_entity.hpp
Due: cpp_mock_test

MORE
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

feat(traffic_simulator): add canonicalized_lanelet_pose, getCanonicalizedLaneletPose to: EntityStatus and EntityBase
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

ref(cpp_mock_scenarios): adapt to separated pose::canonicalize() and getCanonicalizeLaneletPose
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/cpp_scenario_node.hpp
  mock/cpp_mock_scenarios/src/behavior_plugin/load_do_nothing_plugin.cpp
  mock/cpp_mock_scenarios/src/collision/crashing_npc.cpp
  mock/cpp_mock_scenarios/src/collision/spawn_with_offset.cpp
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/accelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/decelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_lane/acquire_position_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/assign_route_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/cancel_request.cpp
  mock/cpp_mock_scenarios/src/follow_lane/follow_with_offset.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left_with_id.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear_lateral_velocity.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear_time.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_longitudinal_distance.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right_with_id.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_time.cpp
  mock/cpp_mock_scenarios/src/measurement/get_distance_in_lane_coordinate_distance.cpp
  mock/cpp_mock_scenarios/src/measurement/get_distance_to_lane_bound.cpp
  mock/cpp_mock_scenarios/src/merge/merge_left.cpp
  mock/cpp_mock_scenarios/src/metrics/traveled_distance.cpp
  mock/cpp_mock_scenarios/src/move_backward/move_backward.cpp
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_continuous_false.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_relative.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_step.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_limit.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_linear.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_relative.cpp
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
Due: unittests-cpp_mock_scenarios

ref(traffic_simulator): adapt pedestrian and vehicle entities to getCanonicalizedLaneletPose
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

ref(openscenario_interpreter): adapt SimulatorCore to getCanonicalizedLaneletPose
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

ref(traffic_simulator): adapt EntityManager to getCanonicalizedLaneletPose()
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

remove public keyword, add tests
  simulation/traffic_simulator/test/src/entity/dummy_entity.hpp
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

feat(traffic_simulator): add extend ::pose collection
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

feat(behavior_tree): add exception note
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

ref(traffic_simulator): simply setEntityStatus - move canonicalize to EntityManager
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

fix(random_test_runner): adapt text_executor for remove no canonicalize in API
  test_runner/random_test_runner/include/random_test_runner/test_executor.hpp
  test_runner/random_test_runner/test/test_test_executor.cpp
Due: none

ref(cpp_mock_scenario): remove canonicalize for spawn and setEntityStatus
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/cpp_scenario_node.hpp
  mock/cpp_mock_scenarios/src/behavior_plugin/load_do_nothing_plugin.cpp
  mock/cpp_mock_scenarios/src/collision/crashing_npc.cpp
  mock/cpp_mock_scenarios/src/collision/spawn_with_offset.cpp
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/accelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/decelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_lane/acquire_position_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/assign_route_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/cancel_request.cpp
  mock/cpp_mock_scenarios/src/follow_lane/follow_with_offset.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left_with_id.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear_lateral_velocity.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear_time.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_longitudinal_distance.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right_with_id.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_time.cpp
  mock/cpp_mock_scenarios/src/measurement/get_distance_in_lane_coordinate_distance.cpp
  mock/cpp_mock_scenarios/src/measurement/get_distance_to_lane_bound.cpp
  mock/cpp_mock_scenarios/src/merge/merge_left.cpp
  mock/cpp_mock_scenarios/src/metrics/traveled_distance.cpp
  mock/cpp_mock_scenarios/src/move_backward/move_backward.cpp
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_continuous_false.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_relative.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_step.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_limit.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_linear.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_relative.cpp
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
Due: unittests-cpp_mock_scenarios

ref(traffic_simulator): improve setEntityManager - use ::pose, improve CanonicalizedEntityStatus
  mock/cpp_mock_scenarios/src/follow_lane/cancel_request.cpp
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/lanelet_pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

ref(traffic_simulator): remove unecessary casts to EntityStatus in EntityBase
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

ref(traffic_simulator): remove unnecessary cast to EnrityStatus in EntityManager and MicObjectEntity
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/misc_object_entity.cpp
Due: cpp_mock_test

tmp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/behavior_tree_plugin/src/pedestrian/pedestrian_action_node.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
  simulation/do_nothing_plugin/src/plugin.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  test_runner/random_test_runner/test/test_test_executor.cpp
  test_runner/random_test_runner/test/test_utils.hpp
Due: cpp_mock_test

ref(traffic_simulator): tidy up constructCanonicalizedLaneletPose
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/cpp_scenario_node.hpp
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/follow_lane/acquire_position_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/assign_route_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/helper/helper.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

ref(cpp_mock_scenarios): fix canonicalize
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/follow_lane/acquire_position_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/assign_route_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
Due: unittests-cpp_mock_scenarios

ref(behavior_tree): add getLaneletId to CanonicalizedEntityStatus
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/move_backward_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
Due: cpp_mock_test

ref(traffic_simulator, behavior_tree): separate isInLanelet, isAtEndOfLanelet, estimateLaneletPose
  simulation/behavior_tree_plugin/src/pedestrian/pedestrian_action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

feat(traffic_simulator): add adjust Oz and pitch to CanonicalizedLaneletPose contructor
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/lanelet_pose.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
Due: cpp_mock_test

ref(traffic_simulator): tidyup names and unused
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

ref(traffic_simulator): separate getMapPoseFromRelativePose
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

ref(traffic_simulator): tidyup requestLaneChange
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

ref(traffic_simulator): remove fillLaneletPose
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/misc_object_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/misc_object_entity.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

ref(simple_sensor_simulator): remove fillLaneletDataAndSnapZToLanelet
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

rev(behavior_tree): revert comment change
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

fix(traffic_simulator): fix CanonicalizedEntityStatus with HdmapUtils constructor
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
Due: cpp_mock_test

ref(traffic_simulator): remove commented out for refactor
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/lanelet_pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/misc_object_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/misc_object_entity.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

fix(cpp_mock_scenarios): fix after ::pose refactor
  mock/cpp_mock_scenarios/src/behavior_plugin/load_do_nothing_plugin.cpp
  mock/cpp_mock_scenarios/src/follow_lane/acquire_position_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/cancel_request.cpp
  mock/cpp_mock_scenarios/src/follow_lane/follow_with_offset.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left_with_id.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear_lateral_velocity.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear_time.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right_with_id.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_time.cpp
  mock/cpp_mock_scenarios/src/measurement/get_distance_in_lane_coordinate_distance.cpp
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
Due: unittests-cpp_mock_scenarios

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
