Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Replace continuous steering deadband with threshold type
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
Due: cpp_mock_test

feat(field_operator_application):diag reset command 20 sec after waiting_for_engage
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Update README.md
  README.md
Due: none

fix(scenario_test_runner): accept `awf/universe/20250130` from every launch file
  mock/cpp_mock_scenarios/launch/mock_test.launch.py
  test_runner/random_test_runner/launch/random_test.launch.py
Due: unittests-cpp_mock_scenarios

fix(simple_sensor_simulator): shrink `point_to_entity_index` with the cloud
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/lidar_noise_model_v1.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/lidar_noise_model_v1.cpp
Due: cpp_mock_test

feat(simple_sensor_simulator): publish the obstacle segmentation cloud as `PointXYZCPE`
  docs/developer_guide/Communication.md
  docs/developer_guide/Parameters.md
  docs/developer_guide/SimpleSensorSimulator.md
  docs/user_guide/random_test_runner/Usage.md
  mock/cpp_mock_scenarios/launch/mock_test.launch.py
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/lidar_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/object_compatibility.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/segmented_point_cloud.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/segmented_point_type.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/lidar_sensor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/segmented_point_cloud.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_lidar_sensor.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_lidar_sensor.hpp
  test_runner/random_test_runner/launch/random_test.launch.py
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: cpp_mock_test, unittests-cpp_mock_scenarios

test(scenario_test_runner): check the segmented point cloud from a scenario
  test_runner/scenario_test_runner/CMakeLists.txt
  test_runner/scenario_test_runner/scenario/SegmentedPointCloud.StructurePoints.yaml
  test_runner/scenario_test_runner/test/test_segmented_point_cloud.py
Due: none

test(simple_sensor_simulator): check the entity mapping survives point removal
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_lidar_sensor.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_lidar_sensor.hpp
Due: cpp_mock_test

test(scenario_test_runner): drive past a low obstacle seen only as points
  test_runner/scenario_test_runner/scenario/SegmentedPointCloud.LowObstacleAvoidance.yaml
Due: none

fix: use correct index to return lanelet pose in v2::laneChangeTrajectory function
  simulation/traffic_simulator/src/lanelet_wrapper/lane_change.cpp
Due: cpp_mock_test

revert: restore control flow and waypoints calculation in LaneChangeAction::doAction
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
Due: cpp_mock_test

fix: restore missing state cleanup on lane change completion in LaneChangeAction
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
Due: cpp_mock_test

fix: use emplace_back to construct CanonicalizedLaneletPose
  simulation/traffic_simulator/src/lanelet_wrapper/lane_change.cpp
Due: cpp_mock_test

refactor: use helper::constructCanonicalizedLaneletPose to minimize diff
  simulation/traffic_simulator/src/lanelet_wrapper/lane_change.cpp
Due: cpp_mock_test

fix: use pose::toCanonicalizedLaneletPose to not throw an exception when pose canonicalization is failed
  simulation/traffic_simulator/src/lanelet_wrapper/lane_change.cpp
Due: cpp_mock_test

fix: make /home/ubuntu traversable in the Jazzy image
  Dockerfile
Due: none

Fix wrong calculation of distance to stop line
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_lane_action.cpp
Due: cpp_mock_test

Fix wrong calculation of distance to objects that ego yields to
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/yield_action.cpp
Due: cpp_mock_test

Fix wrong calculation of distance to crossing entity in stop line
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

Fix wrong calculation of distance to traffic light
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_traffic_light_action.cpp
Due: cpp_mock_test

Fix wrong calculation of distance to stop line
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
Due: cpp_mock_test

Add test scenario to check if npc does not overrun
  test_runner/scenario_test_runner/scenario/npc-stop-at-stop-line.yaml
Due: none

Fix wrong distance calculation
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
