Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

remove unused bool return value
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

add comment
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test

add name argument
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

add doxygen comments
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test

enable pass compile
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

use API::setEntityStatus function
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

use template
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

remove unused depend
  mock/cpp_mock_scenarios/package.xml
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

remove spawn function without status
  docs/design/TrafficSimulator.md
  mock/cpp_mock_scenarios/src/collision/crashing_npc.cpp
  mock/cpp_mock_scenarios/src/collision/spawn_with_offset.cpp
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/accelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/decelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_lane/acquire_position_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/assign_route_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/cancel_request.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left_with_id.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right_with_id.cpp
  mock/cpp_mock_scenarios/src/measurement/get_longitudinal_distance.cpp
  mock/cpp_mock_scenarios/src/merge/merge_left.cpp
  mock/cpp_mock_scenarios/src/metrics/collision.cpp
  mock/cpp_mock_scenarios/src/metrics/momentary_stop.cpp
  mock/cpp_mock_scenarios/src/metrics/out_of_range.cpp
  mock/cpp_mock_scenarios/src/metrics/reaction_time.cpp
  mock/cpp_mock_scenarios/src/metrics/standstill_duration.cpp
  mock/cpp_mock_scenarios/src/metrics/traveled_distance.cpp
  mock/cpp_mock_scenarios/src/move_backward/move_backward.cpp
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
  mock/cpp_mock_scenarios/src/traffic_light/phase_control.cpp
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

Move some classes constructors into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/attribute.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/element.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/absolute_target_speed.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/act.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/controller.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/maneuver_group.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/orientation.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/properties.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/property.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_action_target.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/story.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_controller.hpp
  openscenario/openscenario_interpreter/src/syntax/absolute_target_speed.cpp
  openscenario/openscenario_interpreter/src/syntax/act.cpp
  openscenario/openscenario_interpreter/src/syntax/action.cpp
  openscenario/openscenario_interpreter/src/syntax/condition.cpp
  openscenario/openscenario_interpreter/src/syntax/controller.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver_group.cpp
  openscenario/openscenario_interpreter/src/syntax/orientation.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/property.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_action_target.cpp
  openscenario/openscenario_interpreter/src/syntax/story.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_controller.cpp
Due: unittests-openscenario_interpreter

add spawn function
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

Move some classes constructors into .cpp (2)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/assign_controller_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/by_entity_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/collision_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/controller_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/performance.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/private_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_action.hpp
  openscenario/openscenario_interpreter/src/syntax/by_entity_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/collision_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/controller_action.cpp
  openscenario/openscenario_interpreter/src/syntax/entity_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/performance.cpp
  openscenario/openscenario_interpreter/src/syntax/private_action.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_action.cpp
Due: unittests-openscenario_interpreter

add API::
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

update Release note
  docs/ReleaseNotes.md
Due: none

apply reformat
  mock/cpp_mock_scenarios/src/collision/crashing_npc.cpp
  mock/cpp_mock_scenarios/src/collision/spawn_with_offset.cpp
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/accelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/decelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_lane/acquire_position_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/assign_route_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/cancel_request.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left_with_id.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right_with_id.cpp
  mock/cpp_mock_scenarios/src/measurement/get_longitudinal_distance.cpp
  mock/cpp_mock_scenarios/src/merge/merge_left.cpp
  mock/cpp_mock_scenarios/src/metrics/collision.cpp
  mock/cpp_mock_scenarios/src/metrics/momentary_stop.cpp
  mock/cpp_mock_scenarios/src/metrics/out_of_range.cpp
  mock/cpp_mock_scenarios/src/metrics/reaction_time.cpp
  mock/cpp_mock_scenarios/src/metrics/standstill_duration.cpp
  mock/cpp_mock_scenarios/src/metrics/traveled_distance.cpp
  mock/cpp_mock_scenarios/src/move_backward/move_backward.cpp
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
  mock/cpp_mock_scenarios/src/traffic_light/phase_control.cpp
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
Due: unittests-cpp_mock_scenarios

move rviz file and configure depends
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
  simulation/traffic_simulator/include/traffic_simulator/api/configuration.hpp
  test_runner/scenario_test_runner/launch/replay_bag.launch.py
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: cpp_mock_test

Move some classes constructors into .cpp (3)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/attribute.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/assign_route_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/center.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/global_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/init.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/lane_change_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/route.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/scenario_definition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/stand_still_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/vehicle.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/syntax/assign_route_action.cpp
  openscenario/openscenario_interpreter/src/syntax/center.cpp
  openscenario/openscenario_interpreter/src/syntax/global_action.cpp
  openscenario/openscenario_interpreter/src/syntax/init.cpp
  openscenario/openscenario_interpreter/src/syntax/lane_change_action.cpp
  openscenario/openscenario_interpreter/src/syntax/route.cpp
  openscenario/openscenario_interpreter/src/syntax/scenario_definition.cpp
  openscenario/openscenario_interpreter/src/syntax/stand_still_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/vehicle.cpp
Due: unittests-openscenario_interpreter

enable check entity exists
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

Move some classes constructors into .cpp (4)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/catalog_location.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entities.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/init_actions.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/lane_change_target.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/lateral_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_modify_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/scenario_definition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/syntax/catalog_location.cpp
  openscenario/openscenario_interpreter/src/syntax/entities.cpp
  openscenario/openscenario_interpreter/src/syntax/init_actions.cpp
  openscenario/openscenario_interpreter/src/syntax/lane_change_action.cpp
  openscenario/openscenario_interpreter/src/syntax/lane_change_target.cpp
  openscenario/openscenario_interpreter/src/syntax/lateral_action.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_modify_action.cpp
Due: unittests-openscenario_interpreter

remove boost none in each metrics
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/metrics/collision_metric.cpp
  simulation/traffic_simulator/src/metrics/momentary_stop_metric.cpp
  simulation/traffic_simulator/src/metrics/out_of_range_metric.cpp
  simulation/traffic_simulator/src/metrics/traveled_distance_metric.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

remove boost::none from getStandstillDuration function
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/metrics/momentary_stop_metric.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

rename scenario class
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
Due: unittests-cpp_mock_scenarios

Move some classes constructors into .cpp (5)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/absolute_target_lane.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/acquire_position_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/axle.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/maneuver.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_world_position.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/road_network.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/transition_dynamics.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/world_position.hpp
  openscenario/openscenario_interpreter/src/syntax/absolute_target_lane.cpp
  openscenario/openscenario_interpreter/src/syntax/acquire_position_action.cpp
  openscenario/openscenario_interpreter/src/syntax/axle.cpp
  openscenario/openscenario_interpreter/src/syntax/entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_world_position.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state_action.cpp
  openscenario/openscenario_interpreter/src/syntax/transition_dynamics.cpp
  openscenario/openscenario_interpreter/src/syntax/world_position.cpp
Due: unittests-openscenario_interpreter

add spawnEntity function
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

Move some classes constructors into .cpp (6)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/file.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/modify_rule.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/openscenario.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/simulation_time_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/trigger.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/triggering_entities.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/scope.cpp
  openscenario/openscenario_interpreter/src/syntax/by_entity_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/modify_rule.cpp
  openscenario/openscenario_interpreter/src/syntax/open_scenario.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_action.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_modify_action.cpp
  openscenario/openscenario_interpreter/src/syntax/simulation_time_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/trigger.cpp
  openscenario/openscenario_interpreter/src/syntax/triggering_entities.cpp
Due: unittests-openscenario_interpreter

remove boost::none check
  mock/cpp_mock_scenarios/src/metrics/momentary_stop.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/metrics/momentary_stop_metric.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

remove debug line
  mock/cpp_mock_scenarios/src/metrics/momentary_stop.cpp
Due: unittests-cpp_mock_scenarios

enable upload test results as artifact
  .github/workflows/Build.yaml
Due: none

enable show test results
  .github/workflows/Build.yaml
Due: none

modify if condition
  .github/workflows/Build.yaml
Due: none

apply reformat
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/metrics/momentary_stop_metric.cpp
Due: cpp_mock_test

add catalog_reference.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/catalog.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/catalog_location.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/catalog_locations.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/catalog_reference.hpp
Due: unittests-openscenario_interpreter

Move some classes constructors into .cpp (7)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/actors.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/axles.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/by_value_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/custom_command_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/longitudinal_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/override_controller_value_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/reach_position_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_target_speed.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/routing_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/teleport_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/time_headway_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/user_defined_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/waypoint.hpp
  openscenario/openscenario_interpreter/src/syntax/actors.cpp
  openscenario/openscenario_interpreter/src/syntax/by_value_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
  openscenario/openscenario_interpreter/src/syntax/longitudinal_action.cpp
  openscenario/openscenario_interpreter/src/syntax/reach_position_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_target_speed.cpp
  openscenario/openscenario_interpreter/src/syntax/routing_action.cpp
  openscenario/openscenario_interpreter/src/syntax/teleport_action.cpp
  openscenario/openscenario_interpreter/src/syntax/time_headway_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/user_defined_action.cpp
  openscenario/openscenario_interpreter/src/syntax/waypoint.cpp
Due: unittests-openscenario_interpreter

add clenaup step
  common/simple_junit/test/src/test.cpp
Due: none

change action step order
  .github/workflows/Build.yaml
Due: none

Move some classes constructors into .cpp (8)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/acceleration_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/bounding_box.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/infrastructure_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/object_controller.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_declaration.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/pedestrian.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/phase.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_controller_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signals.hpp
  openscenario/openscenario_interpreter/src/syntax/acceleration_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/bounding_box.cpp
  openscenario/openscenario_interpreter/src/syntax/infrastructure_action.cpp
  openscenario/openscenario_interpreter/src/syntax/object_controller.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_declaration.cpp
  openscenario/openscenario_interpreter/src/syntax/pedestrian.cpp
  openscenario/openscenario_interpreter/src/syntax/phase.cpp
  openscenario/openscenario_interpreter/src/syntax/scenario_object.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_action.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_controller.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_controller_action.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signals.cpp
Due: unittests-openscenario_interpreter

Move some classes constructors into .cpp (9)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/catalog_definition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/dimensions.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/directory.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/lane_position.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_set_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/private.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/properties.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/user_defined_value_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/acquire_position_action.cpp
  openscenario/openscenario_interpreter/src/syntax/catalog_definition.cpp
  openscenario/openscenario_interpreter/src/syntax/dimensions.cpp
  openscenario/openscenario_interpreter/src/syntax/directory.cpp
  openscenario/openscenario_interpreter/src/syntax/entity_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/lane_position.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_set_action.cpp
  openscenario/openscenario_interpreter/src/syntax/private.cpp
  openscenario/openscenario_interpreter/src/syntax/private_action.cpp
  openscenario/openscenario_interpreter/src/syntax/properties.cpp
  openscenario/openscenario_interpreter/src/syntax/reach_position_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/user_defined_value_condition.cpp
Due: unittests-openscenario_interpreter

Move some classes constructors into .cpp (10)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/add_entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/catalog_locations.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/condition_edge.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/condition_group.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/file_header.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/misc_object.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/open_scenario_category.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_add_value_rule.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_declarations.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/rule.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/scenario_object.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_controller_condition.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/syntax/action.cpp
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/assign_route_action.cpp
  openscenario/openscenario_interpreter/src/syntax/catalog_locations.cpp
  openscenario/openscenario_interpreter/src/syntax/condition_edge.cpp
  openscenario/openscenario_interpreter/src/syntax/condition_group.cpp
  openscenario/openscenario_interpreter/src/syntax/controller.cpp
  openscenario/openscenario_interpreter/src/syntax/entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/file_header.cpp
  openscenario/openscenario_interpreter/src/syntax/global_action.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver_group.cpp
  openscenario/openscenario_interpreter/src/syntax/misc_object.cpp
  openscenario/openscenario_interpreter/src/syntax/object_controller.cpp
  openscenario/openscenario_interpreter/src/syntax/open_scenario.cpp
  openscenario/openscenario_interpreter/src/syntax/open_scenario_category.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_add_value_rule.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/route.cpp
  openscenario/openscenario_interpreter/src/syntax/rule.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_controller_condition.cpp
Due: unittests-openscenario_interpreter

Move some classes constructors into .cpp (11)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/event.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_multiply_by_value_rule.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/position.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/scenario_object.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element_state_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/act.cpp
  openscenario/openscenario_interpreter/src/syntax/condition.cpp
  openscenario/openscenario_interpreter/src/syntax/condition_group.cpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/event.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_multiply_by_value_rule.cpp
  openscenario/openscenario_interpreter/src/syntax/position.cpp
  openscenario/openscenario_interpreter/src/syntax/scenario_definition.cpp
  openscenario/openscenario_interpreter/src/syntax/scenario_object.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/story.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard_element_state_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/teleport_action.cpp
  openscenario/openscenario_interpreter/src/syntax/trigger.cpp
Due: unittests-openscenario_interpreter
