Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

add setMapPose function
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

add setTwist/setAcceleration function
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/sensor_simulation.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

remove externally_updated_status_
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

modify rviz settings
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
Due: cpp_mock_test

update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

update contributing guideline
  CONTRIBUTING.md
Due: none

refactor: use consider_pose_by_road_slope instead of consider_lanelet_pose
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/simple_sensor_simulator.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: cpp_mock_test

fix template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Doxygen note
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test

doc: fix mkdocs.yml to delete unavailable page setting
  mkdocs.yml
Due: none

doc: add memo for OpenSCENARIO standard violation
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

fix(RelativeDistanceCondition): consider z-axis
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

fix(DistanceCondition): consider z-axis in euclidian distance
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
Due: unittests-openscenario_interpreter

fix(ReachPositionCondition): consider z-axis in euclidian distance
  openscenario/openscenario_interpreter/src/syntax/reach_position_condition.cpp
Due: unittests-openscenario_interpreter

chore: format
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

fix: build error
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

configure workflows
  .github/workflows/BuildAndRun.yaml
  .github/workflows/CheckAndCommentAction.yaml
  .github/workflows/CheckBranchUpToDate.yaml
  .github/workflows/CheckLabel.yaml
  .github/workflows/Docker.yaml
  .github/workflows/Documentation.yaml
  .github/workflows/DocumentationLinkCheck.yaml
  .github/workflows/InterfaceUpdateNotification.yaml
  .github/workflows/LineLint.yaml
  .github/workflows/PostCheckList.yaml
  .github/workflows/Release.yaml
  .github/workflows/SimModelUpdateNotification.yaml
  .github/workflows/SpellCheck.yaml
  .github/workflows/SpellCheckAll.yaml
  .github/workflows/SyncReleaseNote.yaml
  .github/workflows/ToolDispatch.yaml
Due: none

merge paragraphs
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix sentence
  .github/workflows/PostCheckList.yaml
Due: none

fix pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix sentence
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

doc: add note for origin orientation of grid map
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_sensor.cpp
Due: cpp_mock_test

chore: fix conflict resolving miss
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
Due: cpp_mock_test

change package version
  rviz_plugins/real_time_factor_control_rviz_plugin/package.xml
Due: none

ref(follow_trajectory_action): apply review changes
  simulation/behavior_tree_plugin/src/pedestrian/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_trajectory.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_waypoint_controller.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

ref(zmq): apply clang reformat
  simulation/simulation_interface/include/simulation_interface/zmq_multi_server.hpp
Due: cpp_mock_test

fix: use output orientation as of now in orientation test
  test_runner/random_test_runner/test/test_lanelet_utils.cpp
  test_runner/random_test_runner/test/test_test_randomizer.cpp
Due: none

use small tag
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

update template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix lint error
  .github/workflows/DocumentationLinkCheck.yaml
  .github/workflows/custom_spell.json
Due: none

remove small tag
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Remove unneccessary argument name
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity.hpp
Due: unittests-openscenario_interpreter

Remove unneccessary argument name
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_selection.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/external_object_reference.hpp
Due: unittests-openscenario_interpreter

chore: format
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
Due: cpp_mock_test

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
