Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

put values into TODO
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
Due: cpp_mock_test

Add new type `QualifiedIdentifier`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/identifier.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

Rename some typenames
  .github/workflows/ScenarioTest.yaml
  openscenario/openscenario_interpreter/include/openscenario_interpreter/identifier.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

scenario simulator v2 and Autoware Architecture Proposal instruction
  docs/image/scenario_simulator_with_autoware_architecture_proposal.png
  docs/tutorials/RunWithAutowareArchitectureProposal.md
Due: none

Rename header `identifier.hpp` to `name.hpp`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/name.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
Due: unittests-openscenario_interpreter

Add new test scenario `prefixed-name-reference.yaml`
  test_runner/scenario_test_runner/config/workflow_example.yaml
  test_runner/scenario_test_runner/test/scenario/prefixed-name-reference.yaml
Due: none

add lanelet2_matching package to the external directory
  external/lanelet2_matching/CMakeLists.txt
  external/lanelet2_matching/README.md
  external/lanelet2_matching/custom.cmake
  external/lanelet2_matching/include/lanelet2_matching/Exceptions.h
  external/lanelet2_matching/include/lanelet2_matching/LaneletMatching.h
  external/lanelet2_matching/include/lanelet2_matching/Types.h
  external/lanelet2_matching/include/lanelet2_matching/Utilities.h
  external/lanelet2_matching/include/lanelet2_matching/internal/.gitignore
  external/lanelet2_matching/package.xml
  external/lanelet2_matching/src/.gitignore
  external/lanelet2_matching/src/LaneletMatching.cpp
  external/lanelet2_matching/src/Utilities.cpp
  external/lanelet2_matching/test/lanelet2_matching.cpp
  external/lanelet2_matching/test/lanelet2_matching_integration.cpp
  external/lanelet2_matching/test/mapping_example.osm
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/package.xml
Due: cpp_mock_test

modify version
  external/lanelet2_matching/package.xml
Due: none

Update test scenario `prefixed-name-reference.yaml`
  test_runner/scenario_test_runner/test/scenario/prefixed-name-reference.yaml
Due: none

Rename member function `lookupUnqualifiedElement` to `lookup`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

add matchToLane function
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

fix compile error
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Rename data member `parent` to `outer_frame`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

Rename data member `anonymous_children` to `unnamed_inner_frames`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

Remove deprecated member function `EnvironmentFrame::fullyQualifiedName`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

Lipsticks
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

Revert "Merge pull request #603 from tier4/fix/get_s_value"
  docs/ReleaseNotes.md
  simulation/traffic_simulator/include/traffic_simulator/math/catmull_rom_spline.hpp
  simulation/traffic_simulator/include/traffic_simulator/math/hermite_curve.hpp
  simulation/traffic_simulator/src/math/catmull_rom_spline.cpp
  simulation/traffic_simulator/src/math/hermite_curve.cpp
  simulation/traffic_simulator/test/src/math/test_catmull_rom_spline.cpp
  simulation/traffic_simulator/test/src/math/test_hermite_curve.cpp
Due: cpp_mock_test

return boost::none when the value under 0 or over 1
  simulation/traffic_simulator/src/math/hermite_curve.cpp
Due: cpp_mock_test

remove newton method
  simulation/traffic_simulator/include/traffic_simulator/math/catmull_rom_spline.hpp
  simulation/traffic_simulator/include/traffic_simulator/math/hermite_curve.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/math/catmull_rom_spline.cpp
  simulation/traffic_simulator/src/math/hermite_curve.cpp
  simulation/traffic_simulator/test/src/math/test_catmull_rom_spline.cpp
  simulation/traffic_simulator/test/src/math/test_hermite_curve.cpp
Due: cpp_mock_test

apply review comments
  docs/tutorials/RunWithAutowareArchitectureProposal.md
Due: none

Rename member function `lookupChildScope` to `frames`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

Update `EnvironmentFrame::lookupUnqualifiedScope` to not to return nullptr
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

add matchToLane function
  .github/workflows/BuildIsolate.yaml
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/math/hermite_curve.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/math/catmull_rom_spline.cpp
  simulation/traffic_simulator/src/math/hermite_curve.cpp
  simulation/traffic_simulator/test/src/math/test_catmull_rom_spline.cpp
  simulation/traffic_simulator/test/src/test_hdmap_utils.cpp
Due: cpp_mock_test

Update `lookupQualifiedElement` argument iterators to not to include variable name
  openscenario/openscenario_interpreter/include/openscenario_interpreter/name.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
  test_runner/scenario_test_runner/test/scenario/prefixed-name-reference.yaml
Due: unittests-openscenario_interpreter

Update `lookupQualifiedElement` to be non-static member function
  openscenario/openscenario_interpreter/include/openscenario_interpreter/name.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

simplify get s value algorithum
  simulation/traffic_simulator/src/math/catmull_rom_spline.cpp
  simulation/traffic_simulator/src/math/hermite_curve.cpp
  simulation/traffic_simulator/test/src/test_hdmap_utils.cpp
Due: cpp_mock_test

Update `PrefixedName::prefixes.front()` to not to store empty string
  openscenario/openscenario_interpreter/include/openscenario_interpreter/name.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

Update `lookupQualifiedElement` to receive `PrefixedName`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/name.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

Rename member function `lookupQualifiedElement` to `find`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/name.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

Add new member function `EnvironmentFrame::outermostFrame`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/name.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

Rename `Prefixed::fully_prefixed` to `Prefixed::absolute`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/name.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

enable consider edge case (tx and ty sometimes inf)
  simulation/traffic_simulator/src/math/hermite_curve.cpp
  simulation/traffic_simulator/test/src/math/test_catmull_rom_spline.cpp
Due: cpp_mock_test

remove debug line
  simulation/traffic_simulator/src/math/hermite_curve.cpp
Due: cpp_mock_test

Fix typo
  openscenario/openscenario_interpreter/include/openscenario_interpreter/name.hpp
Due: unittests-openscenario_interpreter

Fix conversion script filename
  docs/user_guide/scenario_test_runner/ScenarioFormatConversion.md
Due: none

Fix typo
  external/concealer/include/concealer/autoware.hpp
  external/concealer/src/autoware.cpp
Due: unittests-concealer

add bounding box to the argument
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/test/src/test_hdmap_utils.cpp
Due: cpp_mock_test

modify test cases
  simulation/traffic_simulator/test/src/test_hdmap_utils.cpp
Due: cpp_mock_test

remove default argument
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/src/procedure.cpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/test/src/test_hdmap_utils.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

consider bounding box if possible
  simulation/behavior_tree_plugin/src/pedestrian/pedestrian_action_node.cpp
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
