Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

clang format
  external/concealer/include/concealer/dirty_hack.hpp
Due: unittests-concealer

Extract compare function to a single file
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/rule.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/compare.hpp
  openscenario/openscenario_interpreter/src/syntax/parameter_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_declaration.cpp
  openscenario/openscenario_interpreter/src/syntax/rule.cpp
  openscenario/openscenario_interpreter/src/syntax/user_defined_value_condition.cpp
  openscenario/openscenario_interpreter/src/utility/compare.cpp
Due: unittests-openscenario_interpreter

Move some function implementation into `autoware_universe.cpp`
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

Update ReleaseNotes
  docs/ReleaseNotes.md
Due: none

update documentation
  README.md
  docs/README.md
  docs/ReleaseNotes.md
  docs/user_guide/RunWithDocker.md
Due: none

update Release Note
  docs/ReleaseNotes.md
Due: none

update documentation.yaml
  .github/workflows/Documentation.yaml
Due: none

Add value constraint to sample scenario
  test_runner/scenario_test_runner/scenario/sample.yaml
Due: none

Add ValueConstraint.msg to openscenario_msgs
  openscenario/openscenario_msgs/CMakeLists.txt
  openscenario/openscenario_msgs/msg/ParameterDeclaration.msg
  openscenario/openscenario_msgs/msg/ValueConstraint.msg
Due: unittests-openscenario_msgs

Add constraint group to ParameterDeclaration
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_declaration.hpp
  openscenario/openscenario_interpreter/src/syntax/parameter_declaration.cpp
Due: unittests-openscenario_interpreter

Add value_constraint codes
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/value_constraint.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/value_constraint_group.hpp
  openscenario/openscenario_interpreter/src/syntax/value_constraint.cpp
Due: unittests-openscenario_interpreter

extend timeout
  .github/workflows/Docker.yaml
Due: none

Update `GlobalEnvironment` to hold pointer to `Entities`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entities.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
  openscenario/openscenario_interpreter/src/syntax/add_entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/entities.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
  openscenario/openscenario_interpreter/src/syntax/teleport_action.cpp
Due: unittests-openscenario_interpreter

Move some member function of `GlobalEnvironment` into `Entities`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entities.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
  openscenario/openscenario_interpreter/src/syntax/collision_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/entities.cpp
Due: unittests-openscenario_interpreter

Move data member `Scope::pathname` into struct `OpenScenario`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/attribute.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/openscenario.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
  openscenario/openscenario_interpreter/src/syntax/open_scenario.cpp
Due: unittests-openscenario_interpreter

Cleanup
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/openscenario.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
  openscenario/openscenario_interpreter/src/syntax/open_scenario.cpp
Due: unittests-openscenario_interpreter

Implement loading part of ValueConstraintGroup
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/value_constraint.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/value_constraint_group.hpp
  openscenario/openscenario_interpreter/src/syntax/parameter_declaration.cpp
  openscenario/openscenario_interpreter/src/syntax/value_constraint.cpp
  openscenario/openscenario_interpreter/src/syntax/value_constraint_group.cpp
Due: unittests-openscenario_interpreter

Fix structure of ParameterDeclaration
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_declaration.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/value_constraint.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/value_constraint_group.hpp
  openscenario/openscenario_interpreter/src/syntax/parameter_declaration.cpp
  openscenario/openscenario_interpreter/src/syntax/value_constraint.cpp
  openscenario/openscenario_interpreter/src/syntax/value_constraint_group.cpp
  openscenario/openscenario_msgs/CMakeLists.txt
  openscenario/openscenario_msgs/msg/ParameterDeclaration.msg
  openscenario/openscenario_msgs/msg/ValueConstraint.msg
  openscenario/openscenario_msgs/msg/ValueConstraintGroup.msg
  openscenario/user_defined_value_condition_example/src/count_up.cpp
  openscenario/user_defined_value_condition_example/src/timeout.cpp
Due: unittests-openscenario_interpreter, unittests-openscenario_msgs

Implement evaluate functions of value constraints
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_declaration.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/value_constraint.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/value_constraint_group.hpp
  openscenario/openscenario_interpreter/src/syntax/parameter_declaration.cpp
  openscenario/openscenario_interpreter/src/syntax/value_constraint.cpp
  openscenario/openscenario_interpreter/src/syntax/value_constraint_group.cpp
Due: unittests-openscenario_interpreter

Apply clang-format
  openscenario/openscenario_interpreter/src/syntax/parameter_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/value_constraint_group.cpp
Due: unittests-openscenario_interpreter

Rename struct `Scope::GlobalEnvironment` to `ScenarioDefinition`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/attribute.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
  openscenario/openscenario_interpreter/src/syntax/open_scenario.cpp
Due: unittests-openscenario_interpreter

Rename header file `openscenario.hpp` to `open_scenario.hpp`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/open_scenario.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
  openscenario/openscenario_interpreter/src/syntax/catalog_location.cpp
  openscenario/openscenario_interpreter/src/syntax/open_scenario.cpp
  openscenario/openscenario_interpreter/test/test_syntax.cpp
Due: unittests-openscenario_interpreter

Move `EntityObject` implementation into .cpp file
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_object.hpp
  openscenario/openscenario_interpreter/src/syntax/entity_object.cpp
Due: unittests-openscenario_interpreter

Update `VehicleCategory` to accept any VehicleCategory identifier OpenSCENARIO specified.
  openscenario/openscenario_interpreter/src/syntax/vehicle_category.cpp
Due: unittests-openscenario_interpreter

Fix logic miss
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_declaration.hpp
  openscenario/openscenario_interpreter/src/syntax/parameter_declaration.cpp
  openscenario/openscenario_interpreter/src/syntax/value_constraint_group.cpp
Due: unittests-openscenario_interpreter

Apply clang-format
  openscenario/openscenario_interpreter/src/syntax/value_constraint.cpp
Due: unittests-openscenario_interpreter

Refactor
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/value_constraint.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/value_constraint_group.hpp
Due: unittests-openscenario_interpreter

Refactor
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/value_constraint.hpp
Due: unittests-openscenario_interpreter

Update `Interpreter` to start non-ego entities at Autoware reaches `DRIVING` state.
  external/concealer/include/concealer/autoware.hpp
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware.cpp
  external/concealer/src/autoware_universe.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
  test_runner/random_test_runner/src/random_test_runner.cpp
Due: unittests-concealer, unittests-openscenario_interpreter

templated service interface implemented; service request until success
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/dirty_hack.hpp
  external/concealer/include/concealer/utility/service_with_validation.h
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

Lipsticks
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

Update `Interpreter` to set `Configuration::initialize_duration` to zero
  external/concealer/src/autoware_universe.cpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-concealer, unittests-openscenario_interpreter

Remove unused member function `AutowareUniverse::isReady`
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-concealer, unittests-openscenario_interpreter

Fix sample.yaml
  test_runner/scenario_test_runner/scenario/sample.yaml
Due: none

Revert ParameterCondition::compare
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/compare.hpp
  openscenario/openscenario_interpreter/src/syntax/parameter_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_declaration.cpp
  openscenario/openscenario_interpreter/src/syntax/user_defined_value_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/value_constraint.cpp
  openscenario/openscenario_interpreter/src/syntax/value_constraint_group.cpp
  openscenario/openscenario_interpreter/src/utility/compare.cpp
Due: unittests-openscenario_interpreter

Refactor
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_declaration.hpp
  openscenario/openscenario_interpreter/src/syntax/parameter_declaration.cpp
  openscenario/openscenario_interpreter/src/syntax/value_constraint.cpp
  openscenario/openscenario_interpreter/src/syntax/value_constraint_group.cpp
Due: unittests-openscenario_interpreter

Apply linter
  openscenario/openscenario_interpreter/src/syntax/value_constraint_group.cpp
Due: unittests-openscenario_interpreter

Update ReleaseNotes.md
  docs/ReleaseNotes.md
Due: none

Refactor
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_declaration.hpp
  openscenario/openscenario_interpreter/src/syntax/parameter_declaration.cpp
Due: unittests-openscenario_interpreter

Replace "Tier IV" with "TIER IV"
  common/math/geometry/src/polygon/polygon.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/type_traits/requires.hpp
  openscenario/openscenario_interpreter/src/syntax/parameter_declaration.cpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/grid_cell.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/occupancy_grid_generator.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/occupancy_grid/occupancy_grid_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/grid_cell.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_generator.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_sensor.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
