Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Check if polygon is empty
  simulation/simple_sensor_simulator/src/sensor_simulation/occupancy_grid/occupancy_grid_builder.cpp
Due: cpp_mock_test

Precompute rotation matrix
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/lidar_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/lidar_sensor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
Due: cpp_mock_test

Add a comment to the decision rationale for some parameters
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

Fixed some error messages that didn't match the error cause
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

Add missing `max_speed` setting to `getDefaultDynamicConstraints`
  simulation/traffic_simulator/src/entity/misc_object_entity.cpp
Due: cpp_mock_test

Apply clang_format
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/lidar_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
Due: cpp_mock_test

fix!(concealer): use MrmState instead of EmergencyState
  external/concealer/include/concealer/autoware.hpp
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware.cpp
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

fix!(UserDefinedValueCondition): convert mrm state to emergency state
  docs/developer_guide/Communication.md
  external/concealer/package.xml
  openscenario/openscenario_interpreter/src/syntax/user_defined_value_condition.cpp
Due: unittests-concealer, unittests-openscenario_interpreter

chore!: fix dependencies
  dependency_galactic.repos
  dependency_humble.repos
Due: none

chore: apply clang-format
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

add onPostUpdate function
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

add post update event
  simulation/traffic_simulator/include/traffic_simulator/job/job.hpp
  simulation/traffic_simulator/include/traffic_simulator/job/job_list.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/job/job.cpp
  simulation/traffic_simulator/src/job/job_list.cpp
Due: cpp_mock_test

check target speed reached first
  mock/cpp_mock_scenarios/src/metrics/out_of_range.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/job/job_list.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

remove debug line
  mock/cpp_mock_scenarios/src/metrics/out_of_range.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

enable matching with right/left lanelet
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Rename local function `compare` to `accomplished`
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
Due: unittests-openscenario_interpreter

Add new function `getBehaviorParameter` for debug
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

Update SpeedProfileAction to call `requestSpeedChange` with `Transition::AUTO`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_profile_action.hpp
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
Due: unittests-openscenario_interpreter

Added debug prints to `SpeedProfileAction`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_profile_action.hpp
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
Due: unittests-openscenario_interpreter

Add debug print to `EntityBase::resetDynamicConstraints`
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

Update example scenario `SpeedProfileAction.yaml`
  test_runner/scenario_test_runner/scenario/LongitudinalAction.SpeedProfileAction.yaml
Due: none

enable passing hd map utils in constructor
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/misc_object_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/misc_object_entity.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

feat(test_runner): use ShutdownOnce instead of Shutdown
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
  test_runner/scenario_test_runner/scenario_test_runner/shutdown_once.py
Due: none

remove debug lines
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

enable clamp lanelet pose while set status function
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

enable clamp while setting status
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

add getStatus function to the job
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/job/job.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/job/job.cpp
  simulation/traffic_simulator/src/job/job_list.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

remain debug
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
Due: unittests-openscenario_interpreter

add getStatus function in job
  simulation/traffic_simulator/include/traffic_simulator/job/job.hpp
  simulation/traffic_simulator/src/job/job.cpp
  simulation/traffic_simulator/src/job/job_list.cpp
Due: cpp_mock_test

chore(test_runner): fix linter error
  test_runner/scenario_test_runner/scenario_test_runner/shutdown_once.py
Due: none

Update `SpeedProfileAction` to select `Transition` by attribute `followingMode`
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
  test_runner/scenario_test_runner/scenario/LongitudinalAction.SpeedProfileAction.yaml
Due: unittests-openscenario_interpreter

fix LINEAR transition with time constraint
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

add new scenario
  mock/cpp_mock_scenarios/src/speed_planning/CMakeLists.txt
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_linear.cpp
Due: unittests-cpp_mock_scenarios

fix scenario
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_linear.cpp
Due: unittests-cpp_mock_scenarios

allow 0 time constraint
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

remove unused line
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

use recursive call
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

add checking transition step for avoiding infinite loop
  mock/cpp_mock_scenarios/src/speed_planning/CMakeLists.txt
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_step.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

feat(interpreter): add ParameterValueDistributionDefinition
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_value_distribution_definition.hpp
  openscenario/openscenario_interpreter/src/syntax/parameter_value_distribution_definition.cpp
Due: unittests-openscenario_interpreter

fix(interpreter): add missing attribute to DeterministicSingleParameterDistribution
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/deterministic_single_parameter_distribution.hpp
  openscenario/openscenario_interpreter/src/syntax/deterministic_single_parameter_distribution.cpp
Due: unittests-openscenario_interpreter
