Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Update `AddEntityAction` to treat various Position types
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/add_entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/teleport_action.hpp
  test_runner/scenario_test_runner/test/scenario/all-in-one.yaml
Due: unittests-openscenario_interpreter

Update ReleaseNotes
  docs/ReleaseNotes.md
Due: none

fix trim function
  common/simple_junit/test/src/test.cpp
Due: none

add test cases for attributes
  common/simple_junit/test/expected/attributes.junit.xml
  common/simple_junit/test/src/test.cpp
Due: none

add test cases for testsuites name
  common/simple_junit/test/expected/testsuites_name.junit.xml
  common/simple_junit/test/src/test.cpp
Due: none

Update OpenSCENARIO standard to 1.1 from 1.0
  openscenario/openscenario_utility/openscenario_utility/conversion.py
  openscenario/openscenario_utility/openscenario_utility/resources/OpenSCENARIO-1.0.xsd
  openscenario/openscenario_utility/openscenario_utility/resources/OpenSCENARIO-1.1.xsd
  openscenario/openscenario_utility/openscenario_utility/scenario_validation.py
  openscenario/openscenario_utility/openscenario_utility/validation.py
Due: unittests-openscenario_utility

use 2 space
  common/simple_junit/test/expected/attributes.junit.xml
  common/simple_junit/test/expected/testsuites_name.junit.xml
  common/simple_junit/test/src/test.cpp
Due: none

Lipsticks
  docs/ReleaseNotes.md
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
Due: unittests-openscenario_interpreter

fix link
  docs/design/SimulationResultFormat.md
Due: none

update document
  docs/design/SimulationResultFormat.md
Due: none

update document
  docs/design/ErrorCategories.md
Due: none

Reorder data members of `RelativeDistanceCondition`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/rule.hpp
Due: unittests-openscenario_interpreter

add standstill metric
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/metrics/standstill_metric.hpp
  simulation/traffic_simulator/src/metrics/standstill_metric.cpp
Due: cpp_mock_test

add documetnation
  docs/design/Metrics.md
Due: none

enable handle exception while calling updateFrame function
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/cpp_scenario_node.hpp
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
Due: unittests-cpp_mock_scenarios

add standstill duration scenario
  mock/cpp_mock_scenarios/src/metrics/CMakeLists.txt
  mock/cpp_mock_scenarios/src/metrics/standstill_duration.cpp
  simulation/traffic_simulator/include/traffic_simulator/metrics/metrics.hpp
  simulation/traffic_simulator/include/traffic_simulator/metrics/standstill_metric.hpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

update scenario
  mock/cpp_mock_scenarios/src/metrics/standstill_duration.cpp
Due: unittests-cpp_mock_scenarios

add standstill_duration scenario to the CI
  .github/workflows/ScenarioTest.yaml
Due: none

upadte Release note
  docs/ReleaseNotes.md
Due: none

add source
  mock/cpp_mock_scenarios/src/metrics/collision_metric.cpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/metrics/collision_metric.hpp
  simulation/traffic_simulator/src/metrics/collision_metric.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

modify cmakelist.txt
  simulation/traffic_simulator/CMakeLists.txt
Due: cpp_mock_test

Add new syntax `CoordinateSystem`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/coordinate_system.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/coordinate_system.cpp
Due: unittests-openscenario_interpreter

enable throw spec violation
  simulation/traffic_simulator/include/traffic_simulator/metrics/collision_metric.hpp
  simulation/traffic_simulator/src/metrics/collision_metric.cpp
Due: cpp_mock_test

enable specify targets
  simulation/traffic_simulator/src/metrics/collision_metric.cpp
Due: cpp_mock_test

add test case
  mock/cpp_mock_scenarios/src/metrics/CMakeLists.txt
  mock/cpp_mock_scenarios/src/metrics/collision.cpp
  mock/cpp_mock_scenarios/src/metrics/collision_metric.cpp
  simulation/traffic_simulator/include/traffic_simulator/metrics/collision_metric.hpp
  simulation/traffic_simulator/include/traffic_simulator/metrics/metrics.hpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

add collision metric to the CI
  .github/workflows/ScenarioTest.yaml
Due: none

add CollisionMetric
  docs/ReleaseNotes.md
Due: none

update document and fix typo
  docs/design/Metrics.md
  simulation/traffic_simulator/include/traffic_simulator/metrics/collision_metric.hpp
Due: cpp_mock_test

Fix for cpp_mock_scenarios CI tests
  .github/workflows/ScenarioTest.yaml
  map/kashiwanoha_map/map/lanelet2_map_with_private_road_and_walkway_ele_fix.osm
Due: unittests-kashiwanoha_map

Removed cargo_delivery dependency
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/cpp_scenario_node.hpp
  mock/cpp_mock_scenarios/launch/mock_test.launch.py
  mock/cpp_mock_scenarios/package.xml
  mock/cpp_mock_scenarios/src/collision/crashing_npc.cpp
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/accelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/decelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left.cpp
  mock/cpp_mock_scenarios/src/merge/merge_left.cpp
  mock/cpp_mock_scenarios/src/metrics/momentary_stop.cpp
  mock/cpp_mock_scenarios/src/metrics/out_of_range.cpp
  mock/cpp_mock_scenarios/src/metrics/reaction_time.cpp
  mock/cpp_mock_scenarios/src/metrics/traveled_distance.cpp
  mock/cpp_mock_scenarios/src/move_backward/move_backward.cpp
  mock/cpp_mock_scenarios/src/traffic_light/phase_control.cpp
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
Due: unittests-cpp_mock_scenarios

Some missing changes in cpp mock scenarios
  mock/cpp_mock_scenarios/src/collision/spawn_with_offset.cpp
  mock/cpp_mock_scenarios/src/follow_lane/acquire_position_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/measurement/get_longitudinal_distance.cpp
Due: unittests-cpp_mock_scenarios

Clang formatting
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/cpp_scenario_node.hpp
  mock/cpp_mock_scenarios/src/collision/crashing_npc.cpp
  mock/cpp_mock_scenarios/src/collision/spawn_with_offset.cpp
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/accelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/decelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left.cpp
  mock/cpp_mock_scenarios/src/measurement/get_longitudinal_distance.cpp
  mock/cpp_mock_scenarios/src/merge/merge_left.cpp
  mock/cpp_mock_scenarios/src/metrics/momentary_stop.cpp
  mock/cpp_mock_scenarios/src/metrics/out_of_range.cpp
  mock/cpp_mock_scenarios/src/metrics/reaction_time.cpp
  mock/cpp_mock_scenarios/src/metrics/traveled_distance.cpp
  mock/cpp_mock_scenarios/src/move_backward/move_backward.cpp
  mock/cpp_mock_scenarios/src/traffic_light/phase_control.cpp
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
Due: unittests-cpp_mock_scenarios

Reverted adding parameters for cpp scenario node.
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/cpp_scenario_node.hpp
  mock/cpp_mock_scenarios/launch/mock_test.launch.py
  mock/cpp_mock_scenarios/package.xml
  mock/cpp_mock_scenarios/src/collision/crashing_npc.cpp
  mock/cpp_mock_scenarios/src/collision/spawn_with_offset.cpp
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/accelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/decelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_lane/acquire_position_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left.cpp
  mock/cpp_mock_scenarios/src/measurement/get_longitudinal_distance.cpp
  mock/cpp_mock_scenarios/src/merge/merge_left.cpp
  mock/cpp_mock_scenarios/src/metrics/momentary_stop.cpp
  mock/cpp_mock_scenarios/src/metrics/out_of_range.cpp
  mock/cpp_mock_scenarios/src/metrics/reaction_time.cpp
  mock/cpp_mock_scenarios/src/metrics/traveled_distance.cpp
  mock/cpp_mock_scenarios/src/move_backward/move_backward.cpp
  mock/cpp_mock_scenarios/src/traffic_light/phase_control.cpp
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
Due: unittests-cpp_mock_scenarios

reverted scenario tests
  .github/workflows/ScenarioTest.yaml
Due: none

Reorganize private road ele fix osm file
  map/kashiwanoha_map/map/private_road_and_walkway_ele_fix/lanelet2_map.osm
  mock/cpp_mock_scenarios/src/collision/crashing_npc.cpp
  mock/cpp_mock_scenarios/src/collision/spawn_with_offset.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/accelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/decelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_lane/acquire_position_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/metrics/momentary_stop.cpp
  mock/cpp_mock_scenarios/src/metrics/out_of_range.cpp
  mock/cpp_mock_scenarios/src/metrics/reaction_time.cpp
  mock/cpp_mock_scenarios/src/metrics/standstill_duration.cpp
  mock/cpp_mock_scenarios/src/metrics/traveled_distance.cpp
  mock/cpp_mock_scenarios/src/move_backward/move_backward.cpp
  mock/cpp_mock_scenarios/src/traffic_light/phase_control.cpp
Due: unittests-cpp_mock_scenarios, unittests-kashiwanoha_map

Update `RelativeDistanceCondition` to consider all given enumeration
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/coordinate_system.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_type.hpp
  openscenario/openscenario_interpreter/src/syntax/coordinate_system.cpp
Due: unittests-openscenario_interpreter

Move implementation of member function `distance` into `relative_distance_condition.cpp`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

Add `RelativeDistanceCondition::distance` function template specializations
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

Lipsticks
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

Remove deprecated (since OSC 1.1) enumeration `cartesianDistance`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_type.hpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_type.cpp
Due: unittests-openscenario_interpreter

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
