Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Add new detected traffic light interfaces to NonStandardOperation
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Add clear method to TrafficSignalState
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state.hpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state.cpp
Due: unittests-openscenario_interpreter

Simplify Phase class implementation
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/phase.hpp
  openscenario/openscenario_interpreter/src/syntax/phase.cpp
Due: unittests-openscenario_interpreter

Enable detected traffic light states in TrafficSignalState
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state.cpp
Due: unittests-openscenario_interpreter

Clean up traffic light states on phase exit
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_controller.cpp
Due: unittests-openscenario_interpreter

Add state change notification callback support in TrafficLightsBase
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights_base.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_lights_base.cpp
Due: cpp_mock_test

Setup traffic light ground truth synchronization from conventional to V2I channel
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights.hpp
Due: cpp_mock_test

Add Enable/DisableTrafficSignalV2IFeaturActione@v1 to control ground-truth synchronization
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Add some TrafficLightsTest for new logic
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights.cpp
Due: cpp_mock_test

Fix linelint error
  openscenario/openscenario_interpreter/test/test_parsed_traffic_signal_id.cpp
Due: unittests-openscenario_interpreter

Update token secret name
  .github/workflows/Documentation.yaml
  .github/workflows/Release.yaml
Due: none

Add dictionary dependency for spell-check
  .github/workflows/SpellCheck.yaml
Due: none

Add TrafficLightsArchitecture.md
  docs/developer_guide/.pages
  docs/developer_guide/TrafficLightsArchitecture.md
Due: none

Fix link to Autoware API interface design page
  docs/developer_guide/AutowareAPI.md
Due: none

Update link to Autoware Troubleshooting Guide
  docs/user_guide/QuickStart.md
Due: none

Fix markdownlint errors
  docs/developer_guide/TrafficLightsArchitecture.md
Due: none

feat!: remove external zmqpp_vendor copy
  .gitignore
  external/zmqpp_vendor/.github/workflows/BloomRelease.yaml
  external/zmqpp_vendor/.github/workflows/Build.yaml
  external/zmqpp_vendor/.github/workflows/Release.yaml
  external/zmqpp_vendor/CHANGELOG.rst
  external/zmqpp_vendor/CMakeLists.txt
  external/zmqpp_vendor/CONTRIBUTING.md
  external/zmqpp_vendor/LICENSE
  external/zmqpp_vendor/README.md
  external/zmqpp_vendor/package.xml
  external/zmqpp_vendor/patches/zmqpp_export.patch
  external/zmqpp_vendor/zmqpp_vendor-extras.cmake
Due: none

Fix ParameterValueDistributionDefinition argument
  openscenario/openscenario_interpreter/src/syntax/open_scenario_category.cpp
Due: unittests-openscenario_interpreter

Add scenario parse tests
  openscenario/openscenario_interpreter/CMakeLists.txt
  openscenario/openscenario_interpreter/test/parameter_value_distribution/Stochastic.Histogram.xosc
  openscenario/openscenario_interpreter/test/parameter_value_distribution/Stochastic.NormalDistribution.xosc
  openscenario/openscenario_interpreter/test/parameter_value_distribution/Stochastic.PoissonDistribution.xosc
  openscenario/openscenario_interpreter/test/parameter_value_distribution/Stochastic.ProbabilityDistributionSet.xosc
  openscenario/openscenario_interpreter/test/parameter_value_distribution/Stochastic.UniformDistribution.xosc
  openscenario/openscenario_interpreter/test/test_parameter_value_distribution.cpp
Due: unittests-openscenario_interpreter

feat: migrate zmqpp to cppzmq
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/simulation_interface/include/simulation_interface/zmq_multi_client.hpp
  simulation/simulation_interface/include/simulation_interface/zmq_multi_server.hpp
  simulation/simulation_interface/package.xml
  simulation/simulation_interface/src/zmq_multi_client.cpp
  simulation/simulation_interface/src/zmq_multi_server.cpp
Due: cpp_mock_test

fix cmake
  simulation/simulation_interface/CMakeLists.txt
Due: cpp_mock_test

remove debug output
  test_runner/scenario_test_runner/test/test_traffic_signals.py
Due: none

load test_dependency_humble on Jazzy
  .github/workflows/BuildAndRunJazzy.yaml
Due: none

apply ament clang format
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/simulation_interface/src/zmq_multi_server.cpp
Due: cpp_mock_test

Modify test_traffic_signals.py to test detected traffic light
  test_runner/scenario_test_runner/scenario/TrafficSignalsNonEgo.yaml
  test_runner/scenario_test_runner/test/test_traffic_signals.py
Due: none

Fix: detected states for V2I traffic lights topic
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights.hpp
Due: cpp_mock_test

Support Priority (OpenSCENARIO XML 1.3.1)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/priority.hpp
  openscenario/openscenario_interpreter/src/syntax/event.cpp
  openscenario/openscenario_interpreter/src/syntax/priority.cpp
Due: unittests-openscenario_interpreter

Add test_priority.cpp
  openscenario/openscenario_interpreter/CMakeLists.txt
  openscenario/openscenario_interpreter/test/test_priority.cpp
Due: unittests-openscenario_interpreter

update cspell
  .github/workflows/custom_spell.json
Due: none

Fix priority test
  openscenario/openscenario_interpreter/test/test_priority.cpp
Due: unittests-openscenario_interpreter
