Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

rollback wrongly edited parameter in parameters.yaml
  test_runner/scenario_test_runner/config/parameters.yaml
Due: none

Rename apply_v2_style_noise to noise_v2 and use it directly
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

Format detection_sensor.cpp manually
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

Fix wrongly used entity type in entity subtype context
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

Delete common::listChildParameterNamespaces and refactor noise_v3
  common/get_parameter/include/get_parameter/get_parameter.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

Forward record_option to record::start function
  openscenario/openscenario_interpreter/include/openscenario_interpreter/record.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

Fix include traffic_simulator_msgs.pb.h => simulation_interface/traffic_simulator_msgs.pb.h
  simulation/simulation_interface/include/simulation_interface/operators.hpp
Due: cpp_mock_test

Delete HowToWriteWorkflowFile.md
  docs/user_guide/scenario_test_runner/.pages
  docs/user_guide/scenario_test_runner/HowToWriteWorkflowFile.md
Due: none

Delete descriptions about workflow and add alternative way
  docs/user_guide/scenario_test_runner/ScenarioTestRunner.md
Due: none

Support RoutingAction__use_lane_ids_for_routing in AcquirePositionAction
  openscenario/openscenario_interpreter/src/syntax/acquire_position_action.cpp
Due: unittests-openscenario_interpreter

FTA scenarios
  test_runner/scenario_test_runner/config/workflow.txt
  test_runner/scenario_test_runner/scenario/FTA-only_destination_with_time_constraint.yaml
  test_runner/scenario_test_runner/scenario/FTA-some_waypoints_with_time_constraint.yaml
  test_runner/scenario_test_runner/scenario/FTA-with_global_positions.yaml
  test_runner/scenario_test_runner/scenario/FTA-with_target_speed_and_no_time_constraint.yaml
Due: none

endline
  test_runner/scenario_test_runner/scenario/FTA-only_destination_with_time_constraint.yaml
  test_runner/scenario_test_runner/scenario/FTA-some_waypoints_with_time_constraint.yaml
  test_runner/scenario_test_runner/scenario/FTA-with_global_positions.yaml
  test_runner/scenario_test_runner/scenario/FTA-with_target_speed_and_no_time_constraint.yaml
Due: none

Create CODEOWNERS
  .github/CODEOWNERS
Due: none

Add more precise distance calculation in FTA
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
Due: cpp_mock_test

Add DIRTY HACK to make the scenarios pass
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
Due: cpp_mock_test

return "follow_polyline_trajectory" behavior in do_nothing behavior plugin
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

apply reformat
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

Add reactive agent plugin implementation and configuration files
  simulation/reactive_agent_plugin/CMakeLists.txt
  simulation/reactive_agent_plugin/include/reactive_agent_plugin/plugin.hpp
  simulation/reactive_agent_plugin/package.xml
  simulation/reactive_agent_plugin/plugins.xml
  simulation/reactive_agent_plugin/src/plugin.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
Due: cpp_mock_test

feat(test): add CI test input scenarios and support spawning ego as NPC
  .github/workflows/workflow.sh
  test_runner/random_test_runner/CMakeLists.txt
  test_runner/random_test_runner/include/random_test_runner/data_types.hpp
  test_runner/random_test_runner/include/random_test_runner/test_executor.hpp
  test_runner/random_test_runner/launch/random_test.launch.py
  test_runner/random_test_runner/scripts/result_checker.py
  test_runner/random_test_runner/src/random_test_runner.cpp
  test_runner/random_test_runner/test/ci_test_inputs/result.yaml
  test_runner/random_test_runner/test/test_test_executor.cpp
Due: none

chore(RandomTestRunner): Add comment to result.yaml input file for CI
  test_runner/random_test_runner/test/ci_test_inputs/result.yaml
Due: none

chore(repos): include autoware_launch to provide sample_vehicle_description package
  dependency_humble.repos
Due: none

fix(random_test_runner): skip loading vehicle model params when ego is spawned as NPC
  dependency_humble.repos
  test_runner/random_test_runner/launch/random_test.launch.py
Due: none

fix(random_test_runner): Fix syntax error in launch file
  test_runner/random_test_runner/launch/random_test.launch.py
Due: none

fix(random_test_runner): Fix condition for loading vehicle description parameters
  test_runner/random_test_runner/launch/random_test.launch.py
Due: none

ref(random_test_runner): Clean up random_test_runner launch logic and condition handling
  test_runner/random_test_runner/launch/random_test.launch.py
Due: none

ref(random_test_runner): Clean up package.xml
  test_runner/random_test_runner/package.xml
Due: none

Fix install path for test inputs
  .github/workflows/workflow.sh
Due: none

ci: Fix issue with wrong parameter passed to node
  .github/workflows/workflow.sh
Due: none

ref(random_test_runner): Refactor random_test runner launch file
  test_runner/random_test_runner/launch/random_test.launch.py
Due: none

feat(random_test_runner): Add launch_rviz param for visualizing tests without Autoware
  test_runner/random_test_runner/launch/random_test.launch.py
Due: none

feat(random_test_runner): Add result_checker script to evaluate test results
  .github/workflows/workflow.sh
  test_runner/random_test_runner/CMakeLists.txt
  test_runner/random_test_runner/package.xml
  test_runner/random_test_runner/scripts/result_checker.py
Due: none
