Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Fix code style divergences
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
Due: unittests-openscenario_interpreter

Mention the support status of OpenSCENARIO v1.2
  docs/developer_guide/OpenSCENARIOSupport.md
Due: none

remove metric
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/metrics/pull_over_metric.hpp
  simulation/traffic_simulator/src/metrics/pull_over_metric.cpp
Due: cpp_mock_test

add getLeft/Right bound function to entity base class
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

add definition in API class
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test

add getLaneletPose function to the base class
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

add definition to manager class
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

enable call without specify lanelet id
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

update get distance to bound function
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

remove const
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

Delete README of openscenario_interpreter & move its contents to OpenSCENARIOSupport.md
  docs/developer_guide/OpenSCENARIOSupport.md
  docs/user_guide/deprected/RunWithAutowareArchitectureProposal.md
  docs/user_guide/openscenario_interpreter/README.md
Due: none

Add second implementation
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/controller_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/init_actions.hpp
  openscenario/openscenario_interpreter/src/syntax/controller_action.cpp
  openscenario/openscenario_interpreter/src/syntax/init.cpp
  openscenario/openscenario_interpreter/src/syntax/init_actions.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
Due: unittests-openscenario_interpreter

add getDistanceToLaneBound function
  mock/cpp_mock_scenarios/src/measurement/get_distance_to_bound.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

Improve spell check
  .github/workflows/SpellCheck.yaml
  .github/workflows/custom_spell.json
Due: none

add new scenario
  mock/cpp_mock_scenarios/src/measurement/get_distance_to_bound.cpp
Due: unittests-cpp_mock_scenarios

Update ReleaseNotes
  docs/etc/ReleaseNotes.md
Due: none

Update spell check
  .github/workflows/SpellCheck.yaml
Due: none

Update custom_spell.json
  .github/workflows/custom_spell.json
Due: none

Fix typos
  .github/workflows/custom_spell.json
  docs/user_guide/lanelet2_extension_psim/README.md
  external/lanelet2_extension_psim/docs/lanelet2_format_extension.md
Due: unittests-lanelet2_extension_psim

modify scenario
  mock/cpp_mock_scenarios/src/measurement/CMakeLists.txt
  mock/cpp_mock_scenarios/src/measurement/get_distance_to_lane_bound.cpp
Due: unittests-cpp_mock_scenarios

fix problem in push back
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

modify test scenario
  mock/cpp_mock_scenarios/src/measurement/get_distance_to_lane_bound.cpp
Due: unittests-cpp_mock_scenarios

modify scenario
  mock/cpp_mock_scenarios/src/measurement/get_distance_to_lane_bound.cpp
Due: unittests-cpp_mock_scenarios

Delete CONTRIBUTING.md content experimentally
  CONTRIBUTING.md
Due: none

Delete doc/etc/LICENSE.md
  docs/README.md
  docs/etc/LICENSE.md
Due: none

Delete doc/etc/ContactUs.md
  docs/etc/ContactUs.md
  docs/etc/HowToContribute.md
  mkdocs.yml
Due: none

Add issue and PR links on footer
  mkdocs.yml
Due: none

Fix mkdocs.yml
  mkdocs.yml
Due: none

Fix links
  docs/user_guide/lanelet2_extension_psim/README.md
  docs/user_guide/lanelet2_matching/README.md
Due: none

Delete etc directory and move files
  CONTRIBUTING.md
  docs/README.md
  docs/ReleaseNotes.md
  docs/developer_guide/HowToContribute.md
  mkdocs.yml
Due: none

Update SpellCheck actions
  .github/workflows/SpellCheck.yaml
  .github/workflows/SpellCheckAll.yaml
Due: none

Update SpellCheckAll triggers
  .github/workflows/SpellCheckAll.yaml
Due: none

Update custom_spell.json
  .github/workflows/custom_spell.json
  external/lanelet2_extension_psim/docs/lanelet2_format_extension.md
Due: unittests-lanelet2_extension_psim

Update custom_spell.json
  .github/workflows/SpellCheckAll.yaml
  .github/workflows/custom_spell.json
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
Due: cpp_mock_test

Filter spellcheck target files
  .github/workflows/SpellCheck.yaml
  .github/workflows/SpellCheckAll.yaml
Due: none

Update SpellCheckAll.yaml
  .github/workflows/SpellCheckAll.yaml
Due: none

Remove lanelet2_extension_psim & lanelet2_matching from spellcheck targets
  .github/workflows/SpellCheck.yaml
  .github/workflows/SpellCheckAll.yaml
Due: none

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
