Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Delete error ignore flags in build CI for jazzy
  .github/workflows/BuildAndRunJazzy.yaml
Due: none

feat: Sim-Real比較分析ツール群をcurveワークスペースに移植
  analysis/best_model_comparison/.gitignore
  analysis/best_model_comparison/Makefile
  analysis/best_model_comparison/README.md
  analysis/best_model_comparison/analyze_real_curve2.py
  analysis/best_model_comparison/analyze_trajectory.py
  analysis/best_model_comparison/compare_curve2.py
  analysis/best_model_comparison/compare_dp_vs_final.py
  analysis/best_model_comparison/compare_logs.py
  analysis/best_model_comparison/diagnose_curve2.py
  analysis/best_model_comparison/diagnose_departure.py
  analysis/best_model_comparison/make_lite.py
  analysis/best_model_description/CMakeLists.txt
  analysis/best_model_description/config/mirror.param.yaml
  analysis/best_model_description/config/simulator_model.param.yaml
  analysis/best_model_description/config/vehicle_info.param.yaml
  analysis/best_model_description/mesh/BYD_J6.dae
  analysis/best_model_description/package.xml
  analysis/best_model_description/urdf/vehicle.xacro
  analysis/best_model_launch/CMakeLists.txt
  analysis/best_model_launch/config/accel_brake_map_calibrator.param.yaml
  analysis/best_model_launch/config/raw_vehicle_cmd_converter.param.yaml
  analysis/best_model_launch/config/raw_vehicle_cmd_converter.regeneration.param.yaml
  analysis/best_model_launch/config/raw_vehicle_cmd_converter.sub.param.yaml
  analysis/best_model_launch/config/steer_offset_estimator.param.yaml
  analysis/best_model_launch/launch/vehicle_interface.launch.xml
  analysis/best_model_launch/package.xml
  test_runner/scenario_test_runner/scenario/x2_dev_curve2_start.yaml
  test_runner/scenario_test_runner/scenario/x2_dev_teleport_to_miraikan.yaml
  test_runner/scenario_test_runner/scenario/x2_dev_teleport_to_miraikan_curve2.yaml
Due: none

fix controller in scenario
  test_runner/scenario_test_runner/scenario/x2_dev_curve2_start.yaml
  test_runner/scenario_test_runner/scenario/x2_dev_teleport_to_miraikan.yaml
  test_runner/scenario_test_runner/scenario/x2_dev_teleport_to_miraikan_curve2.yaml
Due: none

feat: per-step delta分析をC++実装のDELAY_STEER_ACC_GEARED_WO_FALL_GUARDに切り替え
  analysis/best_model_comparison/Makefile
  analysis/best_model_comparison/analyze_curve2_per_step.py
  analysis/best_model_comparison/compare_logs.py
  analysis/best_model_comparison/vehicle_model_c_wrapper.cpp
Due: none

refactor: .soをgitignoreに追加し、Pythonスクリプトから自動コンパイルに変更
  analysis/best_model_comparison/.gitignore
  analysis/best_model_comparison/analyze_curve2_per_step.py
Due: none

fix: per-step分析のdelay queue初期化を定常状態仮定から実際の過去コマンド履歴に変更
  analysis/best_model_comparison/analyze_curve2_per_step.py
  analysis/best_model_comparison/vehicle_model_c_wrapper.cpp
Due: none

feat: per-step分析にステアリング予測誤差の分析を追加
  analysis/best_model_comparison/analyze_curve2_per_step.py
Due: none

refactor: 縦・横・ステア誤差を同列配置に統一
  analysis/best_model_comparison/analyze_curve2_per_step.py
Due: none

refactor: map_distributionにステア予測誤差を追加（1×3列に統一）
  analysis/best_model_comparison/analyze_curve2_per_step.py
Due: none

fix steer report
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test, unittests-concealer

improve threshold
  test_runner/scenario_test_runner/scenario/x2_dev_teleport_to_miraikan.yaml
  test_runner/scenario_test_runner/scenario/x2_dev_teleport_to_miraikan_curve2.yaml
Due: none

add vehicle model param legend
  analysis/best_model_comparison/_params_utils.py
  analysis/best_model_comparison/analyze_curve2_per_step.py
  analysis/best_model_comparison/analyze_real_curve2.py
  analysis/best_model_comparison/analyze_trajectory.py
  analysis/best_model_comparison/compare_curve2.py
  analysis/best_model_comparison/compare_dp_vs_final.py
  analysis/best_model_comparison/compare_logs.py
  analysis/best_model_comparison/diagnose_curve2.py
  analysis/best_model_comparison/diagnose_departure.py
Due: none

fix dt
  analysis/best_model_comparison/analyze_curve2_per_step.py
Due: none

add wz,vy,ay
  analysis/best_model_comparison/analyze_curve2_per_step.py
Due: none

settitle
  analysis/best_model_comparison/analyze_curve2_per_step.py
Due: none

add plots
  analysis/best_model_comparison/analyze_curve2_per_step.py
Due: none

Fix steer report output to use vehicle model output
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test, unittests-concealer

position diff
  analysis/best_model_comparison/analyze_curve2_per_step.py
Due: none

Add SimModelPerfectTrajectoryFollower model
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/package.xml
  external/concealer/src/autoware_universe.cpp
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_perfect_trajectory_follower.hpp
  simulation/simple_sensor_simulator/package.xml
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_perfect_trajectory_follower.cpp
Due: cpp_mock_test, unittests-concealer

Delete description of unmet conditions
  openscenario/openscenario_interpreter/src/syntax/maneuver.cpp
Due: unittests-openscenario_interpreter

Add SimModelPerfectTrajectoryTracker model
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/package.xml
  external/concealer/src/autoware_universe.cpp
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_perfect_trajectory_tracker.hpp
  simulation/simple_sensor_simulator/package.xml
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_perfect_trajectory_tracker.cpp
Due: cpp_mock_test, unittests-concealer

Add EXTERNAL_PERFECT_TRAJECTORY_TRACKER
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: cpp_mock_test

refactor
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_perfect_trajectory_tracker.cpp
Due: cpp_mock_test

Add gear logic
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_perfect_trajectory_tracker.cpp
Due: cpp_mock_test

Fix
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_perfect_trajectory_tracker.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_perfect_trajectory_tracker.cpp
Due: cpp_mock_test

Integrate non-linear vehicle dynamics, sensor noise, RK4 integration, and Hill Start Assist (HSA) logic into the DELAY_STEER_ACC_GEARED_WO_FALL_GUARD model
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
Due: cpp_mock_test

Fix z issue
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_perfect_trajectory_tracker.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_perfect_trajectory_tracker.cpp
Due: cpp_mock_test

fix(vehicle_model): improve actuator realism for hysteresis and brake jump
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
Due: cpp_mock_test

Fix external mode
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

fix(vehicle_model): resolve numerical hovering near zero speed under RK4
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
Due: cpp_mock_test

Change threshold
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
Due: cpp_mock_test

For general use
  analysis/best_model_comparison/CMakeLists.txt
  analysis/best_model_comparison/_params_utils.py
  analysis/best_model_comparison/compare_logs.py
  analysis/best_model_comparison/make_lite.py
  analysis/best_model_comparison/package.xml
Due: none

fix(vehicle_model): correct pedal transition physics and delay queue overlap
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
Due: cpp_mock_test

Apply saturation limits after calculating errors for pedal and steering to prevent exceeding physical constraints
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
Due: cpp_mock_test

fix(vehicle_model): adjust coasting threshold with pedal offsets to prevent false activation
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
Due: cpp_mock_test

fix(vehicle_model): prevent chattering in brake release jump logic by respecting offset
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
Due: cpp_mock_test

Add vehicle_model_wrapper
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/vehicle_model_c_wrapper.cpp
Due: cpp_mock_test

Add scenario post processor
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter_msgs/CMakeLists.txt
  openscenario/openscenario_interpreter_msgs/srv/PostProcess.srv
  test_runner/scenario_test_runner/CMakeLists.txt
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
  test_runner/scenario_test_runner/package.xml
  test_runner/scenario_test_runner/scenario_test_runner/scenario_post_processor.py
Due: unittests-openscenario_interpreter

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
