Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

change usage of iterator
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

chore: update way to run workflow
  .github/workflows/BuildAndRun.yaml
  .github/workflows/workflow.bash
  test_runner/scenario_test_runner/config/basic.csv
  test_runner/scenario_test_runner/config/workflow.csv
  test_runner/scenario_test_runner/config/workflow_example.yaml
Due: none

fix -Wreorder warnings in test extcutor class
  test_runner/random_test_runner/include/random_test_runner/test_executor.hpp
Due: none

fix: use result_checker in workflow.bash
  .github/workflows/workflow.bash
Due: none

chore: test for scenario failure
  test_runner/scenario_test_runner/scenario/ByEntityCondition.EntityCondition.DistanceConditionFreespace.yaml
Due: none

chore: revert scenario failure
  .github/workflows/workflow.bash
  test_runner/scenario_test_runner/scenario/ByEntityCondition.EntityCondition.DistanceConditionFreespace.yaml
Due: none

chore: use remote workflow file(test)
  .github/workflows/BuildAndRun.yaml
  test_runner/scenario_test_runner/config/basic.csv
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

fix: delete ) in BuildAndRun.yaml
  .github/workflows/BuildAndRun.yaml
Due: none

modify usage of std::adjacent_find
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

chore: use robotec repository
  .github/workflows/BuildAndRun.yaml
Due: none

Enable footprint fitting before spawning
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_source.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

Fix getNearbyLaneletIds not filtering out crosswalks
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Fix style
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

Clean TrafficSource code
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_source.hpp
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

First attempt at behavior and model3d support for TrafficSimulator
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_source.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

Fix style in TrafficSource
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

add trajectory_waypoint_pose
  mock/cpp_mock_scenarios/src/follow_trajectory/follow_polyline_trajectory_with_do_nothing_plugin.cpp
Due: unittests-cpp_mock_scenarios

update test scenario
  mock/cpp_mock_scenarios/src/follow_trajectory/follow_polyline_trajectory_with_do_nothing_plugin.cpp
Due: unittests-cpp_mock_scenarios

refactor: use sh instead of bash
  .github/workflows/workflow.sh
Due: none

refactor: rename workflow.csv to workflow.txt
  .github/workflows/BuildAndRun.yaml
  test_runner/scenario_test_runner/config/workflow.txt
Due: none

refactor: comment out basic scenario test
  .github/workflows/BuildAndRun.yaml
Due: none

refactor: change how arguments are handled in workflow.sh
  .github/workflows/BuildAndRun.yaml
  .github/workflows/workflow.sh
Due: none

refactor: fix shellcheck errors
  .github/workflows/workflow.sh
Due: none

fix: preprocessor node name
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor_node.cpp
Due: none

chore: ignore lognormal on cspell
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/log_normal_distribution.hpp
Due: unittests-openscenario_interpreter

Prevent loops
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

chore: update openscenario_validator version
  openscenario/openscenario_validator/package.xml
Due: none

floating_point comparison
  common/math/arithmetic/CMakeLists.txt
  common/math/arithmetic/test/CMakeLists.txt
  common/math/arithmetic/test/src/floating_point/CMakeLists.txt
  common/math/arithmetic/test/src/floating_point/test_comparison.cpp
Due: none

simple_sensr_simulation unit tests
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/test/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/sensor_simulation/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_lidar_sensor.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_raycaster.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/occupancy_grid/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/sensor_simulation/occupancy_grid/test_grid_traversal.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/occupancy_grid/test_occupancy_grid_builder.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/occupancy_grid/test_occupancy_grid_sensor.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/primitives/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/sensor_simulation/primitives/test_box.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/primitives/test_primitive.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/primitives/test_vertex.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/test_sensor_simulation.cpp
  simulation/simple_sensor_simulator/test/src/vehicle_simulation/vehicle_model/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/vehicle_simulation/vehicle_model/test_sim_model_ideal_steer_acc.cpp
  simulation/simple_sensor_simulator/test/src/vehicle_simulation/vehicle_model/test_sim_model_ideal_steer_acc_geared.cpp
  simulation/simple_sensor_simulator/test/src/vehicle_simulation/vehicle_model/test_sim_model_ideal_steer_vel.cpp
  simulation/simple_sensor_simulator/test/src/vehicle_simulation/vehicle_model/test_sim_model_interface.cpp
Due: cpp_mock_test

traffic_simulator unit tests
  simulation/traffic_simulator/test/CMakeLists.txt
  simulation/traffic_simulator/test/src/behavior/CMakeLists.txt
  simulation/traffic_simulator/test/src/behavior/test_longitudinal_speed_planning.cpp
Due: cpp_mock_test

simulation_interface unit tests
  simulation/simulation_interface/CMakeLists.txt
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/simulation_interface/test/CMakeLists.txt
  simulation/simulation_interface/test/include/expect_equal_macros.hpp
  simulation/simulation_interface/test/src/test_conversions.cpp
  simulation/simulation_interface/test/test_conversions.cpp
Due: cpp_mock_test

feat: update OpenSCENARIO version for openscenario_validator
  openscenario/openscenario_validator/CMakeLists.txt
  openscenario/openscenario_validator/configure/OpenSCENARIO-1.3.xsd
  openscenario/openscenario_validator/configure/schema.cpp
  openscenario/openscenario_validator/include/openscenario_validator/validator.hpp
  openscenario/openscenario_validator/package.xml
Due: none

doc: add DistanceCalculation.md
  docs/developer_guide/DistanceCalculation.md
  docs/image/shortest_l1_dash.png
  docs/image/shortest_l3.png
  docs/image/shortest_typical_routing.png
  mkdocs.yml
Due: none

doc: add comment to connect documentation
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

doc: fix link
  docs/developer_guide/DistanceCalculation.md
Due: none

doc: add missing image
  docs/image/looped_map_routing.png
Due: none

fix(follow_trajectory): fix velocity vector and setting orientation - pitch consideration, add calc distance along lanes - if possible
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_waypoint_controller.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test
