Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Fix sample scenario to not to set initial speed to ego entity
  test_runner/scenario_test_runner/scenario/sample.yaml
Due: none

rename test case
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

feat(scenario_test_runner): add test scenario of V2ITrafficSignalState
  test_runner/scenario_test_runner/scenario/CustomCommandAction.V2ITrafficSignalStateAction.yaml
Due: none

Update `FunctionCallExpression` to accept `@` as part of function name
  openscenario/openscenario_interpreter/include/openscenario_interpreter/regex/function_call_expression.hpp
Due: unittests-openscenario_interpreter

feat: implement update publish rate for V2ITrafficSignalState
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager_base.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager_base.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

fix: typo
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

refactor: move method related to traffic signals from CoordinateConversion to NonStandardOperation
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state_action.hpp
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

refactor: rename traffic_relation to traffic_lights
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_condition.cpp
Due: unittests-openscenario_interpreter

chore: fix include guard
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/conventional_traffic_light_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/v2i_traffic_light_manager.hpp
Due: cpp_mock_test

chore: delete unused code
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager_base.hpp
Due: cpp_mock_test

refactor
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager_base.cpp
Due: cpp_mock_test

merged UpdateSensorFrame into UpdateFrameRequest
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/simulation_interface/include/simulation_interface/zmq_multi_client.hpp
  simulation/simulation_interface/include/simulation_interface/zmq_multi_server.hpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/simulation_interface/src/zmq_multi_client.cpp
  simulation/simulation_interface/src/zmq_multi_server.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

ZMQ docs updated to reflrect removal of UpdateSensorFrame
  docs/developer_guide/ZeroMQ.md
Due: none

further removed updatesensorframe from zmq interface
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/simple_sensor_simulator.hpp
  simulation/simulation_interface/include/simulation_interface/zmq_multi_server.hpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
Due: cpp_mock_test

chore: apply linter
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

chore: apply linter
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light_manager.cpp
Due: cpp_mock_test

Lipsticks
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

fix comment
  common/math/geometry/include/geometry/solver/polynomial_solver.hpp
Due: none

Update ReleaseNotes
  docs/ReleaseNotes.md
Due: none

chore: apply linter
  openscenario/openscenario_interpreter/src/syntax/user_defined_value_condition.cpp
Due: unittests-openscenario_interpreter

Add description of CustomCommand for user to `OpenSCENARIOSupport.md`.
  docs/developer_guide/OpenSCENARIOSupport.md
Due: none

map to keep entity status in sss; zmq entity update takes one entity at a time
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/simple_sensor_simulator.hpp
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

utilizing updated entity data
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

removed updated entity entirely
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

refactor(traffic_simulator): append const to member variable of TrafficLightManagerBase
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager_base.hpp
Due: cpp_mock_test

refactor(traffic_simulator): optimize includes of v2i_traffic_light_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/v2i_traffic_light_manager.hpp
Due: cpp_mock_test

refactor(traffic_simulator): optimize includes of conventional_traffic_light_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/conventional_traffic_light_manager.hpp
Due: cpp_mock_test

refactor(traffic_simulator): optimize includes of v2i_traffic_light_manager.cpp
  simulation/traffic_simulator/src/traffic_lights/v2i_traffic_light_manager.cpp
Due: cpp_mock_test

refactor(openscenario_interpreter): ApplyV2ISignalStateAction::start
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

doc: update ReleaseNotes.md
  docs/ReleaseNotes.md
Due: none

chore(traffic_simulator): delete unused codes
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

chore(openscenario_interpreter): fix order of command list of CustomCommandAction
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

refactor(traffic_simulator): rename TrafficLightManagerBase::start into createTimer
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager_base.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager_base.cpp
Due: cpp_mock_test

refactor(traffic_simulator): reduce the scope of the variable
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

add const to some values, add comments
  common/math/geometry/include/geometry/solver/polynomial_solver.hpp
  common/math/geometry/package.xml
  common/math/geometry/src/solver/polynomial_solver.cpp
Due: none

rename functions
  common/math/geometry/include/geometry/solver/polynomial_solver.hpp
  common/math/geometry/src/solver/polynomial_solver.cpp
  common/math/geometry/src/spline/hermite_curve.cpp
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

apply format
  common/math/geometry/include/geometry/solver/polynomial_solver.hpp
Due: none

refactor(traffic_simulator, openscenario_interpreter): rename some variable & function name
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager_base.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager_base.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Add `readNameRef`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/reader/nameref.hpp
Due: unittests-openscenario_interpreter

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
