Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

remove unused args
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
Due: cpp_mock_test

Update the immediate actions to effect at the timing of `startTransition`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/acquire_position_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/assign_route_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/controller_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/custom_command_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_modify_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_set_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/teleport_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_controller_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state_action.hpp
  openscenario/openscenario_interpreter/src/syntax/acquire_position_action.cpp
  openscenario/openscenario_interpreter/src/syntax/assign_route_action.cpp
  openscenario/openscenario_interpreter/src/syntax/controller_action.cpp
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
  openscenario/openscenario_interpreter/src/syntax/entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_modify_action.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_set_action.cpp
  openscenario/openscenario_interpreter/src/syntax/teleport_action.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_controller_action.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state_action.cpp
Due: unittests-openscenario_interpreter

Lipsticks
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element.hpp
Due: unittests-openscenario_interpreter

Remove meaningless semicolon
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/acquire_position_action.hpp
Due: unittests-openscenario_interpreter

Remove member function `Expression::currentState`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/expression.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/pointer.hpp
  openscenario/openscenario_interpreter/src/syntax/storyboard_element_state_condition.cpp
Due: unittests-openscenario_interpreter

Remove obsoleted metafunction headers
  openscenario/openscenario_interpreter/include/openscenario_interpreter/type_traits/has_member_function_current_state.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/type_traits/if_has_member_function_current_state.hpp
Due: unittests-openscenario_interpreter

Update member function `Scope::ref<T>` to allow polymorphic type
  openscenario/openscenario_interpreter/include/openscenario_interpreter/object.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/pointer.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
Due: unittests-openscenario_interpreter

use rtcIntersect4/8/16 and set RTC_INTERSECT_CONTEXT_FLAG_COHERENT
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/lidar_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/primitives/primitive.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/lidar_sensor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/primitives/box.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/primitives/primitive.cpp
Due: cpp_mock_test

Rename member function `StoryboardElement::currentState` to `state`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element.hpp
  openscenario/openscenario_interpreter/src/syntax/act.cpp
  openscenario/openscenario_interpreter/src/syntax/action.cpp
  openscenario/openscenario_interpreter/src/syntax/event.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver.cpp
  openscenario/openscenario_interpreter/src/syntax/maneuver_group.cpp
  openscenario/openscenario_interpreter/src/syntax/story.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard.cpp
  openscenario/openscenario_interpreter/src/syntax/storyboard_element_state_condition.cpp
Due: unittests-openscenario_interpreter

Fix simulation context output
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

change to option 1 (simulator host as a launch parameter)
  docs/design/ZeroMQ.md
  docs/tutorials/BuildInstructions.md
  simulation/simulation_interface/include/simulation_interface/constants.hpp
  simulation/simulation_interface/include/simulation_interface/zmq_multi_client.hpp
  simulation/simulation_interface/src/constants.cpp
  simulation/simulation_interface/src/zmq_multi_client.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/configuration.hpp
  test_runner/random_test_runner/Readme.md
  test_runner/random_test_runner/include/random_test_runner/data_types.hpp
  test_runner/random_test_runner/launch/random_test.launch.py
  test_runner/random_test_runner/src/random_test_runner.cpp
Due: cpp_mock_test

revert some changes from option 2
  simulation/simulation_interface/include/simulation_interface/constants.hpp
  simulation/simulation_interface/src/constants.cpp
Due: cpp_mock_test

Revert "[TMP] meassure update time"
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
Due: unittests-cpp_mock_scenarios

clang format
  simulation/behavior_tree_plugin/src/vehicle/vehicle_action_node.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

Remove macro identifier `SCENARIO_SIMULATOR_V2_BACKWARD_COMPATIBLE_TO_AWF_AUTO`
  external/concealer/CMakeLists.txt
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
  mock/cpp_mock_scenarios/CMakeLists.txt
  openscenario/openscenario_interpreter/CMakeLists.txt
  simulation/behavior_tree_plugin/CMakeLists.txt
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/sensor_simulation.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  simulation/simulation_interface/CMakeLists.txt
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/simulation_interface/src/conversions.cpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_state.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_state.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light_manager.cpp
Due: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

Remove class `AutowareAuto`
  external/concealer/CMakeLists.txt
  external/concealer/include/concealer/autoware_auto.hpp
  external/concealer/package.xml
  external/concealer/src/autoware_auto.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-concealer

Remove architecture_type `awf/auto`
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/sensor_simulation.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: cpp_mock_test

Remove legacy vehicle model types
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

ugly but working
  external/concealer/src/autoware_universe.cpp
  test_runner/random_test_runner/include/random_test_runner/metrics/almost_standstill_metric.hpp
  test_runner/random_test_runner/launch/random_test.launch.py
  test_runner/random_test_runner/src/test_executor.cpp
Due: unittests-concealer

fixes and cleanup
  external/concealer/src/autoware_universe.cpp
  test_runner/random_test_runner/include/random_test_runner/metrics/almost_standstill_metric.hpp
  test_runner/random_test_runner/launch/random_test.launch.py
  test_runner/random_test_runner/src/test_executor.cpp
Due: unittests-concealer

refactor
  test_runner/random_test_runner/CMakeLists.txt
  test_runner/random_test_runner/include/random_test_runner/data_types.hpp
  test_runner/random_test_runner/include/random_test_runner/metrics/almost_standstill_metric.hpp
  test_runner/random_test_runner/include/random_test_runner/random_test_runner.hpp
  test_runner/random_test_runner/include/random_test_runner/test_executor.hpp
  test_runner/random_test_runner/launch/random_test.launch.py
  test_runner/random_test_runner/src/data_types.cpp
  test_runner/random_test_runner/src/random_test_runner.cpp
  test_runner/random_test_runner/src/test_executor.cpp
Due: none

fix typo
  test_runner/random_test_runner/launch/random_test.launch.py
Due: none

apply clang format
  test_runner/random_test_runner/src/data_types.cpp
  test_runner/random_test_runner/src/random_test_runner.cpp
  test_runner/random_test_runner/src/test_executor.cpp
Due: none

fix sim model ideal steer acc geard
  simulation/traffic_simulator/include/traffic_simulator/vehicle_model/sim_model_ideal_steer_acc_geared.hpp
  simulation/traffic_simulator/src/vehicle_model/sim_model_ideal_steer_acc_geared.cpp
Due: cpp_mock_test

Remove `foxy` from GitHub workflows
  .github/workflows/Build.yaml
  .github/workflows/BuildIsolate.yaml
  .github/workflows/Docker.yaml
  .github/workflows/ScenarioTest.yaml
  docs/tutorials/BuildInstructions.md
  docs/tutorials/RunWithDocker.md
  simulation/behavior_tree_plugin/CMakeLists.txt
Due: cpp_mock_test

update Release Note
  docs/ReleaseNotes.md
Due: none

Update ReleaseNotes
  dependency_foxy.repos
  docs/ReleaseNotes.md
Due: none

fix: no perform method in str object
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

check yaw difference
  simulation/behavior_tree_plugin/CMakeLists.txt
  simulation/behavior_tree_plugin/package.xml
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

update ReleaseNOte
  docs/ReleaseNotes.md
Due: none

Replace `AwapiAutowareStatus` with `autoware_auto_system_msgs::msg::AutowareState`
  external/concealer/include/concealer/autoware.hpp
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/transition_assertion.hpp
  external/concealer/package.xml
  external/concealer/src/autoware_universe.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  test_runner/scenario_test_runner/test/scenario/autoware-simple.yaml
Due: cpp_mock_test, unittests-concealer

Remove `tier4_system_msgs` from dependency
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/package.xml
  openscenario/user_defined_value_condition_example/package.xml
  openscenario/user_defined_value_condition_example/src/timeout.cpp
Due: unittests-concealer

Remove macro `DEFINE_SUBSCRIPTION_WITH_OVERRIDE`
  external/concealer/include/concealer/define_macro.hpp
Due: unittests-concealer

fix typo
  docs/ReleaseNotes.md
Due: none

Replace engagement API with new ROS2 service version
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

Add missing package dependency
  external/concealer/package.xml
Due: unittests-concealer

use boost::math::constants::half_pi<double>()
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

Add new macro `CONCEALER_DEFINE_CLIENT`
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/define_macro.hpp
  external/concealer/src/autoware_universe.cpp
  openscenario/user_defined_value_condition_example/src/timeout.cpp
Due: unittests-concealer

Add new macro `CONCEALER_INIT_CLIENT`
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/define_macro.hpp
Due: unittests-concealer
