Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Update HACKING.md
  HACKING.md
Due: none

Implement getBoundingBox* functions
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

code refactor
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
Due: unittests-openscenario_interpreter

update docs
  docs/developer_guide/OpenSCENARIOSupport.md
Due: none

Lipsticks
  openscenario/map_fragment/src/find.cpp
  openscenario/map_fragment/src/lane.cpp
  openscenario/map_fragment/src/length.cpp
  test_runner/scenario_test_runner/scenario/sample-2.yaml
Due: none

sending initial pose only when localizaiton is uninitialized
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

fix document
  docs/developer_guide/SimpleSensorSimulator.md
  docs/developer_guide/ZeroMQ.md
Due: none

fix typo
  docs/developer_guide/ZeroMQ.md
Due: none

Add new free function `curvature2d`
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
Due: none

add random scenario
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/src/random_scenario/CMakeLists.txt
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
Due: unittests-cpp_mock_scenarios

update scenario
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
Due: unittests-cpp_mock_scenarios

modify condition
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
Due: unittests-cpp_mock_scenarios

clang format
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

add parameters
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/package.xml
  mock/cpp_mock_scenarios/src/random_scenario/CMakeLists.txt
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random_parameters/random001.yaml
Due: unittests-cpp_mock_scenarios

enable update parameter
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
Due: unittests-cpp_mock_scenarios

set bounds
  mock/cpp_mock_scenarios/src/random_scenario/random_parameters/random001.yaml
Due: unittests-cpp_mock_scenarios

enable clean up entity
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

add s variance
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random_parameters/random001.yaml
Due: unittests-cpp_mock_scenarios

Fix `makeLineString3d` to include the given origin in LineString
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
  test_runner/scenario_test_runner/scenario/sample-curve.yaml
Due: none

add offset variance parameter
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random_parameters/random001.yaml
Due: unittests-cpp_mock_scenarios

despawn stopped pedestrian
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random_parameters/random001.yaml
Due: unittests-cpp_mock_scenarios

randomize speed
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random_parameters/random001.yaml
Due: unittests-cpp_mock_scenarios

fix scenario
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
Due: unittests-cpp_mock_scenarios

uncomment targets
  mock/cpp_mock_scenarios/CMakeLists.txt
Due: unittests-cpp_mock_scenarios

Add new overloads to function `makeLaneletLeft` and `makeLaneletRight`
  openscenario/map_fragment/CMakeLists.txt
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
  openscenario/map_fragment/src/curve.cpp
  openscenario/map_fragment/src/lane.cpp
Due: none

Add comment to CMakeLists.txt to make cSpell ignore the word `typedefs`
  openscenario/map_fragment/CMakeLists.txt
Due: none

add comment
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
Due: unittests-cpp_mock_scenarios

update scenario
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/cpp_scenario_node.hpp
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
Due: unittests-cpp_mock_scenarios

enable run scenario
  mock/cpp_mock_scenarios/launch/mock_test.launch.py
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
Due: unittests-cpp_mock_scenarios

remove sending route
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
Due: unittests-cpp_mock_scenarios

remove sending route function
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
Due: unittests-cpp_mock_scenarios

fix(HDMapUtils): avoid looped measurement in lane coordinate system distance
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

fix: modify scenario to check avoiding looped measurement
  test_runner/scenario_test_runner/scenario/ByEntityCondition.EntityCondition.RelativeDistanceCondition.yaml
Due: none

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
