Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Rename `CooperatePolicy` to `Cooperator`
  external/concealer/CMakeLists.txt
  external/concealer/include/concealer/autoware.hpp
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/cooperator.hpp
  external/concealer/src/autoware_universe.cpp
  external/concealer/src/cooperator.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-concealer, unittests-openscenario_interpreter

Lipsticks
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

Implement Action::endsImmediately
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/action.hpp
  openscenario/openscenario_interpreter/src/syntax/action.cpp
  openscenario/openscenario_interpreter/src/syntax/init_actions.cpp
Due: unittests-openscenario_interpreter

add isNpcLogicStarted function
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

Update `ros2 bag record` to exclude a large topic
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

Update ReleaseNotes
  docs/ReleaseNotes.md
Due: none

skip update npc status before starting npc logics
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

modify constructo for stop watch class
  simulation/traffic_simulator/include/traffic_simulator/helper/stop_watch.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Add new header `regex/function_call_expression.hpp`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/regex/function_call_expression.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/custom_command_action.hpp
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

Delete unused variable
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/private.hpp
Due: unittests-openscenario_interpreter

remove passing current time to plugin
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/src/pedestrian/behavior_tree.cpp
  simulation/behavior_tree_plugin/src/vehicle/behavior_tree.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

update documentation
  docs/developer_guide/BehaviorPlugin.md
Due: none

use boost::optional type
  simulation/traffic_simulator/include/traffic_simulator/simulation_clock/simulation_clock.hpp
  simulation/traffic_simulator/src/simulation_clock/simulation_clock.cpp
Due: cpp_mock_test

use boost optional
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test

Update `UserDefinedValueCondition` to support function-style expression (EXPERIMENTAL)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/functional/curry.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/regex/function_call_expression.hpp
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
  openscenario/openscenario_interpreter/src/syntax/user_defined_value_condition.cpp
  test_runner/scenario_test_runner/scenario/sample.yaml
Due: unittests-openscenario_interpreter

initalize with NAN
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

Add "approvable" to custom_spell.json
  .github/workflows/custom_spell.json
Due: none

remove getCurrentTime function
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

Add new NonStandardOperation `evaluateRelativeHeading`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/functional/curry.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/lane_position.hpp
  openscenario/openscenario_interpreter/src/syntax/lane_position.cpp
  openscenario/openscenario_interpreter/src/syntax/user_defined_value_condition.cpp
  test_runner/scenario_test_runner/scenario/sample.yaml
Due: unittests-openscenario_interpreter

fix compile errors
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/behavior_tree.cpp
  simulation/behavior_tree_plugin/src/vehicle/behavior_tree.cpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

Replace lychee-action with pre-commit in DocumentationLinkCheck.yaml
  .github/workflows/DocumentationLinkCheck.yaml
Due: none

Add .pre-commit-config-optional.yaml
  .github/workflows/.precommit-config-optional.yaml
  .github/workflows/DocumentationLinkCheck.yaml
Due: none

Fix file name
  .github/workflows/.pre-commit-config-optional.yaml
Due: none

rename scenario
  mock/cpp_mock_scenarios/src/follow_lane/acquire_position_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/assign_route_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/follow_with_offset.cpp
Due: unittests-cpp_mock_scenarios

Revert DocumentationLinkCheck.yaml and stop issue creating
  .github/workflows/.pre-commit-config-optional.yaml
  .github/workflows/DocumentationLinkCheck.yaml
Due: none

Update DocumentationLinkCheck.yaml args
  .github/workflows/DocumentationLinkCheck.yaml
Due: none

Update DocumentationLinkCheck.yaml timeout
  .github/workflows/DocumentationLinkCheck.yaml
Due: none

fix problems in trajectory offset
  common/math/geometry/src/spline/catmull_rom_spline.cpp
  mock/cpp_mock_scenarios/src/follow_lane/CMakeLists.txt
  mock/cpp_mock_scenarios/src/follow_lane/follow_with_offset.cpp
Due: unittests-cpp_mock_scenarios

add getLaneletPose API
  mock/cpp_mock_scenarios/src/follow_lane/follow_with_offset.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

Update Communication.md
  docs/developer_guide/Communication.md
Due: none

Update link checking timeout
  .github/workflows/DocumentationLinkCheck.yaml
Due: none

Add args to DocumentationLinkCheck.yaml
  .github/workflows/DocumentationLinkCheck.yaml
Due: none

remove right of way when the lanelet id is same
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

update Release Note
  docs/ReleaseNotes.md
Due: none

Update AutowareAPI.md
  docs/developer_guide/AutowareAPI.md
Due: none

Set mask property to raycaster hit to enable intersecting with geometries in the scene
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
Due: cpp_mock_test

Fix typo
  docs/ReleaseNotes.md
Due: none
