Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Add waypoints calculation to WalkStraightAction class
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/walk_straight_action.hpp
  simulation/behavior_tree_plugin/src/pedestrian/walk_straight_action.cpp
Due: cpp_mock_test

Add trajectory-based entity detection to WalkStraightAction
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/walk_straight_action.hpp
  simulation/behavior_tree_plugin/src/pedestrian/walk_straight_action.cpp
Due: cpp_mock_test

Support trajectory_based_detection_offset options
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/follow_lane_action.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/walk_straight_action.hpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/pedestrian/walk_straight_action.cpp
Due: cpp_mock_test

Reorder pre-compile headers in openscenario_interpreter
  openscenario/openscenario_interpreter/CMakeLists.txt
Due: unittests-openscenario_interpreter

Add missing header includes
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/execution_timer.hpp
  openscenario/openscenario_validator/include/openscenario_validator/validator.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/routing_graph_type.hpp
  simulation/traffic_simulator/src/helper/ostream_helpers.cpp
  test_runner/random_test_runner/test/test_junit_xml_reporter.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Removed static attribute from Raycaster::intersect
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
Due: cpp_mock_test

Add Raycaster::Entity struct to simplify code
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
Due: cpp_mock_test

Move pointcloud messaging functionality from the Raycaster class to the LidarSensor class
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/lidar_sensor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_raycaster.cpp
Due: cpp_mock_test

Organize includes
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/lidar_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
Due: cpp_mock_test

temporary fix build error for x2 v4.2 to test awsim on evaluator
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_loader.cpp
Due: cpp_mock_test

Fix Dockerfile: remove undefined $WORKDIR variable and copy files to current directory
  Dockerfile
Due: none

Add BuildAndRunJazzy.yaml
  .github/workflows/BuildAndRunJazzy.yaml
Due: none

Add pull_request trigger for test
  .github/workflows/BuildAndRunJazzy.yaml
Due: none

Refactor Raycaster to use `std::vector` instead of `std::set` for geometry IDs
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
Due: cpp_mock_test

Add `Raycaster::RaycastResult` to handle result of raycast function
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/lidar_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/lidar_sensor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_raycaster.cpp
Due: cpp_mock_test

Remove name attribute from traffic_simulator visualization node to avoid duplicate node name on parameter node
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

Remove `Raycaster::entities_` to reduce internal states
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/lidar_sensor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_raycaster.cpp
Due: cpp_mock_test

Optimize `Raycaster::RaycastResult` members
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/lidar_sensor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_raycaster.cpp
Due: cpp_mock_test

Initialize Raycaster::RaycastResult::cloud in constructor
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
Due: cpp_mock_test

commited
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/lidar_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/lidar_sensor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_raycaster.cpp
Due: cpp_mock_test

Add raycast_entities to RaycastResult as a member
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/lidar_sensor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_raycaster.cpp
Due: cpp_mock_test

Move primitive construction into Raycaster::Entity::Entity
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/lidar_sensor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_raycaster.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_raycaster.hpp
Due: cpp_mock_test

commited
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/lidar_sensor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_raycaster.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_raycaster.hpp
Due: cpp_mock_test

Remove pull_request trigger from jazzy ci
  .github/workflows/BuildAndRunJazzy.yaml
Due: none

10/21
  docs/developer_guide/Parameters.md
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/lidar_noise_v1_processor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/lidar_performance_monitor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/lidar_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/noise_parameter_selector.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/lidar_noise_v1_processor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/lidar_sensor.cpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
  test_runner/scenario_test_runner/config/parameters.yaml
  test_runner/scenario_test_runner/scenario/sample.yaml
Due: cpp_mock_test

Fix artifact upload condition
  .github/workflows/BuildAndRun.yaml
Due: none

Fix result handling
  .github/workflows/TrafficSimAPICheck.yaml
Due: none

Add result dump
  .github/workflows/TrafficSimAPICheck.yaml
Due: none

Add additional comments
  .github/workflows/TrafficSimAPICheck.yaml
Due: none

Add dependabot for Actions Workflow
  .github/dependabot.yml
Due: none

Add docker and pip support
  .github/dependabot.yml
Due: none

Remove docker image check
  .github/dependabot.yml
Due: none
