Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

fix typo
  .github/workflows/Docker.yaml
Due: none

Add "by object type" test scenario
  test_runner/scenario_test_runner/scenario/collision_condition_by_type.yaml
Due: none

Apply formatter
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/by_object_type.hpp
  test_runner/scenario_test_runner/scenario/collision_condition_by_type.yaml
Due: unittests-openscenario_interpreter

Remove unused parameter
  test_runner/scenario_test_runner/scenario/collision_condition_by_type.yaml
Due: none

Use sample_vehicle
  test_runner/scenario_test_runner/scenario/collision_condition_by_type.yaml
Due: none

Use upper camel case
  test_runner/scenario_test_runner/scenario/collision_condition_by_type.yaml
Due: none

Add collision condition scenario
  test_runner/scenario_test_runner/config/workflow.txt
Due: none

Fixed logic to remove duplicate topics.
  rviz_plugins/openscenario_visualization/src/context_panel_plugin.cpp
Due: none

Improved readability.​
  common/math/geometry/src/bounding_box.cpp
  common/math/geometry/src/intersection/intersection.cpp
Due: none

Refactor curvature sampling loop to avoid using float counter
  common/math/geometry/src/spline/hermite_curve.cpp
Due: none

Fix format
  openscenario/openscenario_interpreter/src/syntax/by_object_type.cpp
Due: unittests-openscenario_interpreter

Changed to use std::set instead of std::unique.
  rviz_plugins/openscenario_visualization/src/context_panel_plugin.cpp
Due: none

Add missinginclude
  common/math/geometry/include/geometry/vector3/normalize.hpp
  external/concealer/src/execute.cpp
Due: unittests-concealer

fix format
  external/concealer/src/execute.cpp
Due: unittests-concealer

Remove blank line
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/by_object_type.hpp
Due: unittests-openscenario_interpreter

Fix undesirable inheritance
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/by_object_type.hpp
  openscenario/openscenario_interpreter/src/syntax/by_object_type.cpp
  openscenario/openscenario_interpreter/src/syntax/collision_condition.cpp
Due: unittests-openscenario_interpreter

Use lower_snake_case identifier name
  test_runner/scenario_test_runner/scenario/collision_condition_by_type.yaml
Due: none

remove unuse variable
  common/math/geometry/test/src/quaternion/test_quaternion.cpp
  common/math/geometry/test/src/vector3/test_truncate_custom.cpp
  common/math/geometry/test/src/vector3/test_truncate_msg.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

Added missing inline directives.
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

Adding a virtual destructor
  common/math/geometry/include/geometry/spline/catmull_rom_spline.hpp
Due: none

Removed unnecessary lambda captures.
  common/status_monitor/src/status_monitor.cpp
  external/concealer/src/autoware_universe.cpp
  external/concealer/src/field_operator_application.cpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-concealer

Added missing override qualifiers.
  external/concealer/include/concealer/autoware_universe.hpp
Due: unittests-concealer

Standardizing declarations.
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
Due: unittests-concealer

Performing explicit casts.
  simulation/traffic_simulator/src/behavior/follow_waypoint_controller.cpp
Due: cpp_mock_test

Remove unnecessary const from the return value of the function.
  common/math/geometry/src/bounding_box.cpp
Due: none

Fix declaration mismatch.
  common/math/geometry/include/geometry/bounding_box.hpp
Due: none

adding const to large objects.
  common/math/geometry/include/geometry/bounding_box.hpp
  common/math/geometry/src/bounding_box.cpp
Due: none

Defined individually in each statement.
  common/math/geometry/src/bounding_box.cpp
Due: none

Enforces dynamic dispatch.
  rviz_plugins/openscenario_visualization/src/openscenario_visualization_condition_groups_plugin/jsk_overlay_utils.cpp
Due: none

Change "NULL" to "nullptr".
  rviz_plugins/openscenario_visualization/src/openscenario_visualization_condition_groups_plugin/openscenario_visualization_condition_groups_plugin.cpp
Due: none

modified it to use smart pointers
  rviz_plugins/openscenario_visualization/include/openscenario_visualization_condition_groups_plugin/openscenario_visualization_condition_groups_plugin.hpp
  rviz_plugins/openscenario_visualization/src/openscenario_visualization_condition_groups_plugin/openscenario_visualization_condition_groups_plugin.cpp
Due: none

“Rename ‘target_speed_’ to avoid shadowing ‘EntityBase’ field.”
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
Due: cpp_mock_test

Explicitly used virtual functions in the base class.
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
Due: cpp_mock_test

Explicitly used virtual functions in the base class.
  simulation/traffic_simulator/include/traffic_simulator/entity/misc_object_entity.hpp
Due: cpp_mock_test

Explicitly virtualized
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/pedestrian_action_node.hpp
Due: cpp_mock_test

ref(traffic_simulator): remove autoware::msgs dependency, go back to a proto-centric conversion architecture
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/simulation_interface/src/conversions.cpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights_base.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_publisher.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_lights_base.cpp
Due: cpp_mock_test

Refactor using `using`
  simulation/traffic_simulator/include/traffic_simulator/visualization/visualization_component.hpp
  simulation/traffic_simulator/src/visualization/visualization_component.cpp
Due: cpp_mock_test
