Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Move class `Color` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/color.hpp
  openscenario/openscenario_interpreter/src/syntax/color.cpp
Due: unittests-openscenario_interpreter

Move class `Command` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/command.hpp
  openscenario/openscenario_interpreter/src/syntax/command.cpp
Due: unittests-openscenario_interpreter

Move class `Condition` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/condition.hpp
  openscenario/openscenario_interpreter/src/syntax/condition.cpp
Due: unittests-openscenario_interpreter

use reference
  common/simple_junit/include/simple_junit/junit5.hpp
Due: none

Move class `ConditionGroup` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/condition_group.hpp
  openscenario/openscenario_interpreter/src/syntax/condition_group.cpp
Due: unittests-openscenario_interpreter

Move class `Controller` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/controller.hpp
  openscenario/openscenario_interpreter/src/syntax/controller.cpp
Due: unittests-openscenario_interpreter

Move class `ControllerAction` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/controller_action.hpp
  openscenario/openscenario_interpreter/src/syntax/controller_action.cpp
Due: unittests-openscenario_interpreter

Update syntax `DistanceCondition` members to match OpenSCENARIO 1.1
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
Due: unittests-openscenario_interpreter

Typos fix
  simulation/simulation_interface/include/simulation_interface/constants.hpp
  simulation/simulation_interface/src/zmq_multi_server.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

Add member function `DistanceCondition::distance`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
Due: unittests-openscenario_interpreter

Update member function `distance` to recognize all parameters
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
Due: unittests-openscenario_interpreter

Fix DistanceCondition.relativeDistanceType to be optinal element
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_type.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
Due: unittests-openscenario_interpreter

Update `getLongitudinalDistance` to support overload for `LaneletPose`
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

fix command
  docs/tutorials/SimpleDemo.md
Due: none

Simplify `DistanceCondition::distance` definition with macro
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
Due: unittests-openscenario_interpreter

Support `DistanceCondition::distance<lane, longitudinal, false>`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
Due: unittests-openscenario_interpreter

add some depends
  mock/cpp_mock_scenarios/package.xml
Due: unittests-cpp_mock_scenarios

update launch file
  mock/cpp_mock_scenarios/launch/mock_test.launch.py
Due: unittests-cpp_mock_scenarios

Support `DistanceCondition::distance<entity, *, false>`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/procedure.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/reach_position_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
Due: unittests-openscenario_interpreter

Lipsticks
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distance_condition.hpp
Due: unittests-openscenario_interpreter

Update ReleaseNotes
  docs/ReleaseNotes.md
Due: none

add <depend>autoware_perception_msgs</depend>
  simulation/traffic_simulator/package.xml
Due: cpp_mock_test

return none when the lanelet pose is not valid
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

update release note
  docs/ReleaseNotes.md
Due: none

add bool EntityManager::laneMatchingSucceed(const std::string & name)
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

udpate Release note
  docs/ReleaseNotes.md
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

check target entity is assing to the lane or not
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Move class `CustomCommandAction` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/boolean.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/command.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/condition_edge.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/coordinate_system.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/custom_command_action.hpp
  openscenario/openscenario_interpreter/src/syntax/condition.cpp
  openscenario/openscenario_interpreter/src/syntax/coordinate_system.cpp
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

update documentation
  docs/ReleaseNotes.md
Due: none

Update changelog
  common/scenario_simulator_exception/CHANGELOG.rst
  common/simple_junit/CHANGELOG.rst
  external/concealer/CHANGELOG.rst
  external/lanelet2_extension_psim/CHANGELOG.rst
  map/kashiwanoha_map/CHANGELOG.rst
  mock/cpp_mock_scenarios/CHANGELOG.rst
  openscenario/openscenario_interpreter/CHANGELOG.rst
  openscenario/openscenario_interpreter_msgs/CHANGELOG.rst
  openscenario/openscenario_msgs/CHANGELOG.rst
  openscenario/openscenario_utility/CHANGELOG.rst
  openscenario/openscenario_visualization/CHANGELOG.rst
  scenario_simulator_v2/CHANGELOG.rst
  simulation/simple_sensor_simulator/CHANGELOG.rst
  simulation/simulation_interface/CHANGELOG.rst
  simulation/traffic_simulator/CHANGELOG.rst
  test_runner/scenario_test_runner/CHANGELOG.rst
Due: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

0.5.1
  common/scenario_simulator_exception/CHANGELOG.rst
  common/scenario_simulator_exception/package.xml
  common/simple_junit/CHANGELOG.rst
  common/simple_junit/package.xml
  external/concealer/CHANGELOG.rst
  external/concealer/package.xml
  external/lanelet2_extension_psim/CHANGELOG.rst
  external/lanelet2_extension_psim/package.xml
  map/kashiwanoha_map/CHANGELOG.rst
  map/kashiwanoha_map/package.xml
  mock/cpp_mock_scenarios/CHANGELOG.rst
  mock/cpp_mock_scenarios/package.xml
  openscenario/openscenario_interpreter/CHANGELOG.rst
  openscenario/openscenario_interpreter/package.xml
  openscenario/openscenario_interpreter_msgs/CHANGELOG.rst
  openscenario/openscenario_interpreter_msgs/package.xml
  openscenario/openscenario_msgs/CHANGELOG.rst
  openscenario/openscenario_msgs/package.xml
  openscenario/openscenario_utility/CHANGELOG.rst
  openscenario/openscenario_utility/package.xml
  openscenario/openscenario_visualization/CHANGELOG.rst
  openscenario/openscenario_visualization/package.xml
  scenario_simulator_v2/CHANGELOG.rst
  scenario_simulator_v2/package.xml
  simulation/simple_sensor_simulator/CHANGELOG.rst
  simulation/simple_sensor_simulator/package.xml
  simulation/simulation_interface/CHANGELOG.rst
  simulation/simulation_interface/package.xml
  simulation/traffic_simulator/CHANGELOG.rst
  simulation/traffic_simulator/package.xml
  test_runner/scenario_test_runner/CHANGELOG.rst
  test_runner/scenario_test_runner/package.xml
Due: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Move class `DeleteEntityAction` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/delete_entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_ref.hpp
  openscenario/openscenario_interpreter/src/syntax/delete_entity_action.cpp
Due: unittests-openscenario_interpreter

Move class `Dimensions` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/bounding_box.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/dimensions.hpp
  openscenario/openscenario_interpreter/src/syntax/dimensions.cpp
Due: unittests-openscenario_interpreter

Move class `Double` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/directory.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/double.hpp
  openscenario/openscenario_interpreter/src/syntax/double.cpp
Due: unittests-openscenario_interpreter

Move class `Event` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/object.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/dynamics_dimension.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_object.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_selection.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/event.hpp
  openscenario/openscenario_interpreter/src/syntax/dynamics_dimension.cpp
  openscenario/openscenario_interpreter/src/syntax/entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/event.cpp
Due: unittests-openscenario_interpreter

Move class `File` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/file.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/openscenario.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/syntax/file.cpp
Due: unittests-openscenario_interpreter

Move class `Init` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/init.hpp
  openscenario/openscenario_interpreter/src/syntax/init.cpp
Due: unittests-openscenario_interpreter

Move class `InitActions` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/init_actions.hpp
  openscenario/openscenario_interpreter/src/syntax/init_actions.cpp
Due: unittests-openscenario_interpreter

Move class `Integer` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/integer.hpp
  openscenario/openscenario_interpreter/src/syntax/integer.cpp
Due: unittests-openscenario_interpreter

Move class `LaneChangeAction` member implementation into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/object.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/lane_change_action.hpp
  openscenario/openscenario_interpreter/src/syntax/lane_chage_action.cpp
Due: unittests-openscenario_interpreter

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
