Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Support all parameter pattern of `RelativeDistanceCondition`
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

Lipsticks
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
Due: unittests-openscenario_interpreter

Update ReleaseNotes
  docs/ReleaseNotes.md
Due: none

Update `CollisionCondition` to ignore entity that has not yet been added
  openscenario/openscenario_interpreter/CMakeLists.txt
  openscenario/openscenario_interpreter/include/openscenario_interpreter/scope.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/collision_condition.hpp
  openscenario/openscenario_interpreter/src/scope.cpp
Due: unittests-openscenario_interpreter

Add free function `apply` for syntax `PrivateAction`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/init.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/private_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element.hpp
  openscenario/openscenario_interpreter/src/syntax/private_action.cpp
Due: unittests-openscenario_interpreter

Simplify `PrivateAction::endsImmediately` with `apply`
  openscenario/openscenario_interpreter/src/syntax/private_action.cpp
Due: unittests-openscenario_interpreter

Add free function `apply` for syntax `LongitudinalAction`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/longitudinal_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_action.hpp
  openscenario/openscenario_interpreter/src/syntax/longitudinal_action.cpp
Due: unittests-openscenario_interpreter

Refine documents and define contribution guidelines
  CONTRIBUTING.md
  docs/README.md
  docs/design/About.md
  docs/design/AutowareAPI.md
  docs/design/ErrorCategories.md
  docs/design/Metrics.md
  docs/design/SimpleSensorSimulator.md
  docs/design/SimulationResultFormat.md
  docs/design/SystemArchitecture.md
  docs/design/TierIVScenarioFormatVersion2.md
  docs/design/TrafficSimulator.md
  docs/design/ZeroMQ.md
  docs/etc/ContactUs.md
  docs/etc/DevelopmentRules.md
Due: none

Rename DevelopmentRules to HowToContribute
  CONTRIBUTING.md
  docs/README.md
  docs/etc/HowToContribute.md
  mkdocs.yml
Due: none

Minor fix
  CONTRIBUTING.md
  docs/README.md
  docs/etc/HowToContribute.md
Due: none

Update PrivateActions to support member function `run`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/acquire_position_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/act.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/assign_route_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/controller_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/lane_change_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/lane_position.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/lateral_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/longitudinal_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/maneuver.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/private.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/private_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/routing_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/story.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/storyboard_element.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/teleport_action.hpp
  openscenario/openscenario_interpreter/src/syntax/lateral_action.cpp
  openscenario/openscenario_interpreter/src/syntax/longitudinal_action.cpp
  openscenario/openscenario_interpreter/src/syntax/routing_action.cpp
Due: unittests-openscenario_interpreter

Add free function `apply` for `Action`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/action.hpp
Due: unittests-openscenario_interpreter

Update syntax `Action` to call Element's `run` on runningState
  openscenario/openscenario_interpreter/include/openscenario_interpreter/object.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/custom_command_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/global_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/infrastructure_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_modify_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_set_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_controller_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/user_defined_action.hpp
  openscenario/openscenario_interpreter/src/syntax/global_action.cpp
  openscenario/openscenario_interpreter/src/syntax/infrastructure_action.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_action.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_action.cpp
  openscenario/openscenario_interpreter/src/syntax/user_defined_action.cpp
Due: unittests-openscenario_interpreter

Move `SpeedActionTarget`'s member functions into .cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/absolute_target_speed.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/lateral_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_target_speed.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_action_target.hpp
  openscenario/openscenario_interpreter/src/syntax/speed_action_target.cpp
Due: unittests-openscenario_interpreter

Update `SpeedAction` to not to execute action in `start`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_action.hpp
Due: unittests-openscenario_interpreter

Cleanup syntax `SpeedAction`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_action.hpp
Due: unittests-openscenario_interpreter

Additional fixes
  docs/etc/HowToContribute.md
Due: none

EntityManager has a node as rclcpp::node_interfaces::NodeTopicInterface to erase its type
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/object_controller.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/scenario_object.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/metrics/metric_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/metrics/out_of_range_metric.hpp
  simulation/traffic_simulator/src/metrics/out_of_range_metric.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

trivially fix
  simulation/traffic_simulator/include/traffic_simulator/metrics/out_of_range_metric.hpp
  simulation/traffic_simulator/src/metrics/out_of_range_metric.cpp
Due: cpp_mock_test

Remove `Pointer::start`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/expression.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/pointer.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/custom_command_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/global_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/infrastructure_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/lateral_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/longitudinal_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_modify_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_set_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/private_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/routing_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_controller_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/traffic_signal_state_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/user_defined_action.hpp
  openscenario/openscenario_interpreter/src/syntax/action.cpp
  openscenario/openscenario_interpreter/src/syntax/entity_action.cpp
  openscenario/openscenario_interpreter/src/syntax/global_action.cpp
  openscenario/openscenario_interpreter/src/syntax/infrastructure_action.cpp
  openscenario/openscenario_interpreter/src/syntax/lateral_action.cpp
  openscenario/openscenario_interpreter/src/syntax/longitudinal_action.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_action.cpp
  openscenario/openscenario_interpreter/src/syntax/private_action.cpp
  openscenario/openscenario_interpreter/src/syntax/routing_action.cpp
  openscenario/openscenario_interpreter/src/syntax/user_defined_action.cpp
Due: unittests-openscenario_interpreter

Update `RelativeDistanceCondition` to ignore entity that has not yet been added
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/relative_distance_condition.hpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

Remove deprecated headers
  openscenario/openscenario_interpreter/include/openscenario_interpreter/pointer.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/type_traits/has_member_function_start.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/type_traits/if_has_member_function_start.hpp
Due: unittests-openscenario_interpreter

get jerk limits from ObjectController's property
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/object_controller.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/property.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/scenario_object.hpp
  test_runner/scenario_test_runner/test/scenario/autoware-simple.yaml
Due: unittests-openscenario_interpreter

add Catalog
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/catalog.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/catalog_definition.hpp
Due: unittests-openscenario_interpreter

fix snake_case to lowerCamelCase
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/scenario_object.hpp
  test_runner/scenario_test_runner/test/scenario/autoware-simple.yaml
Due: unittests-openscenario_interpreter

rename scenario_test_runner_launch to scenario_simulator_launch
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
  test_runner/scenario_test_runner/package.xml
Due: none

Update Documentation.yaml
  .github/workflows/Documentation.yaml
Due: none

change log directory cleanup behavior
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

update Release Note
  docs/ReleaseNotes.md
Due: none

Update `FaultInjectionAction` topic name to `/simulation/events`
  docs/ReleaseNotes.md
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/custom_command_action.hpp
  test_runner/scenario_test_runner/test/scenario/CustomCommandAction.FaultInjectionAction.yaml
Due: unittests-openscenario_interpreter

add dedicated scenario for AutowareAuto
  test_runner/scenario_test_runner/test/scenario/AutowareAutoDemo.yaml
Due: none

Refine SystemArchitecture.md
  docs/design/SystemArchitecture.md
Due: none

Refine HowToContribute
  docs/etc/HowToContribute.md
Due: none

add cmake function
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/cmake/add_cpp_mock_scenario_test.cmake
  mock/cpp_mock_scenarios/cpp_mock_scenarios_ament_cmake-extras.cmake
  mock/cpp_mock_scenarios/package.xml
Due: unittests-cpp_mock_scenarios

modify launch file
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/cmake/add_cpp_mock_scenario_test.cmake
  mock/cpp_mock_scenarios/launch/mock_test.launch.py
  openscenario/openscenario_utility/openscenario_utility/scenario_validation.py
  openscenario/openscenario_utility/setup.py
Due: unittests-cpp_mock_scenarios, unittests-openscenario_utility

enable output junit
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/cmake/add_cpp_mock_scenario_test.cmake
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/cpp_scenario_node.hpp
  mock/cpp_mock_scenarios/package.xml
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
Due: unittests-cpp_mock_scenarios

add mock test
  mock/cpp_mock_scenarios/launch/mock_test.launch.py
Due: unittests-cpp_mock_scenarios

enable pass ament_copyright
  mock/cpp_mock_scenarios/cmake/add_cpp_mock_scenario_test.cmake
  mock/cpp_mock_scenarios/cpp_mock_scenarios_ament_cmake-extras.cmake
  mock/cpp_mock_scenarios/launch/mock_test.launch.py
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
Due: unittests-cpp_mock_scenarios

remove time
  mock/cpp_mock_scenarios/cmake/add_cpp_mock_scenario_test.cmake
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
Due: unittests-cpp_mock_scenarios
