Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Format
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/object_type.hpp
Due: unittests-openscenario_interpreter

Remove unnecessary empty check
  openscenario/openscenario_interpreter/src/syntax/acceleration_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/reach_position_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/stand_still_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/time_headway_condition.cpp
Due: unittests-openscenario_interpreter

Remove
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/external_object_reference.hpp
Due: unittests-openscenario_interpreter

Add new parameter `right_of` to command `find`
  openscenario/map_fragment/src/find.cpp
Due: none

enable set label
  mock/cpp_mock_scenarios/include/cpp_mock_scenarios/catalogs.hpp
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  mock/cpp_mock_scenarios/src/random_scenario/random_parameters/random001.yaml
Due: unittests-cpp_mock_scenarios

overwrite label from parameter
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
Due: unittests-cpp_mock_scenarios

add spawn outside vehicle
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

add comment
  Doxyfile
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/speed_change.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

add simulation package
  Doxyfile
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
Due: cpp_mock_test

add concealer
  Doxyfile
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
Due: unittests-cpp_mock_scenarios

update Doxyfile
  Doxyfile
Due: none

add interpretor
  Doxyfile
Due: none

update doxyfile
  Doxyfile
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

remove old documents
  .github/workflows/Documentation.yaml
  docs/package/About.md
  docs/package/geometry/.gitignore
  docs/package/geometry/Doxyfile
  docs/package/geometry/build.sh
  docs/package/geometry/config.json
  docs/package/openscenario_interpreter/.gitignore
  docs/package/openscenario_interpreter/Doxyfile
  docs/package/openscenario_interpreter/build.sh
  docs/package/openscenario_interpreter/config.json
  docs/package/openscenario_visualization/.gitignore
  docs/package/openscenario_visualization/Doxyfile
  docs/package/openscenario_visualization/build.sh
  docs/package/openscenario_visualization/config.json
  docs/package/simple_sensor_simulator/.gitignore
  docs/package/simple_sensor_simulator/Doxyfile
  docs/package/simple_sensor_simulator/build.sh
  docs/package/simple_sensor_simulator/config.json
  docs/package/simulation_interface/.gitignore
  docs/package/simulation_interface/Doxyfile
  docs/package/simulation_interface/build.sh
  docs/package/simulation_interface/config.json
  docs/package/traffic_simulator/.gitignore
  docs/package/traffic_simulator/Doxyfile
  docs/package/traffic_simulator/build.sh
  docs/package/traffic_simulator/config.json
  docs/package/traffic_simulator/markdown/images/get_length_in_hermite_curve.png
  mkdocs.yml
Due: none

update github actions
  .github/workflows/Documentation.yaml
Due: none

fix typo
  common/simple_junit/include/simple_junit/junit5.hpp
Due: none

add SpecificationViolation
  common/scenario_simulator_exception/include/scenario_simulator_exception/exception.hpp
Due: none

add define error category
  common/scenario_simulator_exception/include/scenario_simulator_exception/exception.hpp
Due: none

Update `find`'s `any` mode to select a random ID instead of the `random`
  openscenario/map_fragment/src/find.cpp
Due: none

Move higher order function `filter` into new header file `filter.hpp`
  openscenario/map_fragment/include/map_fragment/filter.hpp
  openscenario/map_fragment/src/find.cpp
Due: none

Move constraints definition into header `constraint.hpp` from `find.cpp`
  openscenario/map_fragment/include/map_fragment/constraint.hpp
  openscenario/map_fragment/src/find.cpp
Due: none

Lipsticks
  openscenario/map_fragment/include/map_fragment/constraint.hpp
  openscenario/map_fragment/src/find.cpp
Due: none

Move printing method definition into header `printer.hpp` from `find.cpp`
  openscenario/map_fragment/include/map_fragment/printer.hpp
  openscenario/map_fragment/src/find.cpp
Due: none

update namespace
  mock/cpp_mock_scenarios/src/behavior_plugin/load_do_nothing_plugin.cpp
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
Due: unittests-cpp_mock_scenarios

add api docs publish step
  .github/workflows/Documentation.yaml
Due: none

fix publish_dir
  .github/workflows/Documentation.yaml
Due: none

add link
  README.md
  docs/developer_guide/About.md
Due: none

add trigger
  .github/workflows/Documentation.yaml
Due: none

add namespace
  mock/cpp_mock_scenarios/src/collision/spawn_with_offset.cpp
Due: unittests-cpp_mock_scenarios

fix compile error
  mock/cpp_mock_scenarios/src/collision/crashing_npc.cpp
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/accelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/decelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_lane/acquire_position_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/assign_route_in_world_frame.cpp
  mock/cpp_mock_scenarios/src/follow_lane/cancel_request.cpp
  mock/cpp_mock_scenarios/src/follow_lane/follow_with_offset.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_left_with_id.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear_lateral_velocity.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear_time.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_longitudinal_distance.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_right_with_id.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_time.cpp
  mock/cpp_mock_scenarios/src/measurement/get_distance_in_lane_coordinate_distance.cpp
  mock/cpp_mock_scenarios/src/measurement/get_distance_to_lane_bound.cpp
  mock/cpp_mock_scenarios/src/merge/merge_left.cpp
  mock/cpp_mock_scenarios/src/metrics/traveled_distance.cpp
  mock/cpp_mock_scenarios/src/move_backward/move_backward.cpp
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_continuous_false.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_relative.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_step.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_linear.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_relative.cpp
Due: unittests-cpp_mock_scenarios

fix: add a workaround for issues with incorrect dynamic limits
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

refactor: reflect the reviews
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/sensor_simulation.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
Due: cpp_mock_test

add clang-format off
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/speed_change.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

docs: update ReleaseNotes.md
  docs/ReleaseNotes.md
Due: none

Fix some `RelativeDistanceCondition` mode to return non-negative value
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

Add comments about the historical background of `RelativeDistanceCondition`'s behavior
  openscenario/openscenario_interpreter/src/syntax/relative_distance_condition.cpp
Due: unittests-openscenario_interpreter

Update ReleaseNotes
  docs/ReleaseNotes.md
Due: none

Update test scenario to not expect negative distance for `RelativeDistanceCondition` in non-lane coordinate systems
  test_runner/scenario_test_runner/scenario/ByEntityCondition.EntityCondition.RelativeDistanceConditionFreespace.yaml
Due: none

add arm support branch
  dependency_humble.repos
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/primitives/primitive.hpp
  simulation/simple_sensor_simulator/package.xml
Due: cpp_mock_test

change header
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/primitives/primitive.hpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
