Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Add Debug build
  .github/workflows/BuildAndRun.yaml
Due: none

chore: fix a mistake during solving the merge conflict
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
Due: cpp_mock_test

Add debug
  simulation/behavior_tree_plugin/src/vehicle/behavior_tree.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/vehicle_action_node.cpp
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
Due: cpp_mock_test

chore: delete unnecessary target branch filter in workflow trigger
  .github/workflows/Documentation.yaml
  .github/workflows/InterfaceUpdateNotification.yaml
  .github/workflows/PostCheckList.yaml
  .github/workflows/SpellCheck.yaml
Due: none

Resolve building problem after merge
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

Add new architecture-type `awf/universe/20250130`
  external/concealer/include/concealer/available.hpp
  external/concealer/include/concealer/get_parameter.hpp
  external/concealer/include/concealer/path_with_lane_id.hpp
  external/concealer/include/concealer/subscriber.hpp
  external/concealer/src/path_with_lane_id.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: unittests-concealer

Add debug
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

test
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
Due: cpp_mock_test

debug
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/src/behavior/longitudinal_speed_planning.cpp
Due: cpp_mock_test

debug
  common/math/geometry/src/spline/catmull_rom_spline.cpp
Due: none

debug
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

Fix typo
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test

chore: update actions/upload-artifact in Documentation.yaml
  .github/workflows/Documentation.yaml
Due: none

Update the concealer node to use global arguments
  external/concealer/include/concealer/available.hpp
  external/concealer/include/concealer/path_with_lane_id.hpp
  external/concealer/include/concealer/subscriber.hpp
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

fix compile error
  simulation/context_gamma_planner/context_gamma_planner/CMakeLists.txt
  simulation/context_gamma_planner/context_gamma_planner/include/context_gamma_planner/behavior/action_node_base.hpp
  simulation/context_gamma_planner/context_gamma_planner/include/context_gamma_planner/constraints/constraint_activator_base.hpp
  simulation/context_gamma_planner/context_gamma_planner/include/context_gamma_planner/constraints/pedestrian/constraint_activator.hpp
  simulation/context_gamma_planner/context_gamma_planner/include/context_gamma_planner/constraints/vehicle/constraint_activator.hpp
  simulation/context_gamma_planner/context_gamma_planner/include/context_gamma_planner/pedestrian_plugin.hpp
  simulation/context_gamma_planner/context_gamma_planner/include/context_gamma_planner/vehicle_plugin.hpp
  simulation/context_gamma_planner/context_gamma_planner/src/constraints/constraint_activator_base.cpp
  simulation/context_gamma_planner/context_gamma_planner/src/constraints/pedestrian/constraint_activator.cpp
  simulation/context_gamma_planner/context_gamma_planner/src/constraints/vehicle/constraint_activator.cpp
  simulation/context_gamma_planner/context_gamma_planner/src/pedestrian_plugin.cpp
  simulation/context_gamma_planner/context_gamma_planner/src/planner/vehicle/lane_change_planner.cpp
  simulation/context_gamma_planner/context_gamma_planner/src/vehicle_plugin.cpp
  simulation/context_gamma_planner/context_gamma_planner/test/src/constraints/test_constraint_activator_base.cpp
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights_base.hpp
Due: cpp_mock_test

Update function template `available<T>` to prepare its own node
  external/concealer/include/concealer/available.hpp
  external/concealer/include/concealer/get_parameter.hpp
  external/concealer/include/concealer/path_with_lane_id.hpp
  external/concealer/include/concealer/subscriber.hpp
  external/concealer/src/autoware_universe.cpp
  external/concealer/src/path_with_lane_id.cpp
Due: unittests-concealer

Revert "Sort before std::unique, so that all duplicates are removed correctly"
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
Due: cpp_mock_test

Add note with the intention
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
Due: cpp_mock_test

Add new constant `concealer::default_architecture_type`
  external/concealer/include/concealer/get_parameter.hpp
  external/concealer/src/path_with_lane_id.cpp
Due: unittests-concealer

Review changes
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/utils/distance.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

Change copyright date to 2015
  rviz_plugins/real_time_factor_control_rviz_plugin/src/real_time_factor_slider.cpp
  rviz_plugins/real_time_factor_control_rviz_plugin/src/real_time_factor_slider.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/follow_trajectory_sequence/follow_polyline_trajectory_action.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/follow_waypoint_controller.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/route.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/traffic_lights.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/route.hpp
  simulation/traffic_simulator/src/behavior/follow_waypoint_controller.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/distance.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/route.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/traffic_lights.cpp
Due: cpp_mock_test

Remove std::midpoint
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

Implement Sonar suggestions
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

Code improvement: avoid unnecessary storage of data in some distance utils functions
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

refactor: rename TClock with Clock
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/scoped_elapsed_time_recorder.hpp
Due: unittests-openscenario_interpreter

ref(behavior_tree_plugin): Refactored calculateUpdatedEntityStatusInWorldFrame
  simulation/behavior_tree_plugin/src/action_node.cpp
Due: cpp_mock_test

add Dockerfile for traffic_simulator
  .github/workflows/Docker.yaml
  Dockerfile.traffic_simulator
  docker-bake.hcl
Due: none

fix docker bake settings
  docker-bake.hcl
Due: none

remove qemu step
  .github/workflows/Docker.yaml
Due: none

Update Dockerfile.traffic_simulator
  Dockerfile.traffic_simulator
Due: none

update Dockerfile
  Dockerfile.traffic_simulator
Due: none
