Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

ref(traffic_simulator, utils): simplyfy namespaces usage
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_core/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_core/lane_change.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_map.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/route.hpp
  simulation/traffic_simulator/src/utils/distance.cpp
  simulation/traffic_simulator/src/utils/lanelet_core/lane_change.cpp
  simulation/traffic_simulator/src/utils/lanelet_core/pose.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
  simulation/traffic_simulator/src/utils/route.cpp
  simulation/traffic_simulator/src/utils/traffic_lights.cpp
Due: cpp_mock_test

ref(traffic_simulator, utils): apply using to shorten the code
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_core/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_core/lane_change.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_core/lanelet_map.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_core/other.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_core/pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_core/traffic_lights.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_map.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/route.hpp
  simulation/traffic_simulator/src/utils/distance.cpp
  simulation/traffic_simulator/src/utils/lanelet_core/distance.cpp
  simulation/traffic_simulator/src/utils/lanelet_core/lane_change.cpp
  simulation/traffic_simulator/src/utils/lanelet_core/other.cpp
  simulation/traffic_simulator/src/utils/lanelet_core/pose.cpp
  simulation/traffic_simulator/src/utils/lanelet_core/traffic_lights.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
  simulation/traffic_simulator/src/utils/route.cpp
Due: cpp_mock_test

remove unnecessary braces
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

typo
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

remove implicit conversion
  simulation/traffic_simulator/test/src/behavior/test_longitudinal_speed_planner.cpp
Due: cpp_mock_test

apply suggestions
  simulation/traffic_simulator/test/src/expect_eq_macros.hpp
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

ref(traffic_simulator, utils): improve utils definitions
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_core/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_core/lane_change.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_core/lanelet_map.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_core/other.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_core/pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_core/route.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_core/traffic_lights.hpp
  simulation/traffic_simulator/src/behavior/route_planner.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
  simulation/traffic_simulator/src/utils/lanelet_core/distance.cpp
  simulation/traffic_simulator/src/utils/lanelet_core/lanelet_map.cpp
  simulation/traffic_simulator/src/utils/lanelet_core/pose.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
  simulation/traffic_simulator/test/CMakeLists.txt
  test_runner/random_test_runner/src/lanelet_utils.cpp
Due: cpp_mock_test

feat(traffic_simulator): split utlis/lanelet_map to hpp+cpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_map.hpp
  simulation/traffic_simulator/src/utils/lanelet_map.cpp
Due: cpp_mock_test

fix(traffic_simulator, utils): fix toLaneletPose passed default arguments
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_map.hpp
  simulation/traffic_simulator/src/utils/lanelet_core/distance.cpp
  simulation/traffic_simulator/src/utils/lanelet_core/pose.cpp
  simulation/traffic_simulator/src/utils/lanelet_map.cpp
Due: cpp_mock_test

fix(cpp_mock_scenarios): adapt traffic_source scenarios to new canonicalization approach
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_delay.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_high_rate.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_large.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_mixed.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_multiple.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_outside_lane.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_pedestrian.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_vehicle.cpp
Due: unittests-cpp_mock_scenarios

Update version number to 2.0.0 in package.xml
  map/simple_cross_map/package.xml
Due: none

fix(traffic_simulator): fix spell
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

remove tests for removed functions
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

refuctured code of synchronized action
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

add copyright notice
  simulation/traffic_simulator/test/src/behavior/test_longitudinal_speed_planner.cpp
Due: cpp_mock_test

Move requestSpeedChange time check responsibility to EgoEntity and simplify
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

add newline
  simulation/traffic_simulator/test/src/entity_helper_functions.hpp
Due: cpp_mock_test

add endif comment
  simulation/traffic_simulator/test/src/entity_helper_functions.hpp
Due: cpp_mock_test

fix(cpp_mack_utils): adapt define_traffic_source scenarios to getEntity()
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_delay.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_high_rate.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_large.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_mixed.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_multiple.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_outside_lane.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_pedestrian.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_vehicle.cpp
Due: unittests-cpp_mock_scenarios

Remove npc_logic_started from Entities
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/misc_object_entity.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

Restore previous getCurrentAction behavior
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

Correct style
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Update NPC logic only when it has been started
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Remove npc_logic_started from API
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
  test_runner/random_test_runner/include/random_test_runner/test_executor.hpp
  test_runner/random_test_runner/test/test_test_executor.cpp
Due: cpp_mock_test

fix spelling
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

fix(traffic_simulator): fix after merge traffic_source
  simulation/traffic_simulator/include/traffic_simulator/traffic/traffic_source.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_core/other.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/lanelet_core/pose.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
  simulation/traffic_simulator/src/utils/lanelet_core/lanelet_map.cpp
  simulation/traffic_simulator/src/utils/lanelet_core/other.cpp
  simulation/traffic_simulator/src/utils/lanelet_core/pose.cpp
Due: cpp_mock_test

Update entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
Due: cpp_mock_test

fix lint
  common/math/geometry/include/geometry/quaternion/is_like_quaternion.hpp
  common/math/geometry/test/test_quaternion.cpp
Due: none

fix format
  common/math/geometry/include/geometry/vector3/internal_angle.hpp
  common/math/geometry/include/geometry/vector3/normalize.hpp
  common/math/geometry/include/geometry/vector3/operator.hpp
  common/math/geometry/test/test_quaternion.cpp
  common/math/geometry/test/vector3/test_vector3.cpp
Due: none

reformat
  common/math/geometry/include/geometry/quaternion/is_like_quaternion.hpp
  common/math/geometry/include/geometry/quaternion/make_quaternion.hpp
  common/math/geometry/include/geometry/quaternion/operator.hpp
  common/math/geometry/include/geometry/vector3/internal_angle.hpp
  common/math/geometry/include/geometry/vector3/is_like_vector3.hpp
  common/math/geometry/include/geometry/vector3/operator.hpp
  common/math/geometry/include/geometry/vector3/vector3.hpp
  common/math/geometry/test/test_quaternion.cpp
  simulation/do_nothing_plugin/src/plugin.cpp
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  test_runner/random_test_runner/src/lanelet_utils.cpp
Due: cpp_mock_test

Add operator overloading for ostream
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity.hpp
  openscenario/openscenario_interpreter/src/syntax/entity.cpp
Due: unittests-openscenario_interpreter

fix format
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
Due: cpp_mock_test

feat: add control mode setting APIs to Autoware class
  external/concealer/include/concealer/autoware.hpp
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

feat: use manual mode when follow trajectory action is enabled
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
Due: cpp_mock_test

fix rviz config
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
Due: cpp_mock_test

fix format
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
Due: cpp_mock_test

update test
  common/math/geometry/test/test_quaternion.cpp
Due: none

review: use builder, rename variables; use const when possible
  simulation/traffic_simulator/test/src/behavior/test_longitudinal_speed_planner.cpp
Due: cpp_mock_test

change variable name
  simulation/traffic_simulator/test/src/behavior/test_longitudinal_speed_planner.cpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
