Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

docs: delete comment for unsupported "awf/universe"
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/traffic_lights/traffic_lights_detector.hpp
Due: cpp_mock_test

docs: fix doxygen comment
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

chore: add gcov upload to CI
  .github/workflows/BuildAndRun.yaml
  .github/workflows/custom_spell.json
  build-wrapper-linux-x86.zip
  sonar-project.properties
Due: none

debug
  .github/workflows/BuildAndRun.yaml
Due: none

chore: remove unneeded debug
  .github/workflows/BuildAndRun.yaml
Due: none

chore: remove branch trigger
  .github/workflows/BuildAndRun.yaml
Due: none

fix: remove build wrapper
  build-wrapper-linux-x86.zip
Due: none

refactor: delete unused code
  external/concealer/include/concealer/autoware.hpp
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

docs: add interfaces for manual overriding
  docs/developer_guide/Communication.md
Due: none

Revert "fix: use map based pose for pitch angle calculation"
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

Apply patch created by Yoshimoto-san
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_publisher.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_publisher.cpp
  simulation/traffic_simulator/test/src/traffic_lights/common_test_fixtures.hpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal_common.cpp
Due: cpp_mock_test

Improve traffic lights tests comments
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal_common.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal_v2i.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal_v2i_new_architecture.cpp
Due: cpp_mock_test

Improve traffic lights tests publishing timing
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal_common.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal_v2i.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal_v2i_new_architecture.cpp
Due: cpp_mock_test

Replace the redundant type with "auto".
  rviz_plugins/openscenario_visualization/src/openscenario_visualization_condition_groups_plugin/openscenario_visualization_condition_groups_plugin.cpp
Due: none

implicit conversion loses floating-point precision: 'double' to 'float'
  rviz_plugins/openscenario_visualization/src/openscenario_visualization_condition_groups_plugin/openscenario_visualization_condition_groups_plugin.cpp
Due: none

Remove this redundant cast.
  rviz_plugins/openscenario_visualization/src/openscenario_visualization_condition_groups_plugin/openscenario_visualization_condition_groups_plugin.cpp
Due: none

remove unused exception parameter 'e'
  rviz_plugins/openscenario_visualization/src/openscenario_visualization_condition_groups_plugin/openscenario_visualization_condition_groups_plugin.cpp
Due: none

refactor: extract some process to EgoEntitySimulation::calculateAccelerationBySlope
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

feat: add tests for EgoEntitySimulation::calculateAccelerationBySlope
  simulation/simple_sensor_simulator/test/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/vehicle_simulation/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/vehicle_simulation/test_ego_entity_simulation.cpp
  simulation/traffic_simulator/test/map/slope/lanelet2_map.osm
Due: cpp_mock_test

fix: use world position for calculating nearest center line point
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

Improve traffic lights tests epsilons and threshold situation
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal_common.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal_v2i.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_lights_internal_v2i_new_architecture.cpp
Due: cpp_mock_test

Use compile-time check instead of run-time check
  simulation/traffic_simulator/test/src/traffic_lights/common_test_fixtures.hpp
Due: cpp_mock_test

Use new architecture in traffic lights tests: "awf/universe/20230906" instead of "awf/universe"
  simulation/traffic_simulator/test/src/traffic_lights/common_test_fixtures.hpp
Due: cpp_mock_test

refactor: mark as EgoEntitySimulation::calculateAccelerationBySlope const
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

fix: delete EgoEntitySimulation::calculateEgoPitch and replace it with pitch from ego status
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

Add the missing semicolon
  external/concealer/include/concealer/autoware_universe.hpp
Due: unittests-concealer

feat: add new traffic rule "germanRoadShoulderPassableVehicleRules"
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/traffic_rules.hpp
  simulation/traffic_simulator/src/hdmap_utils/traffic_rules.cpp
Due: cpp_mock_test

reorder algorithm steps
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower.cpp
Due: cpp_mock_test

debug info
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower.cpp
Due: cpp_mock_test

mutable polyline_trajectory
  simulation/traffic_simulator/include/traffic_simulator/behavior/polyline_trajectory_follower.hpp
  simulation/traffic_simulator/src/behavior/polyline_trajectory_follower.cpp
Due: cpp_mock_test

Add conditional visualize
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/visualization_buffer.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/syntax/reach_position_condition.cpp
Due: unittests-openscenario_interpreter

Add required dependencies
  openscenario/openscenario_interpreter/package.xml
Due: unittests-openscenario_interpreter

Add marker to Rviz
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
Due: cpp_mock_test

Set default value for publish visualization
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

Add publish_visualization params to scenario_test_runner
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none
