Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

chore: revert CMakeLists.txt in openscenario_interpreter
  openscenario/openscenario_interpreter/CMakeLists.txt
Due: unittests-openscenario_interpreter

Fix code style divergence
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

refactor:
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

update Release Note
  docs/ReleaseNotes.md
Due: none

Rename data member `Parameter<>::timing_is_absolute`
  openscenario/openscenario_interpreter/src/syntax/follow_trajectory_action.cpp
  openscenario/openscenario_interpreter/src/syntax/stochastic.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/follow_trajectory.hpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Update `FollowPolylineTrajectoryAction::calculateWaypoints`
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

fix document
  docs/developer_guide/NPCBehavior.md
Due: none

update release note
  docs/ReleaseNotes.md
Due: none

Update object enumeration
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entities.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/selected_entities.hpp
  openscenario/openscenario_interpreter/src/syntax/entities.cpp
Due: unittests-openscenario_interpreter

Update `Triggering_entities` to use new enumration
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/triggering_entities.hpp
Due: unittests-openscenario_interpreter

Update `AcquirePositionAction` to handle `EntitySelection`
  openscenario/openscenario_interpreter/src/syntax/acquire_position_action.cpp
Due: unittests-openscenario_interpreter

Update `AssignRouteAction` to handle `EntitySelection`
  openscenario/openscenario_interpreter/src/syntax/assign_route_action.cpp
Due: unittests-openscenario_interpreter

Update `ControllerAction` to handle `EntitySelection`
  openscenario/openscenario_interpreter/src/syntax/controller_action.cpp
Due: unittests-openscenario_interpreter

Update `CustomCommandAction` to handle `EntitySelection`
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

Update `EntityAction` to use new enumeration
  openscenario/openscenario_interpreter/src/syntax/entity_action.cpp
Due: unittests-openscenario_interpreter

Update `LaneChangeAction` to handle `EntitySelection`
  openscenario/openscenario_interpreter/src/syntax/lane_change_action.cpp
Due: unittests-openscenario_interpreter

Use new enumeration in `SelectedEntities`
  openscenario/openscenario_interpreter/src/syntax/selected_entities.cpp
Due: unittests-openscenario_interpreter

Update `SpeedAction` to handle `EntitySelection`
  openscenario/openscenario_interpreter/src/syntax/speed_action.cpp
Due: unittests-openscenario_interpreter

Update `SpeedProfileAction` to handle `EntitySelection`
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
Due: unittests-openscenario_interpreter

Update `TeleportAction` to handle `EntitySelection`
  openscenario/openscenario_interpreter/src/syntax/teleport_action.cpp
Due: unittests-openscenario_interpreter

Use switch for byType
  openscenario/openscenario_interpreter/src/syntax/selected_entities.cpp
Due: unittests-openscenario_interpreter

Remove data member `FollowPolylineTrajectoryAction::direction`
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.hpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

Cleanup
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

Fix gelAllCanonicalizedLaneletPoses(). Improve unit tests
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/test/src/test_hdmap_utils.cpp
Due: cpp_mock_test

update docs
  docs/ReleaseNotes.md
  docs/developer_guide/NPCBehavior.md
Due: none

fix comment
  mock/cpp_mock_scenarios/src/behavior_plugin/load_do_nothing_plugin.cpp
Due: unittests-cpp_mock_scenarios

chore: apply yamasaki-san's patch
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
Due: unittests-concealer

Update `follow_trajectory::Parameter` to hold base time
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/follow_trajectory_action.hpp
  openscenario/openscenario_interpreter/src/syntax/follow_trajectory_action.cpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.hpp
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/follow_trajectory.hpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Update `tick` to check distance to front waypoint is approlimately zero
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

Update accomplished to return false if it is the first call after start
  openscenario/openscenario_interpreter/src/syntax/follow_trajectory_action.cpp
  test_runner/scenario_test_runner/scenario/RoutingAction.FollowTrajectoryAction-zero-distance.yaml
Due: unittests-openscenario_interpreter

Update `tick` to check if intermidiate values are infinity and NaN
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

Update `DoNothingBehavior` to provide accessor for `PollylineTrajectory`
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
Due: cpp_mock_test

fix: modify CustomCommandAction.RequestToCooperateCommandAction@v1.yaml
  test_runner/scenario_test_runner/scenario/CustomCommandAction.RequestToCooperateCommandAction@v1.yaml
Due: none

Update `tick` to check if `desired_velocity` contains infinity or NaN
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

Move some arithmetic functions into new package `arithmetic`
  common/math/arithmetic/CMakeLists.txt
  common/math/arithmetic/include/arithmetic/floating_point/comparison.hpp
  common/math/arithmetic/package.xml
  simulation/behavior_tree_plugin/CMakeLists.txt
  simulation/behavior_tree_plugin/package.xml
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

Move some vector3 related functions into package `geometry`
  common/math/geometry/CMakeLists.txt
  common/math/geometry/include/geometry/vector3/hypot.hpp
  common/math/geometry/include/geometry/vector3/is_like_vector3.hpp
  common/math/geometry/include/geometry/vector3/norm.hpp
  common/math/geometry/include/geometry/vector3/normalize.hpp
  common/math/geometry/include/geometry/vector3/operator.hpp
  common/math/geometry/include/geometry/vector3/truncate.hpp
  simulation/behavior_tree_plugin/package.xml
  simulation/behavior_tree_plugin/src/vehicle/follow_trajectory_sequence/follow_polyline_trajectory_action.cpp
Due: cpp_mock_test

Restored an accidentally deleted config installation
  simulation/behavior_tree_plugin/CMakeLists.txt
Due: cpp_mock_test

use lambda
  common/math/geometry/include/geometry/spline/catmull_rom_spline.hpp
  common/math/geometry/src/spline/catmull_rom_spline.cpp
Due: none

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
