Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Update simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

remove compile errors in std::vector<std::int64_t> HdMapUtils::getPreviousLaneletIds function
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

call sortAndUnique function in the getNextLaneletIds function
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

removed unnecessary reference symbol
  external/concealer/include/concealer/utility/subscriber_wrapper.hpp
Due: unittests-concealer

add glog to the mock scenario
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/package.xml
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/misc_object_entity.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

change route plannner from shared pointer to variable. remove setHdmapUtils function.
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/misc_object_entity.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

remove nodiscard notation
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
Due: cpp_mock_test

Apply review comments
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

fix(interpreter/ParameterValueDistribution): fix element name
  openscenario/openscenario_interpreter/src/syntax/parameter_value_distribution_definition.cpp
Due: unittests-openscenario_interpreter

fix(interpreter/ParameterValueDistribution): support list of DeterministicSingleParameterDistributionType
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/deterministic_single_parameter_distribution.hpp
  openscenario/openscenario_interpreter/src/syntax/deterministic_single_parameter_distribution.cpp
Due: unittests-openscenario_interpreter

Fix python version for documentation generation
  .github/workflows/Documentation.yaml
Due: none

remove glog
  mock/cpp_mock_scenarios/CMakeLists.txt
  mock/cpp_mock_scenarios/package.xml
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
Due: unittests-cpp_mock_scenarios

add setWaypoints function in route planner class
  simulation/traffic_simulator/include/traffic_simulator/behavior/route_planner.hpp
  simulation/traffic_simulator/src/behavior/route_planner.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

remove unused function
  simulation/traffic_simulator/include/traffic_simulator/behavior/route_planner.hpp
  simulation/traffic_simulator/src/behavior/route_planner.cpp
Due: cpp_mock_test

use const &
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

move to helper.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/include/traffic_simulator/util/util.hpp
Due: cpp_mock_test

rename to canonicalizeLaneletPose function
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

remove debug lines
  simulation/traffic_simulator/src/behavior/route_planner.cpp
Due: cpp_mock_test

rename to route_
  simulation/traffic_simulator/src/behavior/route_planner.cpp
Due: cpp_mock_test

Changed functions with names that do not convey the intent of implementation
  simulation/traffic_simulator/include/traffic_simulator/behavior/route_planner.hpp
  simulation/traffic_simulator/src/behavior/route_planner.cpp
Due: cpp_mock_test

rename function
  simulation/traffic_simulator/include/traffic_simulator/behavior/route_planner.hpp
  simulation/traffic_simulator/src/behavior/route_planner.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

fix compile error
  simulation/traffic_simulator/src/behavior/route_planner.cpp
Due: cpp_mock_test

Simplify branching
  simulation/traffic_simulator/src/behavior/route_planner.cpp
Due: cpp_mock_test

fix(interpreter/ParameterValueDistribution): fix implementation of mergeParameterDistribution function
  openscenario/openscenario_interpreter/src/parameter_distribution.cpp
Due: unittests-openscenario_interpreter

fix(interpreter/ParameterValueDistribution): fix choice argument
  openscenario/openscenario_interpreter/src/syntax/deterministic_single_parameter_distribution_type.cpp
  openscenario/openscenario_interpreter/src/syntax/open_scenario_category.cpp
Due: unittests-openscenario_interpreter

refactor(interpreter/ParameterValueDistribution): DeterministicSingleParameterDistributionType
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/deterministic_single_parameter_distribution.hpp
  openscenario/openscenario_interpreter/src/syntax/deterministic_single_parameter_distribution.cpp
Due: unittests-openscenario_interpreter

fix(interpreter/ParameterValueDistribution): DeterministicSingleParameterDistributionType::derive
  openscenario/openscenario_interpreter/src/syntax/deterministic_single_parameter_distribution.cpp
Due: unittests-openscenario_interpreter

fix(interpreter/ParameterValueDistribution): replace choice with readGroup in DeterministicParameterDistribution
  openscenario/openscenario_interpreter/src/syntax/deterministic_parameter_distribution.cpp
Due: unittests-openscenario_interpreter

fix(interpreter): fix element name
  openscenario/openscenario_interpreter/src/syntax/histogram_bin.cpp
  openscenario/openscenario_interpreter/src/syntax/normal_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/poisson_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/uniform_distribution.cpp
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor.cpp
Due: unittests-openscenario_interpreter

fix(preprocessor): fix output derived scenario
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor.cpp
Due: none

refactor(interpreter/ParameterValueDistribution)
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/poisson_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/range.hpp
  openscenario/openscenario_interpreter/src/syntax/deterministic.cpp
  openscenario/openscenario_interpreter/src/syntax/distribution_definition.cpp
  openscenario/openscenario_interpreter/src/syntax/poisson_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
  openscenario/openscenario_interpreter/src/syntax/range.cpp
  openscenario/openscenario_interpreter/src/syntax/uniform_distribution.cpp
Due: unittests-openscenario_interpreter

doc: update ReleaseNotes
  docs/ReleaseNotes.md
Due: none

cleanup waypoint queue when we cancel route
  simulation/traffic_simulator/src/behavior/route_planner.cpp
Due: cpp_mock_test

add lanelet pose data type
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/data_type/lanelet_pose.hpp
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
Due: cpp_mock_test

Replace `openscenario_msgs::msg::ParameterDeclaration` with `tier4_simulation_msgs::msg::UserDefinedValue` in some documentation
  docs/developer_guide/OpenSCENARIOSupport.md
  docs/user_guide/ScenarioTips.md
Due: none

check the route is empty
  simulation/traffic_simulator/src/behavior/route_planner.cpp
Due: cpp_mock_test

remove empty line
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
Due: cpp_mock_test

add CanonicalizedEntityStatus class
  openscenario/openscenario_visualization/src/openscenario_visualization_component.cpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/pedestrian/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/pedestrian/pedestrian_action_node.cpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/data_type/entity_status.hpp
  simulation/traffic_simulator/src/data_type/entity_status.cpp
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
  simulation/traffic_simulator_msgs/msg/EntityStatus.msg
Due: cpp_mock_test
