Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Add newline
  simulation/traffic_simulator/test/src/hdmap_utils/CMakeLists.txt
Due: cpp_mock_test

apply reformat
  simulation/simulation_interface/include/simulation_interface/conversions.hpp
Due: cpp_mock_test

fix link error of release note
  CONTRIBUTING.md
Due: none

update CONTRIBUTING.md
  .github/workflows/BuildAndRun.yaml
  .github/workflows/Docker.yaml
  CONTRIBUTING.md
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

Fixed incorrect comment out
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

add if section in Release action
  .github/workflows/Release.yaml
Due: none

add continue-on-error: true
  .github/workflows/Release.yaml
Due: none

test diff
  simulation/traffic_simulator/src/data_type/speed_change.cpp
Due: cpp_mock_test

ref(simulator_core,sss,pose): revert unintended changes
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

ref(simulator_core, ego_entity_simulation): improve strings
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

feat(api): add throwing exception if getEntity issue durning register
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test

fix(cpp_mock_scenario): fix load do nothing plugin
  mock/cpp_mock_scenarios/src/behavior_plugin/load_do_nothing_plugin.cpp
Due: unittests-cpp_mock_scenarios

fix(toCanonicalizeLaneletPose): add use current lanelet id to provide better match
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

fix(cpp_mock_scenarios): fix accuracy in traveled_distance
  mock/cpp_mock_scenarios/src/metrics/traveled_distance.cpp
Due: unittests-cpp_mock_scenarios

Port DetectedObjects and TrackedObjects
  docs/developer_guide/Communication.md
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/sensor_simulation.hpp
  simulation/simple_sensor_simulator/package.xml
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  simulation/traffic_simulator/package.xml
Due: cpp_mock_test

Delete unused autoware_auto_system_msgs package
  docs/developer_guide/Communication.md
  docs/developer_guide/OpenSCENARIOSupport.md
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/package.xml
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
Due: cpp_mock_test, unittests-concealer

added 2 maps, macros, and many tests
  simulation/traffic_simulator/test/map/empty/lanelet2_map.osm
  simulation/traffic_simulator/test/map/four_track_highway/lanelet2_map.osm
  simulation/traffic_simulator/test/src/expect_eq_macros.hpp
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

change token in post checklist workflow
  .github/workflows/PostCheckList.yaml
Due: none

Update speed_change.cpp
  simulation/traffic_simulator/src/data_type/speed_change.cpp
Due: cpp_mock_test

chore: update new package version
  openscenario/openscenario_validator/package.xml
Due: none

chore: use new traffic light message for simulator
  dependency_humble.repos
Due: none

Change lanelet fitting behavior in TrafficSource
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

Add comment explaining the issue
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

Add comment explaining the possibly undesirable behavior
  simulation/traffic_simulator/src/traffic/traffic_source.cpp
Due: cpp_mock_test

feat: implement TrafficLightPublisher specialization for tier4_simulation_msgs
  simulation/traffic_simulator/package.xml
  simulation/traffic_simulator/src/traffic_lights/traffic_light_publisher.cpp
Due: cpp_mock_test

Remove comment from TrafficSource large scenario - the issue no longer exists
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_large.cpp
Due: unittests-cpp_mock_scenarios

feat: integrate TrafficLightPublisher for evaluator to EntityManager
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

getFollowingLanelets, getConflictingLaneIds, getConflictingCrosswalkIds test
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

fix style; canChangeLane tests
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

fix(entity_base): fix requestLaneChange
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

fix(api, simulator_core): fix canonicalize in setEntityStatus, apply optional to canonicalize
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/helper/helper.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

getRoute tests
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

fix(toCanonicalizeLaneletPose): fix using unique_lanelets (current)
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

fix(scenario): move **-star scenario outside the lanelet - to avoid matching
  test_runner/scenario_test_runner/scenario/RoutingAction.FollowTrajectoryAction-star.yaml
Due: none

fix(scenario): fix values in *RelativeDistanceConditionFreespace - after toCanonicalizedLaneletPose the exact values have changed (extremely small differences, but they affect the result)
  test_runner/scenario_test_runner/scenario/ByEntityCondition.EntityCondition.RelativeDistanceConditionFreespace.yaml
Due: none

isTrafficLight, isTrafficLightRegulatoryElement tests
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

ref(traffic_simulator): remove remains getMapPose
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
