Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

fix(follow_trajectory_action): fix after merge FTA changes
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

fix package xml
  simulation/behavior_tree_plugin/package.xml
  simulation/do_nothing_plugin/package.xml
  simulation/simple_sensor_simulator/package.xml
Due: cpp_mock_test

collect tests, will not compile
  simulation/traffic_simulator/test/src/entity/CMakeLists.txt
  simulation/traffic_simulator/test/src/entity/test_entity_base_with_misc_object_entity.cpp
  simulation/traffic_simulator/test/src/entity/test_misc_object_entity.cpp
  simulation/traffic_simulator/test/src/helper_functions.hpp
Due: cpp_mock_test

Add TrafficLightSupervisor and move traffic lights to API
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_supervisor.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

ref(lanelet_map_core, utils): rename getters to free functions (remove get*)
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/lane_change.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/lanelet_map.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/lanelet_map_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/route.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/traffic_lights.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/route.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/traffic_lights.hpp
  simulation/traffic_simulator/src/lanelet_map_core/distance.cpp
  simulation/traffic_simulator/src/lanelet_map_core/lane_change.cpp
  simulation/traffic_simulator/src/lanelet_map_core/lanelet_map.cpp
  simulation/traffic_simulator/src/lanelet_map_core/pose.cpp
  simulation/traffic_simulator/src/lanelet_map_core/route.cpp
  simulation/traffic_simulator/src/lanelet_map_core/traffic_lights.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
  simulation/traffic_simulator/src/utils/lanelet_map.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
  simulation/traffic_simulator/src/utils/route.cpp
  simulation/traffic_simulator/src/utils/traffic_lights.cpp
  test_runner/random_test_runner/src/lanelet_utils.cpp
Due: cpp_mock_test

make it work; some tests have been deleted
  simulation/traffic_simulator/test/src/entity/test_entity_base_with_misc_object_entity.cpp
Due: cpp_mock_test

remove variables used only once
  simulation/traffic_simulator/test/src/entity/test_entity_base_with_misc_object_entity.cpp
  simulation/traffic_simulator/test/src/entity/test_misc_object_entity.cpp
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
  simulation/traffic_simulator/test/src/helper_functions.hpp
Due: cpp_mock_test

use builder
  simulation/traffic_simulator/test/src/helper_functions.hpp
Due: cpp_mock_test

rename file definition
  simulation/traffic_simulator/test/src/helper_functions.hpp
Due: cpp_mock_test

ref(lanelet_map_core, utils): apply clang reformat
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/route.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/traffic_lights.hpp
  simulation/traffic_simulator/src/lanelet_map_core/distance.cpp
  simulation/traffic_simulator/src/lanelet_map_core/pose.cpp
  simulation/traffic_simulator/src/lanelet_map_core/route.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

add newline
  simulation/traffic_simulator/test/src/entity/test_misc_object_entity.cpp
  simulation/traffic_simulator/test/src/entity/txt
Due: cpp_mock_test

clean up
  simulation/traffic_simulator/test/src/entity/txt
Due: cpp_mock_test

Fix synchronization bug in entity_base.cpp
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

Update version number to 2.1.1 in package.xml
  map/simple_cross_map/package.xml
Due: none

Refactor requestSynchronize function signature
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

Add overloaded constructor to Job class
  simulation/traffic_simulator/include/traffic_simulator/job/job.hpp
  simulation/traffic_simulator/src/job/job.cpp
Due: cpp_mock_test

Fix formatting in synchronized_action.cpp
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action.cpp
Due: unittests-cpp_mock_scenarios

Refactor requestSynchronize function and add keepStepTime function
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

fix: fix initialization of ProbabilityDistributionSet
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
Due: unittests-openscenario_interpreter

Add synchronized_action subdirectory and change return type of keepStepTime function
  mock/cpp_mock_scenarios/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

Refactor synchronized_action.cpp to remove unnecessary parameter in requestSynchronize()
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action.cpp
Due: unittests-cpp_mock_scenarios

fix(random_test_runner): fix lanelet_utils tests
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/lanelet_map.hpp
  simulation/traffic_simulator/src/lanelet_map_core/lanelet_map.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
  test_runner/random_test_runner/src/lanelet_utils.cpp
Due: cpp_mock_test

Remove unused function and update step time in EntityBase
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

fix
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_delay.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_high_rate.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_large.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_mixed.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_multiple.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_outside_lane.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_pedestrian.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_vehicle.cpp
Due: unittests-cpp_mock_scenarios

fix: fix compile errors
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
Due: unittests-openscenario_interpreter

add perception noise.
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/helper/helper.cpp
Due: cpp_mock_test

merge tests into a singular file
  simulation/traffic_simulator/test/src/entity/CMakeLists.txt
  simulation/traffic_simulator/test/src/entity/test_entity_base_with_misc_object_entity.cpp
  simulation/traffic_simulator/test/src/entity/test_misc_object_entity.cpp
Due: cpp_mock_test

use better naming
  simulation/traffic_simulator/test/src/entity/test_misc_object_entity.cpp
  simulation/traffic_simulator/test/src/helper_functions.hpp
Due: cpp_mock_test

change format
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_delay.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_high_rate.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_large.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_mixed.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_multiple.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_outside_lane.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_pedestrian.cpp
  mock/cpp_mock_scenarios/src/traffic_source/define_traffic_source_vehicle.cpp
Due: unittests-cpp_mock_scenarios

Only publsih tf onece.
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

fix format
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

add localization noise.
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

add a new config and its interface for ellipse-based noise configuration
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/helper/helper.cpp
Due: cpp_mock_test

tmp save.
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/helper/helper.cpp
Due: cpp_mock_test

Corrections for adapting removed npc logic started
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Resolve conflicts with stored time
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

fix
  common/math/geometry/include/geometry/quaternion/euler_to_quaternion.hpp
  common/math/geometry/include/geometry/quaternion/get_rotation.hpp
  common/math/geometry/include/geometry/quaternion/get_rotation_matrix.hpp
  common/math/geometry/include/geometry/quaternion/quaternion_to_euler.hpp
  common/math/geometry/include/geometry/quaternion/slerp.hpp
  openscenario/openscenario_interpreter/CHANGELOG.rst
  test_runner/scenario_test_runner/CHANGELOG.rst
Due: unittests-openscenario_interpreter

Update common/math/geometry/include/geometry/quaternion/get_rotation.hpp
  common/math/geometry/include/geometry/quaternion/get_rotation.hpp
Due: none
