Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

test: [RJD-937] to Implement Unit tests on simple_sensor_simulator - Replaced constructors with SetUp: RaycasterTest and GridTraversalTest - Refactored Box, GridTraversal and Vertex unit tests
  simulation/simple_sensor_simulator/test/src/lidar/test_raycaster.hpp
  simulation/simple_sensor_simulator/test/src/occupancy_grid/test_grid_traversal.cpp
  simulation/simple_sensor_simulator/test/src/occupancy_grid/test_grid_traversal.hpp
  simulation/simple_sensor_simulator/test/src/primitives/test_box.cpp
  simulation/simple_sensor_simulator/test/src/primitives/test_vertex.cpp
Due: cpp_mock_test

getParameter -> getROS2Parameter
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

add API::clearRoute()
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

test: [RJD-937] to Implement Unit tests on simple_sensor_simulator - Corrected directory structure - Fixed an issue with a mistake
  simulation/simple_sensor_simulator/test/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/sensor_simulation/expect_eq_macros.hpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_raycaster.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_raycaster.hpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/occupancy_grid/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/sensor_simulation/occupancy_grid/test_grid_traversal.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/occupancy_grid/test_grid_traversal.hpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/primitives/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/sensor_simulation/primitives/test_box.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/primitives/test_vertex.cpp
Due: cpp_mock_test

test: [RJD-937] to Implement Unit tests on simple_sensor_simulator - Fixed an issue with missing package
  simulation/simple_sensor_simulator/test/CMakeLists.txt
Due: cpp_mock_test

fix(ego_entity): fix autoware update when not npc_logic_started
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

ref(ego_entity_simulation): slight improve - add const, rename current_time
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

Convert parameterHandler class to free function getParameter used with parameters interface
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/node_parameter_handler.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/node_parameters.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

test: [RJD-937] to Implement Unit tests on simple_sensor_simulator - Fixed an issue with missed header file
  simulation/simple_sensor_simulator/test/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/sensor_simulation/primitives/test_box.cpp
Due: cpp_mock_test

Update target lanelet poses in synchronized_action.cpp
  map/simple_cross_map/map/lanelet2_map.osm
  map/simple_cross_map/map/private_road_and_walkway_ele_fix/lanelet2_map.osm
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action.cpp
Due: unittests-cpp_mock_scenarios

Update version number to 2.1.6 in package.xml
  map/simple_cross_map/package.xml
Due: none

removed comment
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

Fix spawn positions in synchronized_action.cpp
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action.cpp
Due: unittests-cpp_mock_scenarios

Update version to 2.1.7 in package.xml
  map/simple_cross_map/package.xml
Due: none

feat: use ADAPI for change autoware control
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/field_operator_application_for_autoware_universe.hpp
  external/concealer/src/field_operator_application_for_autoware_universe.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-concealer

feat: enrich error message of ServiceWithValidation for ResponseStatus of ADAPI
  external/concealer/include/concealer/service_with_validation.hpp
Due: unittests-concealer

Add getEntityOrThrow function to mimic forwarding functionality where exceptions were thrown
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Remove unnecessary include statement
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action.cpp
Due: unittests-cpp_mock_scenarios

Remove forwarding of getEntityType in EntityManager
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

Forward getEntityOrThrow from API to EntityManager
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test

Remove forwarding of getEntityStatus in EntityManager and API
  mock/cpp_mock_scenarios/src/follow_front_entity/accelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/decelerate_and_follow.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  test_runner/random_test_runner/include/random_test_runner/test_executor.hpp
  test_runner/random_test_runner/test/test_test_executor.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

Add const
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Remove forwarding of getEntityStatusBeforeUpdate in EntityManager and API
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

Remove forwarding of getBehaviorParameter in EntityManager and API
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Remove forwarding of getCurrentTwist in EntityManager and API
  mock/cpp_mock_scenarios/src/crosswalk/stop_at_crosswalk.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/accelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/decelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/move_backward/move_backward.cpp
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_continuous_false.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_relative.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_step.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_limit.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_linear.cpp
  mock/cpp_mock_scenarios/src/speed_planning/request_speed_change_with_time_constraint_relative.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

Clean unused template
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

Remove forwarding of getCurrentAccel in EntityManager and API
  mock/cpp_mock_scenarios/src/follow_front_entity/accelerate_and_follow.cpp
  mock/cpp_mock_scenarios/src/follow_front_entity/decelerate_and_follow.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

Remove forwarding of getLinearJerk in EntityManager and API
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

Remove forwarding of getBoundingBox in EntityManager and API
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

Remove forwarding of get2DPolygon in EntityManager
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

Remove forwarding of getStandStillDuration in EntityManager and API
  mock/cpp_mock_scenarios/src/random_scenario/random001.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

feat(traffic_lights): develop TrafficLightsBase and TrafficLights
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights_base.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_lights.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_lights_base.cpp
Due: cpp_mock_test

feat(traffic_light_manager): use TrafficLightsBase and TrafficLights instead of TrafficLightsManager/Supervisor
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state_action.cpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/behavior/behavior_plugin_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/configurable_rate_updater.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_marker_publisher.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_supervisor.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/traffic_lights/configurable_rate_updater.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_manager.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_marker_publisher.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light_manager.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

test: [RJD-937] to Implement Unit tests on simple_sensor_simulator - Added unit tests to DetectionSensorBase - Added unit tests to LidarSensor and LidarSensorBase - Added unit tests to Primitive
  simulation/simple_sensor_simulator/test/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/lidar/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/sensor_simulation/detection_sensor/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/sensor_simulation/detection_sensor/test_detection_sensor_base.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/expect_eq_macros.hpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_lidar_sensor.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_lidar_sensor.hpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_raycaster.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/lidar/test_raycaster.hpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/occupancy_grid/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/sensor_simulation/occupancy_grid/test_grid_traversal.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/occupancy_grid/test_grid_traversal.hpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/primitives/CMakeLists.txt
  simulation/simple_sensor_simulator/test/src/sensor_simulation/primitives/test_box.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/primitives/test_primitive.cpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/primitives/test_primitive.hpp
  simulation/simple_sensor_simulator/test/src/sensor_simulation/primitives/test_vertex.cpp
Due: cpp_mock_test

Optimize entity frame computation.
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Moved ament_cmake_gtest to package.xml
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/package.xml
Due: cpp_mock_test

ref(traffic_simulator/traffic_lights): refactor all classes insead of TrafficLight
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/configurable_rate_updater.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_marker_publisher.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_publisher.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights_base.hpp
  simulation/traffic_simulator/src/traffic_lights/configurable_rate_updater.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_marker_publisher.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_publisher.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_lights.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_lights_base.cpp
Due: cpp_mock_test

feat(scenario_sensor_simulator/traffic_lights_detector): remove dependencies on hdmap_utils, improve creation
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/sensor_simulation.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/traffic_lights/traffic_lights_detector.hpp
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_publisher.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_light_publisher.cpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
