Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

feat(simple_sensor_simulator): filter replayed traffic signals to groups governing the driven lanelets
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/perception_reproducer_sensor/perception_reproducer_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/perception_reproducer_sensor/traffic_light_bag_stream.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/perception_reproducer_sensor/perception_reproducer_sensor.cpp
Due: cpp_mock_test

docs: add Japanese developer guide for PerceptionReproducerSensor
  docs/developer_guide/PerceptionReproducerSensor.md
Due: none

feat: add diffusion_planner lockstep mode to simple_sensor_simulator and interpreter
  openscenario/openscenario_interpreter/include/openscenario_interpreter/openscenario_interpreter.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_condition.cpp
  openscenario/openscenario_utility/openscenario_utility/conversion.py
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/simple_sensor_simulator.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/package.xml
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  simulation/simple_sensor_simulator/src/simple_sensor_simulator.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/traffic_simulator/config/scenario_simulator_v2.rviz
Due: cpp_mock_test, unittests-openscenario_interpreter, unittests-openscenario_utility

feat: add parallel_test_runner package
  test_runner/parallel_test_runner/README.md
  test_runner/parallel_test_runner/launch/minimal_e2e_simulator.launch.xml
  test_runner/parallel_test_runner/package.xml
  test_runner/parallel_test_runner/parallel_test_runner/__init__.py
  test_runner/parallel_test_runner/parallel_test_runner/expansion.py
  test_runner/parallel_test_runner/parallel_test_runner/lockstep_profile.py
  test_runner/parallel_test_runner/parallel_test_runner/minimal_adapi_stub.py
  test_runner/parallel_test_runner/parallel_test_runner/mps.py
  test_runner/parallel_test_runner/parallel_test_runner/parallel_runner.py
  test_runner/parallel_test_runner/parallel_test_runner/parallel_test_runner.py
  test_runner/parallel_test_runner/parallel_test_runner/webauto_provider.py
  test_runner/parallel_test_runner/resource/parallel_test_runner
  test_runner/parallel_test_runner/setup.cfg
  test_runner/parallel_test_runner/setup.py
Due: none

chore: add autoware_diffusion_planner lockstep patch
  patches/autoware_diffusion_planner/0001-lockstep-service-mode.patch
  patches/autoware_diffusion_planner/README.md
Due: none

feat: add diffusion_planner_lockstep_msgs package
  .gitignore
  external/diffusion_planner_lockstep_msgs/CMakeLists.txt
  external/diffusion_planner_lockstep_msgs/package.xml
  external/diffusion_planner_lockstep_msgs/srv/PlanTrajectory.srv
Due: none

rename: minimal_e2e_simulator.launch.xml -> minimal_lockstep_autoware.launch.xml
  test_runner/parallel_test_runner/README.md
  test_runner/parallel_test_runner/launch/minimal_lockstep_autoware.launch.xml
  test_runner/parallel_test_runner/parallel_test_runner/lockstep_profile.py
Due: none

docs: parallel_test_runner のセットアップ手順を README に追加
  test_runner/parallel_test_runner/README.md
Due: none

docs: parallel_test_runner のセットアップ手順を修正
  test_runner/parallel_test_runner/README.md
Due: none

feat(simple_sensor_simulator): add verification-viewer-parity terms to delay_steer_acc_geared_wo_fall_guard
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/vehicle_model_c_wrapper.cpp
Due: cpp_mock_test

Support CARLA as simple planning simulator
  test_runner/scenario_test_runner/CMakeLists.txt
  test_runner/scenario_test_runner/scenario_test_runner/carla_bridge.py
Due: none

remove unused engage relay from CARLA mode
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

add CARLA external simulator integration guide
  docs/developer_guide/CarlaExternalSimulator.md
Due: none

fix: update carla_odaiba_test lane IDs for traffic-light-free route
  test_runner/scenario_test_runner/scenario/carla_odaiba_test.yaml
Due: none

Update test scenario for CARLA
  test_runner/scenario_test_runner/scenario/carla_odaiba_test.yaml
Due: none

refactor: delegate control_mode to concealer
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
  test_runner/scenario_test_runner/scenario_test_runner/carla_bridge.py
Due: none

add CARLA mode to launch and adapt carla_bridge for SSv2
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
  test_runner/scenario_test_runner/scenario/carla_odaiba_test.yaml
  test_runner/scenario_test_runner/scenario_test_runner/carla_bridge.py
Due: none

update ego_entity_simulation to subscribe /carla/ready
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

Update document
  docs/developer_guide/CarlaExternalSimulator.md
Due: none

Update simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

Update how to launch Carla
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

Add vehicle tuning params to carla bridge
  test_runner/scenario_test_runner/scenario_test_runner/carla_bridge.py
Due: none

perf(vehicle_model_c_wrapper): add vm_integrate_to_horizons batch API for open-loop tuning hotpath
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/vehicle_model_c_wrapper.cpp
Due: cpp_mock_test

Fix incorrect steering limit clamping in calcModel
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
Due: cpp_mock_test

feat(vehicle_model): add n_substep Euler sub-stepping to delay_steer_acc_geared_wo_fall_guard
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/vehicle_model_c_wrapper.cpp
Due: cpp_mock_test

feat(speed_kus): add k_us_vx_lo/hi speed-dependent understeer ramp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/vehicle_model_c_wrapper.cpp
Due: cpp_mock_test

fix(ego_entity_simulation): add getParameter for k_us_vx_lo/hi and fix ctor arg order
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

feat(scenario_test_runner): load vehicle-specific simulator model override param for j6_gen2
  test_runner/scenario_test_runner/config/j6_gen2_simulator_model_override.param.yaml
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

disable velocity limit
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

refactor(vehicle_model): replace k_us ramp with step-band array params
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/vehicle_model_c_wrapper.cpp
  test_runner/scenario_test_runner/config/j6_gen2_simulator_model_override.param.yaml
Due: cpp_mock_test

revert(scenario_test_runner): remove vehicle-specific simulator model override mechanism
  test_runner/scenario_test_runner/config/j6_gen2_simulator_model_override.param.yaml
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

refactor: remove lon_lat_coupling from SimModelDelaySteerAccGearedWoFallGuard
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/vehicle_model_c_wrapper.cpp
Due: cpp_mock_test

Add: merge topics from rosbags
  test_runner/scenario_test_runner/CMakeLists.txt
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
  test_runner/scenario_test_runner/scenario_test_runner/rosbag_merger.py
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

Change script structure
  test_runner/scenario_test_runner/CMakeLists.txt
  test_runner/scenario_test_runner/scenario_test_runner/report/rosbag_merger.py
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

Add skelton for report generation
  test_runner/scenario_test_runner/CMakeLists.txt
  test_runner/scenario_test_runner/scenario_test_runner/report/alpine_js.py
  test_runner/scenario_test_runner/scenario_test_runner/report/pico_css.py
  test_runner/scenario_test_runner/scenario_test_runner/report/report_generator.py
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

Update contents of HTML
  test_runner/scenario_test_runner/CMakeLists.txt
  test_runner/scenario_test_runner/scenario_test_runner/report/report_generator.py
  test_runner/scenario_test_runner/scenario_test_runner/report/rosbag_merger.py
  test_runner/scenario_test_runner/scenario_test_runner/report/rosbag_reader.py
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

feat(simple_sensor_simulator): add DELAY_STEER_ACC_GEARED_FOR_DIFFUSION_PLANNER vehicle model
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/ego_entity_simulation.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_for_diffusion_planner.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_for_diffusion_planner.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/vehicle_model_c_wrapper.cpp
Due: cpp_mock_test

refactor(simple_sensor_simulator): remove unused added terms from vehicle model
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_for_diffusion_planner.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_for_diffusion_planner.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/vehicle_model_c_wrapper.cpp
Due: cpp_mock_test

refactor(simple_sensor_simulator): remove brake split and drag terms from diffusion planner model
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_for_diffusion_planner.hpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/sim_model_delay_steer_acc_geared_for_diffusion_planner.cpp
  simulation/simple_sensor_simulator/src/vehicle_simulation/vehicle_model/vehicle_model_c_wrapper.cpp
Due: cpp_mock_test

feat(simple_sensor_simulator): parameterize DELAY_STEER_ACC_GEARED_FOR_DIFFUSION_PLANNER tuning with versioning
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test
