Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Update: read threshold prameter for StatusMonitor
  common/status_monitor/include/status_monitor/status_monitor.hpp
  common/status_monitor/src/status_monitor.cpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: unittests-openscenario_interpreter

Use existing method in TrafficLightsBase::getDistanceToActiveTrafficLightStopLine
  simulation/traffic_simulator/src/traffic_lights/traffic_lights_base.cpp
Due: cpp_mock_test

Delete invalid HDMapUtils::overwriteLaneletsCenterline
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
Due: cpp_mock_test

Remove unused centerPoints and centerPointsSpline from CenterPointsCache
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_wrapper.hpp
Due: cpp_mock_test

Remove redundant new API, route::toSpline
  simulation/traffic_simulator/include/traffic_simulator/utils/route.hpp
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
  simulation/traffic_simulator/src/utils/route.cpp
Due: cpp_mock_test

Fix hardcoded include_current_lanelet in RoutePlanner
  simulation/traffic_simulator/src/behavior/route_planner.cpp
Due: cpp_mock_test

Recover deleted logic
  simulation/behavior_tree_plugin/src/vehicle/lane_change_action.cpp
Due: cpp_mock_test

Add traffic_simulator::traffic_lights::wayIds
  simulation/traffic_simulator/include/traffic_simulator/utils/traffic_lights.hpp
  simulation/traffic_simulator/src/utils/traffic_lights.cpp
Due: cpp_mock_test

Remove HdMapUtils dependency from new traffic lights classes
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights_base.hpp
  simulation/traffic_simulator/src/traffic_lights/traffic_lights.cpp
Due: cpp_mock_test

Ignore new rule MD060
  .markdownlint-cli2.jsonc
Due: none

Delete unused topic from Communication.md
  docs/developer_guide/Communication.md
Due: none

Delete system topic from Communication.md
  docs/developer_guide/Communication.md
Due: none

Add undocumented interfaces
  docs/developer_guide/Communication.md
Due: none

Fix interface type in Communication.md
  docs/developer_guide/Communication.md
Due: none

Format Communication.md
  docs/developer_guide/Communication.md
Due: none

Use normal token
  .github/workflows/ToolDispatch.yaml
  .github/workflows/TrafficSimAPICheck.yaml
Due: none

Replace STRONG_GITHUB_TOKEN with GitHub Apps token
  .github/workflows/Documentation.yaml
  .github/workflows/Release.yaml
Due: none

remove autoware_common
  dependency_humble.repos
Due: none

apply formatter
  simulation/traffic_simulator/src/behavior/follow_trajectory.cpp
Due: cpp_mock_test

Reduce precompiled header generation for small code
  openscenario/openscenario_interpreter/CMakeLists.txt
Due: unittests-openscenario_interpreter

Skip PR only step to fix badge error
  .github/workflows/BuildAndRun.yaml
Due: none

add rviz2 as a development environment
  Dockerfile
Due: none

feat: disable max velocity
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

feat: temporarily disable max speed
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
