Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Remove struct template `TransitionAssertion`
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/transition_assertion.hpp
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Lipsticks
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/task_queue.hpp
  external/concealer/src/field_operator_application.cpp
  external/concealer/src/task_queue.cpp
Due: unittests-concealer

Cleanup
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  test_runner/scenario_test_runner/config/parameters.yaml
Due: cpp_mock_test

Push latest tag along with versioned Docker images.
  .github/workflows/Docker.yaml
Due: none

Fix for intternal repository
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_lights_base.hpp
Due: cpp_mock_test

Remove data member `FieldOperatorApplication::is_autoware_exited`
  external/concealer/include/concealer/field_operator_application.hpp
  external/concealer/include/concealer/task_queue.hpp
  external/concealer/src/field_operator_application.cpp
  external/concealer/src/task_queue.cpp
Due: unittests-concealer

Rename parameter `tp` to `true_positive`
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  test_runner/scenario_test_runner/config/parameters.yaml
Due: cpp_mock_test

chore: extend setting velocity limit attempt count from 30 to 200
  external/concealer/src/field_operator_application.cpp
Due: unittests-concealer

Rename parameter `phi` to `autocorrelation_coefficient`
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  test_runner/scenario_test_runner/config/parameters.yaml
Due: cpp_mock_test

refactor: use Boost.Accumulators for statistics
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/execution_timer.hpp
Due: unittests-openscenario_interpreter

Organize the parameter file structure to be more reasonable
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  test_runner/scenario_test_runner/config/parameters.yaml
Due: cpp_mock_test

fix typo
  .github/workflows/Docker.yaml
Due: none

Update `DetectionSensor` to read seed from parameter file if model version is 2
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

feat: save statistics to $output_directory/metrics
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/execution_timer.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

Add parameters to maintain backward compatibility
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  test_runner/scenario_test_runner/config/parameters.yaml
Due: cpp_mock_test

chore: exclude camera topics from rosbag
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

move `getStopLineIds` method and `getStopLineIdsOnPath` method
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_map.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

add `trafficSignsOnPath` method
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_map.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

move `getStopLinePolygon` method
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_map.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

move `getDistanceToStopLine` method
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/action_node.hpp
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_front_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/follow_lane_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_crossing_entity_action.cpp
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/stop_at_stop_line_action.cpp
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/lanelet_wrapper.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/distance.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
  simulation/traffic_simulator/test/src/hdmap_utils/test_hdmap_utils.cpp
Due: cpp_mock_test

chore: change way to specify file path in ExecutionTimer::saveStatistics
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/execution_timer.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

chore: output stdvdev instead of variance in ExecutionTimer
  openscenario/openscenario_interpreter/include/openscenario_interpreter/utility/execution_timer.hpp
Due: unittests-openscenario_interpreter

Revert "chore: delete comment-outed code"
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/deterministic_multi_parameter_distribution_type.hpp
Due: unittests-openscenario_interpreter

chore: revert validator.hpp changes
  openscenario/openscenario_validator/include/openscenario_validator/validator.hpp
Due: none

Cleanup parameter file
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  test_runner/scenario_test_runner/config/parameters.yaml
Due: cpp_mock_test

Update ostream helper
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/data_type/lanelet_pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/ostream_helpers.hpp
  simulation/traffic_simulator/src/helper/helper.cpp
  simulation/traffic_simulator/src/helper/ostream_helpers.cpp
  simulation/traffic_simulator/test/src/helper/test_helper.cpp
Due: cpp_mock_test

fix: add include boost/json/src.hpp to fix build error
  openscenario/openscenario_interpreter/src/syntax/open_scenario.cpp
Due: unittests-openscenario_interpreter

Add comment for method category
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Refactor order of api
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test

Add Type suffix for some typename
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

Refactor function order in EntityManager
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

Rename configuration like other private variables
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Refactor function order in traffic_simulator
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Use auto for method
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Remove FORWARD_TO_ENTITY_MANAGER
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test

Add missing const
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Remove unnecessary namespace
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Remove unused include
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test
