Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

add tes descriptions
  simulation/traffic_simulator/test/src/behavior/test_behavior.cpp
  simulation/traffic_simulator/test/src/behavior/test_route_planner.cpp
  simulation/traffic_simulator/test/src/entity/test_misc_object_entity.cpp
  simulation/traffic_simulator/test/src/job/test_job.cpp
  simulation/traffic_simulator/test/src/job/test_job_list.cpp
  simulation/traffic_simulator/test/src/simulation_clock/test_simulation_clock.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light.cpp
Due: cpp_mock_test

newlines
  simulation/traffic_simulator/test/src/behavior/test_behavior.cpp
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light.cpp
Due: cpp_mock_test

remove unnecesary checks
  simulation/traffic_simulator/test/src/traffic_lights/test_traffic_light.cpp
Due: cpp_mock_test

remove variables that are used only once
  simulation/traffic_simulator/test/src/behavior/test_behavior.cpp
  simulation/traffic_simulator/test/src/behavior/test_route_planner.cpp
  simulation/traffic_simulator/test/src/entity/test_misc_object_entity.cpp
  simulation/traffic_simulator/test/src/job/test_job.cpp
  simulation/traffic_simulator/test/src/job/test_job_list.cpp
  simulation/traffic_simulator/test/src/job/txt.txt
  simulation/traffic_simulator/test/src/simulation_clock/test_simulation_clock.cpp
Due: cpp_mock_test

use test fixture
  simulation/traffic_simulator/test/src/behavior/test_route_planner.cpp
  simulation/traffic_simulator/test/src/entity/test_misc_object_entity.cpp
Due: cpp_mock_test

rename literal
  simulation/traffic_simulator/test/src/entity/test_misc_object_entity.cpp
Due: cpp_mock_test

use test fixtures
  simulation/traffic_simulator/test/src/job/test_job.cpp
Due: cpp_mock_test

ref(ParameterManager): rename to NodeParameterHandler, improve
  mock/cpp_mock_scenarios/src/cpp_scenario_node.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/node_parameter_handler.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/parameter_manager.hpp
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

remove test list file
  simulation/traffic_simulator/test/src/job/txt.txt
Due: cpp_mock_test

fix comment and bump version package
  map/simple_cross_map/package.xml
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

remvoe ReachPosition function
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

add EntityBase::reachPosition function
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

fix reachPosition function
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

feat(traffic_simulator): support TrafficLightGroupArray in TrafficLightPublisher
  simulation/traffic_simulator/src/traffic_lights/traffic_light_publisher.cpp
Due: cpp_mock_test

feat(traffic_simulator): support TrafficLightGroupArray in SimpleSensorSimulator
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/sensor_simulation.hpp
Due: cpp_mock_test

add getMaxAcceleration/getMaxDeceleration function
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/misc_object_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/pedestrian_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/vehicle_entity.hpp
  simulation/traffic_simulator/src/entity/pedestrian_entity.cpp
  simulation/traffic_simulator/src/entity/vehicle_entity.cpp
Due: cpp_mock_test

chore: delete autoware_auto_msgs from dependencies
  dependency_humble.repos
Due: none

feat(traffic_simulator): support TrafficLightGroup for V2I traffic lights
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

chore(scenario_test_runner): add new architecture_type and delete old one in launch file
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

add localization noise.
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

fix -wreorder warning
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
Due: cpp_mock_test

fix: correct new architecture_type name
  test_runner/scenario_test_runner/launch/scenario_test_runner.launch.py
Due: none

doc: update Communication.md for new architecture_type
  docs/developer_guide/Communication.md
Due: none

doc: update Communication.md for unupdated link
  docs/developer_guide/Communication.md
Due: none

add a new config and its interface for ellipse-based noise configuration
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/helper/helper.cpp
Due: cpp_mock_test

tmp save.
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  simulation/simulation_interface/proto/simulation_api_schema.proto
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/helper/helper.cpp
Due: cpp_mock_test

use test fixture, use constexpr
  simulation/traffic_simulator/test/src/behavior/test_longitudinal_speed_planner.cpp
Due: cpp_mock_test

cmakelists style fix
  simulation/traffic_simulator/test/CMakeLists.txt
Due: cpp_mock_test

chore: apply linter
  openscenario/openscenario_preprocessor/configure/schema.cpp
Due: none

doc(developer_guide, pose utils): adopt lane_pose_calculation doc to canonicalization laneletpose in CanonicalizedEntityStatus
  docs/developer_guide/lane_pose_calculation/GetLongitudinalDistance.md
  docs/developer_guide/lane_pose_calculation/LanePoseCalculation.md
  docs/developer_guide/lane_pose_calculation/Spawn.md
  docs/developer_guide/lane_pose_calculation/UpdateFrame.md
  simulation/simple_sensor_simulator/src/vehicle_simulation/ego_entity_simulation.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test

chore: stop using autoware_auto_msgs
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/src/autoware_universe.cpp
Due: unittests-concealer

remove misc tests
  simulation/traffic_simulator/test/src/entity/CMakeLists.txt
  simulation/traffic_simulator/test/src/entity/test_misc_object_entity.cpp
  simulation/traffic_simulator/test/src/entity_helper_functions.hpp
Due: cpp_mock_test

fix(utils, lanelet_map_core): fix after merge FTA changes
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/lanelet_map_core/lanelet_map.cpp
  simulation/traffic_simulator/src/lanelet_map_core/pose.cpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

fix(lanelet_map_core): fix anonymous namespaces
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/distance.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/lanelet_map.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/pose.hpp
  simulation/traffic_simulator/include/traffic_simulator/lanelet_map_core/traffic_lights.hpp
  simulation/traffic_simulator/src/lanelet_map_core/distance.cpp
  simulation/traffic_simulator/src/lanelet_map_core/lanelet_map.cpp
  simulation/traffic_simulator/src/lanelet_map_core/pose.cpp
  simulation/traffic_simulator/src/lanelet_map_core/traffic_lights.cpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
