Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

fix epsilon
  simulation/traffic_simulator/test/src/behavior/test_longitudinal_speed_planner.cpp
Due: cpp_mock_test

Minor test fixes
  simulation/traffic_simulator/test/src/behavior/test_longitudinal_speed_planner.cpp
Due: cpp_mock_test

ref(traffic_simulator,distance): ref getDistanceToLaneBound
  mock/cpp_mock_scenarios/src/measurement/get_distance_to_lane_bound.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/distance.hpp
  simulation/traffic_simulator/src/utils/distance.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

ref(simulator_core): improve evaluateBoundingBoxEuclideanDistance
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

fix: cmake configuration for openscenario_validator
  openscenario/openscenario_validator/CMakeLists.txt
Due: none

refactor: stop using nifty counter in OpenSCENARIOValidator
  openscenario/openscenario_validator/include/openscenario_validator/validator.hpp
Due: none

chore: update test for ProbabilityDistributionSet
  openscenario/openscenario_interpreter/test/parameter_value_distribution/Deterministic.DistributionRange.xosc
  openscenario/openscenario_interpreter/test/test_parameter_value_distribution.cpp
Due: unittests-openscenario_interpreter

fixing accidentally changed map
  map/kashiwanoha_map/map/lanelet2_map.osm
Due: unittests-kashiwanoha_map

Remove unnecessary code and include statements
  mock/cpp_mock_scenarios/src/synchronized_action/synchronized_action.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios

Fix initialization style
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

requestSpeedChange(RelativeTargetSpeed, bool) tests
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

Refactor entity_base.cpp to improve code readability
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

Add more tests helper functions
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

Improve some test
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

add some requestSpeedChange, add issue list
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

bring out class and util-functions to separate hpp files
  simulation/traffic_simulator/test/src/entity/dummy_entity.hpp
  simulation/traffic_simulator/test/src/entity/entity_helper_functions.hpp
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

bring out helper_functions once more
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
  simulation/traffic_simulator/test/src/entity_helper_functions.hpp
Due: cpp_mock_test

Add getLaneletPose tests
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

Add more EntityBase tests
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

Add expect near macros
  simulation/traffic_simulator/test/src/expect_eq_macros.hpp
Due: cpp_mock_test

Add getMapPoseFromRelativePose test
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

fix: adjust export settings of openscenario_validator
  openscenario/openscenario_validator/CMakeLists.txt
Due: none

Refactor: use proper variable name
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/lidar_sensor.cpp
Due: cpp_mock_test

refactor: use const reference in ranged for loop
  openscenario/openscenario_interpreter/src/parameter_distribution.cpp
Due: unittests-openscenario_interpreter

refactor: use const reference
  openscenario/openscenario_interpreter/include/openscenario_interpreter/parameter_distribution.hpp
  openscenario/openscenario_interpreter/src/parameter_distribution.cpp
Due: unittests-openscenario_interpreter

refactor: mergeParameterDistribution
  openscenario/openscenario_interpreter/src/parameter_distribution.cpp
Due: unittests-openscenario_interpreter

refactor: Improved accuracy of results in DistributionRange
  openscenario/openscenario_interpreter/src/syntax/distribution_range.cpp
Due: unittests-openscenario_interpreter

feat: add test for merging deterministic distributions
  openscenario/openscenario_interpreter/test/parameter_value_distribution/Deterministic.xosc
  openscenario/openscenario_interpreter/test/test_parameter_value_distribution.cpp
Due: unittests-openscenario_interpreter

refactor: use EXPECT_DOUBLE_EQ for testing double variables
  openscenario/openscenario_interpreter/test/test_parameter_value_distribution.cpp
Due: unittests-openscenario_interpreter

fix: fix modify test value due to random engine update
  openscenario/openscenario_interpreter/test/test_parameter_value_distribution.cpp
Due: unittests-openscenario_interpreter

chore: improve test for ProbabilityDistributionSet
  openscenario/openscenario_interpreter/test/parameter_value_distribution/Stochastic.ProbabilityDistributionSet.xosc
  openscenario/openscenario_interpreter/test/test_parameter_value_distribution.cpp
Due: unittests-openscenario_interpreter

refactor: refactor tests
  openscenario/openscenario_interpreter/test/test_parameter_value_distribution.cpp
Due: unittests-openscenario_interpreter

fix: fix wrong number of derivations in DistributionRange
  openscenario/openscenario_interpreter/src/syntax/distribution_range.cpp
Due: unittests-openscenario_interpreter

add test, add comments explaining why a specific test fails
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

tide up comments, every failing test has a short explaination
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

fix error in comment
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
Due: cpp_mock_test

Add requestLaneChange tests
  simulation/traffic_simulator/test/src/entity/dummy_entity.hpp
  simulation/traffic_simulator/test/src/entity/test_entity_base.cpp
  simulation/traffic_simulator/test/src/expect_eq_macros.hpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
