Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

update lane matching logic
  simulation/context_gamma_planner/context_gamma_planner/src/pedestrian_plugin.cpp
  simulation/context_gamma_planner/context_gamma_planner/src/vehicle_plugin.cpp
Due: cpp_mock_test

extend timeout
  mock/context_gamma_scenarios/cmake/add_context_gamma_scenario_test.cmake
Due: none

fix head_on_pedestrian scenrio
  mock/context_gamma_scenarios/src/context_gamma_planner/head_on_pedestrian.cpp
Due: none

fix scenario name
  mock/cpp_mock_scenarios/src/pedestrian/walk_straight.cpp
  mock/cpp_mock_scenarios/src/spawn/spawn_in_map_frame.cpp
Due: unittests-cpp_mock_scenarios

Implement static route function in lanelet_wrapper
  simulation/traffic_simulator/CMakeLists.txt
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/route.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/route.cpp
Due: cpp_mock_test

add route::route utils
  simulation/traffic_simulator/include/traffic_simulator/utils/route.hpp
Due: cpp_mock_test

fix: remove double applied orientation for visualization entity triangle marker
  simulation/traffic_simulator/src/visualization/visualization_component.cpp
Due: cpp_mock_test

use non member route function `findRoutableAlternativeLaneletPoseFrom`
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/include/traffic_simulator/utils/pose.hpp
  simulation/traffic_simulator/src/utils/pose.cpp
Due: cpp_mock_test

use non member route function `getAlternativeLaneletPoseBaseOnShortestRouteFrom`
  simulation/traffic_simulator/include/traffic_simulator/data_type/lanelet_pose.hpp
  simulation/traffic_simulator/src/data_type/lanelet_pose.cpp
  simulation/traffic_simulator/src/utils/distance.cpp
  simulation/traffic_simulator/test/src/data_type/test_lanelet_pose.cpp
Due: cpp_mock_test

fix format
  simulation/traffic_simulator/include/traffic_simulator/lanelet_wrapper/route.hpp
  simulation/traffic_simulator/include/traffic_simulator/utils/route.hpp
  simulation/traffic_simulator/src/lanelet_wrapper/route.cpp
Due: cpp_mock_test

Add experimental noise model `noise_v2`
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

refactor: generate UserDefinedValue message for each publishers
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

chore: use seconds as time unit in execution_time topics
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  test_runner/scenario_test_runner/scenario/execution_time_test.yaml
Due: unittests-openscenario_interpreter

refactor: use minimum captures for lambda
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
Due: unittests-openscenario_interpreter

chore: make the meaning of test results in comments more accurate
  .github/workflows/BuildAndRun.yaml
Due: none

chore: modify scenario threshold for test
  test_runner/scenario_test_runner/scenario/execution_time_test.yaml
Due: none

refactor: split workflow.sh into 2 scripts
  .github/workflows/BuildAndRun.yaml
  .github/workflows/generate_workflow_report.sh
  .github/workflows/workflow.sh
Due: none

Add parameters for new noise model
  external/concealer/include/concealer/get_parameter.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  test_runner/scenario_test_runner/config/parameters.yaml
Due: cpp_mock_test, unittests-concealer

refactor: format BuildAndRun.yaml
  .github/workflows/BuildAndRun.yaml
Due: none

refactor: use NOTE command in pull-request comment for optional scenario test
  .github/workflows/BuildAndRun.yaml
Due: none

Cleanup
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
Due: cpp_mock_test

Revert "chore: modify scenario threshold for test"
  test_runner/scenario_test_runner/scenario/execution_time_test.yaml
Due: none

Add new parameter `ellipse_y_radiuses`
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  test_runner/scenario_test_runner/config/parameters.yaml
Due: cpp_mock_test

Add new local function `parameter` and `parameters`
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  test_runner/scenario_test_runner/config/parameters.yaml
Due: cpp_mock_test

Update `DetectionSensor` to switch noise models according to parameter
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/detection_sensor/detection_sensor.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  test_runner/scenario_test_runner/config/parameters.yaml
Due: cpp_mock_test

Add array size check to local function `parameters`
  simulation/simple_sensor_simulator/src/sensor_simulation/detection_sensor/detection_sensor.cpp
  test_runner/scenario_test_runner/config/parameters.yaml
Due: cpp_mock_test

Change compile time check for `ParamsType` in `API::spawn`
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test

Bring back compile time check for `PoseType` in `EntityManager::spawnEntity`
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

Reserve memory when possible
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
Due: cpp_mock_test

Use push_back instead of emplace_back when we do not want to construct in place, but just pass a value
  simulation/traffic_simulator/src/lanelet_wrapper/lanelet_map.cpp
Due: cpp_mock_test

Do not store all elements when only the smallest is needed
  simulation/behavior_tree_plugin/src/action_node.cpp
  simulation/traffic_simulator/src/traffic_lights/traffic_lights_base.cpp
Due: cpp_mock_test

Refactor function order in EntityManager
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
Due: cpp_mock_test

Refactor order of api
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test

Refactor function order in traffic_simulator
  simulation/traffic_simulator/src/api/api.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Revert "Revert "chore: modify scenario threshold for test""
  test_runner/scenario_test_runner/scenario/execution_time_test.yaml
Due: none

refactor: simplify workflow.sh
  .github/workflows/BuildAndRun.yaml
  .github/workflows/generate_workflow_report.sh
  .github/workflows/workflow.sh
Due: none

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
