Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

Use const specifier wherever possible
  openscenario/map_fragment/include/map_fragment/geometry.hpp
  openscenario/map_fragment/include/map_fragment/road_segment.hpp
  openscenario/map_fragment/src/curve.cpp
  openscenario/map_fragment/src/lane.cpp
Due: none

Remove unnecessary aliases for indexing Eigen::Vector3d
  openscenario/map_fragment/include/map_fragment/geometry.hpp
Due: none

Add Arc::center_ to initializer list and make it const
  openscenario/map_fragment/include/map_fragment/geometry.hpp
Due: none

Add normal vector calculation for roads with non-zero pitch angle
  openscenario/map_fragment/include/map_fragment/geometry.hpp
  openscenario/map_fragment/include/map_fragment/road_segment.hpp
Due: none

Split geometry utilities and parametric curve classes into two files
  openscenario/map_fragment/include/map_fragment/geometry_utilities.hpp
  openscenario/map_fragment/include/map_fragment/parametric_curve.hpp
  openscenario/map_fragment/include/map_fragment/road_segment.hpp
Due: none

Add and update documentation for RoadSegment library
  Doxyfile
  openscenario/map_fragment/include/map_fragment/geometry_utilities.hpp
  openscenario/map_fragment/include/map_fragment/parametric_curve.hpp
  openscenario/map_fragment/include/map_fragment/road_segment.hpp
Due: none

Make ParametricCurve method names more descriptive
  openscenario/map_fragment/include/map_fragment/parametric_curve.hpp
  openscenario/map_fragment/include/map_fragment/road_segment.hpp
Due: none

Use rcpputils' requires and asserts
  openscenario/map_fragment/include/map_fragment/geometry_utilities.hpp
  openscenario/map_fragment/include/map_fragment/parametric_curve.hpp
  openscenario/map_fragment/include/map_fragment/road_segment.hpp
Due: none

Add const version of `apply`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_object.hpp
Due: unittests-openscenario_interpreter

Implement `Entity`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/object_type.hpp
  openscenario/openscenario_interpreter/src/syntax/entity.cpp
  openscenario/openscenario_interpreter/src/syntax/object_type.cpp
Due: unittests-openscenario_interpreter

Rename
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity.hpp
  openscenario/openscenario_interpreter/src/syntax/entity.cpp
Due: unittests-openscenario_interpreter

Update ZeroMQ.md
  docs/developer_guide/ZeroMQ.md
Due: none

fix(typo): psudo => pseudo
  docs/developer_guide/ZeroMQ.md
Due: none

chore(cspell): update ignorePaths in custom_spell.json
  .github/workflows/custom_spell.json
Due: none

Fix lanechange time constraint scenarios
  mock/cpp_mock_scenarios/src/lane_change/lanechange_linear_time.cpp
  mock/cpp_mock_scenarios/src/lane_change/lanechange_time.cpp
Due: unittests-cpp_mock_scenarios

update repos file
  dependency_humble.repos
Due: none

modify cmake
  openscenario/openscenario_visualization/CMakeLists.txt
Due: none

remove some warnings
  simulation/simple_sensor_simulator/CMakeLists.txt
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/primitives/primitive.hpp
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/sensor_simulation.hpp
Due: cpp_mock_test

rename to new struct name
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
Due: cpp_mock_test

remove unused line
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
Due: cpp_mock_test

remove unused function
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
Due: cpp_mock_test

remove IntersectContext
  simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/lidar/raycaster.hpp
  simulation/simple_sensor_simulator/src/sensor_simulation/lidar/raycaster.cpp
Due: cpp_mock_test

fix compile error
  simulation/simple_sensor_simulator/CMakeLists.txt
Due: cpp_mock_test

add scenario
  test_runner/scenario_test_runner/scenario/arm_demo.yaml
Due: none

Delegate management of LineString3d IDs to map_fragment.hpp
  openscenario/map_fragment/include/map_fragment/map_fragment.hpp
  openscenario/map_fragment/include/map_fragment/road_segment.hpp
Due: none

Change visibility of RoadSegment member variables to public
  openscenario/map_fragment/include/map_fragment/road_segment.hpp
Due: none

Updated random test runner docs
  docs/user_guide/random_test_runner/README.md
  mkdocs.yml
  test_runner/random_test_runner/launch/random_test.launch.py
Due: none

update Release Action
  .github/workflows/CheckAndCommentAction.yaml
  .github/workflows/Docker.yaml
  .github/workflows/Documentation.yaml
  .github/workflows/DocumentationLinkCheck.yaml
  .github/workflows/InterfaceUpdateNotification.yaml
  .github/workflows/Release.yaml
  .github/workflows/custom_spell.json
Due: none

update Release action
  .github/workflows/Release.yaml
Due: none

add white line at EoF
  .github/workflows/Release.yaml
Due: none

Remove extra header
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/catalog_reference.hpp
Due: unittests-openscenario_interpreter

Add static field of object type
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/external_object_reference.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/misc_object.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/pedestrian.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/vehicle.hpp
Due: unittests-openscenario_interpreter

Update entity exploration
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_object.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity_selection.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/object_type.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/selected_entities.hpp
  openscenario/openscenario_interpreter/src/syntax/entities.cpp
  openscenario/openscenario_interpreter/src/syntax/entity.cpp
  openscenario/openscenario_interpreter/src/syntax/entity_object.cpp
  openscenario/openscenario_interpreter/src/syntax/entity_selection.cpp
  openscenario/openscenario_interpreter/src/syntax/object_type.cpp
  openscenario/openscenario_interpreter/src/syntax/selected_entities.cpp
Due: unittests-openscenario_interpreter

Remove extra include and declaration
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/entity.hpp
Due: unittests-openscenario_interpreter

add Check label action
  .github/workflows/CheckLabel.yaml
  .github/workflows/Release.yaml
Due: none

rename action
  .github/workflows/CheckLabel.yaml
Due: none

modify check step
  .github/workflows/CheckLabel.yaml
Due: none

check label
  .github/workflows/CheckLabel.yaml
Due: none

rename function
  .github/workflows/CheckLabel.yaml
Due: none
