Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

Add new syntax `SpeedProfileEntry`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_profile_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_profile_entry.hpp
  openscenario/openscenario_interpreter/src/syntax/speed_profile_entry.cpp
Due: unittests-openscenario_interpreter

Fix cardinality of element `SpeedProfileEntry` of syntax `SpeedProfileEntry`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_profile_action.hpp
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
Due: unittests-openscenario_interpreter

Divide srv files related to preprocessor into openscenario_preprocessor_msgs
  openscenario/openscenario_preprocessor/include/openscenario_preprocessor/openscenario_preprocessor.hpp
  openscenario/openscenario_preprocessor/package.xml
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor.cpp
  openscenario/openscenario_preprocessor_msgs/CMakeLists.txt
  openscenario/openscenario_preprocessor_msgs/package.xml
  openscenario/openscenario_preprocessor_msgs/srv/CheckDerivativeRemained.srv
  openscenario/openscenario_preprocessor_msgs/srv/Derive.srv
  openscenario/openscenario_preprocessor_msgs/srv/Load.srv
Due: none

Delete autoware-simple.yaml
  test_runner/scenario_test_runner/scenario/old_examples/autoware-simple.yaml
Due: none

Update syntax `SpeedProfileAction` to request speed change sequentially as given `SpeedProfileEntry`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/dynamic_constraints.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_profile_action.hpp
  openscenario/openscenario_interpreter/src/syntax/dynamic_constraints.cpp
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
Due: unittests-openscenario_interpreter

Change `EntityBase::setOtherStatus` to not filter by distance
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

add CustomCommandActionBase class
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/custom_command_action.hpp
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

Revert some changes
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Update `EntityManager::spawnEntity` to check the number of `EgoEntity` <= 1
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Cleanup `EntityManager::update`
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Update `EntityManager::getGoalPoses` to not to receive non-const reference
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

Configure behavior tree ports automatically
  simulation/behavior_tree_plugin/config/pedestrian_entity_behavior.xml
  simulation/behavior_tree_plugin/config/vehicle_entity_behavior.xml
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/pedestrian/behavior_tree.hpp
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/src/pedestrian/behavior_tree.cpp
  simulation/behavior_tree_plugin/src/vehicle/behavior_tree.cpp
Due: cpp_mock_test

Update 'SpeedProfileAction' to respect attribute 'entityRef'
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

Add new member function `SpeedProfileAction::apply`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/speed_profile_action.hpp
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
Due: unittests-openscenario_interpreter

Replace msg names to new ones
  test_runner/scenario_test_runner/package.xml
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

Delete distribution evaluation implementation
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/normal_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/poisson_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/probability_distribution_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/uniform_distribution.hpp
  openscenario/openscenario_interpreter/src/syntax/distribution_definition.cpp
  openscenario/openscenario_interpreter/src/syntax/histogram.cpp
  openscenario/openscenario_interpreter/src/syntax/normal_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/poisson_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/probability_distribution_set.cpp
  openscenario/openscenario_interpreter/src/syntax/uniform_distribution.cpp
Due: unittests-openscenario_interpreter

Lipsticks
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
Due: unittests-openscenario_interpreter

Clanup member function `SpeedProfileAction::apply`
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
Due: unittests-openscenario_interpreter

Delete distribution evaluation implementation
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distribution_range.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distribution_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/histogram.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_value_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/range.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/user_defined_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/value_set_distribution.hpp
  openscenario/openscenario_interpreter/src/syntax/histogram.cpp
  openscenario/openscenario_interpreter/src/syntax/range.cpp
Due: unittests-openscenario_interpreter

Add test scenario `LongitudinalAction.SpeedProfileAction`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/dynamic_constraints.hpp
  simulation/traffic_simulator/include/traffic_simulator/data_type/speed_change.hpp
  simulation/traffic_simulator_msgs/msg/BehaviorParameter.msg
  test_runner/scenario_test_runner/scenario/LongitudinalAction.SpeedProfileAction.yaml
Due: cpp_mock_test, unittests-openscenario_interpreter

Update ReleaseNotes
  docs/ReleaseNotes.md
Due: none

Update Python version of workflow `Documentation`
  .github/workflows/Documentation.yaml
Due: none

Update syntax `Performance` to version 1.2
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/performance.hpp
  openscenario/openscenario_interpreter/src/syntax/performance.cpp
Due: unittests-openscenario_interpreter

Add `max_(acceleration|deceleration)_rate` to `traffic_simulator_msgs::msg::Performance`
  simulation/traffic_simulator_msgs/msg/Performance.msg
Due: cpp_mock_test

Update `Performance::operator traffic_simulator_msgs::msg::Performance`
  openscenario/openscenario_interpreter/src/syntax/performance.cpp
Due: unittests-openscenario_interpreter

Add some max constraints to `msg::BehaviorParameter`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/dynamic_constraints.hpp
  simulation/traffic_simulator_msgs/msg/BehaviorParameter.msg
Due: cpp_mock_test, unittests-openscenario_interpreter

Update syntax `SpeedProfileAction` to call `API::setBehaviorParameter`
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/syntax/speed_profile_action.cpp
Due: unittests-openscenario_interpreter

add private function
  simulation/traffic_simulator/include/traffic_simulator/data_type/speed_change.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

enable run requestTargetSpeed with absolute target speed and time constraint
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

add time constraint type
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

update functions
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

remove unused argument
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

enable speed change with time constraint
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test

add argument for step time
  simulation/traffic_simulator/include/traffic_simulator/job/job.hpp
  simulation/traffic_simulator/include/traffic_simulator/job/job_list.hpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
  simulation/traffic_simulator/src/job/job.cpp
  simulation/traffic_simulator/src/job/job_list.cpp
Due: cpp_mock_test

Lipsticks
  simulation/behavior_tree_plugin/include/behavior_tree_plugin/vehicle/behavior_tree.hpp
  simulation/behavior_tree_plugin/src/vehicle/behavior_tree.cpp
Due: cpp_mock_test

fix CustomCommand
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/custom_command_action.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/user_defined_action.hpp
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
  openscenario/openscenario_interpreter/src/syntax/user_defined_action.cpp
Due: unittests-openscenario_interpreter

rename base -> entity
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/custom_command_action.hpp
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

enable calculate active duration
  simulation/traffic_simulator/include/traffic_simulator/job/job.hpp
  simulation/traffic_simulator/src/job/job.cpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
