Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

update comment
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

fix test case result
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

use singular
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

use plural
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

Add experimental custom command `FaultInjectionAction@v2`
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

Lipsticks
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

feat(openscenario_preprocessor): add skip-full-derivation option to command
  openscenario/openscenario_preprocessor/include/openscenario_preprocessor/openscenario_preprocessor.hpp
  openscenario/openscenario_preprocessor/include/openscenario_preprocessor/t4v2.hpp
  openscenario/openscenario_preprocessor/src/openscenario_preprocessor_command.cpp
  openscenario/openscenario_preprocessor/src/t4v2.cpp
Due: none

update document
  docs/developer_guide/About.md
  docs/developer_guide/EntityBehavior.md
Due: none

fix plugin error
  .github/workflows/Documentation.yaml
  docs/developer_guide/EntityBehavior.md
  mkdocs.yml
Due: none

update document
  docs/developer_guide/EntityBehavior.md
Due: none

add pip3 install line
  .github/workflows/Documentation.yaml
Due: none

split setp
  .github/workflows/Documentation.yaml
Due: none

escape by \
  .github/workflows/Documentation.yaml
Due: none

fix escape
  .github/workflows/Documentation.yaml
Due: none

add compile definitions
  simulation/do_nothing_plugin/CMakeLists.txt
Due: cpp_mock_test

refactor(traffic_simulator): forward getTrafficLights function to each type of traffic lights
  mock/cpp_mock_scenarios/src/traffic_simulation_demo.cpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_condition.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_state_action.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/src/api/api.cpp
Due: cpp_mock_test, unittests-cpp_mock_scenarios, unittests-openscenario_interpreter

add docs
  docs/developer_guide/EntityBehavior.md
Due: none

feat(traffic_simulator): implement update publish rate function for traffic lights
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
  openscenario/openscenario_interpreter/src/syntax/traffic_signal_condition.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/configuration.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_manager.hpp
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager_base.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test, unittests-openscenario_interpreter

feat(traffic_simulator): add TrafficLightManagerBase::start
  simulation/traffic_simulator/include/traffic_simulator/traffic_lights/traffic_light_manager_base.hpp
  simulation/traffic_simulator/src/entity/entity_manager.cpp
Due: cpp_mock_test

fix comment
  common/math/geometry/include/geometry/solver/polynomial_solver.hpp
Due: none

Cleanup `ApplyFaultInjectionAction<>::start`
  openscenario/openscenario_interpreter/src/syntax/custom_command_action.cpp
Due: unittests-openscenario_interpreter

remove unused if
  common/math/geometry/src/spline/hermite_curve.cpp
Due: none

add testcase
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

fix compile error
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

format
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

add test case
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

add comment
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

sort functions
  common/math/geometry/include/geometry/solver/polynomial_solver.hpp
  common/math/geometry/src/solver/polynomial_solver.cpp
Due: none

update comment
  common/math/geometry/src/solver/polynomial_solver.cpp
Due: none

update comment
  common/math/geometry/src/spline/hermite_curve.cpp
Due: none

update comment
  common/math/geometry/src/solver/polynomial_solver.cpp
  common/math/geometry/src/spline/hermite_curve.cpp
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

add comment for test cases
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

fix comment
  common/math/geometry/test/test_polynomial_solver.cpp
Due: none

add comment and fix package.xml
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
  simulation/do_nothing_plugin/package.xml
  simulation/do_nothing_plugin/src/plugin.cpp
Due: cpp_mock_test

add description
  simulation/do_nothing_plugin/include/do_nothing_plugin/plugin.hpp
Due: cpp_mock_test

Path conditions:
  cpp_mock_test: any of: simulation
  unittests-concealer: any of: external/concealer
  unittests-cpp_mock_scenarios: any of: mock/cpp_mock_scenarios
  unittests-kashiwanoha_map: any of: map/kashiwanoha_map
  unittests-lanelet2_extension_psim: any of: external/lanelet2_extension_psim
  unittests-openscenario_interpreter: any of: openscenario/openscenario_interpreter
  unittests-openscenario_msgs: any of: openscenario/openscenario_msgs
  unittests-openscenario_utility: any of: openscenario/openscenario_utility
