Repository tier4/scenario_simulator_v2: changes, and which Codecov flags are due for each by the changed paths.
All: cpp_mock_test, unittests-concealer, unittests-cpp_mock_scenarios, unittests-kashiwanoha_map, unittests-lanelet2_extension_psim, unittests-openscenario_interpreter, unittests-openscenario_msgs, unittests-openscenario_utility

codecov.yml:

comment: false

flags:
  cpp_mock_test:
    paths:
      - simulation
    carryforward: false
  unittests-concealer:
    paths:
      - external/concealer
    carryforward: false
  unittests-cpp_mock_scenarios:
    paths:
      - mock/cpp_mock_scenarios
    carryforward: false
  unittests-kashiwanoha_map:
    paths:
      - map/kashiwanoha_map
    carryforward: false
  unittests-lanelet2_extension_psim:
    paths:
      - external/lanelet2_extension_psim
    carryforward: false
  unittests-openscenario_interpreter:
    paths:
      - openscenario/openscenario_interpreter
    carryforward: false
  unittests-openscenario_msgs:
    paths:
      - openscenario/openscenario_msgs
    carryforward: false
  unittests-openscenario_utility:
    paths:
      - openscenario/openscenario_utility
    carryforward: false
  unittests-openscenario_visualization:
    path:
      - openscenario/openscenario_visualization
    carryforward: false
  unittests-scenario_simulator_exception:
    path:
      - common/scenario_simulator_exception
    carryforward: false
  unittests-scenario_simulator_v2:
    path:
      - scenario_simulator_v2
    carryforward: false
  unittests-scenario_test_runner:
    path:
      - test_runner/scenario_test_runner
    carryforward: false
  unittests-simple_junit:
    path:
      - common/simple_junit
    carryforward: false
  unittests-simple_sensor_simulator:
    path:
      - simulation/simple_sensor_simulator
    carryforward: false
  unittests-simulation_interface:
    path:
      - simulation/simulation_interface
    carryforward: false
  unittests-traffic_simulator:
    path:
      - simulation/traffic_simulator
    carryforward: false

fix reformat
  simulation/traffic_simulator/include/traffic_simulator/behavior/route_planner.hpp
Due: cpp_mock_test

fix(sim_core): fix getting the eval sim time
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
Due: unittests-openscenario_interpreter

fix(traffic_sim): update map_path assert
  simulation/traffic_simulator/include/traffic_simulator/api/configuration.hpp
Due: cpp_mock_test

fix(os_interp): fix abort caused by ~Interpreter
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  simulation/simulation_interface/include/simulation_interface/zmq_multi_client.hpp
  simulation/simulation_interface/src/zmq_multi_client.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
Due: cpp_mock_test, unittests-openscenario_interpreter

fix(test_runner): ensure 0 exit code after sigint
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: none

modify CMakeLists.txt
  external/concealer/CMakeLists.txt
  openscenario/openscenario_interpreter/CMakeLists.txt
Due: unittests-concealer, unittests-openscenario_interpreter

use __has_include
  external/concealer/CMakeLists.txt
  external/concealer/include/concealer/autoware_universe.hpp
  external/concealer/include/concealer/minimum_risk_maneuver_merger.hpp
  external/concealer/src/autoware_universe.cpp
  external/concealer/src/minimum_risk_maneuver_merger.cpp
  openscenario/openscenario_interpreter/CMakeLists.txt
Due: unittests-concealer, unittests-openscenario_interpreter

Fix msg name
  external/concealer/src/minimum_risk_maneuver_merger.cpp
Due: unittests-concealer

remove unused template
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
Due: cpp_mock_test

remove unused const
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
  simulation/traffic_simulator/src/hdmap_utils/hdmap_utils.cpp
Due: cpp_mock_test

fix some files
  docs/developer_guide/CONTRIBUTING.md
  test_runner/scenario_test_runner/scenario/autoware-simple.yaml
Due: none

fix(beh_tree_plug): fix target_speed init in MoveBackwardAction
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/move_backward_action.cpp
Due: cpp_mock_test

update Release Note
  docs/ReleaseNotes.md
Due: none

fix compile error
  simulation/traffic_simulator/include/traffic_simulator/hdmap_utils/hdmap_utils.hpp
Due: cpp_mock_test

refactor: apply ament_clang_format
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  openscenario/openscenario_interpreter/src/openscenario_interpreter.cpp
  simulation/simulation_interface/src/zmq_multi_client.cpp
  simulation/traffic_simulator/include/traffic_simulator/api/api.hpp
  test_runner/scenario_test_runner/scenario_test_runner/scenario_test_runner.py
Due: cpp_mock_test, unittests-openscenario_interpreter

reformat: apply ament_clang_format
  openscenario/openscenario_interpreter/include/openscenario_interpreter/simulator_core.hpp
  simulation/traffic_simulator/include/traffic_simulator/api/configuration.hpp
Due: cpp_mock_test, unittests-openscenario_interpreter

refactor: apply cr suggestion
  simulation/behavior_tree_plugin/src/vehicle/follow_lane_sequence/move_backward_action.cpp
Due: cpp_mock_test

Update ReleaseNotes
  docs/ReleaseNotes.md
  openscenario/openscenario_interpreter/features
Due: unittests-openscenario_interpreter

Lipsticks
  docs/ReleaseNotes.md
Due: none

unique lanelets in route fix
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

concealer in main thread
  external/concealer/include/concealer/autoware.hpp
  external/concealer/src/autoware.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-concealer

removed atomics from sub and pubs in concealer
  external/concealer/include/concealer/dirty_hack.hpp
Due: unittests-concealer

removed unnecessary includes
  external/concealer/include/concealer/autoware.hpp
Due: unittests-concealer

renamed autoware to autoware_user
  external/concealer/CMakeLists.txt
  external/concealer/include/concealer/autoware_universe_user.hpp
  external/concealer/include/concealer/autoware_user.hpp
  external/concealer/include/concealer/utility/service_with_validation.h
  external/concealer/src/autoware_universe_user.cpp
  external/concealer/src/autoware_user.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
Due: cpp_mock_test, unittests-concealer

Get unique values from vector and aplly linting
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

feat(interpreter/ParameterValueDistribution): implement distribution merging function
  openscenario/openscenario_interpreter/include/openscenario_interpreter/parameter_distribution.hpp
  openscenario/openscenario_interpreter/src/parameter_distribution.cpp
Due: unittests-openscenario_interpreter

feat(interpreter/ParameterValueDistribution): use new struct for distributions
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/deterministic_multi_parameter_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/parameter_value_set.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/value_set_distribution.hpp
  openscenario/openscenario_interpreter/src/syntax/deterministic_multi_parameter_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/parameter_value_set.cpp
  openscenario/openscenario_interpreter/src/syntax/value_set_distribution.cpp
Due: unittests-openscenario_interpreter

Apply clang format
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

chore: apply linter
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/deterministic_single_parameter_distribution_type.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/normal_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/poisson_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/stochastic_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/uniform_distribution.hpp
  openscenario/openscenario_interpreter/src/parameter_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/deterministic_multi_parameter_distribution.cpp
Due: unittests-openscenario_interpreter

renamed Autoware to AutowareUser
  external/concealer/include/concealer/autoware_universe_user.hpp
  external/concealer/include/concealer/autoware_user.hpp
  external/concealer/include/concealer/dirty_hack.hpp
  external/concealer/include/concealer/utility/service_with_validation.h
  external/concealer/src/autoware_user.cpp
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/entity/entity_base.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
  simulation/traffic_simulator/src/entity/entity_base.cpp
Due: cpp_mock_test, unittests-concealer

adjusted header guards
  external/concealer/include/concealer/autoware_universe_user.hpp
  external/concealer/include/concealer/autoware_user.hpp
Due: unittests-concealer

renamde AutowareUniverse to AutowareUniverseUser
  external/concealer/include/concealer/autoware_universe_user.hpp
  external/concealer/src/autoware_universe_user.cpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test, unittests-concealer

renamed concelaer node to concealer_suer
  external/concealer/include/concealer/autoware_user.hpp
Due: unittests-concealer

simulator wrapper
  external/concealer/include/concealer/autoware_universe_user.hpp
  external/concealer/include/concealer/dirty_hack.hpp
Due: unittests-concealer

chore: apply linter
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/stochastic_distribution_type.hpp
Due: unittests-openscenario_interpreter

Change includes order
  simulation/traffic_simulator/include/traffic_simulator/entity/ego_entity.hpp
  simulation/traffic_simulator/include/traffic_simulator/helper/helper.hpp
  simulation/traffic_simulator/src/entity/ego_entity.cpp
Due: cpp_mock_test

chore: apply linter
  openscenario/openscenario_interpreter/include/openscenario_interpreter/parameter_distribution.hpp
  openscenario/openscenario_interpreter/src/parameter_distribution.cpp
Due: unittests-openscenario_interpreter

feat(interpreter/ParameterValueDistribution): categorize various classes related to distribution by specify base class
  openscenario/openscenario_interpreter/include/openscenario_interpreter/parameter_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/deterministic_multi_parameter_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/deterministic_single_parameter_distribution.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distribution_range.hpp
  openscenario/openscenario_interpreter/include/openscenario_interpreter/syntax/distribution_set.hpp
  openscenario/openscenario_interpreter/src/syntax/deterministic_single_parameter_distribution.cpp
  openscenario/openscenario_interpreter/src/syntax/distribution_range.cpp
  openscenario/openscenario_interpreter/src/syntax/distribution_set.cpp
Due: unittests-openscenario_interpreter
